<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>

    <appSettings>
          <!-- Name of this process -->
          <add key="ApplicationName"  value="SVR_HYDRO_TESTER_GRAPH"/>

          <!-- Line the process is going to work for-->
          <add key="Line"  value="2"/>
          <!-- must be 1 or 2 -->

          <!-- Log path -->
          <add key="LogPath"  value=".\Log\"/>

          <!-- Log Values Read     0-Not to log values read    1-Do log values read -->
          <add key="LogValuesRead"  value="0"/>
      
          <!-- The interval elapsed between executions of the timer of this process (in milliseconds) -->
          <add key="TimerInterval"  value="500"/>

          <!-- Names of the shared memories used to communicate graph values and other parameters 
                   to Real Time Graph clients. One memory applies for Line 1 and the other for Line 2 -->
          <add key="SharedMemoryName_L1"  value="PH_GRAPH_L1"/>
          <add key="SharedMemoryName_L2"  value="PH_GRAPH_L2"/>

          <!-- Database configuration -->
          <add key="OracleConnString_L1"  value="user id=linea1;data source=DBLINEA1;password=lineas;Connection Lifetime=15;Pooling=false"  />
          <add key="SQLConnString_L1"   value="user id=sa;data source=172.29.11.126;initial catalog=INTERRUPTIONS;password=ingdesi;Connection Lifetime=15;Connect Timeout=25;Pooling=false" />
          <add key="OracleConnString_L2"  value="user id=linea2;data source=DBLINEA2;password=lineas;Connection Lifetime=15;Pooling=false"  />
          <add key="SQLConnString_L2"   value="user id=sa;data source=172.29.11.126;initial catalog=INTERRUPTIONS;password=ingdesi;Connection Lifetime=15;Connect Timeout=25;Pooling=false" />
          
          <!-- must be "ORACLE" or "SQL" -->    
          <add key="DBManager"  value="ORACLE" />
          

          <!-- IP addresses of Acquisition Hosts -->
          <add key="AcquisitorIPAddress_L1"  value="10.93.1.205"/>
          <add key="AcquisitorIPAddress_L2"  value="10.93.1.204"/>

          <!-- Real Time Graph -->
          <!-- Real Time Graph source address -->
          <add key="GraphSourceAddress"  value="PRESION_LEIDA"/>
          <!-- Real Time Graph indicator address -->
          <add key="GraphIndicatorAddress"  value="PRUEBA_EN_PROCESO"/>

          <!-- Presets tags count -->
          <add key="ParametersTagsCount"  value="10"/>
          <!-- Presets tags listing -->
          <add key="ParametersTag_0"  value="TAG_1"/>
          <!-- OrderFirstTagAddress -->
          <add key="ParametersTag_1"  value="TAG_2"/>
          <!-- OrderSecondTagAddress -->
          <add key="ParametersTag_2"  value="MODO_OPERACION"/>
          <!-- OperationModeTagAddress -->
          <add key="ParametersTag_3"  value="TAG_6"/>
          <!-- TimeOfTestTagAddress -->
          <add key="ParametersTag_4"  value="TAG_5"/>
          <!-- PressureTagAddress -->
          <add key="ParametersTag_5"  value="TAG_315"/>
          <!-- TimeOfPurgeTagAddress -->
          <add key="ParametersTag_6"  value="TAG_316"/>
          <!-- TimeOfDesiredPressureTagAddress -->
          <add key="ParametersTag_7"  value="TAG_318"/>
          <!-- TimeOfCeroPressureTagAddress -->
          <add key="ParametersTag_8"  value="TAG_311"/>
          <!-- IdTubeTagAddress -->
          <add key="ParametersTag_9"  value="TAG_314"/>
          <!-- NumberOfTestsTagAddress -->

          <!-- Validations tags count -->
          <add key="ValidationTagsCount"  value="13"/>
          <!-- Validations tags listing -->
          <add key="ValidationTag_0"   value="PERMISIVO_GRAFICA"/>
          <!-- Graph Stored -->
          <add key="ValidationTag_1"   value="PERMISIVO_PRUEBA_OK"/>
          <!-- Test OK -->
          <add key="ValidationTag_2"   value="PERMISIVO_DATOS_OK"/>
          <!-- Identification of tube -->
          <add key="ValidationTag_3"   value="PERMISIVO_ETRACK"/>
          <!-- Send to eTrack -->
          <add key="ValidationTag_4"   value="VALIDACION_GRAFICA"/>
          <!-- Validation of Graph Stored -->
          <add key="ValidationTag_5"   value="VALIDACION_PRUEBA_OK"/>
          <!-- Validation of Test OK -->
          <add key="ValidationTag_6"   value="VALIDACION_DATOS_OK"/>
          <!-- Validation of Identificaction of tube -->
          <add key="ValidationTag_7"   value="VALIDACION_ETRACK"/>
          <!-- Validation of Send to eTrack -->
          <add key="ValidationTag_8"   value="DESBLOQUEO_TUBO"/>
          <!-- Unlock of tube -->
          <add key="ValidationTag_9"   value="DESBLOQUEO_OPERADOR"/>
          <!-- Unlock of tube -->
          <add key="ValidationTag_10"  value="TRANSFERENCIA_ORDEN"/>
          <!-- Transference of order -->
          <add key="ValidationTag_11"  value="CONTADOR_TRANSFERENCIAS_PRUEBA"/>
          <!-- Unlock of tube -->
          <add key="ValidationTag_12"  value="CONTADOR_TRANSFERENCIAS_MANDRIL"/>
          <!-- Unlock of tube -->

    </appSettings>
  
</configuration>