<?xml version="1.0"?>
<configuration>

  <!-- esta seccion debe ser la primera antes de todo -->
  <configSections>
    <section name="LinkerTrkLevel2Manager" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework" />
    <section name="ManagerBaseConfiguration" type="Tenaris.Manager.Forum.Shared.Configuration.ManagerBaseConfiguration, Tenaris.Manager.Forum.Shared" />
    <section name="ManagerConfiguration" type="Tenaris.Tamsa.Manager.LinkerTrkLevel2.Config.GenericManagerConfig, Tenaris.Tamsa.Manager.LinkerTrkLevel2"/>
    <section name="HandshakeManager" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>
    <section name="TrackingManager" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>
    <!--<section name="CommandManager" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>-->
    <section name="log" type="Tenaris.Library.Log.LogConfiguration, Tenaris.Library.Log"/>
    <section name="IdentificationManager" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>
  </configSections>


  <appSettings>
    <add key="VDI21" value="30"/>
    <!--segundos-->
    <add key="VDI22" value="30"/>
    <!--segundos-->

    <add key="VDI23" value="30"/>
    <!--segundos-->
    <add key="VDI24" value="30"/>
    <!--segundos-->

  </appSettings>


  <connectionStrings>
   <add name="Level2" connectionString="Application Name=LinkerTrkLevel2Manager;Data Source=TNATFT2PRDLSN.tnsautoca.techint.net,5040;Initial Catalog=L2Trk;Integrated Security=SSPI;Persist Security Info=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />

    <add name="VDI21" connectionString="Application Name=LinkerTrkLevel2Manager;Data Source=10.93.1.99;Initial Catalog=DbLine2_CESAR;User ID=sa;Password=Lineas123;Persist Security Info=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
    <add name="VDI22" connectionString="Application Name=LinkerTrkLevel2Manager;Data Source=10.93.1.99;Initial Catalog=DbLine2_CESAR;User ID=sa;Password=Lineas123;Persist Security Info=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />

    <add name="VDI23" connectionString="Application Name=LinkerTrkLevel2Manager;Data Source=10.93.1.94;Initial Catalog=DbLine2;User ID=sa;Password=Lineas123;Persist Security Info=True;" providerName="System.Data.SqlClient" />
    <!--<add name="VDI23" connectionString="Application Name=LinkerTrkLevel2Manager;Data Source=10.93.1.99;Initial Catalog=DbLine2_CESAR;User ID=sa;Password=Lineas123;Persist Security Info=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />-->
    <add name="VDI24" connectionString="Application Name=LinkerTrkLevel2Manager;Data Source=10.93.1.99;Initial Catalog=DbLine2_CESAR;User ID=sa;Password=Lineas123;Persist Security Info=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />

  </connectionStrings>

  <!-- Configuration used by factory to create the manager -->
  <LinkerTrkLevel2Manager
    factoryType="Tenaris.Tamsa.Manager.LinkerTrkLevel2.GenericManagerFactory, Tenaris.Tamsa.Manager.LinkerTrkLevel2"
    isSingleton="True"
    sectionName="ManagerBaseConfiguration"
    />

  <ManagerBaseConfiguration
    areaCode="LINEA2"
    defaultConnectionStringName="Level2"
    />

  <ManagerConfiguration
    appName="LinkerTrkLevel2Mgr"
    hsCode=""
    cmdCode="">

    <LinkerCollection>
     

      <Level2
         Level2Name="VDI23"
         Level2DBType="SQL"
         Level2DBStrConection="VDI23"
         Level2DBProcedureGet="[pro].[TRK_AUS_SINC_VDI23_BY_PIPE]"
         Level2DBProcedureGetMarks="[pro].[TRK_AUS_GET_DISCARDS_VDI23]"
         Level2Rule="UPDATING_VDI23"
         Level2DBTimer="100"
         Level2TrackingZonesToN2=""
         Level2HandshakeN2ToTrk="TRK_TR_BcEnSea"
         Level2HandshakeTrkToN2=""
         Level2HandshakeLnkTrkToN2="LNK_VDI3"
         Level2IdentificationEventToN2=""
         Level2Synchronization="[pro].[TRK_UPD_PIPESTATION_VDI23]"
         Level2IdStation="405"
         Level2IsDateTimeCriterea="0"
         Level2HoursInsDateTime="0"
         Level2MinutesInsDateTime="0"
      />


    </LinkerCollection>
  </ManagerConfiguration>

  <HandshakeManager
     instanceType="Tenaris.Manager.Handshake.Shared.IHandshakeManager, Tenaris.Manager.Handshake.Shared"
     aliveInterval="5000"
     singleInstance="true"
     validateConnection="true">
    <Redundancy>
      <Address url="tcp://TNACAWFM197.tnsautoca.techint.net:21002/HandshakeManager.soap" forumPresent="false" isTargetManager="true"/>
    </Redundancy>
  </HandshakeManager>

  <TrackingManager
      instanceType="Tenaris.Manager.Tracking.Shared.ITrackingManager, Tenaris.Manager.Tracking.Shared"
      aliveInterval="5000"
      singleInstance="true"
      validateConnection="true">
    <Redundancy>
      <Address url="tcp://TNACAWFM197.tnsautoca.techint.net:21005/TrackingManager.soap" forumPresent="false" isTargetManager="true"/>
    </Redundancy>
  </TrackingManager>

  <IdentificationManager instanceType="Tamsa.Manager.Identification.Shared.Contract.IIdentificationManager, Tamsa.Manager.Identification.Shared" aliveInterval="5000" singleInstance="true" validateConnection="false">
    <Redundancy>
      <Address url="tcp://TNACAWFM197.tnsautoca.techint.net:50020/IdentificationManager.soap" forumPresent="false" isTargetManager="true" />
    </Redundancy>
  </IdentificationManager>


  <!--Remoting configuration. This can be placed in a separate file named remoting.config-->
  <system.runtime.remoting>
    <customErrors mode="off" />
	<application name="Server">
      <channels>
        <channel ref="tcp" port="12701">
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full" />
          </serverProviders>
          <clientProviders>
            <provider type="Tenaris.Library.Proxy.Remoting.ClientRemotingInterceptorProvider, Tenaris.Library.Proxy"/>
            <formatter ref="binary" typeFilterLevel="Full" />
          </clientProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>

  <log
    maxFileSize="14096"
	maxFileCount="100"
    logLevel="Debug"
    msgFormat="{TypeChar} {Timestamp:yyyy-MM-dd HH:mm:ss} [{ThreadId,-5:d5}] {MethodName} {IdentString} {Message}"
    noQueue="true"
    path="..\..\..\Logs\Manager\LinkerManager\"
    traceAttributeLogEnabled="true"
    logBaseName="Tenaris.Tamsa.Manager.LinkerTrkLevel2.Host"
    additionalLogDestination="Console"
    logAssemblyLoad="false"
  />

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

</configuration>
