<?xml version="1.0"?>
<configuration>

  <!-- esta seccion debe ser la primera antes de todo -->
  <configSections>
    <section name="IdentificationManagerLAM22" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>
    <section name="IdentificationManagerRX24" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>
    <section name="IdentificationManagerRX21" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>
    <section name="IdentificationManagerRX22" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>	
    <section name="IdentificationManagerBME22" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>
    <section name="IdentificationManagerBME21" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>
    <section name="IdentificationManagerPH21" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>
	<section name="IdentificationManagerPH22" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>
    <section name="IdentificationManagerLAM21" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>
	<section name="IdentificationManagerUT33" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>
    <section name="TestMailSenderConfiguration" type="Tamsa.Manager.Identification.TestMailSender.Config.MailSenderConfig, Tamsa.Manager.Identification.TestMailSender"/>
    <section name="log" type="Tenaris.Library.Log.LogConfiguration, Tenaris.Library.Log"/>
  </configSections>

  <connectionStrings>
    <add name="Level2" connectionString="Application Name=IdentificationMailSender;Data Source=10.92.20.58,50730;Initial Catalog=CippMaster;Persist Security Info=True;User ID=webtrk;Password=webtrk;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
  <IdentificationManagerLAM22 instanceType="Tamsa.Manager.Identification.Shared.Contract.IIdentificationManager, Tamsa.Manager.Identification.Shared" aliveInterval="5000" singleInstance="true" validateConnection="false">
    <Redundancy>
      <Address url="tcp://TNACAWFM197.tnsautoca.techint.net:40020/IdentificationManager.soap" forumPresent="false" isTargetManager="true"/>
    </Redundancy>
  </IdentificationManagerLAM22>

  <IdentificationManagerRX24 instanceType="Tamsa.Manager.Identification.Shared.Contract.IIdentificationManager, Tamsa.Manager.Identification.Shared" aliveInterval="5000" singleInstance="true" validateConnection="false">
    <Redundancy>
      <Address url="tcp://TNACAWFM197.tnsautoca.techint.net:40022/IdentificationManager.soap" forumPresent="false" isTargetManager="true"/>
    </Redundancy>
  </IdentificationManagerRX24>

  <IdentificationManagerRX21 instanceType="Tamsa.Manager.Identification.Shared.Contract.IIdentificationManager, Tamsa.Manager.Identification.Shared" aliveInterval="5000" singleInstance="true" validateConnection="false">
    <Redundancy>
      <Address url="tcp://10.92.70.84:50023/IdentificationManager.soap" forumPresent="false" isTargetManager="true"/>
    </Redundancy>
  </IdentificationManagerRX21>

  <IdentificationManagerRX22 instanceType="Tamsa.Manager.Identification.Shared.Contract.IIdentificationManager, Tamsa.Manager.Identification.Shared" aliveInterval="5000" singleInstance="true" validateConnection="false">
    <Redundancy>
      <Address url="tcp://10.92.70.84:50022/IdentificationManager.soap" forumPresent="false" isTargetManager="true"/>
    </Redundancy>
  </IdentificationManagerRX22>
  
  <IdentificationManagerBME22 instanceType="Tamsa.Manager.Identification.Shared.Contract.IIdentificationManager, Tamsa.Manager.Identification.Shared" aliveInterval="5000" singleInstance="true" validateConnection="false">
    <Redundancy>
      <Address url="tcp://10.93.1.75:51020/IdentificationManager.soap" forumPresent="false" isTargetManager="true"/>
    </Redundancy>
  </IdentificationManagerBME22>

  <IdentificationManagerBME21 instanceType="Tamsa.Manager.Identification.Shared.Contract.IIdentificationManager, Tamsa.Manager.Identification.Shared" aliveInterval="5000" singleInstance="true" validateConnection="false">
    <Redundancy>
      <Address url="tcp://10.93.1.40:50020/IdentificationManager.soap" forumPresent="false" isTargetManager="true"/>
    </Redundancy>
  </IdentificationManagerBME21>

  <IdentificationManagerPH21 instanceType="Tamsa.Manager.Identification.Shared.Contract.IIdentificationManager, Tamsa.Manager.Identification.Shared" aliveInterval="5000" singleInstance="true" validateConnection="false">
    <Redundancy>
      <Address url="tcp://10.92.70.84:50021/IdentificationManager.soap" forumPresent="false" isTargetManager="true"/>
    </Redundancy>
  </IdentificationManagerPH21>

  <IdentificationManagerPH22 instanceType="Tamsa.Manager.Identification.Shared.Contract.IIdentificationManager, Tamsa.Manager.Identification.Shared" aliveInterval="5000" singleInstance="true" validateConnection="false">
    <Redundancy>
      <Address url="tcp://TNACAWFM197.tnsautoca.techint.net:40023/IdentificationManager.soap" forumPresent="false" isTargetManager="true"/>
    </Redundancy>
  </IdentificationManagerPH22>
  
  <IdentificationManagerLAM21 instanceType="Tamsa.Manager.Identification.Shared.Contract.IIdentificationManager, Tamsa.Manager.Identification.Shared" aliveInterval="5000" singleInstance="true" validateConnection="false">
    <Redundancy>
      <Address url="tcp://10.92.70.84:50020/IdentificationManager.soap" forumPresent="false" isTargetManager="true"/>
    </Redundancy>
  </IdentificationManagerLAM21>

  <IdentificationManagerUT33 instanceType="Tamsa.Manager.Identification.Shared.Contract.IIdentificationManager, Tamsa.Manager.Identification.Shared" aliveInterval="5000" singleInstance="true" validateConnection="false">
    <Redundancy>
      <Address url="tcp://10.92.29.139:50020/IdentificationManager.soap" forumPresent="false" isTargetManager="true"/>
    </Redundancy>
  </IdentificationManagerUT33>
  
  
    <TestMailSenderConfiguration>
    <TraceabilityMachineList>
      <TraceabilityMachine
        stationCode="Entrada"
        stationName="UT33"
        ocurrencesToNotify="1"
        cameraCaseCodes="OcrOkDmOk,OcrEmpDmOk,OcrOkDmBad,OcrEmpDmBad,OcrIncDmOk,OcrIncDmBad,Timeout,VisionGeneralError,VisionTimeoutResult,OcrBadDmBadURCBad"
        criticalCaseCodes="Timeout,NoOCRInEtrackProg,NoValuesOnEtrackProg,VisionTimeoutResult"
        cameraCasesMailTo="drodriguezm@tenaris.com,cbravo@tamsa.com.mx"
        logicalCasesMailTo="drodriguezm@tenaris.com"
        identificationMgrConfigSection="IdentificationManagerUT33"
        includeImages="true"
        ></TraceabilityMachine>
	  <TraceabilityMachine
        stationCode="L2_AMA"
        stationName="LAM22"
        ocurrencesToNotify="1"
        cameraCaseCodes="OcrOkDmOk,OcrEmpDmOk,OcrOkDmBad,OcrEmpDmBad,OcrIncDmOk,OcrIncDmBad,Timeout,VisionGeneralError,VisionTimeoutResult"
        criticalCaseCodes="Timeout,NoOCRInEtrackProg,NoValuesOnEtrackProg,VisionTimeoutResult"
        cameraCasesMailTo="drodriguezm@tenaris.com,cbravo@tamsa.com.mx,jsaballo@tenaris.com"
        logicalCasesMailTo="drodriguezm@tenaris.com,jsaballo@tenaris.com"
        identificationMgrConfigSection="IdentificationManagerLAM22"
        includeImages="true"
        ></TraceabilityMachine>
      <TraceabilityMachine
        stationCode="L2_VDI23"
        stationName="VDI24"
        ocurrencesToNotify="1"
        cameraCaseCodes="OcrOkDmOk,OcrEmpDmOk,OcrOkDmBad,OcrEmpDmBad,OcrIncDmOk,OcrIncDmBad,Timeout,VisionGeneralError,VisionTimeoutResult"
        criticalCaseCodes="Timeout,NoOCRInEtrackProg,NoValuesOnEtrackProg,VisionTimeoutResult"
        cameraCasesMailTo="drodriguezm@tenaris.com,cbravo@tamsa.com.mx"
        logicalCasesMailTo="drodriguezm@tenaris.com"
        identificationMgrConfigSection="IdentificationManagerRX24"
        includeImages="true"
        ></TraceabilityMachine>
      <TraceabilityMachine
        stationCode="L1_VDI21"
        stationName="VDI21"
        ocurrencesToNotify="1"
        cameraCaseCodes="OcrOkDmOk,OcrEmpDmOk,OcrOkDmBad,OcrEmpDmBad,OcrIncDmOk,OcrIncDmBad,Timeout,VisionGeneralError,VisionTimeoutResult"
        criticalCaseCodes="Timeout,NoOCRInEtrackProg,NoValuesOnEtrackProg,VisionTimeoutResult"
        cameraCasesMailTo="drodriguezm@tenaris.com,cbravo@tamsa.com.mx"
        logicalCasesMailTo="drodriguezm@tenaris.com"
        identificationMgrConfigSection="IdentificationManagerRX21"
        includeImages="true"
        ></TraceabilityMachine>
      <TraceabilityMachine
        stationCode="L1_VDI22"
        stationName="VDI22"
        ocurrencesToNotify="1"
        cameraCaseCodes="OcrOkDmOk,OcrEmpDmOk,OcrOkDmBad,OcrEmpDmBad,OcrIncDmOk,OcrIncDmBad,Timeout,VisionGeneralError,VisionTimeoutResult"
        criticalCaseCodes="Timeout,NoOCRInEtrackProg,NoValuesOnEtrackProg,VisionTimeoutResult"
        cameraCasesMailTo="drodriguezm@tenaris.com,cbravo@tamsa.com.mx,jhernandezr@tamsa.com.mx"
        logicalCasesMailTo="drodriguezm@tenaris.com,jhernandezr@tamsa.com.mx"
        identificationMgrConfigSection="IdentificationManagerRX22"
        includeImages="true"
        ></TraceabilityMachine>		
      <TraceabilityMachine
        stationCode="WMS"
        stationName="BME22"
        ocurrencesToNotify="1"
        cameraCaseCodes="OcrOkDmOk,OcrEmpDmOk,OcrOkDmBad,OcrEmpDmBad,OcrIncDmOk,OcrIncDmBad,Timeout,VisionGeneralError,VisionTimeoutResult"
        criticalCaseCodes="Timeout,NoOCRInEtrackProg,NoValuesOnEtrackProg,VisionTimeoutResult"
        cameraCasesMailTo="drodriguezm@tenaris.com,cbravo@tamsa.com.mx,jsaballo@tenaris.com"
        logicalCasesMailTo="drodriguezm@tenaris.com,jsaballo@tenaris.com"
        identificationMgrConfigSection="IdentificationManagerBME22"
        includeImages="true"
		checkForTTInformation="true"
        markOrientationToValidateInTTs="S"
        cameraCasesWithTTValidationMailTo="drodriguezm@tenaris.com,fechavez@tenaris.com"
        ></TraceabilityMachine>
      <TraceabilityMachine
        stationCode="WMS"
        stationName="BME21"
        ocurrencesToNotify="1"
        cameraCaseCodes="OcrOkDmOk,OcrEmpDmOk,OcrOkDmBad,OcrEmpDmBad,OcrIncDmOk,OcrIncDmBad,Timeout,VisionGeneralError,VisionTimeoutResult"
        criticalCaseCodes="Timeout,NoOCRInEtrackProg,NoValuesOnEtrackProg,VisionTimeoutResult"
        cameraCasesMailTo="drodriguezm@tenaris.com,cbravo@tamsa.com.mx,jsaballo@tenaris.com,jhernandezr@tamsa.com.mx"
        logicalCasesMailTo="drodriguezm@tenaris.com,jsaballo@tenaris.com,jhernandezr@tamsa.com.mx"
        identificationMgrConfigSection="IdentificationManagerBME21"
        includeImages="true"
		checkForTTInformation="true"
        markOrientationToValidateInTTs="N"
        cameraCasesWithTTValidationMailTo="drodriguezm@tenaris.com,fechavez@tenaris.com"
        ></TraceabilityMachine>
      <TraceabilityMachine
        stationCode="L1_PH1"
        stationName="PH21"
        ocurrencesToNotify="1"
        cameraCaseCodes="OcrOkDmOk,OcrEmpDmOk,OcrOkDmBad,OcrEmpDmBad,OcrIncDmOk,OcrIncDmBad,Timeout,VisionGeneralError,VisionTimeoutResult"
        criticalCaseCodes="Timeout,NoOCRInEtrackProg,NoValuesOnEtrackProg,VisionTimeoutResult"
        cameraCasesMailTo="drodriguezm@tenaris.com,cbravo@tamsa.com.mx,jsaballo@tenaris.com"
        logicalCasesMailTo="drodriguezm@tenaris.com,jsaballo@tenaris.com"
        identificationMgrConfigSection="IdentificationManagerPH21"
        includeImages="true"
        ></TraceabilityMachine>
      <TraceabilityMachine
        stationCode="L2_PH22"
        stationName="PH22"
        ocurrencesToNotify="1"
        cameraCaseCodes="OcrOkDmOk,OcrEmpDmOk,OcrOkDmBad,OcrEmpDmBad,OcrIncDmOk,OcrIncDmBad,Timeout,VisionGeneralError,VisionTimeoutResult"
        criticalCaseCodes="Timeout,NoOCRInEtrackProg,NoValuesOnEtrackProg,VisionTimeoutResult"
        cameraCasesMailTo="drodriguezm@tenaris.com,jesusj@tenaris.com,cbravo@tamsa.com.mx,jsaballo@tenaris.com"
        logicalCasesMailTo="drodriguezm@tenaris.com,jsaballo@tenaris.com"
        identificationMgrConfigSection="IdentificationManagerPH22"
        includeImages="true"
        ></TraceabilityMachine>		
      <TraceabilityMachine
        stationCode="L1_AMA21"
        stationName="LAM21"
        ocurrencesToNotify="1"
        cameraCaseCodes="OcrOkDmOk,OcrEmpDmOk,OcrOkDmBad,OcrEmpDmBad,OcrIncDmOk,OcrIncDmBad,Timeout,VisionGeneralError,VisionTimeoutResult"
        criticalCaseCodes="Timeout,NoOCRInEtrackProg,NoValuesOnEtrackProg,VisionTimeoutResult"
        cameraCasesMailTo="drodriguezm@tenaris.com,cbravo@tamsa.com.mx,jsaballo@tenaris.com"
        logicalCasesMailTo="drodriguezm@tenaris.com,jsaballo@tenaris.com"
        identificationMgrConfigSection="IdentificationManagerLAM21"
        includeImages="true"
        ></TraceabilityMachine>
    </TraceabilityMachineList>
  </TestMailSenderConfiguration>

  <!--Remoting configuration. This can be placed in a separate file named remoting.config-->
  <system.runtime.remoting>
    <application name="Client">
      <channels>
        <channel ref="tcp" port="0">
          <clientProviders>
            <provider type="Tenaris.Library.Proxy.Remoting.ClientRemotingInterceptorProvider, Tenaris.Library.Proxy"/>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </clientProviders>
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </serverProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <log maxFileSize="8192" maxFileCount="30" msgFormat="{Timestamp:HH:mm.ss.fff} ; {Level,-7} ; {Message} ; {MethodName}" logLevel="Debug" traceAttributeLogEnabled="false" logBaseName="TestMailSender" additionalLogDestination="Console" path="..\..\..\Logs\Manager\Correos Identificacion\"/>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IMailSender"
				 maxReceivedMessageSize="20000000" 
                 maxBufferSize="20000000"
                 maxBufferPoolSize="20000000">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://10.92.70.154:8734/MailSenderService"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IMailSender"
        contract="MailService.IMailSender" name="NetTcpBinding_IMailSender">
        <identity>
          <dns value="10.92.70.154" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>
