<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="Tenaris.Library.Proxy" type="Tenaris.Library.Proxy.Configuration.ProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>
    <section name="Tenaris.Manager.BusinessRules" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework"/>    
    <section name="log" type="Tenaris.Library.Log.LogConfiguration, Tenaris.Library.Log"/>
    <!--<section name="Tenaris.Manager.Alarm"     type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy" />-->
    <section name="Tenaris.Manager.Tracking"  type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy" />
     <section name="Tenaris.Manager.Production"  type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy" />
	<!--<section name="Tenaris.Manager.Handshake" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy" />-->
	<section name="PluginWmsConfiguration" type="Tamsa.WMS.Library.BusinessRules.Plugin.Wms.Configuration.PluginWmsConfiguration, Tamsa.WMS.Library.BusinessRules.Plugin.Wms"/>
	
	<section name="Tenaris.Manager.Handshake" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>
	<!--<section name="PluginWmsExitConfiguration" type="Tamsa.WMS.Library.BusinessRules.Plugin.WmsExit.Configuration.PluginWmsExitConfiguration, Tamsa.WMS.Library.BusinessRules.Plugin.WmsExit"/>-->
    <section name="Tenaris.Manager.BusinessRules.GenericPlugins.HandshakeConfiguration" type="Tenaris.Manager.BusinessRules.GenericPlugins.Handshake.Model.Configuration, Tenaris.Manager.BusinessRules.GenericPlugins"/>
	
	
	<!-- Plugin Handshake GetData Diametro Marcaje Robot -->
	<!--<section name="Tamsa.Common.Manager.TraceabilityValidation.WmsGetDataTracking.Config" type="Tamsa.Common.Manager.TraceabilityValidation.WmsGetDataTracking.Config.PluginHSGetDiameterConfiguration, Tamsa.Common.Manager.TraceabilityValidation.WmsGetDataTracking" />-->
  </configSections>

  <connectionStrings>
    <add name="dbLevel2" connectionString="Application Name=manager_BusinessRules;Data Source=10.93.1.85;Initial Catalog=Level2_Linea2;User ID=level2;Password=123level2123;Persist Security Info=True;Max Pool Size=10;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  
	
  
  <PluginWmsConfiguration
    WmsZoneCode="Wms"
    WmsEntranceZoneCode="WmsEntrance"
    WmsMachineCode="WMS"
    WmsEntranceMachineCode="WMS_ENTRANCE"
    AttributesForCopy="ParentOrderNumber,WMSProgressiveNumber,WMSLength,WMSWeight,WMSOperationType,WMSObservations,PipeNumber"
    DeletionZone="PChDeletion"
    PluginConnStr="dbLevel2"
	EtrackHeatProgServiceEndPointName="HeatProgSvc_IETrackHeatProgService"
    />
	
   <!--<PluginWmsExitConfiguration
    Deletionzone="WmsExit"
	DeleteTranferencePipes = "true"
	PluginConnStr="dbLevel2"
    />-->
  
  <!-- Plugin Handshake GetData Diametro Marcaje Robot -->
  <!--<Tamsa.Common.Manager.TraceabilityValidation.WmsGetDataTracking.Config
    IdApplication="40"
    IdArea="LINEA2"
    HsCode="HSRBT_TRK_GDT_001"
    TrackingZone="Wms"
    TrackingPosition="1"
    TrackingAttributePatternPipe="WMSOperationType"
    ConnectionString="dbLevel2"
  />-->
  
  <Tenaris.Manager.BusinessRules factoryType="Tenaris.Manager.BusinessRules.ManagerFactory, Tenaris.Manager.BusinessRules" isSingleton="True">
    <BusinessRulesManagerConfiguration MinThreads="100" MaxThreads="6000" PluginsPath=".\" IdArea="LINEA2" IdApplication="37">
    </BusinessRulesManagerConfiguration>
  </Tenaris.Manager.BusinessRules>
  
   <Tenaris.Manager.BusinessRules.GenericPlugins.HandshakeConfiguration
      IdApplication="37" IdArea="1" PluginsPath=".\" >
  </Tenaris.Manager.BusinessRules.GenericPlugins.HandshakeConfiguration>
  
  <!-- Handshake Manager Connection BME01 DEVEL Luego de apagon-->
  <Tenaris.Manager.Handshake
  instanceType="Tenaris.Manager.Handshake.Shared.IHandshakeManager, Tenaris.Manager.Handshake.Shared"
  aliveInterval="5000"
  singleInstance="true"
  validateConnection="true">
    <Redundancy>
      <Address url="tcp://10.93.1.75:22002/HandshakeManager.soap" forumPresent="false" isTargetManager="true"/>
    </Redundancy>
  </Tenaris.Manager.Handshake>

  <Tenaris.Manager.Tracking
    url="tcp://10.93.1.75:22005/TrackingManager.soap"
    instanceType="Tenaris.Manager.Tracking.Shared.ITrackingManager, Tenaris.Manager.Tracking.Shared"
    aliveInterval="1000"
    singleInstance="false"
    forumPresent="false"
    validateConnection="true"
    isTargetManager="true"/>

  <Tenaris.Manager.Production
    url="tcp://10.93.1.75:22006/Tenaris.Manager.Production.ProductionManager.soap"
    instanceType="Tenaris.Manager.Production.Shared.IProductionManager, Tenaris.Manager.Production.Shared"
    aliveInterval="1000"
    singleInstance="false"
    forumPresent="false"
    validateConnection="true"
    isTargetManager="true"/>

  <Tenaris.Library.Proxy factoryType="Tenaris.Library.Proxy.Factories.PipeProxyFactory, Tenaris.Library.Proxy">
    <Configuration>
      <Components>
        <Component type="Tenaris.Library.Proxy.Components.ConnectionMonitorComponent, Tenaris.Library.Proxy">
          <Interval>1000</Interval>
        </Component>
      </Components>
      <EventListener type="Tenaris.Library.Proxy.EventListener, Tenaris.Library.Proxy, Version=4.1.0.0, Culture=neutral, PublicKeyToken=c4a5016cfc42fcd0"/>
      <Dispatcher type="Tenaris.Library.Proxy.Dispatchers.DirectMessageDispatcher, Tenaris.Library.Proxy, Version=4.1.0.0, Culture=neutral, PublicKeyToken=c4a5016cfc42fcd0"/>
    </Configuration>
  </Tenaris.Library.Proxy>
  
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="data_tcp">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://172.29.12.184:8010/ETrackHeatProgService"
          binding="netTcpBinding" bindingConfiguration="data_tcp" contract="HeatProgSvc.IETrackHeatProgService"
          name="HeatProgSvc_IETrackHeatProgService" />
    </client>
  </system.serviceModel>
  
  <system.runtime.remoting>
    <application name="Server">
      <channels>
        <channel ref="tcp" port="22007" bindTo="10.93.1.75">
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full" />
          </serverProviders>
          <clientProviders>
            <provider type="Tenaris.Library.Proxy.Remoting.ClientRemotingInterceptorProvider, Tenaris.Library.Proxy"/>
            <formatter ref="binary" typeFilterLevel="Full" />
          </clientProviders>
        </channel>
      </channels>
    </application>
    <customErrors mode="off" />
  </system.runtime.remoting>

  <log
  maxFileSize="102400"
  maxFileCount="365"
  msgFormat="{TypeChar} {Timestamp:yyyy-MM-dd HH:mm:ss} [{ThreadId,-5:d5}] {MethodName} {IdentString} {Message}"
  logLevel="Debug"
  noQueue="true"
  traceAttributeLogEnabled="true"
  path="d:\Data\Logs\BusinessRules\"
  logBaseName="Tenaris.Manager.BusinessRules"
  additionalLogDestination="Console"
  />

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
