<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log" type="Tenaris.Library.Log.LogConfiguration, Tenaris.Library.Log"/>
    <section name="ManagerConfiguration" type="Tenaris.Tamsa.Manager.InsTrackingDummy.Shared.ManagerConfiguration, Tenaris.Tamsa.Manager.InsTrackingDummy.Shared"/>
    <section name="Tenaris.Manager.Tracking.TrackingManager" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>
  </configSections>

  <connectionStrings>
    <add name="dbLinea1" connectionString="Application Name=manager_InsTracking;Data Source=TNATFT2PRDLSN.tnsautoca.techint.net,5040;Initial Catalog=L1Bz21;Persist Security Info=True;Integrated Security=SSPI;Max Pool Size=10;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
    <add name="dbLinea2" connectionString="Application Name=manager_InsTracking;Data Source=TNATFT2PRDLSN.tnsautoca.techint.net,5040;Initial Catalog=L2Bz22;Persist Security Info=True;Integrated Security=SSPI;Max Pool Size=10;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>


  <ManagerConfiguration
    dbConnection="dbLinea2"
    idApplication="20"
    idZone="51"
    zone="Cadena"
    swapZone="PipeExitSwap"
    operationType="Manual"
    sectionTracking="Tenaris.Manager.Tracking.TrackingManager"
    >
    <StoredProcedures>
      <add code="GetOnlineVerificationsValues" name="[Verification].[GetOnlineVerificationsValues]"/>
    </StoredProcedures>
  </ManagerConfiguration>


  <Tenaris.Manager.Tracking.TrackingManager
    url="tcp://TNACAWFM198.tnsautoca.techint.net:22005/TrackingManager.soap"
    instanceType="Tenaris.Manager.Tracking.Shared.ITrackingManager, Tenaris.Manager.Tracking.Shared"
    aliveInterval="5000"
    singleInstance="true"
    forumPresent="false"
    validateConnection="true"
    isTargetManager="true"
    />


  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="ManagerBinding" closeTimeout="01:00:00" openTimeout="01:00:00" receiveTimeout="01:00:00" sendTimeout="01:00:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxConnections="20" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="16384"/>
          <security mode="None"/>
          <reliableSession enabled="False" ordered="True"/>
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ManagerServiceBehavior">
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="ManagerServiceBehavior" name="Tenaris.Tamsa.Manager.InsTrackingDummy.InsTrackingServices">
        <endpoint address="" binding="netTcpBinding" contract="Tenaris.Tamsa.Manager.InsTrackingDummy.Shared.IServices" bindingConfiguration="ManagerBinding">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:49599/Tenaris.Tamsa.Manager.InsTrackingDummy.InsTrackingService/InsTrackingService"/>
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>


  <!-- Remoting Host configuration section -->
  <system.runtime.remoting>
    <application>
      <channels>
        <channel ref="tcp" port="0">
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </serverProviders>
          <clientProviders>
            <provider type="Tenaris.Library.Proxy.Remoting.ClientRemotingInterceptorProvider, Tenaris.Library.Proxy"/>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </clientProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>

  <log maxFileSize="8096"
       maxFileCount="180"
       msgFormat="{Timestamp:HH:mm.ss.fff} ; {Level,-7} ; {Message} ; {MethodName}"
       logLevel="Debug"
       noQueue="true"
       traceAttributeLogEnabled="true"
       path="..\..\..\Logs\Manager\InsTrackingDummyManager"
       logBaseName="Tamsa.InsTrackingDummy"
       additionalLogDestination="Console"/>


  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
