<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ManagerConfiguration"            type="Tenaris.Tamsa.LockVerification.Manager.ManagerConfiguration,              Tenaris.Tamsa.LockVerification.Manager" />    
    <section name="LockVerificationConfiguration"   type="Tenaris.Library.Framework.Factory.FactoryConfiguration,                   Tenaris.Library.Framework" />
    <section name="ManagerBaseConfiguration"        type="Tenaris.Manager.Forum.Shared.Configuration.ManagerBaseConfiguration,      Tenaris.Manager.Forum.Shared" />
    <section name="Tenaris.Manager.Mail"            type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection,  Tenaris.Library.Proxy"/>
    <section name="log"                             type="Tenaris.Library.Log.LogConfiguration,                                     Tenaris.Library.Log"/>
  </configSections>

  <!--CONNECTION CONFIGURATION-->
  <connectionStrings>
    <add name="Level2" connectionString="Application Name=LockVerification;Data Source=TNATFT2PRDLSN.tnsautoca.techint.net,5040;Initial Catalog=L2Am22;Integrated Security=SSPI;Persist Security Info=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <ManagerBaseConfiguration areaCode="FAT2_Line2" defaultConnectionStringName="Level2"/>
  
  <LockVerificationConfiguration factoryType="Tenaris.Tamsa.LockVerification.Manager.Factory, Tenaris.Tamsa.LockVerification.Manager" isSingleton="True" />

  <!--mailAddressesTo="AGARCIADELV@proveedores.tamsa.com.mx;ssanpedro@tamsa.com.mx;avarillas@tamsa.com.mx;ivan.lobos@tamsa.com.mx;jfuentesm@tamsa.com.mx;jmolinap@tamsa.com.mx;ESILVA@tenaris.com;HARROYO@tenaris.com;IALEMANC@tamsa.com.mx;rgutierrezdev@tamsa.com.mx"-->
  <!--mailAddressesTo="AGARCIADELV@proveedores.tamsa.com.mx;tamgniv2@tamsa.com.mx"-->
  
  <ManagerConfiguration warningTime="03:00" 
                        alarmTime="03:40" 
                        blockTime="03:55" 
                        toleranceTime="04:00" 
                        verificationCount="4" 
                        idTrackingStatus="5"
                        iterationsVerification="10000" 
                        applicationCode="LockVerificationView" 
                        applicationCommand="UnlockAMALOG22" 
                        userN2="Level2"
                        mailAddressesTo="jleonB@tenaris.com;AGARCIADELV@proveedores.tamsa.com.mx;tamgniv2@tamsa.com.mx;ivan.lobos@tamsa.com.mx;jfuentesm@tamsa.com.mx;jrperez@tamsa.com.mx;IARANO@tenaris.com"
                        mailAddressesFrom="VerificacionAMALOG22@tamsa.com.mx"
                        mailSubject="Tiempo de verificacion en AMALOG22 excedido"/>

  <Tenaris.Manager.Mail instanceType="Tenaris.Manager.Mail.Shared.IMailManager, Tenaris.Manager.Mail.Shared" 
                        url="tcp://TNACAWFM194.tnsautoca.techint.net:49901/Tenaris.Manager.Mail.soap" 
                        forumPresent="false" 
                        isTargetManager="true" 
                        aliveInterval="5000" 
                        singleInstance="true" 
                        validateConnection="true"/>
  
<!-- Remoting configuration -->
  <system.runtime.remoting>
    <customErrors mode="off" />
    <application name = "Manager">
      <channels>
        <channel ref="tcp" port="9191"  timeout="120000">
        <!--<channel ref="tcp" port="9191" timeout="120000">-->
          <serverProviders>
            <formatter ref = "binary" typeFilterLevel = "Full" />
          </serverProviders>
          <clientProviders>
            <provider type="Tenaris.Library.Proxy.Remoting.ClientRemotingInterceptorProvider, Tenaris.Library.Proxy" />
            <formatter ref = "binary" typeFilterLevel = "Full" />
          </clientProviders>
        </channel>
      </channels>
      <service>
      </service>
    </application>
  </system.runtime.remoting>

  <!--LOG CONFIGURATION-->
  <log
	 maxFileSize="8096"
	 msgFormat="{Timestamp:HH:mm.ss.fff} ; {Level,-7} ; {Message} ; {MethodName}"
	 logLevel="Debug"
	 traceAttributeLogEnabled="false"
	 logBaseName="Tenaris.Tamsa.SM.Manager.Profile.Host"
	 additionalLogDestination="Console" 
   path="D:\Appls\Tenaris\Logs\Manager\LockVerification\LockVerification"/>
    
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>

</configuration>