<configuration>
  <configSections>
    <section name="Tenaris.Manager.Entrance.EntranceManager" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>
    <!--SECURITY: MODE CLIENT-->
    <!--<section name="Tenaris.Library.Security" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>-->

    <!--SECURITY: STAND ALONE-->
    <section name="Tenaris.Library.Security" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>
    <section name="log" type="Tenaris.Library.Log.LogConfiguration, Tenaris.Library.Log"/>
    <section name="Plugins" type="System.Configuration.NameValueSectionHandler" />
    <section name="EntranceViewConfiguration" type="Tenaris.View.EntranceApplication.View.Common.EntranceViewConfiguration, Tenaris.View.EntranceApplication.View.Common"/>
    <section name="Shift1" type="Tenaris.View.EntranceApplication.ViewModel.ShiftConfiguration, Tenaris.View.EntranceApplication.ViewModel"/>
    <section name="Shift2" type="Tenaris.View.EntranceApplication.ViewModel.ShiftConfiguration, Tenaris.View.EntranceApplication.ViewModel"/>
    <section name="Shift3" type="Tenaris.View.EntranceApplication.ViewModel.ShiftConfiguration, Tenaris.View.EntranceApplication.ViewModel"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Tenaris.View.EntranceApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <connectionStrings>
    <add name="Remote" connectionString="Data Source=TNATFT2PRDLSN.tnsautoca.techint.net,5040;Initial Catalog=L1Am21;Integrated Security=SSPI;Persist Security Info=True;MultipleActiveResultSets=True; Asynchronous Processing=false;Min Pool Size=1;Max Pool Size=5;Application Name=EntranceView" providerName="System.Data.SqlClient"/>    
  </connectionStrings>

  <Plugins>
    <add key="ModelCalculatorView"  value="" />
    <add key="OrderSpecification"   value="C:\Users\60047159\Documents\Desarrollo\SVN\Version 1\Tenaris.Entrance.View\source\app\Tenaris.View.EntranceApplication\bin\Debug\Plugins\Tenaris.View.EntranceApplication.View.OrderSpecificacion.dll" />

    <add key="LoadBundle"           value="D:\APPLS\Clientes\Descarte PIN\Tenaris.View.EntranceAux\Tenaris.View.EntranceApplication.View.LoadBundle.dll" />
    <add key="EditPipes"            value="D:\APPLS\Clientes\Descarte PIN\Tenaris.View.EntranceAux\Tenaris.View.EntranceApplication.View.EditPipes.dll" />

    <add key="LoadHeat"             value="D:\Entrance.Plugin\Tenaris.View.EntranceApplication.View.LoadHeat.dll" />
    <!--no se ocupa-->
    <add key="EditHeat"             value="D:\Entrance.Plugin\Tenaris.View.EntranceApplication.View.EditHeat.dll" />
    <!--no se ocupa-->
  </Plugins>
  

  <Tenaris.Manager.Entrance.EntranceManager instanceType="Tenaris.Manager.Entrance.Shared.IEntranceManager, Tenaris.Manager.Entrance.Shared" aliveInterval="5000" singleInstance="true" validateConnection="false"
	url="tcp://TNACAWFM191.tnsautoca.techint.net:50010/Tenaris.Manager.Entrance.EntranceManager.soap">
  </Tenaris.Manager.Entrance.EntranceManager>

  <!--Security Service Configuration-->
  <Tenaris.Library.Security
     url="tcp://localhost:50050/Tenaris.Service.Security.soap"
     instanceType="Tenaris.Service.Security.Shared.ISecurityService, Tenaris.Service.Security.Shared"
     aliveInterval="0"
     validateConnection="true"
     singleInstance="true"
     forumPresent="false"
     isTargetManager="false">
    <Redundancy>
    </Redundancy>
  </Tenaris.Library.Security>

  <!--SECURITY: STAND ALONE-->
  <!--<Tenaris.Library.Security factoryType="Tenaris.Service.Security.FactoryLocal, Tenaris.Service.Security, Version=4.1.0.0, Culture=neutral, PublicKeyToken=d230816fc71079dc" isSingleton="True">
    <SecurityConfiguration ConnectionStringName="Remote" AuthenticationType="Database" DefaultZoneCode="All"/>
  </Tenaris.Library.Security>-->
  
  <appSettings>
    <add key="ShowHistory"    value="False"/>
    <add key="UsingDskMgr"    value="True"/>
    <add key="UsingITComms"    value="True"/>
    <add key="ConnectionName" value="Remote" />
    <add key="Zone" value="Entrada"/>
    <add key="MachineDefault" value="Entrada2"/>
    <!-- HRM/HTR/FIN-->
    <add key="FactoryLine" value="FIN" />
    <!-- Machine Relationship  N2 and Code IT e.g.: TMTbFn6_ENTRANCE,CN302@TMTbFn6_ENDE,CN301@TMTbFn6_ENTRANCE,CN302@TMTbFn6_ENTRANCE,CN301    -->
    <add key="ITMachine" value="AM21" />
    <add key="UriHistoryWeb" value="http://172.29.108.201/Manufacturing/View/Dialog/frmDialog.aspx?Page=Specification" />
    <!-- Id that is used to load the bundles -->
    <add key="LicenceNumber" value="T1004" />
    <add key="GetConfigurationDataByName" value="Configuration.GetConfigurationDataByName" />
    <add key="NameConfigDataGridGroupItem" value="Entrance.GridGroupItem" />
    <add key="NameConfigDataGridAvaliableMaterial" value="Entrance.GridAvailableMaterial" />
  </appSettings>
  
  <!--<EntranceViewConfiguration culture="en-US"></EntranceViewConfiguration>-->
  <EntranceViewConfiguration culture="es-MX"></EntranceViewConfiguration>

  <Shift1 IsActive="true" BeginTime="06:00:00" EndTime="14:00:00"/>
  <Shift2 IsActive="true" BeginTime="14:00:00" EndTime="22:00:00"/>
  <Shift3 IsActive="true" BeginTime="22:00:00" EndTime="06:00:00"/>

  <!-- Remoting configuration. This can be placed in a separate file named remoting.config -->
  <system.runtime.remoting>
    <application name="ClientEntranceAplication">
      <channels>
        <channel ref="tcp" port="0" useIpAddress="false">
          <clientProviders>
            <provider type="Tenaris.Library.Proxy.Remoting.ClientRemotingInterceptorProvider, Tenaris.Library.Proxy"/>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </clientProviders>
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </serverProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>

  <log
    maxFileSize="8096"
    msgFormat="{Timestamp:HH:mm.ss.fff} ; {Level,-7} ; {ThreadId,-5:d5} ; {Message} ; {MethodName}"
    logLevel="Debug"
	noQueue="true"
    traceAttributeLogEnabled="false"
    path="\\TNACAWFM197.tnsautoca.techint.net\Appls\Clientes\Descarte PIN\Tenaris\Logs\%UserName%\Tenaris.View.EntranceAux\"
    logBaseName="Tenaris.View.Entrance"
    additionalLogDestination="Console"
    logAssemblyLoad="false"
  />

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="PostSharp.Laos" publicKeyToken="B13FD38B8F9C99D7" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Tenaris.View.EntranceApplication.Properties.Settings>
      <setting name="Language" serializeAs="String">
        <value>es-MX</value>
      </setting>
    </Tenaris.View.EntranceApplication.Properties.Settings>
  </userSettings>
</configuration>