<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    Nota: como alternativa para editar manualmente este archivo puede utilizar la 
    herramienta Administración de sitios Web para configurar los valores de la aplicación. Utilice
    la opción Sitio Web->Configuración de Asp.Net en Visual Studio.
    Encontrará una lista completa de valores de configuración y comentarios en 
    machine.config.comments, que se encuentra generalmente en 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<appSettings>
		<!-- Database configuration -->
		<add key="dbManager" value="SQL" />
		<add key="OracleConnString" value="user id=administrador;data source=CN22_10.93.1.110;password=2222;Connection Lifetime=15;Pooling=false" />
		<!-- <add key="SQLConnString" value="user id=Level2;data source=10.93.1.108;initial catalog=L2Am22;password=123level2123;Connection Lifetime=15;Connect Timeout=25;Pooling=false"/> -->
		<add key="SQLConnString" value="data source=TNATFT2PRDLSN.tnsautoca.techint.net,5040;initial catalog=L2Am22;Integrated Security=SSPI;Connection Lifetime=15;Connect Timeout=25;Pooling=false" />
    <!--<add key="SQLConnString" value="user id=sa;data source=10.93.1.94;initial catalog=DBLINE2;password=Lineas123;Connection Lifetime=15;Connect Timeout=25;Pooling=false"/>-->
		<!-- ID of station  -->
		<add key="ID_STATION" value="401" />
		<!-- Used like a list separated by comma of stations to search the borrowed tools (by sitehete) -->
		<!-- Example with many stations: <add key="STATIONS_SEARCH_BORROWED_TOOLS" value="'Amalog 21','HETE'"/> -->
		<add key="STATIONS_SEARCH_BORROWED_TOOLS" value="'Amalog22'" />
		<!-- Keyword to validate on the screen if the tool is calibrated  -->
		<add key="TOOL_IS_CALIBRATED" value="CALIBRADO" />
		<!-- Keyword to validate on the screen if the tool is not calibrated  -->
		<add key="TOOL_IS_NOT_CALIBRATED" value="NO CALIBRADO" />
		<!-- Type of capture of the tool that applies when it is loaded from tools' system  -->
		<add key="TYPE_CAPTURE_TOOL_AUTOMATIC" value="HETE" />
		<!-- Type of capture of the tool that applies when it is created manually  -->
		<add key="TYPE_CAPTURE_TOOL_MANUAL" value="MANUAL" />
		<add key="TYPE_CAPTURE_TOOL_MANUAL_MTR" value="MANUAL_MTR" />
		<add key="RetryMTR" value="5" />
	</appSettings>
	<system.web>
		<!-- 
            Establezca debug="true" en la compilación para insertar símbolos 
            de depuración en la página compilada. Dado que este 
            proceso afecta al rendimiento, debe establecer este valor como true 
            durante la depuración.
        -->
		<!--<identity impersonate="true" userName="administrator" password="tesis" />-->
		<!--<identity impersonate="true" userName="Administrator" password="Tamsa01" />-->
  <compilation debug="true">
			<compilers>
				<compiler language="c#;cs;csharp" extension=".cs" compilerOptions="/unsafe" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
			</compilers>
			<assemblies>
				<add assembly="System.Data.OracleClient, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" /></assemblies></compilation>
		<!--
            La sección <authentication> permite configurar 
            el modo de autenticación de seguridad utilizado por 
            ASP.NET para identificar a un usuario entrante. 
        -->
		<authentication mode="Windows" />
		<!--  AUTHORIZATION 
          This section sets the authorization policies of the application. You can allow or deny access
          to application resources by user or role. Wildcards: "*" mean everyone, "?" means anonymous 
          (unauthenticated) users.
    -->
		<authorization>
			<allow users="*" />
			<!-- Allow all users -->
			<!--  <allow     users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
                  <deny      users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
            -->
		</authorization>
		<!--
            La sección <customErrors> permite configurar 
            las acciones que se deben llevar a cabo/cuando un error no controlado tiene lugar
            durante la ejecución de una solicitud. Específicamente, 
            permite a los desarrolladores configurar páginas de error html 
            que se mostrarán en lugar de un seguimiento de pila de errores.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<sessionState cookieless="false" timeout="525500" />
	</system.web>
	<location path="dlgOrderData.aspx">
		<system.webServer>
			<defaultDocument enabled="false">
				<files>
					<remove value="Default.asp" />
					<remove value="index.htm" />
					<remove value="index.html" />
					<remove value="default.aspx" />
					<remove value="iisstart.htm" />
					<remove value="Default.htm" />
				</files>
			</defaultDocument>
		</system.webServer>
	</location>
	<system.webServer>
		<directoryBrowse enabled="false" />
		<defaultDocument>
			<files>
				<remove value="iisstart.htm" />
				<remove value="Default.asp" />
				<remove value="index.htm" />
				<remove value="default.aspx" />
				<remove value="index.html" />
				<remove value="Default.htm" />
                <add value="Tools.aspx" />
				<add value="dlgOrderData.aspx" />
			</files>
		</defaultDocument>
	</system.webServer>
</configuration>
