<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="ForumManagerFactoryConfiguration" type="Tenaris.Manager.Forum.Common.Configuration.ForumConfigurationSection, Tenaris.Manager.Forum.Common"/>
    <section name="ForumControllerFactoryConfiguration" type="Tenaris.Manager.Forum.Common.Configuration.ForumControllerConfigurationSection, Tenaris.Manager.Forum.Common"/>
    <section name="log" type="Tenaris.Library.Log.LogConfiguration, Tenaris.Library.Log"/>
  </configSections>

  <ForumControllerFactoryConfiguration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                                       isSingleton="false" address="ForumManager/Controller.soap"
                                       forumConfigurationName="ForumManagerFactoryConfiguration"
                                       activateAllManagers="true"/>

 
  <ForumManagerFactoryConfiguration xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <Launcher initializationTries="5" activationTries="5" activationMode="GraphManual">
     <Hosts>
	    <ProcessHost name="ManufacturingManager" enabled="true"
          initializationTimeout="5000" activationTimeout="5000" deactivationTimeout="5000"
          deinitializationTimeout="5000" startingTimeout="5000" autoRestartDependencies="false"
          postInitializationSleep="0" watchInterval="5000">
          <DependOf />
          <RemoteInstance type="Tenaris.Manager.ProcessExecutor.Shared.Contract.IProcessExecutorManagerA, Tenaris.Manager.ProcessExecutor.Shared"
          url="tcp://TNACAWFM198.tnsautoca.techint.net:33330/ManufacturingManager.soap"
          tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Service/ManufacturingService/Tenaris.Manager.Host.exe"
          arguments="mgr:ManufacturingManager/false"
          workingDirectory="../../Service/ManufacturingService" />
        </ProcessHost>
		
		<ProcessHost name="ITCommHost" enabled="true" initializationTimeout="5000"
          activationTimeout="5000" deactivationTimeout="5000" deinitializationTimeout="5000"
          startingTimeout="5000" autoRestartDependencies="false" postInitializationSleep="0"
          watchInterval="5000">
          <DependOf></DependOf>
		<RemoteInstance type="Tenaris.Manager.ProcessExecutor.Shared.Contract.IProcessExecutorManagerB, Tenaris.Manager.ProcessExecutor.Shared"
          url="tcp://TNACAWFM198.tnsautoca.techint.net:33331/ITCommHostManager.soap"
          tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Manager/ITService/Tenaris.Manager.Host.exe"
          arguments="mgr:ITCommHostManager/false" workingDirectory="../../Manager/ITService" />
        </ProcessHost>
	  
	  
	  
          <ProcessHost name="ShiftManager" enabled="true" initializationTimeout="5000"
          activationTimeout="5000" deactivationTimeout="5000" deinitializationTimeout="5000"
          startingTimeout="5000" autoRestartDependencies="false" postInitializationSleep="0"
          watchInterval="5000">
          <DependOf />
          <RemoteInstance type="Tenaris.Manager.Shift.Shared.IShiftManager, Tenaris.Manager.Shift.Shared"
          url="tcp://TNACAWFM198.tnsautoca.techint.net:22001/ShiftManager.soap"
          tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Manager/Shift/Tenaris.Manager.Host.exe"
          arguments="mgr:ShiftManager/false" workingDirectory="../../Manager/Shift" />
        </ProcessHost>
		
		  <ProcessHost name="HandshakeManager" enabled="true"
          initializationTimeout="5000" activationTimeout="5000" deactivationTimeout="5000"
          deinitializationTimeout="5000" startingTimeout="5000" autoRestartDependencies="false"
          postInitializationSleep="0" watchInterval="5000">
          <DependOf />
          <RemoteInstance type="Tenaris.Manager.Handshake.Shared.IHandshakeManager, Tenaris.Manager.Handshake.Shared"
          url="tcp://TNACAWFM198.tnsautoca.techint.net:22002/Tenaris.Manager.Handshake.HandshakeManager.soap"
          tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Manager/Handshake/Tenaris.Manager.Host.exe"
          arguments="mgr:Tenaris.Manager.Handshake.HandshakeManager/false"
          workingDirectory="../../Manager/Handshake" />
        </ProcessHost>
		
		<ProcessHost name="CommandManager" enabled="true" initializationTimeout="5000"
          activationTimeout="5000" deactivationTimeout="5000" deinitializationTimeout="5000"
          startingTimeout="5000" autoRestartDependencies="false" postInitializationSleep="0"
          watchInterval="5000">
          <DependOf />
          <RemoteInstance type="Tenaris.Manager.Command.Shared.ICommandManager, Tenaris.Manager.Command.Shared"
          url="tcp://TNACAWFM198.tnsautoca.techint.net:22003/Tenaris.Manager.Command.soap"
          tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Manager/Command/Tenaris.Manager.Host.exe"
          arguments="mgr:Tenaris.Manager.Command/false"
          workingDirectory="../../Manager/Command" />
         </ProcessHost>
		
		
		<ProcessHost name="SpecificationService" enabled="true"
          initializationTimeout="5000" activationTimeout="5000" deactivationTimeout="5000"
          deinitializationTimeout="5000" startingTimeout="5000" autoRestartDependencies="false"
          postInitializationSleep="0" watchInterval="5000">
          <DependOf />
          <RemoteInstance type="Tenaris.Manager.ProcessExecutor.Shared.Contract.IProcessExecutorManagerC, Tenaris.Manager.ProcessExecutor.Shared"
          url="tcp://TNACAWFM198.tnsautoca.techint.net:33332/SpecificationManager.soap"
          tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Service/SpecificationService/Tenaris.Manager.Host.exe"
          arguments="mgr:SpecificationManager/false"
          workingDirectory="../../Service/SpecificationService" />
        </ProcessHost>
		
		 <ProcessHost name="TrackingManager" enabled="true" initializationTimeout="5000"
          activationTimeout="5000" deactivationTimeout="5000" deinitializationTimeout="5000"
          startingTimeout="5000" autoRestartDependencies="false" postInitializationSleep="0"
          watchInterval="5000">
          <DependOf>HandshakeManager;CommandManager</DependOf>
          <RemoteInstance type="Tenaris.Manager.Tracking.Shared.ITrackingManager, Tenaris.Manager.Tracking.Shared"
          url="tcp://TNACAWFM198.tnsautoca.techint.net:22005/TrackingManager.soap"
          tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Manager/Tracking/Tenaris.Manager.Host.exe"
          arguments="mgr:TrackingManager/false"
          workingDirectory="../../Manager/Tracking" />
        </ProcessHost>
		
		<ProcessHost name="ProductionManager" enabled="true"
          initializationTimeout="5000" activationTimeout="5000" deactivationTimeout="5000"
          deinitializationTimeout="5000" startingTimeout="5000" autoRestartDependencies="false"
          postInitializationSleep="0" watchInterval="5000">
          <DependOf>ShiftManager;HandshakeManager;CommandManager;TrackingManager;SpecificationManager</DependOf>
          <RemoteInstance type="Tenaris.Library.IKeyManager.Shared.IKeyManager, Tenaris.Library.IKeyManager.Shared"
          url="tcp://TNACAWFM198.tnsautoca.techint.net:22006/Tenaris.Manager.Production.ProductionManager.soap"
          tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Manager/Production/Tenaris.Manager.Host.exe"
          arguments="mgr:Tenaris.Manager.Production.ProductionManager/false"
          workingDirectory="../../Manager/Production" />
        </ProcessHost>
		
		<ProcessHost name="ParentChild" enabled="true" initializationTimeout="5000"
          activationTimeout="5000" deactivationTimeout="5000" deinitializationTimeout="5000"
          startingTimeout="5000" autoRestartDependencies="false" postInitializationSleep="0"
          watchInterval="5000">
          <DependOf>HandshakeManager;CommandManager;ProductionManager;TrackingManager;SpecificationManager</DependOf>
			<RemoteInstance type="Tenaris.Manager.ProcessExecutor.Shared.Contract.IProcessExecutorManagerD, Tenaris.Manager.ProcessExecutor.Shared"
          url="tcp://TNACAWFM198.tnsautoca.techint.net:33334/ParentChildManager.soap"
          tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Manager/ParentChild/Tenaris.Manager.Host.exe"
          arguments="mgr:ParentChildManager/false" workingDirectory="../../Manager/ParentChild" />
        </ProcessHost>
		
		<ProcessHost name="WMSManagerV1" enabled="true" initializationTimeout="5000"
          activationTimeout="5000" deactivationTimeout="5000" deinitializationTimeout="5000"
          startingTimeout="5000" autoRestartDependencies="false" postInitializationSleep="0"
          watchInterval="5000">
          <DependOf>HandshakeManager;CommandManager;ProductionManager;TrackingManager:SpecificationManager</DependOf>
          <RemoteInstance type="Tenaris.WMS.Manager.Shared.IWMSManager, Tenaris.WMS.Manager.Shared"
          url="tcp://TNACAWFM198.tnsautoca.techint.net:22402/Tenaris.WMS.Manager.WMSManager.soap"
          tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Manager/WMSManager/Tenaris.Manager.Host.exe"
          arguments="mgr:Tenaris.WMS.Manager.WMSManager/false" workingDirectory="../../Manager/WMSManager" />
        </ProcessHost>
		
		<ProcessHost name="PCKManager" enabled="true" initializationTimeout="5000"
          activationTimeout="5000" deactivationTimeout="5000" deinitializationTimeout="5000"
          startingTimeout="5000" autoRestartDependencies="false" postInitializationSleep="0"
          watchInterval="5000">
          <DependOf>ShiftManager;HandshakeManager;CommandManager;ProductionManager;TrackingManager;SpecificationManager</DependOf>
          <RemoteInstance type="Tenaris.Manager.ProcessExecutor.Shared.Contract.IProcessExecutorManagerE, Tenaris.Manager.ProcessExecutor.Shared"
          url="tcp://TNACAWFM198.tnsautoca.techint.net:33335/Tenaris.PCK.Manager.PCKManager.soap"
          tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Manager/PCKManager/Tenaris.Manager.Host.exe"
          arguments="mgr:Tenaris.PCK.Manager.PCKManager/false" workingDirectory="../../Manager/PCKManager" />
        </ProcessHost>
		
		<ProcessHost name="AlarmManager" enabled="true"
          initializationTimeout="5000" activationTimeout="5000" deactivationTimeout="5000"
          deinitializationTimeout="5000" startingTimeout="5000" autoRestartDependencies="false"
          postInitializationSleep="0" watchInterval="5000">
          <DependOf></DependOf>
          <RemoteInstance type="Tenaris.Manager.Alarm.Shared.IAlarmManager, Tenaris.Manager.Alarm.Shared"
          url="tcp://TNACAWFM198.tnsautoca.techint.net:22008/Tenaris.Manager.Alarm.soap"
          tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Manager/Alarm/Tenaris.Manager.Host.exe"
          arguments="mgr:Tenaris.Manager.Alarm/false" workingDirectory="../../Manager/Alarm" />
        </ProcessHost>
		
		<ProcessHost name="WmsVerficationManager" enabled="true" initializationTimeout="5000"
          activationTimeout="5000" deactivationTimeout="5000" deinitializationTimeout="5000"
          startingTimeout="5000" autoRestartDependencies="false" postInitializationSleep="0"
          watchInterval="5000">
          <DependOf>TrackingManager;ProductionManager;CommandManager</DependOf>
          <RemoteInstance type="Tenaris.Tamsa.Manager.WmsVerifications.Shared.IVerificationManager, Tenaris.Tamsa.Manager.WmsVerifications.Shared"
          url="tcp://TNACAWFM198.tnsautoca.techint.net:49601/Tenaris.Tamsa.Manager.WmsVerifications.VerificationManager.soap"
          tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Manager/WmsVerifications/Tenaris.Manager.Host.exe"
          arguments="mgr:Tenaris.Tamsa.Manager.WmsVerifications.VerificationManager/false" workingDirectory="../../Manager/WmsVerifications" />
        </ProcessHost>
		
		<ProcessHost name="BusinessRulesManager" enabled="true"
          initializationTimeout="5000" activationTimeout="5000" deactivationTimeout="5000"
          deinitializationTimeout="5000" startingTimeout="5000" autoRestartDependencies="false"
          postInitializationSleep="0" watchInterval="5000">
          <DependOf>PresetManager;TrackingManager;HandshakeManager;ProductionManager</DependOf>
          <RemoteInstance type="Tenaris.Manager.BusinessRules.Shared.IBusinessRulesManager, Tenaris.Manager.BusinessRules.Shared"
          url="tcp://TNACAWFM198.tnsautoca.techint.net:22007/Tenaris.Manager.BusinessRules.soap"
          tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Manager/BusinessRules/Tenaris.Manager.Host.exe"
          arguments="mgr:Tenaris.Manager.BusinessRules/false"
          workingDirectory="../../Manager/BusinessRules" />
        </ProcessHost>
		
		<ProcessHost name="ETrackSender" enabled="true" initializationTimeout="5000"
          activationTimeout="5000" deactivationTimeout="5000" deinitializationTimeout="5000"
          startingTimeout="5000" autoRestartDependencies="false" postInitializationSleep="0"
          watchInterval="5000">
          <DependOf></DependOf>
          <RemoteInstance type="Tenaris.Manager.ProcessExecutor.Shared.Contract.IProcessExecutorManagerF, Tenaris.Manager.ProcessExecutor.Shared"
          url="tcp://TNACAWFM198.tnsautoca.techint.net:33336/ETrackSenderManager.soap"
          tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Manager/ETrackSender/Tenaris.Manager.Host.exe"
          arguments="mgr:ETrackSenderManager/false" workingDirectory="../../Manager/ETrackSender" />
        </ProcessHost>
		
		<ProcessHost name="InterruptionManager" enabled="true"
          initializationTimeout="5000" activationTimeout="5000" deactivationTimeout="5000"
          deinitializationTimeout="5000" startingTimeout="5000" autoRestartDependencies="false"
          postInitializationSleep="0" watchInterval="5000">
          <DependOf>ShiftManager;ProductionManager</DependOf>
          <RemoteInstance type="Tenaris.Manager.Interruption.Shared.IInterruptionManager, Tenaris.Manager.Interruption.Shared"
          url="tcp://TNACAWFM198.tnsautoca.techint.net:22099/Tenaris.Manager.Interruption.InterruptionManager.soap"
          tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Manager/InterruptionManager/Tenaris.Manager.Host.exe"
          arguments="mgr:Tenaris.Manager.Interruption.InterruptionManager/false"
          workingDirectory="../../Manager/InterruptionManager" />
        </ProcessHost>
		
		<ProcessHost name="TdaManager" enabled="true" initializationTimeout="5000"
          activationTimeout="5000" deactivationTimeout="5000" deinitializationTimeout="5000"
          startingTimeout="5000" autoRestartDependencies="false" postInitializationSleep="0"
          watchInterval="5000">
          <DependOf>ProductionManager;TrackingManager</DependOf>
          <RemoteInstance type="Tenaris.Manager.Tda.Shared.ITdaManager, Tenaris.Manager.Tda.Shared"
          url="tcp://TNACAWFM198.tnsautoca.techint.net:22010/Tenaris.Manager.Tda.soap"
          tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Manager/TDA/Tenaris.Manager.Host.exe"
          arguments="mgr:Tenaris.Manager.Tda/false" workingDirectory="../../Manager/TDA" />
        </ProcessHost>
		
			<ProcessHost name="TraceabilityValidationTestAnillos" enabled="true" initializationTimeout="5000"
          activationTimeout="5000" deactivationTimeout="5000" deinitializationTimeout="5000"
          startingTimeout="5000" autoRestartDependencies="false" postInitializationSleep="0"
          watchInterval="5000">
          <DependOf>HandshakeManager;CommandManager;AlarmManager;TrackingManager</DependOf>
           <RemoteInstance type="Tamsa.Common.Manager.TraceabilityValidation.Shared.ITraceabilityValidationManager, Tamsa.Common.Manager.TraceabilityValidation.Shared"
          url="tcp://TNACAWFM198.tnsautoca.techint.net:25000/Tamsa.Common.Manager.TraceabilityValidation.Manager.soap"
          tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Manager/TraceabilityValidation_TestAnillos/Tenaris.Manager.Host.exe"
          arguments="mgr:Tamsa.Common.Manager.TraceabilityValidation.Manager/false" workingDirectory="../../Manager/TraceabilityValidation_TestAnillos" />
        </ProcessHost>
		
		<ProcessHost name="PresetManager" enabled="true" initializationTimeout="5000"
          activationTimeout="5000" deactivationTimeout="5000" deinitializationTimeout="5000"
          startingTimeout="5000" autoRestartDependencies="false" postInitializationSleep="0"
          watchInterval="5000">
          <DependOf>CommandManager;ProductionManager;SpecificationManager</DependOf>
          <RemoteInstance type="Tenaris.Manager.Preset.Shared.IPresetManager, Tenaris.Manager.Preset.Shared"
          url="tcp://TNACAWFM198.tnsautoca.techint.net:22020/Tenaris.Manager.Preset.PresetManager.soap"
          tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Manager/Preset/Tenaris.Manager.Host.exe"
          arguments="mgr:Tenaris.Manager.Preset.PresetManager/false" workingDirectory="../../Manager/Preset" />
        </ProcessHost>
		
		<ProcessHost name="IdentificationManager" enabled="true"
          initializationTimeout="5000" activationTimeout="5000" deactivationTimeout="5000"
          deinitializationTimeout="5000" startingTimeout="5000" autoRestartDependencies="false"
          postInitializationSleep="0" watchInterval="5000">
          <DependOf>BusinessRulesManager;AlarmManager;HandshakeManager;CommandManager;TrackingManager</DependOf>
          <RemoteInstance type="Tamsa.Manager.Identification.Shared.Contract.IIdentificationManager, Tamsa.Manager.Identification.Shared"
          url="tcp://TNACAWFM198.tnsautoca.techint.net:51020/IdentificationManager.soap"
          tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Manager/IdentificationParentChild/Tenaris.Manager.Host.exe"
          arguments="mgr:IdentificationManager/false"
          workingDirectory="../../Manager/IdentificationParentChild" />
        </ProcessHost>
		
		<ProcessHost name="BusinessRulesExitPck" enabled="true" initializationTimeout="5000"
          activationTimeout="5000" deactivationTimeout="5000" deinitializationTimeout="5000"
          startingTimeout="5000" autoRestartDependencies="false" postInitializationSleep="0"
          watchInterval="5000">
          <DependOf>ProductionManager;TrackingManager</DependOf>
          <RemoteInstance type="Tenaris.Manager.BussinessRules.ExitPCK.Shared.IBussinessRulesExitPCK, Tenaris.Manager.BussinessRules.ExitPCK.Shared"
          url="tcp://TNACAWFM198.tnsautoca.techint.net:22030/Tenaris.Manager.BusinessRules.soap"
          tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Manager/BusinessRulesExitPck/Tenaris.Manager.Host.exe"
          arguments="mgr:Tenaris.Manager.BusinessRules/false" workingDirectory="../../Manager/BusinessRulesExitPck" />
        </ProcessHost>
		
		<ProcessHost name="ReportITManager" enabled="true" initializationTimeout="5000"
          activationTimeout="5000" deactivationTimeout="5000" deinitializationTimeout="5000"
          startingTimeout="5000" autoRestartDependencies="false" postInitializationSleep="0"
          watchInterval="5000">
          <DependOf>CommandManager;TrackingManager;ShiftManager</DependOf>
		<RemoteInstance type="Tenaris.Manager.ProcessExecutor.Shared.Contract.IProcessExecutorManagerG, Tenaris.Manager.ProcessExecutor.Shared"
          url="tcp://TNACAWFM198.tnsautoca.techint.net:33337/ReportITManager.soap"
          tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Manager/ExternalIdentification.ReportIT.Host/Tenaris.Manager.Host.exe"
          arguments="mgr:ReportITManager/false" workingDirectory="../../Manager/ExternalIdentification.ReportIT.Host" />
        </ProcessHost>
		
			<ProcessHost name="InsTrackingDummy" enabled="true" initializationTimeout="5000"
          activationTimeout="5000" deactivationTimeout="5000" deinitializationTimeout="5000"
          startingTimeout="5000" autoRestartDependencies="false" postInitializationSleep="0"
          watchInterval="5000">
          <DependOf>TrackingManager</DependOf>
          <RemoteInstance type="Tenaris.Manager.ProcessExecutor.Shared.Contract.IProcessExecutorManagerH, Tenaris.Manager.ProcessExecutor.Shared"
          url="tcp://TNACAWFM198.tnsautoca.techint.net:33338/InsTrackingDummyManager.soap"
          tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Manager/Tenaris.Tamsa.Manager.InsTracking/Tenaris.Manager.Host.exe"
          arguments="mgr:InsTrackingDummyManager/false" workingDirectory="../../Manager/Tenaris.Tamsa.Manager.InsTracking" />
        </ProcessHost>
		
		
		<ProcessHost name="CycleTimeManager" enabled="true"
          initializationTimeout="5000" activationTimeout="5000" deactivationTimeout="5000"
          deinitializationTimeout="5000" startingTimeout="5000" autoRestartDependencies="false"
          postInitializationSleep="0" watchInterval="5000">
          <DependOf />
          <RemoteInstance type="Tenaris.Manager.CycleTime.Shared.ICycleTimeManager, Tenaris.Manager.CycleTime.Shared"
          url="tcp://TNACAWFM198.tnsautoca.techint.net:50015/CycleTimeManager.soap"
          tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Manager/CycleTimeManager/Tenaris.Manager.Host.exe"
          arguments="mgr:CycleTimeManager/false"
          workingDirectory="../../Manager/CycleTimeManager" />
        </ProcessHost>
		
		<ProcessHost name="ExternalIdentification" enabled="true" initializationTimeout="5000"
          activationTimeout="5000" deactivationTimeout="5000" deinitializationTimeout="5000"
          startingTimeout="5000" autoRestartDependencies="false" postInitializationSleep="0"
          watchInterval="5000">
          <DependOf>CommandManager;TrackingManager;ShiftManager</DependOf>
          <RemoteInstance type="Tenaris.Tamsa.FIN.Manager.ExternalIdentification.Shared.IExternalIdentificationManager, Tenaris.Tamsa.FIN.Manager.ExternalIdentification.Shared"
          url="tcp://TNACAWFM198.tnsautoca.techint.net:55555/Tenaris.Tamsa.FIN.Manager.ExternalIdentification.soap"
          tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Manager/ExternalIdentificationManager/Tenaris.Manager.Host.exe"
          arguments="mgr:Tenaris.Tamsa.FIN.Manager.ExternalIdentification/false" workingDirectory="../../Manager/ExternalIdentificationManager" />
        </ProcessHost>
		
		
		<ProcessHost name="BusinessRulesManagerHS" enabled="true"
          initializationTimeout="5000" activationTimeout="5000" deactivationTimeout="5000"
          deinitializationTimeout="5000" startingTimeout="5000" autoRestartDependencies="false"
          postInitializationSleep="0" watchInterval="5000">
          <DependOf>TrackingManager;HandshakeManager;ProductionManager</DependOf>
          <RemoteInstance type="Tenaris.Manager.BussinessRules.HS.Shared.IBussinessRulesHS, Tenaris.Manager.BussinessRules.HS.Shared"
          url="tcp://TNACAWFM198.tnsautoca.techint.net:21107/Tenaris.Manager.BusinessRules.soap"
          tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Manager/BusinessRules - HS/Tenaris.Manager.Host.exe"
          arguments="mgr:Tenaris.Manager.BusinessRules/false"
          workingDirectory="../../Manager/BusinessRules - HS" />
        </ProcessHost>
		
		<ProcessHost name="ConsoleUtilities" enabled="true" initializationTimeout="5000"
          activationTimeout="5000" deactivationTimeout="5000" deinitializationTimeout="5000"
          startingTimeout="5000" autoRestartDependencies="false" postInitializationSleep="0"
          watchInterval="5000">
          <DependOf></DependOf>
         <RemoteInstance type="Tenaris.Manager.ProcessExecutor.Shared.Contract.IProcessExecutorManagerI, Tenaris.Manager.ProcessExecutor.Shared"
          url="tcp://TNACAWFM198.tnsautoca.techint.net:33339/ConsoleUtilitiesManager.soap"
          tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Manager/ConsoleUtilities/Tenaris.Manager.Host.exe"
          arguments="mgr:ConsoleUtilitiesManager/false" workingDirectory="../../Manager/ConsoleUtilities" />
        </ProcessHost>
		
			<ProcessHost name="EfficencySendEmailManager" enabled="true" initializationTimeout="5000"
          activationTimeout="5000" deactivationTimeout="5000" deinitializationTimeout="5000"
          startingTimeout="5000" autoRestartDependencies="false" postInitializationSleep="0"
          watchInterval="5000">
          <DependOf></DependOf>
         <RemoteInstance type="Tenaris.Manager.ProcessExecutor.Shared.Contract.IProcessExecutorManagerJ, Tenaris.Manager.ProcessExecutor.Shared"
          url="tcp://TNACAWFM198.tnsautoca.techint.net:33340/EfficencySendEmailManager.soap"
          tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Service/EfficencySendMails/Tenaris.Manager.Host.exe"
          arguments="mgr:EfficencySendEmailManager/false" workingDirectory="../../Service/EfficencySendMails" />
        </ProcessHost>	
		
		
		
		<ProcessHost name="BusinessRulesManagerAlarmsValidacionMedicion" enabled="true"
          initializationTimeout="5000" activationTimeout="5000" deactivationTimeout="5000"
          deinitializationTimeout="5000" startingTimeout="5000" autoRestartDependencies="false"
          postInitializationSleep="0" watchInterval="5000">
          <DependOf>ShiftManager;CommandManager;TrackingManager;HandshakeManager</DependOf>
          <RemoteInstance type="Tenaris.Manager.BussinessRules.AlarmValidation.Shared.IBussinessRulesAlarmValidation, Tenaris.Manager.BussinessRules.AlarmValidation.Shared"
          url="tcp://TNACAWFM198.tnsautoca.techint.net:14312/Tenaris.Manager.BusinessRules.soap"
          tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Manager/BusinessRulesAlarms/Tenaris.Manager.Host.exe"
          arguments="mgr:Tenaris.Manager.BusinessRules/false"
          workingDirectory="../../Manager/BusinessRulesAlarms" />
        </ProcessHost>
		
		<ProcessHost name="ZebraPrint" enabled="true" initializationTimeout="5000"
          activationTimeout="5000" deactivationTimeout="5000" deinitializationTimeout="5000"
          startingTimeout="5000" autoRestartDependencies="false" postInitializationSleep="0"
          watchInterval="5000">
          <DependOf></DependOf>
		  <RemoteInstance type="Tenaris.Manager.ProcessExecutor.Shared.Contract.IProcessExecutorManagerK, Tenaris.Manager.ProcessExecutor.Shared"
          url="tcp://TNACAWFM198.tnsautoca.techint.net:33341/ZebraPrintService.soap"
          tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Service/Tenaris.Tamsa.ZebraPrint/Tenaris.Manager.Host.exe"
          arguments="mgr:ZebraPrintService/false" workingDirectory="../../Service/Tenaris.Tamsa.ZebraPrint" />
        </ProcessHost>	
		
	 
		
		
	</Hosts>
      <Availability mode="StartAlways" tries="0" interval="2000" />
    </Launcher>
    <Redundancy mode="None" onDeactivateMode="Stop" onConnectMode="None"
		  activationTimeout="600" />
    <Mailing enabled="false" enableSsl="false" port="0" timeout="0" />
  </ForumManagerFactoryConfiguration>

  <system.runtime.remoting>
    <application name="Forum">
      <channels>
        <channel ref="tcp" port="50002" >
          <clientProviders>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </clientProviders>
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </serverProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>

  <log
      msgFormat="{TypeChar} {Timestamp:yyyy-MM-dd HH:mm:ss.fff} [{AppDomainName,30:s-30}:{ThreadName,15:s15}] [lap={LapFriendlyValue,-7:f2}{LapFriendlyUnit,3}] {AssemblyName,30:s-30} {IdentString} {Message}"
      dumpStack="true" maxLogDepth="0" traceAttributeLogLevel="Message" 
      noQueue="false" maxQueueSize="10000" includeAssembliesRegEx="" excludeAssembliesRegEx="" includeFullClasNameRegEx="" 
      excludeFullClasNameRegEx="" excludePropertyGetterAndSetter="true" flushInterval="1000" logAssemblyLoad="true" colorConsoleLog="true"
      
      maxFileSize="8192" maxFileCount="20" traceAttributeLogEnabled="true" 
      
      logBaseName="ForumController" path="D:\APPLS\Tenaris\Logs\View\WinService" additionalLogDestination="None" logLevel="Debug"/>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Binaries;Forum;"/>
    </assemblyBinding>
  </runtime>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
