<configuration>
  <configSections>
    <section name="Tenaris.Manager.Entrance.EntranceManager" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>
    <section name="Tenaris.Library.Security" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>
    <section name="log" type="Tenaris.Library.Log.LogConfiguration, Tenaris.Library.Log"/>
    <section name="Plugins" type="System.Configuration.NameValueSectionHandler" />
    <section name="EntranceViewConfiguration" type="Tenaris.View.EntranceApplication.View.Common.EntranceViewConfiguration, Tenaris.View.EntranceApplication.View.Common"/>
    <section name="Shift1" type="Tenaris.View.EntranceApplication.ViewModel.ShiftConfiguration, Tenaris.View.EntranceApplication.ViewModel"/>
    <section name="Shift2" type="Tenaris.View.EntranceApplication.ViewModel.ShiftConfiguration, Tenaris.View.EntranceApplication.ViewModel"/>
    <section name="Shift3" type="Tenaris.View.EntranceApplication.ViewModel.ShiftConfiguration, Tenaris.View.EntranceApplication.ViewModel"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Tenaris.View.EntranceApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
	<section name="Profiling" type="Tenaris.Service.Profiling.ProfilingServiceConfiguration, Tenaris.Service.Profiling"/>
  </configSections>

  <connectionStrings>
    <add name="Remote" connectionString="Data Source=TNATFT2PRDLSN.tnsautoca.techint.net,5040;Initial Catalog=L2Cort;Integrated Security=SSPI;Persist Security Info=True;MultipleActiveResultSets=True; Asynchronous Processing=false;Min Pool Size=1;Max Pool Size=5;Application Name=EntranceView" providerName="System.Data.SqlClient"/>    
  </connectionStrings>
  
  <Profiling dbSessionName="Remote"/>

  <Plugins>
    <add key="LoadBundle"           value="D:\APPLS\Clientes\Cortadora 24\Tenaris\Applications\View\Tamsa.View.EntranceApplication\Tenaris.View.EntranceApplication.View.LoadBundle.dll" />
    <add key="EditPipes"            value="D:\APPLS\Clientes\Cortadora 24\Tenaris\Applications\View\Tamsa.View.EntranceApplication\Tenaris.View.EntranceApplication.View.EditPipes.dll" />
    <add key="EditOffsets"            value="D:\APPLS\Clientes\Cortadora 24\Tenaris\Applications\View\Tamsa.View.EntranceApplication\Tenaris.View.EntranceApplication.View.EditPipes.dll" />
 
	<!--no se ocupa-->
	<!--<add key="LoadHeat"             value="C:\Cortadoras\EntranceView_1.xx-devel\source\app\Tenaris.View.EntranceApplication\bin\Debug\Tenaris.View.EntranceApplication.View.LoadHeat.dll" /> -->
    <!--no se ocupa-->
    <!-- <add key="EditHeat"             value="D:\Shared\Tenaris\LIN1\Applications\View\Tamsa.View.EntranceApplication\Tenaris.View.EntranceApplication.View.EditHeat.dll" /> -->
  </Plugins>


  <!--Entrance manager configuration tcp://TNACAWFM194.tnsautoca.techint.net:49210/Tenaris.Manager.Entrance.EntranceManager.soap"-->
  <Tenaris.Manager.Entrance.EntranceManager 
		instanceType="Tenaris.Manager.Entrance.Shared.IEntranceManager, Tenaris.Manager.Entrance.Shared" 
		url="tcp://TNACAWFM194.tnsautoca.techint.net:49210/Tenaris.Manager.Entrance.EntranceManager.soap"
		aliveInterval="5000" 
		singleInstance="true" 
		validateConnection="false">
		<Redundancy>
			<Address url="tcp://TNACAWFM194.tnsautoca.techint.net:49210/Tenaris.Manager.Entrance.EntranceManager.soap" forumPresent="false" isTargetManager="true"/>
		</Redundancy>
  </Tenaris.Manager.Entrance.EntranceManager>

  <!--Security Service Configuration-->
  <Tenaris.Library.Security
     url="tcp://localhost:49209/Tenaris.Service.Security.soap"
     instanceType="Tenaris.Service.Security.Shared.ISecurityService, Tenaris.Service.Security.Shared"
     aliveInterval="0"
     validateConnection="true"
     singleInstance="true"
     forumPresent="false"
     isTargetManager="false">
    <Redundancy>
    </Redundancy>
  </Tenaris.Library.Security>

  <appSettings>
    <add key="UsingDskMgr"    value="True"/>
    <add key="ConnectionName" value="Remote" />
    <add key="Zone" value="ALL"/>
    <!-- HRM/HTR/FIN-->
    <add key="FactoryLine" value="FIN" />
    <!-- Machine Relationship  N2 and Code IT e.g.: TMTbFn6_ENTRANCE,CN302@TMTbFn6_ENDE,CN301@TMTbFn6_ENTRANCE,CN302@TMTbFn6_ENTRANCE,CN301    -->
    <add key="ITMachine" value="ENREP,CT24" />
    <add key="UriHistoryWeb" value="http://TNACAWWS194.tnsautoca.techint.net/L2/ManufacturingSchedule/View/Dialog/frmDialog.aspx?Page=Specification" />
    <!-- Id that is used to load the bundles -->
    <add key="LicenceNumber" value="T1004" />
    <add key="GetConfigurationDataByName" value="Configuration.GetConfigurationDataByName" />
    <add key="NameConfigDataGridGroupItem" value="Entrance.GridGroupItem" />
    <add key="NameConfigDataGridAvaliableMaterial" value="Entrance.GridAvailableMaterial" />
  </appSettings>

  <!--<EntranceViewConfiguration culture="en-US"></EntranceViewConfiguration>-->
  <EntranceViewConfiguration culture="es-MX"></EntranceViewConfiguration>

  <Shift1 IsActive="true" BeginTime="06:00:00" EndTime="14:00:00"/>
  <Shift2 IsActive="true" BeginTime="14:00:00" EndTime="22:00:00"/>
  <Shift3 IsActive="true" BeginTime="22:00:00" EndTime="06:00:00"/>

  <!-- Conexión al servicio de Amalog que regresa los números progresivos de la Orden para mantener continuidad con la información cargada en AM21 -->
  <system.serviceModel> 
    <bindings> 
      <basicHttpBinding> 
        <binding name="BasicHttpBinding_AmalogIntegrationService" /> 
      </basicHttpBinding> 
    </bindings> 
    <client> 
      <endpoint address="http://TNACAWWS194.tnsautoca.techint.net/L2/AmalogIntegration/AmalogIntegrationService.svc" 
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_AmalogIntegrationService" 
          contract="AmalogIntegrationService" name="BasicHttpBinding_AmalogIntegrationService" /> 
    </client> 
  </system.serviceModel>

  <!-- Remoting configuration. This can be placed in a separate file named remoting.config -->
  <system.runtime.remoting>
    <application name="ClientEntranceAplication">
      <channels>
        <channel ref="tcp" port="0" useIpAddress="false">
          <clientProviders>
            <provider type="Tenaris.Library.Proxy.Remoting.ClientRemotingInterceptorProvider, Tenaris.Library.Proxy"/>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </clientProviders>
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </serverProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>

	<log
		maxFileSize="8096"
		maxFileCount="10"
		msgFormat="{Timestamp:HH:mm.ss.fff} ; {Level,-7} ; {ThreadId,-5:d5} ; {Message} ; {MethodName}"
		logLevel="Debug"
		noQueue="true"
		traceAttributeLogEnabled="false"
		path="\\TNACAWFM194.tnsautoca.techint.net\Appls\Clientes\Cortadora 24\Tenaris\Logs\%UserName%\Tenaris.View.EntranceApplication\"
		logBaseName="Tenaris.View.EntranceApplication"
		additionalLogDestination="Console"
		logAssemblyLoad="false"
  />
  
 

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="PostSharp.Laos" publicKeyToken="B13FD38B8F9C99D7" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
  <userSettings>
    <Tenaris.View.EntranceApplication.Properties.Settings>
      <setting name="Language" serializeAs="String">
        <value>es-MX</value>
      </setting>
    </Tenaris.View.EntranceApplication.Properties.Settings>
  </userSettings>
  
</configuration>