<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="Tenaris.Tamsa.FIN.Manager.ExternalIdentification" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework" />
    <section name="Tenaris.Manager.Tracking.TrackingManager" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy" />
    <!--InProc-->
    <!--<section name="Tenaris.Manager.Handshake.HandshakeManager" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework"/>-->
    <!--OutProc-->
    <section name="Tenaris.Manager.Handshake.HandshakeManager" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy" />
    <section name="Tenaris.Manager.Command.CommandManager" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy" />
    <section name="Tenaris.Manager.Shift" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>
    <section name="Tamsa.OPLScada" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework"/>
    <section name="DAL" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework" />
    <section name="TrackingExtDAL" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework" />
    <section name="ZebraPrinter" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework" />
    <section name="log" type="Tenaris.Library.Log.LogConfiguration, Tenaris.Library.Log" />
    <section name="OperativeInterface" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework" />
    <section name="AcquisitionConfiguration" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework"/>
    <section name="ManagerBaseConfiguration" type="Tenaris.Manager.Forum.Shared.Configuration.ManagerBaseConfiguration, Tenaris.Manager.Forum.Shared"/>

    <section name="ZebraPrinter_Recovery" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework" />

  </configSections>

  <appSettings>
    <add key="WCFHostAddress" value="net.tcp://TNACAWFM198.tnsautoca.techint.net:10999/ExternalIdentification" />
    <add key="WCFReprintHostAddress" value="net.tcp://TNACAWFM198.tnsautoca.techint.net:10999/ExternalIdentification/ReprintLabel" />
    <add key="IsEnableConfigBDD" value="true" />
    <add key="TagsToValidateRFIDB" value="8" />
    <add key="EnableOrderByDescending" value="True" />
    <add key="EnableSendAlarms" value="True" />
    <add key="AlarmAreaCode" value="DOPELESS" />
    <add key="AlarmCodeRepeatedPipe" value="RFID_VALIDATIONAP" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>

  <connectionStrings>
    <!--<add name="Level2_Linea1" connectionString="Data Source=10.93.1.87;Initial Catalog=Level2_Linea1;User ID=MLeos;Password=auto;Persist Security Info=true;MultipleActiveResultSets=true; Asynchronous Processing=true; Application Name=manager_ExternalIdentification; Pooling=true; Max Pool Size=300;" providerName="System.Data.SqlClient"/>-->
    <add name="dbLinea2" connectionString="Data Source=TNATFT2PRDLSN.tnsautoca.techint.net,5040;Initial Catalog=L2Bz22;Persist Security Info=True;Integrated Security=SSPI;MultipleActiveResultSets=true; Asynchronous Processing=true; Application Name=manager_ExternalIdentification; Pooling=true; Max Pool Size=300;" providerName="System.Data.SqlClient"/>
    <!--<add name="Level2_Linea1" connectionString="Data Source=.;Initial Catalog=Level2_Linea1;User ID=sa;Password=Giga01;Persist Security Info=true;MultipleActiveResultSets=true; Asynchronous Processing=true; Application Name=manager_ExternalIdentification; Pooling=true; Max Pool Size=300;" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>

  <!--<ISendAlarmBridge address="net.tcp://localhost:49220/SendAlarmsBridge.SendAlarmsBridgeService/SendAlarmsBinding" />-->

  <ManagerBaseConfiguration areaCode="LINEA2" defaultConnectionStringName="dbLinea2"/>

  <DAL factoryType="Tenaris.Tamsa.FIN.Library.ExtenalIdentification.Dal.DalFactory, Tenaris.Tamsa.FIN.Library.ExtenalIdentification.Dal">
    <Configuration connectionStringName="dbLinea2">
    </Configuration>
  </DAL>

  <OperativeInterface factoryType="Tenaris.Tamsa.ExternalIdentification.OperativeInterface.Factory.OperativeInterfaceFactory, Tenaris.Tamsa.ExternalIdentification.OperativeInterface">
    <Configuration
				   dbConnectionString="dbLinea2"
           reactivationType="onChangeOrder"
           activeBypassRB="false"
           sectionCommand="Tenaris.Manager.Command.CommandManager"
				   sectionTracking="Tenaris.Manager.Tracking.TrackingManager"
           sectionShift="Tenaris.Manager.Shift">
      <Stations>
        <OperativeEquipmentStation name="PaintedRings"/>
        <OperativeEquipmentStation name="PrinterBox"/>
        <OperativeEquipmentStation name="RfidBox"/>
        <OperativeEquipmentStation name="RfidPin"/>
        <OperativeEquipmentStation name="Cognex"/>
      </Stations>
    </Configuration>
  </OperativeInterface>

  <TrackingExtDAL factoryType="Tenaris.Tamsa.Dopeless.Manager.ExternalIdentification.Dal.DopelessDalFactory, Tenaris.Tamsa.Dopeless.Manager.ExternalIdentification.Host.V1">
    <Configuration connectionStringName="dbLinea2" />
  </TrackingExtDAL>

  <Tenaris.Tamsa.FIN.Manager.ExternalIdentification factoryType="Tenaris.Tamsa.FIN.Manager.ExternalIdentification.ExternalIdentificationFactory, Tenaris.Tamsa.FIN.Manager.ExternalIdentification" isSingleton="true">
    <ExternalTrackingManagerConfiguration
		dalSectionName="DAL"
		operativeInterfaceSectionName="OperativeInterface"
		applicationCode="ExternalIDMgr">

      <TrackingComponent type="Tenaris.Tamsa.FIN.Manager.ExternalIdentification.V1.Components.TrackingComponent, Tenaris.Tamsa.FIN.Manager.ExternalIdentification.V1" isSingleton="true">
        <Configuration trackingManagerFactory="Tenaris.Manager.Tracking.TrackingManager" />
      </TrackingComponent>
      <CommandComponent type="Tenaris.Tamsa.FIN.Manager.ExternalIdentification.V1.Components.CommandComponent, Tenaris.Tamsa.FIN.Manager.ExternalIdentification.V1">
        <Configuration commandManagerFactory="Tenaris.Manager.Command.CommandManager" />
      </CommandComponent>
      <HandshakeComponent type="Tenaris.Tamsa.FIN.Manager.ExternalIdentification.V1.Components.HandshakeComponent, Tenaris.Tamsa.FIN.Manager.ExternalIdentification.V1">
        <Configuration handshakeManagerFactory="Tenaris.Manager.Handshake.HandshakeManager" />
      </HandshakeComponent>
      <ProductComponent type="Tenaris.Tamsa.FIN.Manager.ExternalIdentification.V1.Components.ProductComponent, Tenaris.Tamsa.FIN.Manager.ExternalIdentification.V1" isSingleton="true">
        <Configuration dalSectionName="DAL" />
      </ProductComponent>
      <NumberGenerationComponent type="Tenaris.Tamsa.FIN.Manager.ExternalIdentification.V1.Components.NumberGenerationComponent, Tenaris.Tamsa.FIN.Manager.ExternalIdentification.V1" isSingleton="true">
        <Configuration dalSectionName="DAL" lineId="90" />
      </NumberGenerationComponent>
      <ScadaComponent type="Tenaris.Tamsa.FIN.Manager.ExternalIdentification.V1.Components.ScadaComponent, Tenaris.Tamsa.FIN.Manager.ExternalIdentification.V1">
        <Configuration ScadaFactory="Tamsa.OPLScada"/>>
      </ScadaComponent>

      <!-- The RFID Component has a list of readers defined. Each reader is a plugin so the configuration can be different if another plugin is used. -->
      <RFIDComponent type="Tenaris.Tamsa.FIN.Manager.ExternalIdentification.V1.Components.RFIDComponent, Tenaris.Tamsa.FIN.Manager.ExternalIdentification.V1" isSingleton="true">
        <Configuration>
          <Readers>
            <!--The ImpinjPlugin configuration has the following attributes:
              1) name. Is the string to use as reference for this particular reader
              2) address. Is the IP address configured for the reader
              3) enableBlockWrite. Indicates if readers functionality to write bigger block of data should be used (2 words at a time instead of 1).
              4) aliveCheckInMs. Is the time in milliseconds to verify connection to the reader.
              5) An Antennas collection, each antena has the following attributes:
                5.1) name. Is the string to identify the Antenna.
                5.2) port. Impinj uses port numbers so this is the physical port where the antenna is connected.
                5.3) txPower. Is the transmission power to use for the antenna. Min 10, Max 32.5 in steps of 0.25
                5.4) rxSensitivity. Is the threshold for signal strength to read tags, responses under this threshold are ignored. Min: -80, Max -30 in steps of 1.
            -->
            <RFIDReader type="Tenaris.Tamsa.FIN.Manager.ExternalIdentification.RFIDReadersPlugin.ImpinjRFIDReader, Tenaris.Tamsa.FIN.Manager.ExternalIdentification.RFIDReadersPlugin">
              <Configuration name="RFIDBOX"
                             address="10.92.114.135"
                             enableBlockWrite="true"
                             aliveCheckInMs="1000">
                <Antennas>
                  <Antenna name="2" port="2" txPower="27" rxSensitivity="-70"/>
                  <!--<Antenna name="1" port="1" txPower="18" rxSensitivity="-65"/>-->
                </Antennas>
              </Configuration>
            </RFIDReader>
            <RFIDReader type="Tenaris.Tamsa.FIN.Manager.ExternalIdentification.RFIDReadersPlugin.ImpinjRFIDReader, Tenaris.Tamsa.FIN.Manager.ExternalIdentification.RFIDReadersPlugin">
              <Configuration name="RFIDPIN"
                             address="10.92.114.137"
                             enableBlockWrite="true"
                             aliveCheckInMs="1000">
                <Antennas>
                  <Antenna name="1" port="1" txPower="25" rxSensitivity="-80"/>
                  <Antenna name="2" port="2" txPower="25" rxSensitivity="-80"/>
                </Antennas>
              </Configuration>
            </RFIDReader>
          </Readers>
        </Configuration>
      </RFIDComponent>

      <Stations>

        <PipeIdentificationEquipmentsStationConfiguration
          name="URCGenerator"
          trackingZoneCode="Wms"
          positionInZone="0"
          identificationVersion="1"
          urcGeneratorOnly="true">
          <StationController type="Tenaris.Tamsa.FIN.Manager.ExternalIdentification.V1.PipeIdentificationRFIDPrinterStationController, Tenaris.Tamsa.FIN.Manager.ExternalIdentification.V1">
            <Configuration stationMachineCode="WMS" stationHandshakeCode="HSWMS_RFID_BOX_001" stationLockCommand="CM_EQP_LCK_RFID_01"/>
          </StationController>
        </PipeIdentificationEquipmentsStationConfiguration>

        <PipeIdentificationPrinterStationConfiguration
          name="BoxPrinter"
          trackingZoneCode="WmsExit"
          positionInZone="0"
          enablePrinter="true"
          errorNoPipe="true"
          identificationVersion="1"
          printerSectionName="ZebraPrinter"
          printerTemplate="printerTemplate-001-pipeData.txt"
          logoPath="logo.bmp"
          millHardStamp="TTM"
          useHandshakeIdTracking="false"
          printerEquipmentName="PrinterBox"
          urcGenerator="true"
          dataSetGenerator="true"
          errorDataSetProperties="true"
          excludeValidationPropertyList="MakeupLossMM, RecommendedMakeUpTorqueNM, RecommendedThreadCompound"
          numLabels="1">
          <StationController type="Tenaris.Tamsa.FIN.Manager.ExternalIdentification.V1.PipeIdentificationRFIDPrinterStationController, Tenaris.Tamsa.FIN.Manager.ExternalIdentification.V1">
            <Configuration stationMachineCode="WMS" stationHandshakeCode="HSWMS_RFID_PRINT_001" stationLockCommand="CM_EQP_LCK_RFID_02"/>
          </StationController>
        </PipeIdentificationPrinterStationConfiguration>

        <LabelValidationStationConfiguration
          name="LabelValidation"
          trackingZoneCode="WmsExit"
          TagReadValidation="TBLDSRPRINTER.VALUE"
					printerSectionName="ZebraPrinter_Recovery"
					printerTemplate="printerTemplate-001-pipeData_RFID.txt"
					identificationVersion="8"
					logoPath="logo_RFID.bmp"
					millHardStamp="TTM"
					DSLength="86"
					>
          <StationController type="Tenaris.Tamsa.FIN.Manager.ExternalIdentification.V1.LabelValidationStationController, Tenaris.Tamsa.FIN.Manager.ExternalIdentification.V1">
            <Configuration stationMachineCode="WMS" stationHandshakeCode="HSWMS_RFID_PRINT_002" stationLockCommand="CM_EQP_LCK_RFID_04"/>
          </StationController>
        </LabelValidationStationConfiguration>

        <PipeIdentificationRFIDStationWMS22V2Configuration
          name="PinReadWrite"
          trackingZoneCode="WmsExit"
          positionInZone="0"
          identificationVersion="1"
          urcGenerator="true"
          dataSetGenerator="true"
          errorDataSetProperties="true"
          excludeValidationPropertyList="MakeupLossMM, RecommendedMakeUpTorqueNM, RecommendedThreadCompound"
          enableRfid="true"
          rfidEquipmentName="RfidBox"
          enableOpositeRfid="true"
          opositeRfidEquipmentName="RfidPin"
          identificationRetries="3"
	      writeRetries="3"
          allowRepeatedRFIDTags="false"
          maxOldTag="20"
          readTimeout="1000"
          writeTimeout="2000">
          <RfidAntenas>
            <Antenna readerName="RFIDBOX" antennaName="2" minLength="0" maxLength="15000"/>
          </RfidAntenas>
          <RfidAntennasOposite>
            <Antenna readerName="RFIDPIN" antennaName="1" minLength="13800" maxLength="15000"/>
            <Antenna readerName="RFIDPIN" antennaName="2" minLength="12500" maxLength="13800"/>
          </RfidAntennasOposite>
          <StationController type="Tenaris.Tamsa.FIN.Manager.ExternalIdentification.V1.PipeIdentificationRFIDPrinterStationController, Tenaris.Tamsa.FIN.Manager.ExternalIdentification.V1">
            <Configuration stationMachineCode="WMS" stationHandshakeCode="HSWMS_RFID_RBOX_002" stationLockCommand="CM_EQP_LCK_RFID_03"/>
          </StationController>
        </PipeIdentificationRFIDStationWMS22V2Configuration>

      </Stations>

    </ExternalTrackingManagerConfiguration>
  </Tenaris.Tamsa.FIN.Manager.ExternalIdentification>



  <!--The printer plugin to use with the station in charge of printing. Configuration may vary if different plugin is used.
    It has the following attributes:
    1) address. The IP address and port configured for the printer.
    2) clearJobsBeforePrint. A boolean to tell the printer to erase the print queue before sending the label to print.
  -->
  <ZebraPrinter factoryType="Tenaris.Tamsa.FIN.Manager.ExternalIdentification.ZebraPrintPlugin.ZebraPrinterFactory, Tenaris.Tamsa.FIN.Manager.ExternalIdentification.ZebraPrintPlugin">
    <Configuration address="10.92.114.138:9100" clearJobsBeforePrint="true"></Configuration>
  </ZebraPrinter>

  <ZebraPrinter_Recovery factoryType="Tenaris.Tamsa.FIN.Manager.ExternalIdentification.ZebraPrintPlugin.ZebraPrinterFactory, Tenaris.Tamsa.FIN.Manager.ExternalIdentification.ZebraPrintPlugin">
    <Configuration address="10.93.1.16:9100" clearJobsBeforePrint="true" timerSleepClearJobs="2000"></Configuration>
  </ZebraPrinter_Recovery>

  <!--Handshake manager configuration InProc-->
  <!--<Tenaris.Manager.Handshake.HandshakeManager factoryType="Tenaris.Manager.Handshake.HandshakeFactory, Tenaris.Manager.Handshake" isSingleton="True">
    <HandshakeManagerConfiguration
        HandshakeReturnsResultAndTriggerCopy="true"
        ProcessingRetryCount="3"
        Testing="false"
        HandledApplicationCodeList="ExternalIDMgr">
    </HandshakeManagerConfiguration>
  </Tenaris.Manager.Handshake.HandshakeManager>-->

  <!--Handshake manager configuration-->
  <Tenaris.Manager.Handshake.HandshakeManager instanceType="Tenaris.Manager.Handshake.Shared.IHandshakeManager, Tenaris.Manager.Handshake.Shared" aliveInterval="5000" singleInstance="true" validateConnection="false">
    <Redundancy>
      <Address url="tcp://TNACAWFM198.tnsautoca.techint.net:22002/Tenaris.Manager.Handshake.HandshakeManager.soap" forumPresent="false" isTargetManager="true"/>
    </Redundancy>
  </Tenaris.Manager.Handshake.HandshakeManager>

  <!--Command manager configuration-->
  <Tenaris.Manager.Command.CommandManager instanceType="Tenaris.Manager.Command.Shared.ICommandManager, Tenaris.Manager.Command.Shared" aliveInterval="5000" singleInstance="true" validateConnection="false">
    <Redundancy>
      <Address url="tcp://TNACAWFM198.tnsautoca.techint.net:22003/Tenaris.Manager.Command.soap" forumPresent="false" isTargetManager="true"/>
    </Redundancy>
  </Tenaris.Manager.Command.CommandManager>

  <!-- Tracking manager configuration -->
  <Tenaris.Manager.Tracking.TrackingManager instanceType="Tenaris.Manager.Tracking.Shared.ITrackingManager, Tenaris.Manager.Tracking.Shared" aliveInterval="5000" singleInstance="true" validateConnection="false">
    <Redundancy>
      <Address url="tcp://TNACAWFM198.tnsautoca.techint.net:22005/TrackingManager.soap" forumPresent="false" isTargetManager="true"/>
    </Redundancy>
  </Tenaris.Manager.Tracking.TrackingManager>

  <!-- Shift manager configuration-->
  <Tenaris.Manager.Shift
    instanceType="Tenaris.Manager.Shift.Shared.IShiftManager, Tenaris.Manager.Shift.Shared"
    aliveInterval="5000"
    singleInstance="true"
    validateConnection="false">
    <Redundancy>
      <Address url="tcp://TNACAWFM198.tnsautoca.techint.net:8003/ShiftManager.soap" forumPresent="false" isTargetManager="true"/>
    </Redundancy>
  </Tenaris.Manager.Shift>

  <!-- Acquisition Configuration section OPL Scada -->

  <Tamsa.OPLScada factoryType="Tamsa.OplScada.AcquisitionClient.AcquisitionFactory, Tamsa.OplScada.AcquisitionClient">
    <AcquisitionConfiguration Driver="Tamsa.OplScada.AcquisitionClient.AcquisitionProxy, Tamsa.OplScada.AcquisitionClient"	IP="localhost" Port="22000" Timeout="3000" RepeatCount="3" WriteSync="true"/>
  </Tamsa.OPLScada>

  <AcquisitionConfiguration factoryType="Tamsa.OplScada.AcquisitionClient.AcquisitionFactory, Tamsa.OplScada.AcquisitionClient">
    <AcquisitionConfiguration
      Driver="Tamsa.OplScada.AcquisitionClient.AcquisitionProxy, Tamsa.OplScada.AcquisitionClient"
      IP="localhost"
      Port="22000"
      Timeout="3000"
      RepeatCount="3"
      WriteSync="true"/>
  </AcquisitionConfiguration>

  <!--<AcquisitionConfiguration factoryType="Tamsa.OplScada.AcquisitionClient.AcquisitionFactory, Tamsa.OplScada.AcquisitionClient">
    <AcquisitionConfiguration
		Driver="Tamsa.OplScada.AcquisitionClient.AcquisitionProxy, Tamsa.OplScada.AcquisitionClient"
		IP="10.93.1.40" Port="21000"  Timeout="3000" RepeatCount="3" WriteSync="true" />
  </AcquisitionConfiguration>-->

  <!--<TrackingExtDAL factoryType="Tenaris.Tamsa.Dopeless.Manager.ExternalIdentification.Dal.DopelessDalFactory, Tenaris.Tamsa.Dopeless.Manager.ExternalIdentification.Host.V1">
    <Configuration connectionStringName="Level2_Linea1" />
  </TrackingExtDAL>-->


  <log
	  maxFileSize="8096"
	  maxFileCount="100"
	  msgFormat="{Timestamp:yyyy-MM-dd HH:mm:ss.fff} {ThreadId,-5:d5} {IdentString} {Message}"
	  logLevel="Debug"
	  traceAttributeLogEnabled="true"
	  path="..\..\..\Logs\Manager\ExternalIdentificationManager\"
	  logBaseName="ExternalIdentificationManagerL2"
	  additionalLogDestination="Console"
	  logAssemblyLoad="true"
  />

  <system.runtime.remoting>
    <customErrors mode="off" />
    <application name="Server">
      <channels>
        <channel ref="tcp" port="55555">
          <clientProviders>
            <provider type="Tenaris.Library.Proxy.Remoting.ClientRemotingInterceptorProvider, Tenaris.Library.Proxy" />
            <formatter ref="binary" typeFilterLevel="Full" />
          </clientProviders>
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full" />
            <!--<provider type="Tenaris.Library.Proxy.Remoting.ServerRemotingInterceptorProvider, Tenaris.Library.Proxy" />-->
          </serverProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>