<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="ConfigReports" type="ProductionHistory.Configuration.ConfigReportsSection, ProductionHistory" />
  </configSections>
  <appSettings>
    <!--<add key="Line" value="Tubing"/>-->
    <add key="Line" value="AMA22" />
    <add key="SPSumarized" value="TT31" />
    <!--<add key="SPMasterProduction" value="GetMasterProductionReport"/>-->
    <add key="SPDetailProduction" value="GetDetailProductionReport" />
    <add key="DefaultReportNumber" value="0" />
    <add key="IdArea" value="1" />
    <add key="Language" value="MX" />
    <add key="StencilMachineID" value="4" />
    <!--<add key ="GetProductionReportMaster" value="ProductionHTR.GetProductionReportMaster"/>-->
    <add key="GetProductionReportMaster" value="[Ndt_Report].[GetProductionReportMaster]" />
    <add key="GetReports" value="[Ndt_Report].[GetDefectInfoUser]" />
    <add key="ReportsHeader" value="[Ndt_Report].[ReportGetDefectHeaderData] " />
    <!--SP NDT-->
  </appSettings>
  <connectionStrings>
    <!--<add name="SQLUser" connectionString="Data Source=10.92.23.100;Failover Partner=10.92.23.101;Initial Catalog=Level2_Ajuste;Integrated Security=SSPI;Persist Security Info=True;MultipleActiveResultSets=True; Asynchronous Processing=true; Application Name=WebReport3T; Pooling=true; Max Pool Size=300;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="SQLUser" connectionString="Data Source=10.92.23.111;Failover Partner=10.92.23.112;Initial Catalog=Level2_Tubing;Integrated Security=SSPI;Persist Security Info=True;MultipleActiveResultSets=True; Asynchronous Processing=true; Application Name=WebReport3T; Pooling=true; Max Pool Size=300;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="SQLUser" connectionString="Data Source=10.92.24.100;Failover Partner=10.92.24.101;Initial Catalog=Level2_Casing;Integrated Security=SSPI;Persist Security Info=True;MultipleActiveResultSets=True; Asynchronous Processing=true; Application Name=WebReport3T; Pooling=true; Max Pool Size=300;" providerName="System.Data.SqlClient"/>-->
    <add name="SQLUser" connectionString="Data Source=172.29.12.162;Initial Catalog=L2Am22_Amalog22;User ID=sa;Password=Tamsa3UT33;Persist Security Info=True;MultipleActiveResultSets=True; Asynchronous Processing=true; Application Name=WebReport3T; Pooling=true; Max Pool Size=300;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--<ConfigReports Line="Ajuste" IdArea="1">
    <Machines>
      <Machine Idmachine="5" CodeMachine="TMTbND6_NDT" Name="CND">
        <Reports>          
          <Report idReport="1" ForceOp ="false" ForceHeat="false" Descripcion="Reporte de Defectuocidad"  StoreProcedure ="[Ndt].[ReportGetDefectInfo]" SPHeader="[Ndt].[ReportGetDefectHeaderData]" File ="ExcelReport_ReportGetDefectInfo.xls"/>
        </Reports>        
      </Machine>
    </Machines>    
  </ConfigReports>-->
  <!--<ConfigReports Line="Tubing" IdArea="2">
    <Machines>
      -->
  <!--<Machine Idmachine="29" CodeMachine="TMTbFn6_NDT" Name="CND">
        <Reports>          
          <Report idReport="1" ForceOp ="false" ForceHeat="false" Descripcion="Reporte de Defectuocidad" StoreProcedure ="[Ndt].[ReportGetDefectInfo]" SPHeader="[Ndt].[ReportGetDefectHeaderData]" File ="ExcelReport_ReportGetDefectInfo.xls"/>
        </Reports>
      </Machine>-->
  <!--
      <Machine Idmachine="34" CodeMachine="TMTbFn6_THRBOXVDI" Name="VDIBOX">
        <Reports>
          <Report idReport="1" ForceOp ="true" ForceHeat="false" Descripcion="Reporte de Inspección VDI"                StoreProcedure ="[Vdi].[Report_Dimensional]"            SPHeader="[Vdi].[GetOrderData]" File ="ExcelReport_VDIInspection.xls"/>
          <Report idReport="2" ForceOp ="true" ForceHeat="false" Descripcion="Reporte de Inspección de Roscado MANU-F3" StoreProcedure ="[Vdi].[Report_InspectionOfThreaded]"   SPHeader="[Vdi].[GetOrderData]" File ="ExcelReport_ReporteInspeccionRoscado.xls"/>
          <Report idReport="3" ForceOp ="true" ForceHeat="false" Descripcion="Reporte de Inspección Dimencional"        StoreProcedure ="[Vdi].[Report_InspectionDimensional]"  SPHeader="[Vdi].[GetOrderData]" File ="ExcelReport_ReporteInspeccionDimensional.xls"/>
        </Reports>
      </Machine>
      <Machine Idmachine="45" CodeMachine="TMTbFn6_THRPINVDI" Name="VDIPIN">
        <Reports>
          <Report idReport="1" ForceOp ="true" ForceHeat="false" Descripcion="Reporte de Inspección VDI"                StoreProcedure ="[Vdi].[Report_Dimensional]"            SPHeader="[Vdi].[GetOrderData]" File ="ExcelReport_VDIInspection.xls"/>
          <Report idReport="2" ForceOp ="true" ForceHeat="false" Descripcion="Reporte de Inspección de Roscado MANU-F3" StoreProcedure ="[Vdi].[Report_InspectionOfThreaded]"   SPHeader="[Vdi].[GetOrderData]" File ="ExcelReport_ReporteInspeccionRoscado.xls"/>
          <Report idReport="3" ForceOp ="true" ForceHeat="false" Descripcion="Reporte de Inspección Dimencional"        StoreProcedure ="[Vdi].[Report_InspectionDimensional]"  SPHeader="[Vdi].[GetOrderData]" File ="ExcelReport_ReporteInspeccionDimensional.xls"/>
        </Reports>
      </Machine>
    </Machines>
  </ConfigReports>-->
  <ConfigReports Line="Casing" IdArea="2">
    <Machines>
      <Machine Idmachine="29" CodeMachine="TMTbFn6_NDT" Name="CND">
        <Reports>
          <Report idReport="1" ForceOp="false" ForceHeat="false" Descripcion="Reporte de Defectuosidad" StoreProcedure="[Ndt].[ReportGetDefectInfo]" SPHeader="[Ndt].[ReportGetDefectHeaderData]" File="ExcelReport_ReportGetDefectInfo.xls" />
        </Reports>
      </Machine>
      <!--<Machine Idmachine="34" CodeMachine="TMTbFn5_THRBOXVDI" Name="VDIBOX">
        <Reports>
          <Report idReport="1" ForceOp ="true" ForceHeat="false" Descripcion="Reporte de Inspección VDI"                StoreProcedure ="[Vdi].[Report_Dimensional]"            SPHeader="[Vdi].[GetOrderData]" File ="ExcelReport_VDIInspection.xls"/>
          <Report idReport="2" ForceOp ="true" ForceHeat="false" Descripcion="FOR08340 Reporte de Inspección de Roscado MANU-F3" StoreProcedure ="[Vdi].[Report_InspectionOfThreaded]"   SPHeader="[Vdi].[GetOrderData]" File ="ExcelReport_ReporteInspeccionRoscado.xls"/>
          <Report idReport="3" ForceOp ="true" ForceHeat="false" Descripcion="FOR08339 Reporte de Inspección Dimensional"        StoreProcedure ="[Vdi].[Report_InspectionDimensional]"  SPHeader="[Vdi].[GetOrderData]" File ="ExcelReport_ReporteInspeccionDimensional.xls"/>
        </Reports>
      </Machine>
      <Machine Idmachine="45" CodeMachine="TMTbFn5_THRPINVDI" Name="VDIPIN">
        <Reports>
          <Report idReport="1" ForceOp ="true" ForceHeat="false" Descripcion="Reporte de Inspección VDI"                StoreProcedure ="[Vdi].[Report_Dimensional]"            SPHeader="[Vdi].[GetOrderData]" File ="ExcelReport_VDIInspection.xls"/>
          <Report idReport="2" ForceOp ="true" ForceHeat="false" Descripcion="FOR08340 Reporte de Inspección de Roscado MANU-F3" StoreProcedure ="[Vdi].[Report_InspectionOfThreaded]"   SPHeader="[Vdi].[GetOrderData]" File ="ExcelReport_ReporteInspeccionRoscado.xls"/>
          <Report idReport="3" ForceOp ="true" ForceHeat="false" Descripcion="FOR08339 Reporte de Inspección Dimensional"        StoreProcedure ="[Vdi].[Report_InspectionDimensional]"  SPHeader="[Vdi].[GetOrderData]" File ="ExcelReport_ReporteInspeccionDimensional.xls"/>
        </Reports>
      </Machine>-->
    </Machines>
  </ConfigReports>
  <system.web>
    <compilation defaultLanguage="vb" targetFramework="4.0" />
    <authentication mode="Windows">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
        <defaultDocument>
            <files>
                <add value="DetailReport.aspx" />
            </files>
        </defaultDocument>
  </system.webServer>
</configuration>