<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="log" type="Tenaris.Library.Log.LogConfiguration, Tenaris.Library.Log"/>
    <section name="ViewConfiguration" type="Tamsa.ExternalIdentification.OperativeInterfaceView.Shared.ViewConfiguration,Tamsa.ExternalIdentification.OperativeInterfaceView.Shared"/>
  </configSections>

   <appSettings>
    <!--<add key="wcfOperativeInterface" value="net.tcp://10.92.9.230:10999/ExternalIdentification/OperativeInterface"/>-->
    <!--<add key="wcfOperativeInterface" value="net.tcp://10.93.1.75:10999/ExternalIdentification/OperativeInterface"/>-->
    <add key="wcfOperativeInterface" value="net.tcp://10.93.1.40:10999/ExternalIdentification/OperativeInterface"/>
    <add key="dbConnection" value="Level2_Linea1"/>
    <add key="title" value="Pantalla Operativa Identificacion Externa BME21"/>
  </appSettings>

  <connectionStrings>
    <add name="dbTest"
         connectionString="Data Source=10.92.9.169;Initial Catalog=Level2_Linea1;User ID=MLeos;Password=auto;Persist Security Info=true;MultipleActiveResultSets=true; Asynchronous Processing=true; Application Name=operativeReportView_ExternalIdentification; Pooling=true; Max Pool Size=300;"
         providerName="System.Data.SqlClient"/>
    <add name="Level2_Linea1"
         connectionString="Data Source=10.93.1.87;Initial Catalog=Level2_Linea1;User ID=MLeos;Password=auto;Persist Security Info=true;MultipleActiveResultSets=true; Asynchronous Processing=true; Application Name=operativeReportView_ExternalIdentification; Pooling=true; Max Pool Size=300;"
         providerName="System.Data.SqlClient"/>
    <add name="Level2_Linea2"
         connectionString="Data Source=10.93.1.85;Initial Catalog=Level2_Linea2;User ID=URFID;Password=auto;Persist Security Info=true;MultipleActiveResultSets=true; Asynchronous Processing=true; Application Name=operativeReportView_ExternalIdentification; Pooling=true; Max Pool Size=300;"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <ViewConfiguration
    ShowTenarisTitle="true"
    AppTitle="Pantalla Operativa Identificacion Externa BME 21"
    HostConection="net.tcp://10.93.1.40:10999/ExternalIdentification/OperativeInterface"
    DBLevel2="dbTest"
    >
  </ViewConfiguration>

 <log
	  maxFileSize="8096"
	  maxFileCount="10"
	  msgFormat="{Timestamp:yyyy-MM-dd HH:mm:ss.fff} {ThreadId,-5:d5} {IdentString} {Message}"
	  logLevel="Debug"
	  traceAttributeLogEnabled="true"
	  path="C:\Appls\Tenaris\Views\ExternalIdentificationOperativeView_Calib\Logs\"
	  logBaseName="OperativeInterfaceViewL1"	  
	  logAssemblyLoad="false"
	/>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
