<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="SynchronyFAT2Manager" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework"/>
    <section name="ManagerBaseConfiguration" type="Tenaris.Manager.Forum.Shared.Configuration.ManagerBaseConfiguration, Tenaris.Manager.Forum.Shared"/>
    <section name="SynchronyFAT2Configuration" type="Tenaris.Manager.SynchronyFAT2.Configuration.SynchronyFAT2Configuration, Tenaris.Manager.SynchronyFAT2"/>
    <section name="AmalogConfiguration" type="Tenaris.Manager.SynchronyFAT2.Configuration.Amalog.AmalogConfiguration, Tenaris.Manager.SynchronyFAT2"/>
    <section name="PHConfiguration" type="Tenaris.Manager.SynchronyFAT2.Configuration.PH.PHConfiguration, Tenaris.Manager.SynchronyFAT2"/>
    <section name="MachinesConfiguration" type="Tenaris.Manager.SynchronyFAT2.Configuration.Common.MachinesConfiguration, Tenaris.Manager.SynchronyFAT2"/>
    <section name="ThreadersConfiguration" type="Tenaris.Manager.SynchronyFAT2.Configuration.Threader.ThreadersConfiguration, Tenaris.Manager.SynchronyFAT2"/>
    <section name="AcquisitionConfiguration" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework"/>
    <section name="log" type="Tenaris.Library.Log.LogConfiguration, Tenaris.Library.Log"/>
  </configSections>
  <connectionStrings>
    <!--Tracking Line1 or Line2-->
    <add name="Level2L1" connectionString="Application Name=SynchronyFAT2Manager;Data Source=TNATFT2PRDLSN.tnsautoca.techint.net,5040;Initial Catalog=L1Trk;Integrated Security=SSPI;Persist Security Info=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
    <add name="Level2L2" connectionString="Application Name=SynchronyFAT2Manager;Data Source=TNATFT2PRDLSN.tnsautoca.techint.net,5040;Initial Catalog=L2Trk;Integrated Security=SSPI;Persist Security Info=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>

    <!--Amalog21, RX23, RX24-->
    <!-- <add name="DBLine1" connectionString="Application Name=SynchronyFAT2ManagerL1;Data Source=10.93.1.84;Initial Catalog=DBLINE1;User ID=sa;Password=Lineas123;Persist Security Info=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/> -->

    <!--Amalog22-->
    <!--<add name="Amalog22" connectionString="Application Name=SynchronyFAT2ManagerAmalog;Data Source=TAMD00039321\MSSQLSERVER2008;Initial Catalog=Level2_Line2_20151102;User ID=sa;Password=lineas123;Persist Security Info=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="Amalog22" connectionString="Application Name=SynchronyFAT2ManagerAmalog;Timeout=30; Data Source=10.93.1.108;Failover Partner=10.93.1.109;Initial Catalog=Level2_Line2;User ID=Level2;Password=123level2123;Persist Security Info=True;MultipleActiveResultSets=True; Asynchronous Processing=false; Pooling=true; Max Pool Size=300;" providerName="System.Data.SqlClient"/>-->
	<add name="Amalog22" connectionString="Application Name=SynchronyFAT2ManagerAmalog;Timeout=30; Data Source=TNATFT2PRDLSN.tnsautoca.techint.net,5040;Initial Catalog=L2Am22;Integrated Security=SSPI;Persist Security Info=True;MultipleActiveResultSets=True; Asynchronous Processing=false; Pooling=true; Max Pool Size=300;" providerName="System.Data.SqlClient"/>

    <!--RX23, RX24-->
    <!--<add name="DBLine2" connectionString="Application Name=SynchronyFAT2ManagerDbLine2;Data Source=SVR_BKG_LINE1\SQLEXPRESS;Initial Catalog=DBLINE1_20150416;User ID=sa;Password=Lineas123;Persist Security Info=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>-->
    <add name="DBLine2" connectionString="Application Name=SynchronyFAT2ManagerDbLine2;Data Source=10.93.1.94;Initial Catalog=DbLine2;User ID=sa;Password=Lineas123;Persist Security Info=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>

    <!--PH21-->
    <!-- <add name="OracleLinea1" connectionString="User Id=linea1;Password=lineas;Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=172.29.10.162)(PORT=1521))(CONNECT_DATA=(SID=DBLINEA1)));"/> -->

    <!--PH22-->
    <add name="OracleLinea2" connectionString="User Id=linea2;Password=lineas;Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.93.1.92)(PORT=1521))(CONNECT_DATA=(SID=DBLINEA2)));"/>

  </connectionStrings>

  <SynchronyFAT2Manager 
    factoryType="Tenaris.Manager.SynchronyFAT2.Factory.SynchronyFAT2Factory, Tenaris.Manager.SynchronyFAT2" 
    isSingleton="True" 
    sectionName="ManagerBaseConfiguration"/>

  <!--Line1 or Line2-->
  <ManagerBaseConfiguration areaCode="LINEA2" defaultConnectionStringName="Level2L2"/>
  <!--<ManagerBaseConfiguration areaCode="LINEA1" defaultConnectionStringName="Level2L1"/>-->

  <!--
    AppName="SynchronyFAT2Manager" Application Name
    Line="Line1" Line1 or Line2
    Time="2" Time in minutes
  -->
  <SynchronyFAT2Configuration AppName="SynchronyFAT2Manager" Line="Line2" Time="1" MaxAttempts="3"/>
  <!--<SynchronyFAT2Configuration AppName="SynchronyFAT2Manager" Line="Line1" Time="1" MaxAttempts="15"/>-->

  <!--Amalog22 Configuration-->
  <AmalogConfiguration
    Checkpoint="AM22"
    MachineIT="AM22"
    System="LIN"
    Print="false"
    Printer="BABI"
    Location="CUNA22"
    ReportProduction="true"
    ReportForcedProduction="false"
    ReportCuts="true"
    ReportEmery="true"
    ReportDiscard="true"
    ReportReprocess="true"
    ConnectionString="Amalog22"
	  DbCommandTimeout="80"
    SortOrder="1"
    />

  <!--Amalog21 Configuration-->
  <!--<AmalogConfiguration
    Checkpoint="AM21"
    MachineIT="AM21"
    System="LIN"
    Print="false"
    Printer="BABI"
	  Location="CUNA21"
    ReportProduction="true"
    ReportForcedProduction="true"
    ReportCuts="true"
    ReportEmery="true"
    ReportDiscard="true"
    ReportReprocess="true"
    ConnectionString="DBLine1"
	  DbCommandTimeout="40"
    SortOrder="1"
    UseDefaultUser="false"
    DefaultUser="FAT2L1"
    />-->

  <!--PH22 Configuration-->
  <PHConfiguration
    Checkpoint="OPH22"
    MachineIT="OPH22"
    ConnectionString="OracleLinea2"
    SortOrder="2"
    />

  <!--PH21 Configuration-->
  <!--<PHConfiguration
    Checkpoint="OPH21"
    MachineIT="OPH21"
    ConnectionString="OracleLinea1"
    SortOrder="2"
    UseDefaultUser="true"
    DefaultUser="1584"
    />-->

  <!--Roscado L2 Configuration-->
  <ThreadersConfiguration>
    <Threaders>
      <add Checkpoint="IR23" MachineIT="IR23" MachineCode="RX23" ConnectionString="DbLine2" SortOrder="3"/>
      <add Checkpoint="RX24" MachineIT="RX24" MachineCode="RX24" ConnectionString="DbLine2" SortOrder="5"/>
    </Threaders>
  </ThreadersConfiguration>

  <!--Roscado L2 Configuration-->
  <!--<ThreadersConfiguration>
    <Threaders>
      <add Checkpoint="RX21" MachineIT="RX21" MachineCode="RX21" ConnectionString="DBLine1" SortOrder="3" />
      <add Checkpoint="RX22" MachineIT="RX22" MachineCode="RX22" ConnectionString="DBLine1" SortOrder="5"/>
    </Threaders>
  </ThreadersConfiguration>-->

  <!--SEA-PAC L2 Configuration-->
  <MachinesConfiguration>
    <Machines>
      <add Checkpoint="SE23" MachineIT="SE23" MachineCode="L2_SEA23" ReportProduction="false" ReportDiscard="true" SortOrder="4" />
      <add Checkpoint="SE24" MachineIT="SE24" MachineCode="L2_SEA24" ReportProduction="false" ReportDiscard="true" SortOrder="6"/>
      <add Checkpoint="PA22" MachineIT="PA22" MachineCode="L2_PAC" ReportProduction="false" ReportDiscard="true" SortOrder="7"/>
    </Machines>
  </MachinesConfiguration>

  <!--SEA-PAC L1 Configuration-->
  <!--<MachinesConfiguration>
    <Machines>
      <add Checkpoint="L1_SEA21" MachineIT="L1_SEA21" MachineCode="L1_SEA21" ReportProduction="false" ReportDiscard="true" SortOrder="4" />
      <add Checkpoint="L1_SEA22" MachineIT="L1_SEA22" MachineCode="L1_SEA22" ReportProduction="false" ReportDiscard="true" SortOrder="6"/>
      <add Checkpoint="L1_PAC1" MachineIT="L1_PAC1" MachineCode="L1_PAC1" ReportProduction="false" ReportDiscard="true" SortOrder="7"/>
    </Machines>
  </MachinesConfiguration>-->
  
  <!--Remoting configuration. This can be placed in a separate file named remoting.config-->
  <system.runtime.remoting>
    <application name="Server">
      <channels>
        <channel ref="tcp" port="50100">
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </serverProviders>
          <clientProviders>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </clientProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>

  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="RoleEndPoint">
          <reliableSession inactivityTimeout="00:01:00" enabled="true" />
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_IOrderReplicatorService" closeTimeout="00:10:00"
                    openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://TNACAWWS195.tnsautoca.techint.net:33333/ITService" binding="netTcpBinding"
          bindingConfiguration="RoleEndPoint" contract="ITServices.ITService"
          name="RoleEndPoint">
        <identity>
          <dns value="TNACAWWS194.tnsautoca.techint.net" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://TNACAWfm194.tnsautoca.techint.net:8737/OrderReplicatorService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IOrderReplicatorService"
                contract="OrderReplicatorService.IOrderReplicatorService"
                name="NetTcpBinding_IOrderReplicatorService" />
    </client>
  </system.serviceModel>

  <log
    maxFileSize="10240"
  	maxFileCount="10"
    msgFormat="{Timestamp:HH:mm.ss.fff} ; {Level,-7} ; {Message} ; {MethodName}"
    logLevel="Debug"
    traceAttributeLogEnabled="false"
    logBaseName="SynchronyFAT2Manager"
    additionalLogDestination="Console" path="..\..\..\Logs\Manager\SynchronyFAT2Manager\"/>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
