<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="EmailConfiguration" type="Tenaris.Tamsa.SendMail.Common.EmailConfiguration, Tenaris.Tamsa.SendMail.Common" />
    <section name="log" type="Tenaris.Library.Log.LogConfiguration, Tenaris.Library.Log" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <connectionStrings>
    <add name="dbLevel2" connectionString="Data Source=10.93.1.85; Initial Catalog=Level2_Linea2; User ID=level2; Password=123level2123; Application Name=ProccesEmailBME22; MultipleActiveResultSets=true; Asynchronous Processing=true;Max Pool Size=300; Pooling=true;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <EmailConfiguration timeSend="13:30" scanTime="29" mailServer="10.92.9.152" mailPort="28"
                      mailFrom="tambal2@tamsa.com.mx"
                      isOracle="false"
                      isSendMailIfNoData="true"
                      messageIfNoData="BME22 - La tuberia procesada no requiere Tracking Externo"
                      messageWithData="Detalle de Eficiencia en BME22, Fecha: {0}"
                      includeTablesInMail="true"
                      technologiesTogetherInMail="true"
                      templateHeaderCodeKey="TagFlagOn">
    <EmailsGrops>
      <add group="grup0" nameSP="GetEfficiencyInformationFailures" eMails="scarrilloh@proveedores.tamsa.com.mx"/>
      <!--<add group="grup0" nameSP="GetEfficiencyInformationFailures" eMails="rubetancourt@tamsa.com.mx; scarrilloh@proveedores.tamsa.com.mx"/>-->
      <!--<add group="grup0" nameSP="GetEfficiencyInformationFailures" eMails="jasanchez@tamsa.com.mx; rubetancourt@tamsa.com.mx; MGARCIAORTIZ@proveedores.tamsa.com.mx; SCARRILLOH@proveedores.tamsa.com.mx "/>-->
      <!--<add group="grup0" nameSP="GetEfficiencyInformationFailures" eMails="gguevara@tenaris.com; abarradas@tamsa.com.mx; jasanchez@tamsa.com.mx; fcadena@tenaris.com; mcadena@tamsa.com.mx; jmeza@tamsa.com.mx; wperrotin@tenaris.com; rubetancourt@tamsa.com.mx; wquesada@tenaris.com; MGARCIAORTIZ@proveedores.tamsa.com.mx; SCARRILLOH@proveedores.tamsa.com.mx; EHERNANDEZ2@tenaris.com; DORTIZ@proveedores.tamsa.com.mx; dsolanojose@gmail.com "/>-->
    </EmailsGrops>

    <StoredProceduresSQL>
      <add code="GetEfficiencyInformationFailures" name="[ExternalIdentification].[GetEfficiencyInformationFailures]"/>
    </StoredProceduresSQL>

    <!-- Los grupos del TemplateHeader son los datos enlistados que precederan a todas las tablas -->
    <TemplateHeader>
      <!-- Los code Title y Subtitle siempre deben de existir. NO se obtienen desde el StoredProcedure -->
      <add group="h1"  code="Title"            description="REPORTE DE EFICIENCIA"/>
      <add group="h3"  code="Subtitle"         description="TRACKING EXTERNO FAT 2"/>

      <!-- 
            Los siguientes elementos son ya los personalizados que obtenemos desde el StoredProcedure 
            El valor del group sera el Tag HTML en el que sera envuelto el valor
            Se sugiere ocupar "b" para mostrarlo en negritas.
      -->
      <add group="b"  code="Station"           description="Estacion"/>
      <add group="b"  code="Date"              description="Fecha"/>
      <add group="b"  code="Shift"             description="Turno"/>
      <add group="b"  code="TotalPipes"        description="Total de Tubos" visible="false"/>
      <add group="b"  code="TrackingEditions"  description="Ediciones de Tracking" visible="false"/>
      <add group="b"  code="TagFlagOff"        description="TagFlagOff" visible="false"/>
      <add group="b"  code="TagFlagOn"         description="Tubos que llevan RFID" visible="false"/>
      <add group="b"  code="FlagEnabledOff"    description="FlagEnabledOff" visible="false"/>
      <add group="b"  code="FlagEnabledOn"     description="FlagEnabledOn" visible="false"/>
    </TemplateHeader>


    <!-- 
          Los grupos del TemplateBase representan cada tabla detalle que va a generar el reporte 
          y seran condensados sus valores de eficiencia en una sola tabla, 
          arriba de las tablas detalle de cada grupo
    -->
    <TemplateBase>
      <!-- El grupo Generic sirve para asociarle campos en comun al resto de los grupos en en Template Report -->
      <add group="Generic"      code="Generic"      description="Eficiencias"/>

      <!-- El grupo Single sirve para mostrar campos singulares en la tabla principal que no tienen relacion especifica con ningun grupo -->
      <add group="Single"       code="TagFlagOn"    fontColor="#FFFFFF"    backgroundColor="#333333"    description="Tubos"/>

      <add group="PrinterBox"   code="PrinterBox"   fontColor="#FFFFFF"    backgroundColor="#CC0066"    description="2D Box"/>
      <add group="PrinterPin"   code="PrinterPin"   fontColor="#FFFFFF"    backgroundColor="#660066"    description="2D Pin" visible="false"/>
      <add group="RfidBox"      code="Box"          fontColor="#FFFFFF"    backgroundColor="#009900"    description="RFID Box"/>
      <add group="RfidPin"      code="Pin"          fontColor="#FFFFFF"    backgroundColor="#000099"    description="RFID Pin"/>
      <add group="PaintRings"   code="PaintRings"   fontColor="#FFFFFF"    backgroundColor="#000000"    description="Body DM Radial"/>
    </TemplateBase>


    <!-- Los grupos de TemplateReport deben coincidir con los del TemplateBase -->
    <TemplateReport>

      <!-- 
          El grupo Generic en el TemplateRecord va a contener los campos en comun que van a tener todos los demas grupos del TemplateBase 
          
          NOTA: La busqueda que se hara en el StoredProcedure para los campos genericos, 
          se hara concatenando el code de los elementos de los grupos diferentes a Generic del Templatebase
          con el code de los elementos de los grupos iguales a Generic en el TemplateReport
      -->

      <add group="Generic"      code="Enabled"                        fontColor="#FFFFFF"    backgroundColor="#000099"  description="Habilitado"/>
      <add group="Generic"      code="Disabled"                       fontColor="#FFFFFF"    backgroundColor="#000099"  description="Deshabilitado"/>
      <add group="Generic"      code="Empty"                          fontColor="#FFFFFF"    backgroundColor="#000099"  description="Vacio"/>
      <add group="Generic"      code="Efficency"                      fontColor="#FFFFFF"    backgroundColor="#009900"  description="Eficiencia"/>
      <add group="Generic"      code="StatusOk"                       fontColor="#FFFFFF"    backgroundColor="#CC0066"  description="Ok"/>
      <add group="Generic"      code="StatusNoOk"                     fontColor="#FFFFFF"    backgroundColor="#CC0066"  description="No Ok"/>
      <add group="Generic"      code="Nulls"                          fontColor="#FFFFFF"    backgroundColor="#CC0066"  description="Vacio" visible="false"/>
      <add group="Generic"      code="Failures"                       fontColor="#FFFFFF"    backgroundColor="#333333"  description="Fallas" visible="false"/>

      <!-- Cualquier grupo que no sea Generic en el TemplateReoprt definira en su code el campo especifico que sera agregado justo despues de los campos genericos -->

      <add group="PrinterBox"   code="PrinterBoxPrinterSystem"        fontColor="#FFFFFF"    backgroundColor="#000000"  description="Sistema de Etiquetadora"/>
      <add group="PrinterBox"   code="PrinterBoxIgnorePipe"           fontColor="#FFFFFF"    backgroundColor="#000000"  description="Ignorado en Reporte"/>

      <add group="RfidBox"      code="BoxCouldNotWrite"               fontColor="#FFFFFF"    backgroundColor="#000000"  description="Problema en Escritura"/>
      <add group="RfidBox"      code="BoxNoTagDetected"               fontColor="#FFFFFF"    backgroundColor="#000000"  description="Tag no detectado"/>
      <add group="RfidBox"      code="BoxOneTagDetected"              fontColor="#FFFFFF"    backgroundColor="#000000"  description="Un Tag detectado"/>
      <add group="RfidBox"      code="BoxGeneralSystem"               fontColor="#FFFFFF"    backgroundColor="#000000"  description="Error del Sistema"/>
      <add group="RfidBox"      code="BoxRfidSystem"                  fontColor="#FFFFFF"    backgroundColor="#000000"  description="Error del RFID"/>
      <add group="RfidBox"      code="BoxIgnorePipe"                  fontColor="#FFFFFF"    backgroundColor="#000000"  description="Ignorado en Reporte"/>
      <add group="RfidBox"      code="BoxReadPartial"                 fontColor="#FFFFFF"    backgroundColor="#000000"  description="Lectura Parcial"/>
      <add group="RfidBox"      code="BoxConnection"                  fontColor="#FFFFFF"    backgroundColor="#000000"  description="Conectividad"/>

      <add group="RfidPin"      code="PinCouldNotWrite"               fontColor="#FFFFFF"    backgroundColor="#000000"  description="Problema en Escritura"/>
      <add group="RfidPin"      code="PinNoTagDetected"               fontColor="#FFFFFF"    backgroundColor="#000000"  description="Tag no detectado"/>
      <add group="RfidPin"      code="PinOneTagDetected"              fontColor="#FFFFFF"    backgroundColor="#000000"  description="Un Tag detectado"/>
      <add group="RfidPin"      code="PinGeneralSystem"               fontColor="#FFFFFF"    backgroundColor="#000000"  description="Error del Sistema"/>
      <add group="RfidPin"      code="PinRfidSystem"                  fontColor="#FFFFFF"    backgroundColor="#000000"  description="Error del RFID"/>
      <add group="RfidPin"      code="PinIgnorePipe"                  fontColor="#FFFFFF"    backgroundColor="#000000"  description="Ignorado en Reporte"/>
      <add group="RfidPin"      code="PinReadPartial"                 fontColor="#FFFFFF"    backgroundColor="#000000"  description="Lectura Parcial"/>
      <add group="RfidPin"      code="PinTagWriteOtherAntenna"        fontColor="#FFFFFF"    backgroundColor="#000000"  description="Escitura en Otra Antena"/>

      <add group="PaintRings"   code="PipesNotReaded"                 fontColor="#FFFFFF"    backgroundColor="#000000"  description="Tubos no validados"/>
      <add group="PaintRings"   code="CannotRead"                     fontColor="#FFFFFF"    backgroundColor="#000000"  description="No fue posible leer ningun DM"/>
      <add group="PaintRings"   code="NotMatchesURC"                  fontColor="#FFFFFF"    backgroundColor="#000000"  description="URC Leido no coincide con el de la BD"/>
      <add group="PaintRings"   code="PipesEmptyURC_BD"               fontColor="#FFFFFF"    backgroundColor="#000000"  description="URC Vacios"/>
      <add group="PaintRings"   code="PipesEmptyURC_N2"               fontColor="#FFFFFF"    backgroundColor="#000000"  description="URC Vacios (N2)" visible="false"/>
      <add group="PaintRings"   code="NoneReadsButNonEmptyURC"        fontColor="#FFFFFF"    backgroundColor="#000000"  description="Camara no leyo DM, pero URC tiene valor"/>

    </TemplateReport>

  </EmailConfiguration>

  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="ALL" />
        <param name="LevelMax" value="OFF" />
      </filter>
      <layout type="log4net.Layout.PatternLayout">
      </layout>
    </appender>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="ALL" />
        <param name="LevelMax" value="OFF" />
      </filter>
      <param name="DatePattern" value="'.'yyyyMMdd'.log' " />
      <param name="File" value="D:\Data\Logs\PorcessEMail\PorcessEMail" />
      <param name="AppendToFile" value="false" />
      <param name="rollingStyle" value="Composite" />
      <param name="maxSizeRollBackups" value="10" />
      <param name="maximumFileSize" value="10MB" />
      <param name="staticLogFileName" value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[BEGIN %date{yyyy-MM-dd HH:mm} ===] %newline" type="log4net.Util.PatternString" />
        <param name="Footer" value="[END %date{yyyy-MM-dd HH:mm} =====]" type="log4net.Util.PatternString" />
      </layout>
    </appender>
    <root>
      <appender-ref ref="LogFileAppender" />
      <appender-ref ref="ConsoleAppender" />
    </root>
  </log4net>

  <log maxQueueSize="10000" dumpStack="true" msgFormat="{Timestamp:yyyy-MM-dd HH:mm:ss}: {Message}" />

</configuration>