<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="BusinessRulesManager" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>
    <section name="log" type="Tenaris.Library.Log.LogConfiguration, Tenaris.Library.Log"/>
    <section name="TrackingManager" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy" />
    <section name="Tenaris.Library.Proxy" type="Tenaris.Library.Proxy.Configuration.ProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>
  </configSections>

  <appSettings>
    <add key="Culture" value="es-MX"/>
    <add key="AppTitle" value="Utilidades Cortadoras"/>
    <add key="ShowTenarisTitle" value="false"/>
    <add key="Linea" value="LINEA 2"/>
    <add key="IdZone" value="8"/>
    <add key="SortOrder" value="49"/>
    <add key="Conexion" value="Data Source=TNATFT2PRDLSN.tnsautoca.techint.net,5040;Initial Catalog=L2Cort;Integrated Security=SSPI;Persist Security Info=True;Connect Timeout=240;"/>
  </appSettings>
  
  

  <BusinessRulesManager
    url="tcp://TNACAWFM194.tnsautoca.techint.net:49215/Tenaris.Manager.BusinessRules.soap"
    instanceType="Tenaris.Manager.BusinessRules.Shared.IBusinessRulesManager, Tenaris.Manager.BusinessRules.Shared"
    aliveInterval="2000"
    singleInstance="false"
    forumPresent="false"/>

  <TrackingManager
    instanceType="Tenaris.Manager.Tracking.Shared.ITrackingManager, Tenaris.Manager.Tracking.Shared"
    aliveInterval="5000"
    singleInstance="true"
    validateConnection="false">
    <Redundancy>
      <Address url="tcp://TNACAWFM194.tnsautoca.techint.net:49203/TrackingManager.soap" forumPresent="false" isTargetManager="true"/>
    </Redundancy>
  </TrackingManager>

  <Tenaris.Library.Proxy factoryType="Tenaris.Library.Proxy.Factories.PipeProxyFactory, Tenaris.Library.Proxy, Version=4.1.0.0, Culture=neutral, PublicKeyToken=c4a5016cfc42fcd0">
    <Configuration>
      <Components>
        <Component type="Tenaris.Library.Proxy.Components.ConnectionMonitorComponent, Tenaris.Library.Proxy, Version=4.1.0.0, Culture=neutral, PublicKeyToken=c4a5016cfc42fcd0">
          <Interval>1000</Interval>
        </Component>
      </Components>
      <EventListener type="Tenaris.Library.Proxy.EventListener, Tenaris.Library.Proxy, Version=4.1.0.0, Culture=neutral, PublicKeyToken=c4a5016cfc42fcd0"/>
      <Dispatcher type="Tenaris.Library.Proxy.Dispatchers.DirectMessageDispatcher, Tenaris.Library.Proxy, Version=4.1.0.0, Culture=neutral, PublicKeyToken=c4a5016cfc42fcd0"/>
    </Configuration>
  </Tenaris.Library.Proxy>

  <log
    maxFileSize="8096"
    maxFileCount="15"
    msgFormat="{Timestamp:yyyy-MM-dd HH:mm:ss.fff} [{ThreadId,-5:d5}] - {IdentString} {Message}"
    logLevel="Debug"
    traceAttributeLogEnabled="true"
    path="\\TNACAWFM194.tnsautoca.techint.net\Appls\Clientes\Cortadora 24\Tenaris\Logs\%UserName%\Tenaris.View.CutOff.Tools\"
    additionalLogDestination="Console"
    logAssemblyLoad="true"
    />

  <system.runtime.remoting>
    <application name="Client">
      <channels>
        <channel ref="tcp" port="0" >
          <clientProviders>
            <provider type="Tenaris.Library.Proxy.Remoting.ClientRemotingInterceptorProvider, Tenaris.Library.Proxy"/>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </clientProviders>
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </serverProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
