<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="ForumManagerFactoryConfiguration" type="Tenaris.Manager.Forum.Common.Configuration.ForumConfigurationSection, Tenaris.Manager.Forum.Common"/>
    <section name="ForumControllerFactoryConfiguration" type="Tenaris.Manager.Forum.Common.Configuration.ForumControllerConfigurationSection, Tenaris.Manager.Forum.Common"/>
    <section name="log" type="Tenaris.Library.Log.LogConfiguration, Tenaris.Library.Log"/>
  </configSections>

  <ForumControllerFactoryConfiguration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                                       isSingleton="false" address="ForumManager/Controller.soap"
                                       forumConfigurationName="ForumManagerFactoryConfiguration"
                                       activateAllManagers="true"/>

 
  <ForumManagerFactoryConfiguration xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <Launcher initializationTries="5" activationTries="5" activationMode="GraphManual">
     <Hosts>
	   <ProcessHost name="WorkShiftManager" enabled="true" initializationTimeout="5000"
          activationTimeout="5000" deactivationTimeout="5000" deinitializationTimeout="5000"
          startingTimeout="5000" autoRestartDependencies="false" postInitializationSleep="0"
          watchInterval="5000">
          <DependOf />
          <RemoteInstance type="Tenaris.Manager.ProcessExecutor.Shared.Contract.IProcessExecutorManagerA, Tenaris.Manager.ProcessExecutor.Shared"
          url="tcp://TNACAWFM193.tnsautoca.techint.net:33336/Tenaris.Manager.WorkShift.WorkShiftManager.soap"
          tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Manager/WorkshiftManager/Tenaris.Manager.Host.exe"
          arguments="mgr:Tenaris.Manager.WorkShift.WorkShiftManager" workingDirectory="../../Manager/WorkshiftManager" />
        </ProcessHost>
       <ProcessHost name="HandshakeManager" enabled="true"
          initializationTimeout="5000" activationTimeout="5000" deactivationTimeout="5000"
          deinitializationTimeout="5000" startingTimeout="5000" autoRestartDependencies="false"
          postInitializationSleep="0" watchInterval="5000">
          <DependOf />
          <RemoteInstance type="Tenaris.Manager.ProcessExecutor.Shared.Contract.IProcessExecutorManagerB, Tenaris.Manager.ProcessExecutor.Shared"
          url="tcp://TNACAWFM193.tnsautoca.techint.net:33337/Tenaris.Manager.Handshake.HandshakeManager.soap"
          tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Manager/HandshakeManager/Tenaris.Manager.Host.exe"
          arguments="mgr:Tenaris.Manager.Handshake.HandshakeManager"
          workingDirectory="../../Manager/HandshakeManager" />
        </ProcessHost>
        <ProcessHost name="CommandManager" enabled="true" initializationTimeout="5000"
          activationTimeout="5000" deactivationTimeout="5000" deinitializationTimeout="5000"
          startingTimeout="5000" autoRestartDependencies="false" postInitializationSleep="0"
          watchInterval="5000">
          <DependOf />
          <RemoteInstance type="Tenaris.Manager.ProcessExecutor.Shared.Contract.IProcessExecutorManagerC, Tenaris.Manager.ProcessExecutor.Shared"
          url="tcp://TNACAWFM193.tnsautoca.techint.net:33338/Tenaris.Manager.Command.CommandManager.soap"
          tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Manager/CommandManager/Tenaris.Manager.Host.exe"
          arguments="mgr:Tenaris.Manager.Command.CommandManager"
          workingDirectory="../../Manager/CommandManager" />
         </ProcessHost>
		 
		 <ProcessHost name="AlarmsManager" enabled="true"
          initializationTimeout="5000" activationTimeout="5000" deactivationTimeout="5000"
          deinitializationTimeout="5000" startingTimeout="5000" autoRestartDependencies="false"
          postInitializationSleep="0" watchInterval="5000">
          <DependOf></DependOf>
          <RemoteInstance type="Tenaris.Manager.ProcessExecutor.Shared.Contract.IProcessExecutorManagerF, Tenaris.Manager.ProcessExecutor.Shared"
          url="tcp://TNACAWFM193.tnsautoca.techint.net:33341/Tenaris.Manager.EquipmentAlarm.EquipmentAlarmManager.soap"
          tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Manager/AlarmsManager/Tenaris.Manager.Host.exe"
          arguments="mgr:Tenaris.Manager.EquipmentAlarm.EquipmentAlarmManager"
          workingDirectory="../../Manager/AlarmsManager" />
        </ProcessHost>
		
		 <ProcessHost name="ConsoleUtilities" enabled="true"
          initializationTimeout="5000" activationTimeout="5000" deactivationTimeout="5000"
          deinitializationTimeout="5000" startingTimeout="5000" autoRestartDependencies="false"
          postInitializationSleep="0" watchInterval="5000">
          <DependOf></DependOf>
          <RemoteInstance type="Tenaris.Manager.ProcessExecutor.Shared.Contract.IProcessExecutorManagerN, Tenaris.Manager.ProcessExecutor.Shared"
          url="tcp://TNACAWFM193.tnsautoca.techint.net:33349/ConsoleUtilities.soap"
          tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Manager/ConsoleUtilities/Tenaris.Manager.Host.exe"
          arguments="mgr:ConsoleUtilities"
          workingDirectory="../../Manager/ConsoleUtilities" />
        </ProcessHost>
		
				 <ProcessHost name="LockVerificationManager" enabled="true"
          initializationTimeout="5000" activationTimeout="5000" deactivationTimeout="5000"
          deinitializationTimeout="5000" startingTimeout="5000" autoRestartDependencies="false"
          postInitializationSleep="0" watchInterval="5000">
          <DependOf></DependOf>
          <RemoteInstance type="Tenaris.Manager.ProcessExecutor.Shared.Contract.IProcessExecutorManagerO, Tenaris.Manager.ProcessExecutor.Shared"
          url="tcp://TNACAWFM193.tnsautoca.techint.net:33350/LockVerificationManager.soap"
          tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Manager/LockVerificationManager/Tenaris.Manager.Host.exe"
          arguments="mgr:LockVerificationManager"
          workingDirectory="../../Manager/LockVerificationManager" />
        </ProcessHost>
		
		 <ProcessHost name="Evabme_Etrack" enabled="true"
          initializationTimeout="5000" activationTimeout="5000" deactivationTimeout="5000"
          deinitializationTimeout="5000" startingTimeout="5000" autoRestartDependencies="false"
          postInitializationSleep="0" watchInterval="5000">
          <DependOf></DependOf>
          <RemoteInstance type="Tenaris.Manager.ProcessExecutor.Shared.Contract.IProcessExecutorManagerS, Tenaris.Manager.ProcessExecutor.Shared"
          url="tcp://TNACAWFM193.tnsautoca.techint.net:33354/eTrackManager.soap"
          tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Manager/Tenaris.Tamsa.EvaBme_eTrack/Tenaris.Manager.Host.exe"
          arguments="mgr:eTrackManager"
          workingDirectory="../../Manager/Tenaris.Tamsa.EvaBme_eTrack" />
        </ProcessHost>
		
		<ProcessHost name="BodyTwist" enabled="true"
          initializationTimeout="5000" activationTimeout="5000" deactivationTimeout="5000"
          deinitializationTimeout="5000" startingTimeout="5000" autoRestartDependencies="false"
          postInitializationSleep="0" watchInterval="5000">
          <DependOf></DependOf>
          <RemoteInstance type="Tenaris.Manager.ProcessExecutor.Shared.Contract.IProcessExecutorManagerQ, Tenaris.Manager.ProcessExecutor.Shared"
          url="tcp://TNACAWFM193.tnsautoca.techint.net:33352/BodyTwist.soap"
          tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Manager/Tenaris.Tamsa.BodyTwist.Manager22/Tenaris.Manager.Host.exe"
          arguments="mgr:BodyTwist"
          workingDirectory="../../Manager/Tenaris.Tamsa.BodyTwist.Manager22" />
        </ProcessHost>
		 
		  <ProcessHost name="TrackingManager" enabled="true" initializationTimeout="5000"
          activationTimeout="5000" deactivationTimeout="5000" deinitializationTimeout="5000"
          startingTimeout="5000" autoRestartDependencies="false" postInitializationSleep="0"
          watchInterval="5000">
          <DependOf>HandshakeManager;CommandManager;</DependOf>
          <RemoteInstance type="Tenaris.Manager.ProcessExecutor.Shared.Contract.IProcessExecutorManagerD, Tenaris.Manager.ProcessExecutor.Shared"
          url="tcp://TNACAWFM193.tnsautoca.techint.net:33339/Tenaris.Manager.Tracking.TrackingManager.soap"
          tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Manager/TrackingManager/Tenaris.Manager.Host.exe"
          arguments="mgr:Tenaris.Manager.Tracking.TrackingManager"
          workingDirectory="../../Manager/TrackingManager" />
        </ProcessHost>	
		
		<ProcessHost name="ProductionManager" enabled="true"
          initializationTimeout="5000" activationTimeout="5000" deactivationTimeout="5000"
          deinitializationTimeout="5000" startingTimeout="5000" autoRestartDependencies="false"
          postInitializationSleep="0" watchInterval="5000">
          <DependOf>WorkShiftManager;HandshakeManager;CommandManager;TrackingManager</DependOf>
          <RemoteInstance type="Tenaris.Manager.ProcessExecutor.Shared.Contract.IProcessExecutorManagerE, Tenaris.Manager.ProcessExecutor.Shared"
          url="tcp://TNACAWFM193.tnsautoca.techint.net:33340/Tenaris.Manager.Production.ProductionManager.soap"
          tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="10000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Manager/ProductionManager/Tenaris.Manager.Host.exe"
          arguments="mgr:Tenaris.Manager.Production.ProductionManager"
          workingDirectory="../../Manager/ProductionManager" />
        </ProcessHost>
		
		
		
		<ProcessHost name="EtrackClient" enabled="true"
          initializationTimeout="5000" activationTimeout="5000" deactivationTimeout="5000"
          deinitializationTimeout="5000" startingTimeout="5000" autoRestartDependencies="false"
          postInitializationSleep="0" watchInterval="5000">
          <DependOf>TrackingManager</DependOf>
          <RemoteInstance type="Tenaris.Manager.ProcessExecutor.Shared.Contract.IProcessExecutorManagerT, Tenaris.Manager.ProcessExecutor.Shared"
          url="tcp://TNACAWFM193.tnsautoca.techint.net:33355/EtrackClient.soap"
          tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Manager/eTrackClient/Tenaris.Manager.Host.exe"
          arguments="mgr:EtrackClient"
          workingDirectory="../../Manager/eTrackClient" />
        </ProcessHost>
		<ProcessHost name="ZeroManager" enabled="true"
          initializationTimeout="5000" activationTimeout="5000" deactivationTimeout="5000"
          deinitializationTimeout="5000" startingTimeout="5000" autoRestartDependencies="false"
          postInitializationSleep="0" watchInterval="5000">
          <DependOf>TrackingManager</DependOf>
          <RemoteInstance type="Tenaris.Manager.ProcessExecutor.Shared.Contract.IProcessExecutorManagerP, Tenaris.Manager.ProcessExecutor.Shared"
          url="tcp://TNACAWFM193.tnsautoca.techint.net:33351/ZeroManager.soap"
          tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Manager/ZeroManagerNew/Tenaris.Manager.Host.exe"
          arguments="mgr:ZeroManager"
          workingDirectory="../../Manager/ZeroManagerNew" />
        </ProcessHost>
		 
		  
		
		 <ProcessHost name="UpdateAttTrackAm22" enabled="true"
          initializationTimeout="5000" activationTimeout="5000" deactivationTimeout="5000"
          deinitializationTimeout="5000" startingTimeout="5000" autoRestartDependencies="false"
          postInitializationSleep="0" watchInterval="5000">
          <DependOf>TrackingManager</DependOf>
          <RemoteInstance type="Tenaris.Manager.ProcessExecutor.Shared.Contract.IProcessExecutorManagerR, Tenaris.Manager.ProcessExecutor.Shared"
          url="tcp://TNACAWFM193.tnsautoca.techint.net:33353/UpdateAttTrackAm22.soap"
          tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Manager/Tenaris.Tamsa.Manager.UpdateAttTrackAm22.Host/Tenaris.Manager.Host.exe"
          arguments="mgr:UpdateAttTrackAm22"
          workingDirectory="../../Manager/Tenaris.Tamsa.Manager.UpdateAttTrackAm22.Host" />
        </ProcessHost>
		
			
		
		<ProcessHost name="DownTimeManager" enabled="true"
          initializationTimeout="5000" activationTimeout="5000" deactivationTimeout="5000"
          deinitializationTimeout="5000" startingTimeout="5000" autoRestartDependencies="false"
          postInitializationSleep="5000" watchInterval="5000">
          <DependOf>ProductionManager;</DependOf>
          <RemoteInstance type="Tenaris.Manager.ProcessExecutor.Shared.Contract.IProcessExecutorManagerI, Tenaris.Manager.ProcessExecutor.Shared"
          url="tcp://TNACAWFM193.tnsautoca.techint.net:33344/Tenaris.Manager.DownTime.DownTimeManager.soap"
          tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="11000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Manager/DownTimeManager/Tenaris.Manager.Host.exe"
          arguments="mgr:Tenaris.Manager.DownTime.DownTimeManager"
          workingDirectory="../../Manager/DownTimeManager" />
        </ProcessHost>
		
		  <ProcessHost name="AmalogAlarmsMonitV2" enabled="true"
          initializationTimeout="5000" activationTimeout="5000" deactivationTimeout="5000"
          deinitializationTimeout="5000" startingTimeout="5000" autoRestartDependencies="false"
          postInitializationSleep="0" watchInterval="5000">
          <DependOf>ProductionManager</DependOf>
          <RemoteInstance type="Tenaris.Manager.ProcessExecutor.Shared.Contract.IProcessExecutorManagerM, Tenaris.Manager.ProcessExecutor.Shared"
          url="tcp://TNACAWFM193.tnsautoca.techint.net:33348/AmalogAlarmsMonit.soap"
          tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Manager/AmalogAlarmsMonit.V2/Tenaris.Manager.Host.exe"
          arguments="mgr:AmalogAlarmsMonit"
          workingDirectory="../../Manager/AmalogAlarmsMonit.V2" />
        </ProcessHost>
		
		
		<ProcessHost name="PresetManager" enabled="true"
          initializationTimeout="5000" activationTimeout="5000" deactivationTimeout="5000"
          deinitializationTimeout="5000" startingTimeout="5000" autoRestartDependencies="false"
          postInitializationSleep="0" watchInterval="5000">
          <DependOf>CommandManager;ProductionManager</DependOf>
          <RemoteInstance type="Tenaris.Manager.ProcessExecutor.Shared.Contract.IProcessExecutorManagerG, Tenaris.Manager.ProcessExecutor.Shared"
          url="tcp://TNACAWFM193.tnsautoca.techint.net:33342/Tenaris.Manager.Preset.Manager.soap"
          tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Manager/PresetManager/Tenaris.Manager.Host.exe"
          arguments="mgr:Tenaris.Manager.Preset.Manager"
          workingDirectory="../../Manager/PresetManager" />
        </ProcessHost>
		
		
		<ProcessHost name="NDTManager" enabled="false"
          initializationTimeout="5000" activationTimeout="5000" deactivationTimeout="5000"
          deinitializationTimeout="5000" startingTimeout="5000" autoRestartDependencies="false"
          postInitializationSleep="0" watchInterval="5000">
          <DependOf>TrackingManager;ProductionManager</DependOf>
          <RemoteInstance type="Tenaris.Manager.ProcessExecutor.Shared.Contract.IProcessExecutorManagerH, Tenaris.Manager.ProcessExecutor.Shared"
          url="tcp://TNACAWFM193.tnsautoca.techint.net:33343/Tenaris.Manager.Ndt.soap"
          tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Manager/NDTManager/Tenaris.Manager.Host.exe"
          arguments="mgr:Tenaris.Manager.Ndt"
          workingDirectory="../../Manager/NDTManager" />
        </ProcessHost>
		
		
		
		<ProcessHost name="ExitManager" enabled="true"
          initializationTimeout="5000" activationTimeout="5000" deactivationTimeout="5000"
          deinitializationTimeout="5000" startingTimeout="5000" autoRestartDependencies="false"
          postInitializationSleep="0" watchInterval="5000">
          <DependOf>WorkShiftManager;ProductionManager;CommandManager;</DependOf>
          <RemoteInstance type="Tenaris.Manager.ProcessExecutor.Shared.Contract.IProcessExecutorManagerJ, Tenaris.Manager.ProcessExecutor.Shared"
          url="tcp://TNACAWFM193.tnsautoca.techint.net:33345/Tenaris.Manager.ExitApplication.ExitApplicationManager.soap"
          tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Manager/ExitManager/Tenaris.Manager.Host.exe"
          arguments="mgr:Tenaris.Manager.ExitApplication.ExitApplicationManager"
          workingDirectory="../../Manager/ExitManager" />
        </ProcessHost>
		
		<ProcessHost name="CycleTimeManager" enabled="true"
          initializationTimeout="5000" activationTimeout="5000" deactivationTimeout="5000"
          deinitializationTimeout="5000" startingTimeout="5000" autoRestartDependencies="false"
          postInitializationSleep="0" watchInterval="5000">
          <DependOf>PresetManager;TrackingManager</DependOf>
          <RemoteInstance type="Tenaris.Manager.ProcessExecutor.Shared.Contract.IProcessExecutorManagerK, Tenaris.Manager.ProcessExecutor.Shared"
          url="tcp://TNACAWFM193.tnsautoca.techint.net:33346/Tenaris.Manager.CycleTime.CycleTimeManager.soap"
          tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Manager/CycleTimeManager/Tenaris.Manager.Host.exe"
          arguments="mgr:Tenaris.Manager.CycleTime.CycleTimeManager"
          workingDirectory="../../Manager/CycleTimeManager" />
        </ProcessHost>
		
		
		<ProcessHost name="LinkerManagerToCT" enabled="true"
          initializationTimeout="5000" activationTimeout="5000" deactivationTimeout="5000"
          deinitializationTimeout="5000" startingTimeout="5000" autoRestartDependencies="false"
          postInitializationSleep="0" watchInterval="5000">
          <DependOf>TrackingManager;ProductionManager</DependOf>
          <RemoteInstance type="Tenaris.Manager.ProcessExecutor.Shared.Contract.IProcessExecutorManagerL, Tenaris.Manager.ProcessExecutor.Shared"
          url="tcp://TNACAWFM193.tnsautoca.techint.net:33347/Tenaris.Tamsa.Manager.TrkLinker.soap"
          tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Manager/LinkerManagerToCT/Tenaris.Manager.Host.exe"
          arguments="mgr:Tenaris.Tamsa.Manager.TrkLinker"
          workingDirectory="../../Manager/LinkerManagerToCT" />
        </ProcessHost>
		 
		 
		 
		
		
					</Hosts>
      <Availability mode="StartAlways" tries="0" interval="2000" />
    </Launcher>
    <Redundancy mode="None" onDeactivateMode="Stop" onConnectMode="None"
		  activationTimeout="600" />
    <Mailing enabled="true" enableSsl="false" port="0" timeout="0" />
  </ForumManagerFactoryConfiguration>

  <system.runtime.remoting>
    <application name="Forum">
      <channels>
        <channel ref="tcp" port="50002" >
          <clientProviders>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </clientProviders>
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </serverProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>

  <log
      msgFormat="{TypeChar} {Timestamp:yyyy-MM-dd HH:mm:ss.fff} [{AppDomainName,30:s-30}:{ThreadName,15:s15}] [lap={LapFriendlyValue,-7:f2}{LapFriendlyUnit,3}] {AssemblyName,30:s-30} {IdentString} {Message}"
      dumpStack="true" maxLogDepth="0" traceAttributeLogLevel="Message" 
      noQueue="false" maxQueueSize="10000" includeAssembliesRegEx="" excludeAssembliesRegEx="" includeFullClasNameRegEx="" 
      excludeFullClasNameRegEx="" excludePropertyGetterAndSetter="true" flushInterval="1000" logAssemblyLoad="true" colorConsoleLog="true"
      
      maxFileSize="8192" maxFileCount="20" traceAttributeLogEnabled="true" 
      
      logBaseName="ForumController" path="D:\APPLS\Tenaris\Logs\View\WinService" additionalLogDestination="None" logLevel="Debug"/>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Binaries;Forum;"/>
    </assemblyBinding>
  </runtime>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
