<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="ManagerBaseConfiguration" type="Tenaris.Manager.Forum.Shared.Configuration.ManagerBaseConfiguration, Tenaris.Manager.Forum.Shared"/>
    <section name="Tenaris.Manager.Vdi.VdiManager" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework"/>
    <section name="Tenaris.Manager.Handshake.HandshakeManager" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>
    <section name="Tenaris.Manager.Command.CommandManager" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>
    <section name="Tenaris.Manager.Production.ProductionManager" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>
    <section name="Tenaris.Manager.Tracking.TrackingManager" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>
    <section name="Tenaris.Manager.WorkShift.WorkShiftManager" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>
    <section name="Tenaris.Manager.Mail" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>
    <section name="log" type="Tenaris.Library.Log.LogConfiguration, Tenaris.Library.Log"/>
  </configSections>

  <appSettings>
    <add key="PerformanceRegisterEnabled" value="false"/>
    <add key="PerformanceRegisterLogFile" value="..\..\..\Logs\Manager\vdiManagerV2.'yyyyMMdd'.log"/>
    <add key="PerformanceRegisterLogFileSize" value="2MB"/>
    <add key="PerformanceRegisterFlushTimeOutSeconds" value="1"/>
    <add key="TwistPipeEndRuleVariableCode" value="DER8,TORCE_EXTREMO_MM"/>    
    <add key="RequiredDiameterBodyVariableCode" value="DECI,OD_CUERPO_PTJE,DEEXT"/>    
    <add key="RequiredVernierVariablesAtHeatChange" value="DEVMX,DEVMI,OD_EXTREMO_PTJE,OD_EXTREMO_PTJE_2,DEMAX,DEMIN"/>
    <add key="PipeTypeDiameterHighLowRule" value="CAS,LP,LPI,LPR,LPE"/>
  </appSettings>

  <connectionStrings>        
    <add name="DBConnection" connectionString="Data Source=TNATFT2PRDLSN.tnsautoca.techint.net,5040;Initial Catalog=L2Trk;Integrated Security=SSPI;Persist Security Info=True;Asynchronous Processing=True;MultipleActiveResultSets=True;Application Name=VdiManager" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <ManagerBaseConfiguration areaCode="LINEA2" defaultConnectionStringName="DBConnection"/>

  <Tenaris.Manager.Vdi.VdiManager factoryType="Tenaris.Manager.Vdi.V2.VdiServicesV2Factory, Tenaris.Manager.Vdi.V2" isSingleton="true">
    <Configuration singleInstance="true" dbSessionName="DBConnection" useCommandManager="true" commandManagerName="Tenaris.Manager.Command.CommandManager" handshakeManagerName="Tenaris.Manager.Handshake.HandshakeManager" workshiftManagerName="Tenaris.Manager.WorkShift.WorkShiftManager" trackingManagerName="Tenaris.Manager.Tracking.TrackingManager" productionManagerName="Tenaris.Manager.Production.ProductionManager" applicationCode="VdiManager" onlyServices="true" currentCulture="es-MX">

      <Machines>        
        <Machine
          code="L2_VDI23"
          validateStationInstruments="false" 
          specificationProviderName="ThreadingSpecificationProvider"          
          notifyOkPreviousPendingPipeInspections="false">
          <MachineExtensions>
            <Extension name="TamsaThreaderMachineExtension"/>
          </MachineExtensions>          
        </Machine>

        <Machine 
          code="L2_VDI24" 
          validateStationInstruments="false"
          specificationProviderName="ThreadingSpecificationProvider"           
          notifyOkPreviousPendingPipeInspections="false">
          <MachineExtensions>
            <Extension name="TamsaThreaderMachineExtension"/>
          </MachineExtensions>
        </Machine>      

        <Machine
          code="L2_SEA23"
          validateStationInstruments="false"
          specificationProviderName="SeaSpecificationProvider"
          notifyOkPreviousPendingPipeInspections="false">
          <MachineExtensions>
            <Extension name="TamsaSeaMachineExtension"/>
          </MachineExtensions>
        </Machine>

        <Machine
          code="L2_SEA24"
          validateStationInstruments="false"
          specificationProviderName="SeaSpecificationProvider"
          notifyOkPreviousPendingPipeInspections="false">
          <MachineExtensions>
            <Extension name="TamsaSeaMachineExtension"/>
          </MachineExtensions>
        </Machine>

      </Machines>


      <Components>
        <Component name="ThreadingSpecificationProvider" type="Tenaris.Tamsa.Manager.Vdi.Components.SpecificationProviders.ThreadingSpecificationProvider, Tenaris.Tamsa.Manager.Vdi"/>
        <Component name="SeaSpecificationProvider" type="Tenaris.Tamsa.Manager.Vdi.Components.SpecificationProviders.SeaSpecificationProvider, Tenaris.Tamsa.Manager.Vdi"/>
      </Components>

      <Extensions>
        <StationExtention/>
        <MachineExtension name="TamsaThreaderMachineExtension" type="Tenaris.Tamsa.Manager.Vdi.Extensions.TamsaThreadingMachineExtension, Tenaris.Tamsa.Manager.Vdi">
          <Configuration 
            changeStatusToPendingRoleName="OPERADOR" 
            validateLogIn="true" 
            ruleConditioningYesCode="40" 
            ruleConditioningNotCode="41" 
            variableDiameterBodyCode="DECI,OD_CUERPO_PTJE,DEEXT" 
            variableDiameterSideVernierMax="DEVMX,OD_EXTREMO_PTJE,DEMAX" 
            variableDiameterSideVernierMin="DEVMI,OD_EXTREMO_PTJE_2,DEMIN"
            variableDiameterBodyMax="DCMAX" 
            variableDiameterBodyMin="DCMIN"
            variableStandOff="TRG,TIRO_MM"
            variableOvalityCalculated="TOR,OVAL_CAL"
            variableStandOffCompensation="TRGMC"
            variablesRequiredAtHeatChange="DEVMX,DEVMI,OD_EXTREMO_PTJE,OD_EXTREMO_PTJE_2,DEMAX,DEMIN"
            pipeTypeDiameterHighLowRule="CAS,LP,LPI,LPR,LPE">
          </Configuration>
        </MachineExtension>
        <MachineExtension name="TamsaSeaMachineExtension" type="Tenaris.Tamsa.Manager.Vdi.Extensions.TamsaSeaMachineExtension, Tenaris.Tamsa.Manager.Vdi">
          <Configuration changeStatusToPendingRoleName="OPERADOR" validateLogIn="true">
          </Configuration>
        </MachineExtension>
      </Extensions>

      <Services/>        

    </Configuration>
  </Tenaris.Manager.Vdi.VdiManager>

  <!--LINEA 2-->
  <Tenaris.Manager.Command.CommandManager url="tcp://TNACAWFM197.tnsautoca.techint.net:21003/Tenaris.Manager.Command.soap" instanceType="Tenaris.Manager.Command.Shared.ICommandManager, Tenaris.Manager.Command.Shared, Version=4.1.0.0, Culture=neutral, PublicKeyToken=85d881d6f906ae36" aliveInterval="1000" forumPresent="false" isSingleton="true" singleInstance="true" validateConnection="true"/>

  <Tenaris.Manager.Handshake.HandshakeManager url="tcp://TNACAWFM197.tnsautoca.techint.net:21002/HandshakeManager.soap" instanceType="Tenaris.Manager.Handshake.Shared.IHandshakeManager, Tenaris.Manager.Handshake.Shared, Version=4.1.0.0, Culture=neutral, PublicKeyToken=29c584614971a615" aliveInterval="1000" forumPresent="false" isSingleton="true" singleInstance="true" validateConnection="true"/>

  <Tenaris.Manager.WorkShift.WorkShiftManager url="tcp://TNACAWFM197.tnsautoca.techint.net:21001/ShiftManager.soap" instanceType="Tenaris.Manager.Shift.Shared.IShiftManager, Tenaris.Manager.Shift.Shared, Version=4.2.0.0, Culture=neutral, PublicKeyToken=c58e4ef934a092e9" aliveInterval="1000" singleInstance="true" validateConnection="true" isTargetManager="true"/>

  <Tenaris.Manager.Production.ProductionManager url="tcp://TNACAWFM197.tnsautoca.techint.net:21006/Tenaris.Manager.Production.ProductionManager.soap" instanceType="Tenaris.Manager.Production.Shared.IProductionManager, Tenaris.Manager.Production.Shared, Version=4.2.0.0, Culture=neutral, PublicKeyToken=81746773fd47a555" aliveInterval="1000" forumPresent="false" isSingleton="true" singleInstance="true" validateConnection="true"/>

  <Tenaris.Manager.Tracking.TrackingManager
    url="tcp://TNACAWFM197.tnsautoca.techint.net:21005/TrackingManager.soap"
    instanceType="Tenaris.Manager.Tracking.Shared.ITrackingManager, Tenaris.Manager.Tracking.Shared, Version=4.1.0.0, Culture=neutral, PublicKeyToken=eef9a6bb3b9b0366"
    aliveInterval="1000" forumPresent="false" isSingleton="true" singleInstance="true" validateConnection="true"/>


  <!--mail manager proxy configuration-->
  <Tenaris.Manager.Mail
    instanceType="Tenaris.Manager.Mail.Shared.IMailManager, Tenaris.Manager.Mail.Shared"
    url="tcp://TNACAWWS197.tnsautoca.techint.net:50053/Tenaris.Manager.Mail.soap"
    forumPresent="false"
    isTargetManager="true"
    aliveInterval="5000"
    singleInstance="true"
    validateConnection="true"/>
  
  <!-- Remoting Host configuration section -->
  <system.runtime.remoting>
    <customErrors mode="off"/>
    <application name="Server">
      <channels>
        <channel ref="tcp" port="21012"  >
          <clientProviders>
            <provider type="Tenaris.Library.Proxy.Remoting.ClientRemotingInterceptorProvider, Tenaris.Library.Proxy"/>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </clientProviders>
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </serverProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>


  <log maxFileSize="8096" maxFileCount="30" msgFormat="{Timestamp:yyyy-MM-dd HH:mm:ss.fff} [{ThreadId,-5:d5}] - {Message}" logLevel="Debug" traceAttributeLogEnabled="true" path="..\..\..\Logs\Manager\Tenaris.Manager.Vdi\" logBaseName="Tenaris.Manager.Vdi" additionalLogDestination="Console"/>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Tenaris.Manager.Production.Shared" publicKeyToken="81746773FD47A555" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
