<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="log" type="Tenaris.Library.Log.LogConfiguration, Tenaris.Library.Log"/>
    <section name="Tenaris.Manager.ReportIT" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework"/>
    <section name="ManagerBaseConfiguration" type="Tenaris.Manager.Forum.Shared.Configuration.ManagerBaseConfiguration, Tenaris.Manager.Forum.Shared"/>
  </configSections>

  <connectionStrings>
    <!--<add name="TrackingLine1" connectionString="Application Name=ReportITManager;Data Source=10.92.70.124;Initial Catalog=Level2_Line1;User ID=Level2;Password=Level2;Persist Security Info=True;MultipleActiveResultSets=False;" providerName="System.Data.SqlClient"/>-->
    <add name="TrackingLine2" connectionString="Application Name=ReportITManager;Data Source=TNATFT2PRDLSN.tnsautoca.techint.net,5040;Initial Catalog=L2Trk;Integrated Security=SSPI;Persist Security Info=True;MultipleActiveResultSets=False;" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <ManagerBaseConfiguration areaCode="LINEA2" defaultConnectionStringName="TrackingLine2"/>

  <!--
    MaxAttempts - número máximo de reintentos en caso de error
    TimeToReport - frecuencia de envío en minutos
  -->
  <Tenaris.Manager.ReportIT factoryType="Tenaris.Manager.ReportIT.Factory.ReportITManagerFactory, Tenaris.Manager.ReportIT" isSingleton="True">
    <ReportITManagerConfiguration MaxAttempts="10" TimeToReport="5">
      <Machines>
        <Machine code="L2_VDI23" plugin="Tenaris.Manager.ReportIT.Threader,Tenaris.Manager.ReportIT.Threader.Report" connectionString="TrackingLine2" />
        <Machine code="L2_VDI24" plugin="Tenaris.Manager.ReportIT.Threader,Tenaris.Manager.ReportIT.Threader.Report" connectionString="TrackingLine2" />
      </Machines>
    </ReportITManagerConfiguration>
  </Tenaris.Manager.ReportIT>

  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="RoleEndPoint">
          <reliableSession inactivityTimeout="00:01:00" enabled="true" />
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://TNACAWWS197.tnsautoca.techint.net:33333/ITService" binding="netTcpBinding"
          bindingConfiguration="RoleEndPoint" contract="ITCommsHost.ITService"
          name="RoleEndPoint">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>

  <!--Remoting configuration. This can be placed in a separate file named remoting.config-->
  <system.runtime.remoting>
    <application name="Server">
      <channels>
        <channel ref="tcp" port="50070">
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </serverProviders>
          <clientProviders>
            <provider type="Tenaris.Library.Proxy.Remoting.ClientRemotingInterceptorProvider, Tenaris.Library.Proxy"/>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </clientProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>

  <log maxFileSize="8192"
       msgFormat="{Timestamp:HH:mm.ss.fff} ; {Level,-7} ; {Message} ; {MethodName}"
       logLevel="Debug"
       traceAttributeLogEnabled="false"
       logBaseName="Tenaris.Manager.ReportIT"
       additionalLogDestination="Console"
       path="..\..\..\Logs\Service\Tenaris.Manager.ReportIT\"/>
  
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
</startup>

</configuration>
