<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="log" type="Tenaris.Library.Log.LogConfiguration, Tenaris.Library.Log"/>    
    <section name="ViewConfiguration" type="Tenaris.Tamsa.Manager.InsTrackingDummy.Shared.ViewConfiguration, Tenaris.Tamsa.Manager.InsTrackingDummy.Shared"/>
    <section name="ConfigurationManager" type="Tenaris.Tamsa.Manager.InsTrackingDummy.Shared.ServicesConfigurationHost, Tenaris.Tamsa.Manager.InsTrackingDummy.Shared" />
  </configSections>


  <ViewConfiguration
    ShowTenarisTitle="true"
    AppTitle="Edit Tracking"
    Zone="Cadena"
    LastZone="Wms"
    AfterZone="Exit">
  </ViewConfiguration>

  <log
    maxFileSize="8096"
    maxFileCount="180"
    msgFormat="{Timestamp:HH:mm.ss.fff} ; {Level,-7} ; {Message} ; {MethodName}"
    logLevel="Debug"
    noQueue="true"
    traceAttributeLogEnabled="true"
    path="\\TNACAWFM198.tnsautoca.techint.net\Appls\Clientes\Cliente 1\Tenaris\Logs\%UserName%\TrackingInsView"
    logBaseName="Tamsa.Coples.eCoplesValidate"
    additionalLogDestination="Console"
    />
  
  <ConfigurationManager
    address="net.tcp://TNACAWFM198.tnsautoca.techint.net:49599/Tenaris.Tamsa.Manager.InsTrackingDummy.InsTrackingService/InsTrackingService"
    closeTimeout="60"
    openTimeout="60"
    receiveTimeout="60"
    sendTimeout="60"
   />

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  
</configuration>
