<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log" type="Tenaris.Library.Log.LogConfiguration, Tenaris.Library.Log" />
    <section name="Tenaris.Manager.Mail" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>
  </configSections>
  <appSettings>
    <add key="EnableAlarm" value="true" />
    <add key="Mode" value="DAILY" />
    <add key="ScheduledTime" value="1=14:30:00,2=22:30:00,3=06:30:00" />
	<add key="MailFrom" value="ReportePML@tamsa.com.mx" />
    <!--<add key="MailTo" value="AGARCIADELV@proveedores.tamsa.com.mx" />-->
    <add key="MailTo" value="LFGUZMAN@tenaris.com,mpmartinez@tenaris.com,hmedina@tenaris.com,acedillo@tenaris.com,ofernandez@tenaris.com,ivan.lobos@tenaris.com,jfgonzalezs@tenaris.com,rmurillo@tenaris.com,lblancas@tenaris.com,alberto.fernandezg@tenaris.com,CSOTORUIZ@tenaris.com,dacedillo@tenaris.com,gmata@tenaris.com,jleonB@tenaris.com,elespinoza@tenaris.com,AMERAZP@tenaris.com,clopezm@tenaris.com,fmunozR@tenaris.com,rmontero@tenaris.com,mtorales@tenaris.com,roberto.gamboa@tenaris.com,CINIGUEZ@tenaris.com,JGRAJALESM@tenaris.com,bramiro@tenaris.com,JCRUZANCONA@tenaris.com,IFLORES@tenaris.com,alreyesf@tenaris.com,kdegante@tenaris.com,apola@tenaris.com,ANTGARCIA@tenaris.com,obulbarela@tenaris.com"/>
    <add key="MailSubject" value="Reporte de Pasa Mandril Largo - Lineas de Terminacion FAT2" />
    <add key="PathFiles" value=".\Data\Files\" />
    <add key="HorasTercerTurno" value="-12" />
  </appSettings>

  <connectionStrings>
    <add name="dbLinea1" connectionString="Data Source=TNATFT2PRDLSN.tnsautoca.techint.net,5040;Initial Catalog=L1Cort;Integrated Security=SSPI;Persist Security Info=True; Max Pool Size = 300" providerName="System.Data.SqlClient" />
    <add name="dbLinea2" connectionString="Data Source=TNATFT2PRDLSN.tnsautoca.techint.net,5040;Initial Catalog=L2Trk;Integrated Security=SSPI;Persist Security Info=True; Max Pool Size = 300" providerName="System.Data.SqlClient" />    
  </connectionStrings>

  <log maxFileSize="8096" maxFileCount="20" msgFormat="{TypeChar} {Timestamp:yyyy-MM-dd HH:mm:ss} [{ThreadId,-5:d5}] {MethodName} {IdentString} {Message}" 
  logLevel="Debug" noQueue="true" traceAttributeLogEnabled="true" path="..\..\..\Logs\Service\PML_Mail_Report" logBaseName="PML_Mail_Report" additionalLogDestination="Console" />

  <Tenaris.Manager.Mail
    instanceType="Tenaris.Manager.Mail.Shared.IMailManager, Tenaris.Manager.Mail.Shared"
    url="tcp://TNACAWWS197.tnsautoca.techint.net:50053/Tenaris.Manager.Mail.soap"
    forumPresent="false"
    isTargetManager="true"
    aliveInterval="5000"
    singleInstance="true"
    validateConnection="true"/>
  <!--49901-->

  <system.runtime.remoting>
    <customErrors mode="off"/>
    <application name="Tenaris.Manager.Mail.Test">
      <channels>
        <channel ref="tcp" port="5022">
          <clientProviders>
            <provider type="Tenaris.Library.Proxy.Remoting.ClientRemotingInterceptorProvider, Tenaris.Library.Proxy"/>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </clientProviders>
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </serverProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>

</configuration>