<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="BookingViewConfiguration" type="Tenaris.Tamsa.View.ParentChild.Shared.BookingViewConfiguration, Tenaris.Tamsa.View.ParentChild.Shared"/>
    <section name="WmsViewConfiguration" type="Tenaris.Tamsa.Tracking.View.WMS.Configuration.WmsViewConfiguration, Tenaris.Tamsa.Tracking.View.WMS"/>
    <section name="Tenaris.Manager.ParentChild.ParentChildManager" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>
    <section name="Tenaris.Tamsa.Library.ParentChild.Data.DbClientProvider.DAL" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework"/>
    <section name="Tenaris.Manager.Production.ProductionManager" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>
    <section name="Tenaris.Manager.Tracking.TrackingManager" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>
    <section name="Tenaris.WMS.Manager.WMSManager" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>
    <section name="Tenaris.WMS.Manager.WMSService" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>
    <section name="BusinessRulesManager" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>
    <section name="log" type="Tenaris.Library.Log.LogConfiguration, Tenaris.Library.Log"/>
    <!--<section name="Tenaris.Manager.Preset" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy" />-->

    <!--SECURITY: MODE CLIENT-->
    <section name="Tenaris.Service.Security.Shared.ISecurityService" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>

    <!--SECURITY: STAND ALONE-->
    <!--<section name="Tenaris.Service.Security.Shared.ISecurityService" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework"/>-->
	<section name="Profiling" type="Tenaris.Service.Profiling.ProfilingServiceConfiguration, Tenaris.Service.Profiling"/>
  </configSections>

  <connectionStrings>
    <add name="dbLevel2" connectionString="Application Name=view_WmsParentChildMimic;Data Source=TNATFT2PRDLSN.tnsautoca.techint.net,5040;Initial Catalog=L2Bz22;Persist Security Info=True;Integrated Security=SSPI;MultipleActiveResultSets=True; Asynchronous Processing=true; Pooling=true; Max Pool Size=300;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
  <Profiling dbSessionName="dbLevel2"/>

  <!--SECURITY: MODE CLIENT-->
  <Tenaris.Service.Security.Shared.ISecurityService
      url="tcp://localhost:49209/Tenaris.Service.Security.soap"
      instanceType="Tenaris.Service.Security.Shared.ISecurityService, Tenaris.Service.Security.Shared"
      aliveInterval="0"
      validateConnection="true"
      singleInstance="true"
      forumPresent="false"
      isTargetManager="false">
    <Redundancy>
    </Redundancy>
  </Tenaris.Service.Security.Shared.ISecurityService>

  <!--SECURITY: STAND ALONE-->

  <!--<Tenaris.Service.Security.Shared.ISecurityService factoryType="Tenaris.Service.Security.FactoryLocal, Tenaris.Service.Security" isSingleton="True">
    <SecurityConfiguration ConnectionStringName="dbLevel2" AuthenticationType="Database" DefaultZoneCode="ALL"/>
  </Tenaris.Service.Security.Shared.ISecurityService>-->

  <!--
  BookingViewConfiguration - LockTimeout: indica cuantos segundos debe esperar el cliente por el bloque de la estacion
  BookingViewConfiguration - ShowTenarisTitle: Indica si se deb mostrar el titulo de Tenaris (V1 no lo requiere)
  BookingViewConfiguration - AppTitle: Es el nombre que se muestra en la barra de título
  TrackingTab - Visible: Indica si la pestaña de tracking se muestra
  PipeProgramTab - Visible : Indica si la pestaña de programa de tubos se verá
  PipeProgramTab - ReadOnly: Indica si se la pestaña de programa de tubos es de solo lectura
  PipeProgramTab - ETrackUser: Es el usuario que se usa para consultar en el servicio de etrack
  PipeProgramTab - ETrackPassword: Es el password del usuario que se usa para consultar en el servicio de etrack
  PipeProgramTab - ETrackProcessCode: Es el proceso que se usa para consultar en el servicio de etrack
  PipeProgramTab - ReferenceOrder: Es el numero de la orden que se utiliza para tubos patron
  BookingTab - AutomaticReservation: False para mostrar el popup de reserva manual, true reserva en base a lo definido en el programa de tubos
  BookingTab - MaxReservationPieces: Es la cantidad máxima permitida de piezas a reservar
  BookingTab - SpecificationTolerance: Es el número de días hacia atrás en el que se considera una especificación como actualizada.
  BookingTab - PollingTime: Es el tiempo en segundos en que se van a estar actualizando los contadores de piezas
  BookingTan - GridTemplate: Indica si el tipo de despacho y las piezas por paquete van al final de grid o no. "Last" es final del grid. "Normal" en su posicion original. 
  -->
  <BookingViewConfiguration
    LockTimeout="5"
    ShowTenarisTitle="true"
    AppTitle="BME 22"
    dskMgr="false"
    securityActivate="false"
    zoneCode="ALL"
	showComplianceExceededPopup="true">
    <TrackingTab Visible="true" />
    <PipeProgramTab
        Visible="true"
        ReadOnly="false"
        ETrackUser="NIVELII"
        ETrackPassword="ter2"
        ETrackProcessCode="TER2"
        ReferenceOrder="999999"
        ReferenceHeat="99999"
        PollingTime="60"
        BusinessRulesManagerSectionName="BusinessRulesManager"
        LockEditOnLinkerEnabled="true"
        LinkerEnabledPresetCode="PRE_WMS_TRKLINK_ON"
        AllowBulkPiecesProgram="true"
        BulkPiecesProgramEnabledPresetCode="PRE_WMS_GRANEL_ON"
        />
    <BookingTab
        AutomaticReservation="false"
        MaxReservationPieces="50"
        SpecificationTolerance="20"
        PollingTime="10"
        GridTemplate="Last"
        PipesInBundle="1,3,7,10,19,37"
        bookingCommand="Booking"
        returnPiecesCommand="ReturnPieces"
        editSequenceCommand="EditSequence"
        synchronizeCommand="Synchronize"
        allowMultipleParentOrders="false"
        allowBlockCancelBookingInProcess ="true"
        allowBlockEditSequenceInProcess="true"
		  allowOfflineBooking="false"
        />
  </BookingViewConfiguration>

  <WmsViewConfiguration
    dskMgr="false"
    applicationCode="WmsTrackingView"
    zoneCode="ALL"
    connectionStringName="dbLevel2"
    machineCode="WMS"
    pluginsPath=".\"
    pluginsCfgFile="Plugins.xml"
    modifiedByOperatorAttribute="WMSTrackingMod"
    operatorStatusAttribute="WMSTrackingStatus"
    operationTypeAttribute="WMSOperationType"
    entranceRejectedAttribute="WMSEntranceRejected"
    commandEditLength="WMSVWEDTLENGTH"
    commandEditWeight="WMSVWEDTWEIGHT"
    commandEditPipe="WMSVWEDTPIPE"
    commandEditStatus="WMSVWEDTSTATUS"
    commandEditHeat="WMSVWEDTHEAT"
    commandEditTraceability="WMSVWEDTTRACE"
    commandMarkTransference="WMSVWMRKTRANSFER"
    commandReleasePipe="WMSVWRELEASEPIPE"
    
    timeoutLock="5"
    
    showTenarisTitle="true"
    showEditLengthButton ="true"
    showEditWeightButton ="true"
    showEditStatusButton="true"
    showEditPipeButton="true"
    showMarkTransferenceButton="true"
    showReleaseButton="false"
    
    showStatusBar ="true"
    showPipeLengthErrorPopup="true"
    showPipeWeightErrorPopup="true"
    showProductionCompliancePopups="true"
    showReferencePipeRequiredPopup="true"
    showCustomValidationErrorPopup="true"
    showPipeComplianceMessages="true">
  </WmsViewConfiguration>

  <appSettings>
    <add key="Culture" value="es-MX"/>
    <add key="IdApplication" value="1"/>
    <!--<add key="PluginsPath" value=".\"/>
    <add key="PluginsCfgFile" value="Plugins.xml"/>-->
    <add key="MachineCode" value="WMS"/>
    <add key="IdWmsMachine" value="3"/>
    <add key="ConnectionStringName" value="dbLevel2"/>
    <add key="WMS" value="600"/>
    <!--<add key="BancalSalWMS" value="600"/>
    <add key="VRMedWMS" value="600"/>
    <add key="VREntWMS" value="600"/>
    <add key="CadenaSrvBOX" value="600"/>-->
    <add key="HeaderPath" value=".\Config"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="LengthDecimals" value="2"/>
    <!--Numero de decimales a mostrar para longitudes-->
    <add key="WeightDecimals" value="1"/>
    <!--Numero de decimales a mostrar para pesos-->
    <!--<add key="ModifiedByOperatorAttribute" value="WMSTrackingMod"/>
    -->
    <!--Codigo de atributo que indica si el operador modificó el status del tubo-->
    <!--
    <add key="OperatorStatusAttribute" value="WMSTrackingStatus"/>
    -->
    <!--Codigo de atributo que indica si en que status el operador seteó  el tubo-->
    <!--
    <add key="OperationTypeAttribute" value="WMSOperationType" />
    -->
    <!--Codigo de atributo que indica el tipo de operación-->
    <!--
    <add key="EntranceRejected" value="WMSEntranceRejected"/>
    -->
    <!--Código de atributo que indica si fue rechazado en carga-->
    <add key="EditableStatusPositions" value="0,1,2"/>
    <add key="EditableTrackingPositions" value ="0,1"/>
    <add key="EditableOperationTypePositions" value="0,1"/>
    <add key="EditableHeatPositions" value="0,1,2"/>
    <add key="ETrackUser" value="NIVELII" />
    <add key="ETrackPassword" value="ter2"/>
    <add key="ETrackProcessCode" value="TER2"/>
    <add key ="ZonesToDisplay" value="4"/>
    <!--Cantidad de estaciones a mostrar incluyendo la zona de salida, valores aceptados: 4, 5, 9. Default 5
					4 : FAT2 BME 22
					5 : FAT2 BME 21
		 -->
    <add key="DuplicatedPipeEmailProcedure" value="[TOOLS].[SendMail]"/>
    <add key="eTrackErrorString" value="fue procesado por"/>
    <!--Cantidad de estaciones a mostrar incluyendo la zona de salida, valores aceptados: 4 y 5. Default 5-->

    <!--Configuracion alterna de la vista de reservas para fat 1-->
    <!--Configuracion para el popup de devolucion-->
    <!--Configuracion text de piezas a devolver reservar-->
    <add key="IsReadOnlyPieces" value="false"/>

    <!--<add key="LockTimeout" value="5"/>-->
    <!--Cantidad de segundos a esperar por el bloqueo de máquina-->

    <!--<add key="ShowPipeLengthErrorPopup" value="false"/>
    <add key="ShowPipeWeightErrorPopup" value="false"/>
    <add key="ShowProductionCompliancePopups" value="true"/>
    <add key="ShowReferencePipeRequiredPopup" value="false"/>-->
  </appSettings>

  <Tenaris.Manager.ParentChild.ParentChildManager
    instanceType="Tenaris.Tamsa.Manager.ParentChild.Shared.Contracts.IParentChildManager, Tenaris.Tamsa.Manager.ParentChild.Shared"
    aliveInterval="1000" singleInstance="true" validateConnection="false">
    <Redundancy>
      <Address url="tcp://TNACAWFM198.tnsautoca.techint.net:8032/Tenaris.Manager.ParentChild.ParentChildManager.soap" forumPresent="false" isTargetManager="true"/>
    </Redundancy>
  </Tenaris.Manager.ParentChild.ParentChildManager>

  <system.runtime.remoting>
    <application name="Client">
      <channels>
        <channel ref="tcp" port="0">
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </serverProviders>
          <clientProviders>
            <provider type="Tenaris.Library.Proxy.Remoting.ClientRemotingInterceptorProvider, Tenaris.Library.Proxy"/>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </clientProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>

  <log
    maxFileSize="25384"
	  maxFileCount="50"
    path="\\TNACAWFM198.tnsautoca.techint.net\Appls\Clientes\Cliente 1\Tenaris\Logs\%UserName%\WMSParentChild"
    msgFormat="{Timestamp:HH:mm.ss.fff} {Level}  {IdentString} {Message} :{MethodName} "
    logLevel="Debug"
    traceAttributeLogEnabled="true"
    logBaseName="ParentChildMimicView"
    additionalLogDestination="Console"
    logAssemblyLoad="true"
    dumpStack="true"
	noQueue="false"
	maxQueueSize="2048"
    />

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_HeatRangesService" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_HeatRangesService" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
            maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
            messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
            allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
              enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true"
                algorithmSuite="Default" />
          </security>
        </binding>
      </wsHttpBinding>
      <customBinding>
        <binding name="ServiceSoap12">
          <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
              messageVersion="Soap12" writeEncoding="utf-8">
            <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          </textMessageEncoding>
          <httpTransport manualAddressing="false" maxBufferPoolSize="524288"
              maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous"
              bypassProxyOnLocal="false" decompressionEnabled="true" hostNameComparisonMode="StrongWildcard"
              keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous"
              realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false"
              useDefaultWebProxy="true" />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://172.29.12.184:8080/etrackHeatRangesService/HeatRangesService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_HeatRangesService"
                contract="HeatRangesService" name="BasicHttpBinding_HeatRangesService" />
      <!--la direcicon 12.63 es un servidor NO productivo, el 10.58 es productivo-->
      <!--<endpoint address="http://172.29.108.124/EtrackPipeValidationService/Service.asmx"
          binding="customBinding" bindingConfiguration="ServiceSoap12"
          contract="ServiceSoap" name="ServiceSoap12" />-->
      <endpoint address="http://etrack.tamsa.ot/EtrackPipeValidationService/Service.asmx"
          binding="customBinding" bindingConfiguration="ServiceSoap12"
          contract="ServiceSoap" name="ServiceSoap12" />
    </client>
  </system.serviceModel>

  <Tenaris.Manager.Production.ProductionManager
     instanceType="Tenaris.Manager.Production.Shared.IProductionManager, Tenaris.Manager.Production.Shared"
     aliveInterval="5000"
     singleInstance="true"
     validateConnection="false">
    <Redundancy>
      <Address url="tcp://TNACAWFM198.tnsautoca.techint.net:22006/Tenaris.Manager.Production.ProductionManager.soap" forumPresent="false" isTargetManager="true"/>
    </Redundancy>
  </Tenaris.Manager.Production.ProductionManager>

  <Tenaris.Manager.Tracking.TrackingManager
    instanceType="Tenaris.Manager.Tracking.Shared.ITrackingManager, Tenaris.Manager.Tracking.Shared"
    aliveInterval="5000"
    singleInstance="true"
    validateConnection="false">
    <Redundancy>
      <Address url="tcp://TNACAWFM198.tnsautoca.techint.net:22005/TrackingManager.soap" forumPresent="false" isTargetManager="true"/>
    </Redundancy>
  </Tenaris.Manager.Tracking.TrackingManager>

  <Tenaris.WMS.Manager.WMSManager
  url="tcp://TNACAWFM198.tnsautoca.techint.net:22402/Tenaris.WMS.Manager.WMSManager.soap"
  instanceType="Tenaris.WMS.Manager.Shared.IWMSManager, Tenaris.WMS.Manager.Shared"
  aliveInterval="2000" singleInstance="false" forumPresent="false"/>

  <Tenaris.WMS.Manager.WMSService
    url="tcp://TNACAWFM198.tnsautoca.techint.net:22402/Tenaris.WMS.Manager.WMSManager.soap"
    instanceType="Tenaris.WMS.Manager.Shared.IWMSService, Tenaris.WMS.Manager.Shared"
    aliveInterval="2000" singleInstance="false" forumPresent="false"/>

  <BusinessRulesManager
   url="tcp://TNACAWFM198.tnsautoca.techint.net:22007/Tenaris.Manager.BusinessRules.soap"
   instanceType="Tenaris.Manager.BusinessRules.Shared.IBusinessRulesManager, Tenaris.Manager.BusinessRules.Shared"
   aliveInterval="2000"
   singleInstance="false"
   forumPresent="false"/>

  <!--<Tenaris.Manager.Preset
    url="tcp://TNACAWFM198.tnsautoca.techint.net:22020/Tenaris.Manager.Preset.PresetManager.soap"
    instanceType="Tenaris.Manager.Preset.Shared.IPresetManager, Tenaris.Manager.Preset.Shared"
    aliveInterval="3000"
    singleInstance="true"
    validateConnection="true">
    <Redundancy>
      --><!--<Address url="tcp://10.80.130.51:8040/Tenaris.Manager.Preset.PresetManager.soap" forumPresent="false" isTargetManager="true" />--><!--
    </Redundancy>
  </Tenaris.Manager.Preset>-->

  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>