<?xml version="1.0"?>
<configuration>

	<configSections>
		<section name="ClientProxyFactory" type="Tenaris.Library.Proxy.Configuration.ProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>
		<section name="ServerProxyFactory" type="Tenaris.Library.Proxy.Configuration.ProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>
		<section name="ManagerProxyFactory" type="Tenaris.Library.Proxy.Configuration.ProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>

		<!--WMS Tubing-->
		<section name="Tenaris.Tamsa.BME.Report.Tubing" type="Tenaris.Library.System.Factory.FactoryConfiguration, Tenaris.Library.System"/>
		<!--WMS Casing-->
		<section name="Tenaris.Tamsa.BME.Report.Casing" type="Tenaris.Library.System.Factory.FactoryConfiguration, Tenaris.Library.System"/>
    <!--WMS Linea1-->
    <section name="Tenaris.Tamsa.BME.Report.Linea1" type="Tenaris.Library.System.Factory.FactoryConfiguration, Tenaris.Library.System"/>
    <!--WMS Linea2-->
    <section name="Tenaris.Tamsa.BME.Report.Linea2" type="Tenaris.Library.System.Factory.FactoryConfiguration, Tenaris.Library.System"/>


    <!--Ndt Tubing-->
		<section name="Tenaris.Tamsa.Ndt.Report.Tubing" type="Tenaris.Library.System.Factory.FactoryConfiguration, Tenaris.Library.System"/>
		<!--Ndt Casing-->
		<section name="Tenaris.Tamsa.Ndt.Report.Casing" type="Tenaris.Library.System.Factory.FactoryConfiguration, Tenaris.Library.System"/>

		<!--Ndt Ajuste-->
		<section name="Tenaris.Tamsa.Ndt.Report.Ajuste" type="Tenaris.Library.System.Factory.FactoryConfiguration, Tenaris.Library.System"/>

    <!--PH Tubing-->
    <section name="Tenaris.Tamsa.PH.Report.Tubing" type="Tenaris.Library.System.Factory.FactoryConfiguration, Tenaris.Library.System"/>
    <!--PH Casing-->
    <section name="Tenaris.Tamsa.PH.Report.Casing" type="Tenaris.Library.System.Factory.FactoryConfiguration, Tenaris.Library.System"/>

    <!--THR Tubing-->
    <section name="Tenaris.Tamsa.Thr.Report.Tubing" type="Tenaris.Library.System.Factory.FactoryConfiguration, Tenaris.Library.System"/>
    <!--THR Casing-->
    <section name="Tenaris.Tamsa.Thr.Report.Casing" type="Tenaris.Library.System.Factory.FactoryConfiguration, Tenaris.Library.System"/>
    
		<!-- CONFIGURACION PARA LOG -->
		<section name="log" type="Tenaris.Library.Log.LogConfiguration, Tenaris.Library.Log"/>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
	</configSections>

	<!--WMS Tubing-->
	<Tenaris.Tamsa.BME.Report.Tubing factoryType="Tenaris.Tamsa.BME.Report.Data.ReportDataAccessFactory, Tenaris.Tamsa.BME.Report.Data" isSingleton="True">
		<ReportDataAccessConfiguration connectionStringName="Level2_Tubing"/>
	</Tenaris.Tamsa.BME.Report.Tubing>
	<!--WMS Casing-->
	<Tenaris.Tamsa.BME.Report.Casing factoryType="Tenaris.Tamsa.BME.Report.Data.ReportDataAccessFactory, Tenaris.Tamsa.BME.Report.Data" isSingleton="True">
		<ReportDataAccessConfiguration connectionStringName="Level2_Casing"/>
	</Tenaris.Tamsa.BME.Report.Casing>

  <!--WMS Linea1-->
  <Tenaris.Tamsa.BME.Report.Linea1 factoryType="Tenaris.Tamsa.BME.Report.Data.ReportDataAccessFactory, Tenaris.Tamsa.BME.Report.Data" isSingleton="True">
    <ReportDataAccessConfiguration connectionStringName="Level2_Linea1"/>
  </Tenaris.Tamsa.BME.Report.Linea1>
  <!--WMS Linea2-->
  <Tenaris.Tamsa.BME.Report.Linea2 factoryType="Tenaris.Tamsa.BME.Report.Data.ReportDataAccessFactory, Tenaris.Tamsa.BME.Report.Data" isSingleton="True">
    <ReportDataAccessConfiguration connectionStringName="Level2_Linea2"/>
  </Tenaris.Tamsa.BME.Report.Linea2>


  <!--Ndt Tubing-->
	<Tenaris.Tamsa.Ndt.Report.Tubing factoryType="Tenaris.Tamsa.Ndt.Report.Data.ReportDataAccessFactory, Tenaris.Tamsa.Ndt.Report.Data" isSingleton="True">
		<ReportDataAccessConfiguration connectionStringName="Level2_Tubing"/>
	</Tenaris.Tamsa.Ndt.Report.Tubing>
	<!--Ndt Casing-->
	<Tenaris.Tamsa.Ndt.Report.Casing factoryType="Tenaris.Tamsa.Ndt.Report.Data.ReportDataAccessFactory, Tenaris.Tamsa.Ndt.Report.Data" isSingleton="True">
		<ReportDataAccessConfiguration connectionStringName="Level2_Casing"/>
	</Tenaris.Tamsa.Ndt.Report.Casing>

	<!--Ndt Ajuste-->
	<Tenaris.Tamsa.Ndt.Report.Ajuste factoryType="Tenaris.Tamsa.Ndt.Report.Data.ReportDataAccessFactory, Tenaris.Tamsa.Ndt.Report.Data" isSingleton="True">
		<ReportDataAccessConfiguration connectionStringName="Level2_Ajuste"/>
	</Tenaris.Tamsa.Ndt.Report.Ajuste>

  <!--PH Tubing-->
  <Tenaris.Tamsa.PH.Report.Tubing factoryType="Tenaris.Tamsa.PH.Report.Data.ReportDataAccessFactory, Tenaris.Tamsa.PH.Report.Data" isSingleton="True">
    <ReportDataAccessConfiguration connectionStringName="Level2_Tubing"/>
  </Tenaris.Tamsa.PH.Report.Tubing>
  <!--PH Casing-->
  <Tenaris.Tamsa.PH.Report.Casing factoryType="Tenaris.Tamsa.PH.Report.Data.ReportDataAccessFactory, Tenaris.Tamsa.PH.Report.Data" isSingleton="True">
    <ReportDataAccessConfiguration connectionStringName="Level2_Casing"/>
  </Tenaris.Tamsa.PH.Report.Casing>

  
  <!--Thr Tubing-->
  <Tenaris.Tamsa.Thr.Report.Tubing factoryType="Tenaris.Tamsa.Thr.Report.Data.ReportDataAccessFactory, Tenaris.Tamsa.Thr.Report.Data" isSingleton="True">
    <ReportDataAccessConfiguration connectionStringName="Level2_Tubing"/>
  </Tenaris.Tamsa.Thr.Report.Tubing>
  <!--Thr Casing-->
  <Tenaris.Tamsa.Thr.Report.Casing factoryType="Tenaris.Tamsa.Thr.Report.Data.ReportDataAccessFactory, Tenaris.Tamsa.Thr.Report.Data" isSingleton="True">
    <ReportDataAccessConfiguration connectionStringName="Level2_Casing"/>
  </Tenaris.Tamsa.Thr.Report.Casing>
  
	<connectionStrings>
		<!--<add name="Level2_Tubing" connectionString="Application Name=view_Reports;Data Source=10.92.24.106;Initial Catalog=Level2_Tubing_Dev2; User ID=Level2;Password=level2;Persist Security Info=True;MultipleActiveResultSets=True; Asynchronous Processing=true;" providerName="System.Data.SqlClient"/>-->
		<!--<add name="Level2_Casing" connectionString="Application Name=view_Reports;Data Source=10.92.24.106;Initial Catalog=Level2_Casing_Dev; User ID=Level2;Password=level2;Persist Security Info=True;MultipleActiveResultSets=True; Asynchronous Processing=true;" providerName="System.Data.SqlClient"/>-->
		<!--<add name="Level2_Ajuste" connectionString="Application Name=view_Reports;Data Source=10.92.24.106;Initial Catalog=Level2_Ajuste_Dev; User ID=Level2;Password=level2;Persist Security Info=True;MultipleActiveResultSets=True; Asynchronous Processing=true;" providerName="System.Data.SqlClient"/>-->
    <add name="Level2_Linea1" connectionString="Application Name=view_Reports;Data Source=10.93.1.87;Initial Catalog=Level2_Linea1; User ID=sa;Password=Tamsa01;Persist Security Info=True;MultipleActiveResultSets=True; Asynchronous Processing=true;" providerName="System.Data.SqlClient"/>
    <!--<add name="Level2_Linea2" connectionString="Application Name=view_Reports;Data Source=10.93.1.85;Initial Catalog=Level2_Linea2; User ID=sa;Password=Tamsa01;Persist Security Info=True;MultipleActiveResultSets=True; Asynchronous Processing=true;" providerName="System.Data.SqlClient"/>-->
    <!--Original ↓-->
    <!--<add name="Level2_Tubing" connectionString="Data Source=10.92.23.111;Initial Catalog=Level2_Tubing; User ID=Level2;Password=123level2123;Persist Security Info=True;MultipleActiveResultSets=True; Asynchronous Processing=true;" providerName="System.Data.SqlClient"/>
    <add name="Level2_Casing" connectionString="Data Source=10.92.24.100;Initial Catalog=Level2_Casing; User ID=Level2;Password=123level2123;Persist Security Info=True;MultipleActiveResultSets=True; Asynchronous Processing=true;" providerName="System.Data.SqlClient"/>
    <add name="Level2_Ajuste" connectionString="Data Source=10.92.23.100;Initial Catalog=Level2_Ajuste; User ID=Level2;Password=123level2123;Persist Security Info=True;MultipleActiveResultSets=True; Asynchronous Processing=true;" providerName="System.Data.SqlClient"/>-->
	</connectionStrings>
  
	<appSettings>
		<!--View Configuration-->
    <add key="ShowTenarisTitle" value="false"/>
    <add key="Culture" value="es-MX"/>
		<add key="ConfigPath" value="Config"/>
		<add key="ConfigFileName" value="Config.xml"/>
		<add key="ConfigMailingList" value="MailingList.xml"/>
		<add key="ImagePath" value="images"/>
		<add key="ImageSplashScreen" value="loader.png"/>
		<add key="MainTiTle" value="Vista de Reportes"/>
		<add key="DateFormat" value="yyyy-MM-dd"/>
		<add key="BlockIsExpanded" value="true"/>
		<add key="IsVisibilityButtons" value="true"/>
    <add key="IsEnabledButtonSendIT" value="true"/>
    <add key="ConfigSectionMachine" value=""/>
    
    <!--EJEMPLO DE MAQUINAS-->
    <!--WMS,CND,PH,INVI BOX,VDI THR BOX,UT-->
    <add key="Machines" value="WMS,CND,PH,INVI BOX,VDI THR BOX,UT"/>

		<!--Message Display-->
		<add key="LackOfOrderNumber" value="Falta el numero de orden"/>
		<add key="LackOfHeatNumber" value="Falta el numero de la colada"/>
		<add key="SelectShift" value="Seleccione un turno"/>
		<add key="NoDBConexion" value="No hay conexion con la Base de Datos"/>
		<add key="NoDateBegin" value="Seleccione la fecha inicial"/>
		<add key="NoDateEnd" value="Seleccione la fecha final"/>
		<add key="NoDataQuery" value="No hay datos para la consulta"/>
		<add key="NoAllShift" value="No se pueden ver todos los turnos"/>
		<add key="AllShift" value="Todos los turnos"/>
		<add key="NoMaxDays" value="No se puede consultar mas de: ''{0}'' dia(s) para: ''{1}''"/>
    <add key="Loading" value="Cargando, Espere un momento..."/>
    <add key="THRESHOLD" value="Esta consulta excede la cantidad de {0} registros permitidos"/>

		<!--SP NDT-->
		<add key="GetVerificationHeaderData" value="[Ndt_Report].[GetVerificationHeaderData]"/>
		<add key="History_GetTrendInformation" value="[Ndt].[History_GetTrendInformation]"/>
		<add key="GetDefectHeaderData" value="[Ndt_Report].[GetDefectHeaderData]"/>
		<add key="GetDefectInfo" value="[Ndt_Report].[GetDefectInfo]"/>
		<add key="Report_GetStandarization" value="[Emi].[Report_GetStandarization]"/>
		<add key="GetProductionHeader" value="[Ndt_Report].[GetProductionHeader]"/>
		<add key="GetProductionData" value="[Ndt_Report].[GetProductionData]"/>
		<add key="GetIdVerificationCalHistory" value="[Ndt_Report].[GetIdVerificationCalHistory]"/>
		<add key="GetVerificationId" value="[Ndt_Report].[GetVerificationId]"/>
    <!--<add key="GetInspectionData" value="[Ndt_Report].[GetVerificationId]"/>-->
    <add key="GetReportDefects" value="[Ndt_Report].[qryDefect]"/>

		<!--SP WMS-->
		<add key="Report_Orders" value="[WMS].[Report_Orders]"/>
		<!--Resumen ordenes de producción-->
		<add key="Report_OrdersAndHeats" value="[WMS].[Report_OrdersAndHeats]"/>
		<!--Desglose por colada-->
		<add key="Report_PipesHeader" value="[WMS].[Report_PipesHeader]"/>
		<!--Resumen tuberia producida (Header)-->
		<add key="Report_Pipes" value="[WMS].[Report_Pipes]"/>
		<!--Resumen tuberia producida-->
		<add key="Report_Prod" value="[WMS].[Report_Prod]"/>
		<!--Reporte de produccion-->

    <!--SP PH-->
    <!---->
    <add key="ReportPH_PipeTest" value="[Hpt_Report].[Report_PipeTest]"/>
    <!---->
    <add key="ReportPH_PipesHeader_Count" value="[Hpt_Report].[Report_PipesHeader_Count]"/>
    <!---->
    <add key="ReportPH_PipesHeader" value="[Hpt_Report].[Report_PipesHeader]"/>
    <!---->
    <add key="ReportPH_Production" value="[Hpt_Report].[Report_Production]"/>
    
    
    <!--Config Scale PH eje Y y X-->
    <add key="ScaleEjeYPH" value="500"/>
    <add key="ScaleEjeXPH" value="1"/>

    <!--Config Scale PH-->
    <add key="ValueSecontPH" value="1"/>
    <!--Valor en segundos-->
    <add key="ValueSecontScalePH" value="1000"/>
    <!--Valor en milisegundos-->
    <add key="IncrementPH" value="100"/>
    <!--Valor escala linea de tiempo en milisegundos-->


    <!-- SP ROSC AND VDI -->
    <add key="Report_Discards" value="[Vdi].[Report_Discards]"/>
    <add key="Report_Inspection" value="[Vdi].[Report_Inspection]"/>
    
    <!--Obtiene detalle de la inspeccion dimensional-->
    <add key="Report_Dimensional" value="[Vdi].[Report_Dimensional]"/>
    <!--Obtiene Información de la orden-->
    <add key="GetOrderData" value="[Vdi].[GetOrderData]"/>
    <!--Obtiene la especificación de variables para la orden-->
    <add key="GetVariableSpecification" value="[Vdi].[GetVariableSpecificationByOrden]"/>
    <!--Obtiene conjunto de OPs que han pasado por las roscadoras PIN y BOX en un rango de tiempo-->
    <add key="GetOrdersByRangeDates" value="[Vdi].[GetOrdersByRangeDates]"/>
    <!--Parametros para identificar la calificacion de una variabla visual como OK o NO OK-->
    <add key="varOK" value="1"/>
    <add key="varNOOK" value="2"/>
    <!--Texto para la asignación de OK o NO OK para las variables de inspección visual-->
    <add key="txtOK" value="OK"/>
    <add key="txtNOOK" value="NO OK"/>
    <!--Nombre de la columna de las unidades para saber cuales son visuales-->
    <add key="ColumnUnit" value="UNIDAD"/>
    <!--Código de Unidad que se utiliza para las variables visuales-->
    <add key="CodeUnit" value="VSL"/>
    
    
		<!--TIPOS DE REPORTES-->
		<add key="PIPELINE_REPORT" value="Reporte de Tuberia"/>
		<add key="PRODUCTION_ORDER_SUMMARY" value="Resumen Ordenes de Produccion"/>
		<add key="VERIFICATION_REPORT" value="Reporte de Verificacion"/>
		<add key="REPORT_DEFECTIVENESS" value="Reporte de Defectuosidad"/>
		<add key="INSPECTION_REPORT" value="Reporte de Inspeccion"/>
		<add key="DESCARTES_REPORT" value="Reporte de Descartes"/>
		<add key="PRODUCTION_REPORT" value="Reporte de Produccion"/>
		<add key="DIMENSIONAL_INSPECTION_REPORT" value="Reporte Inspeccion Dimensional"/>
		<add key="SCREW_INSPECTION_REPORT" value="Reporte Inspeccion Roscado"/>
		<add key="ULTRASOUND_RUN_SHEET" value="Hoja de Corrida de ULtrasonido"/>
		<add key="DIALY_REPORT_PRODUCTION_ORDER" value="Reporte Diario por Orden de Produccion"/>
		<add key="VERIFICACTION_ULTRASOUND" value="Verificacion de Ultrasonido"/>
		<add key="CALIBRATION_REPORT" value="Reporte de Calibracion"/>
		<add key="BREAKDOWN_HEADERS" value="Desglose de Coladas"/>
		<add key="PASSREPORT_MANDRIL" value="Reporte de Paso de Mandril"/>
		<add key="TYRE_REPORT" value="Reporte de Tiro"/>
		<add key="STANDARD_CERTIFICATE_PIPE" value="Certifcado de Tubos Patron"/>

    <!--Configuracion IT Service-->
    <!--Envios IT-->
    <add key="ITService" value="net.tcp://172.29.12.58:33333/ITService/"/>
    <!--<add key="ITPath" value="http://workplace.tenaris.techint.net/sites/ITArchitecture/IT%20Architecture%20Work%20Site/ApplicationsArchitecture/projects/QualitySite/QualityDocuments/Forms/AllItems.aspx"/>-->
    <add key="ITPath" value="http://workplace.tenaris.techint.net/sites/ITArchitecture/IT%20Architecture%20Work%20Site/ApplicationsArchitecture/projects/QualitySite/QualityDocuments/"/>
    <add key="Orders" value="OP"/>
    <add key="Heats" value="Colada"/>
    <add key="DateReport" value="Fecha de reporte"/>
    <add key="Process" value="Centro productivo"/>
    <add key="Shift" value="Turno"/>

		<!-- SMTP Configuration -->
		<add key="SMTP_Host" value="172.29.8.7"/>
		<add key="SMTP_Port" value="25"/>
		<add key="SMTP_User" value=""/>
		<add key="SMTP_Password" value=""/>
		<add key="SMTP_SenderEmail" value="tambal1@tamsa.com.mx"/>
		<add key="SMTP_SenderName" value="BME 21"/>
    
	</appSettings>

  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="RoleEndPoint" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="524288" maxBufferSize="65536" maxConnections="10" maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:01:00" enabled="true"/>
          <security mode="None">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign"/>
            <message clientCredentialType="Windows"/>
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://10.92.23.178:33333/ITService" binding="netTcpBinding" bindingConfiguration="RoleEndPoint" contract="ITServiceReference.ITService" name="RoleEndPoint">
        <identity>
          <dns value="10.92.23.178"/>
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>

	<log maxQueueSize="10000" dumpStack="true" 
	maxFileCount="10"
	msgFormat="{TypeChar} {Timestamp:yyyy-MM-dd HH:mm} [{AppDomainName,-20}:{ThreadId,-5:d5}] [lap={LapFriendlyValue,-10:f2}{LapFriendlyUnit,4}] {AssemblyName,-15} {IdentString} {Message}"/>

	<log4net>
		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout"></layout>
		</appender>

		<appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
			<param name="DatePattern" value="'.'yyyyMMdd'.log' "/>
      <param name="File" value="C:\Appls\Tenaris\Views\WMSReports\Logs"/>
			<param name="AppendToFile" value="false"/>
			<param name="rollingStyle" value="Date"/>
			<param name="maxSizeRollBackups" value="10"/>
			<param name="maximumFileSize" value="4MB"/>
			<param name="staticLogFileName" value="false"/>
			<layout type="log4net.Layout.PatternLayout">
				<param name="Header" value="[BEGIN_LOG %date{yyyy-MM-dd HH:mm} ===] %newline" type="log4net.Util.PatternString"/>
				<param name="Footer" value="[END_LOG %date{yyyy-MM-dd HH:mm} =====]" type="log4net.Util.PatternString"/>
			</layout>
		</appender>

		<root>
			<priority value="DEBUG"/>
			<appender-ref ref="LogFileAppender"/>
			<appender-ref ref="ConsoleAppender"/>
		</root>
	</log4net>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
