<?xml version="1.0"?>
<configuration>
  <configSections>
    <!-- configuracion de la vista -->
    <section name="TemplateConfig" type="RegisterHeads.Alarm.View.Model.Configuration.TemplateViewConfiguration, RegisterHeads.Alarm.View.Model" requirePermission="false" allowLocation="true" allowDefinition="Everywhere" />
    <!-- log de la vista -->
    <section name="log" type="Tenaris.Library.Log.LogConfiguration, Tenaris.Library.Log" />
    <!-- configuracion del security modo cliente -->
    <section name="Tenaris.Library.Security" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy, Version=4.1.0.0, Culture=neutral, PublicKeyToken=c4a5016cfc42fcd0"/>
    <!-- configuracion del security modo stand alone -->
    <!--<section name="Tenaris.Library.Security" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework" />-->
  </configSections>
  <connectionStrings>
    <!--<add name="DBMaster" connectionString="Application Name=RegisterHeads.Alarm.View;Data Source= 10.93.1.94;Initial Catalog=DBLINE2;User ID=sa;Password=Lineas123;Persist Security Info=True;MultipleActiveResultSets=True; Asynchronous Processing=true;" />-->
    <!--<add name="DBMaster" connectionString="Data Source=172.29.108.207;Initial Catalog=RMD_Level2_Line1;User ID=drodriguez;Password=drodriguez;Persist Security Info=true;MultipleActiveResultSets=true; Asynchronous Processing=true; Application Name=RegisterHeadsView; Pooling=true; Max Pool Size=300;"/>-->
    <add name="DBMaster" connectionString="Data Source=TNATFT2PRDLSN.tnsautoca.techint.net,5040;Initial Catalog=L2Trk;Integrated Security=SSPI;Persist Security Info=True;MultipleActiveResultSets=true; Asynchronous Processing=true; Application Name=RegisterHeadsView; Pooling=true; Max Pool Size=300;"/>
  </connectionStrings>
  <appSettings>
    <!--IntervalReconnection in seconds-->
    <add key="IntervalReconnection" value="2" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="UriRegisterHeadService" value="net.tcp://TNACAWFM197.tnsautoca.techint.net:6031/RegisterHeadsService"/>
    <add key="NameStation" value="TestClient"/>
    <add key="AllowedIP" value="10.97.19.25,172.29.12.51"/>
    <!--ListenEventsManager. Indica si se escuchan los eventos del Manager o se trabaja con timer sobre BD-->
    <add key="ListenEventsManager" value="false"/>
    <!--TimeToCheck. Para cuando se trabaja por Timer sobre la BD. En valor en segundos-->
    <add key="TimeToCheck" value="120"/>
  </appSettings>
  <!-- configuracion de la vista -->
  <!--
    TO DO
    Agregar las variables de configuracion propias de la vista
    vease clase RegisterHeads.Alarm.View.Model.Configuration.TemplateViewConfiguration
  -->
  <TemplateConfig DskMgr="false" Language="es-MX" DBConnection="DBMaster" AreaCode="FAT2L2" />
  <!-- Configuracion security modo cliente -->
  <Tenaris.Library.Security
      url="tcp://localhost:21100/Tenaris.Service.Security.soap"
      instanceType="Tenaris.Service.Security.Shared.ISecurityService, Tenaris.Service.Security.Shared, Version=4.1.0.0, Culture=neutral, PublicKeyToken=465086d7dfe9d4be"
      aliveInterval="0"
      validateConnection="true"
      singleInstance="true"
      forumPresent="false"
      isTargetManager="false">
    <Redundancy>
    </Redundancy>
  </Tenaris.Library.Security>
  
  <!-- Configuracion security modo stand alone  -->
  <!--<Tenaris.Library.Security factoryType="Tenaris.Service.Security.FactoryLocal, Tenaris.Service.Security" isSingleton="true">
    <SecurityConfiguration ConnectionStringName="DBMaster" AuthenticationType="Database" DefaultZoneCode="NONE" />
  </Tenaris.Library.Security>-->
  
  <!-- configuracion del log de la vista -->
  <log maxFileSize="8096" 
       msgFormat="{Timestamp:HH:mm.ss.fff} ; {Level,-7} ; {Message} ; {MethodName}" 
       logLevel="Debug" 
       traceAttributeLogEnabled="true" 
       logBaseName="RegisterHeads.Alarm.View" 
       path="\\TNACAWFM197.tnsautoca.techint.net\Appls\Clientes\PH 22\Tenaris\Logs\%UserName%\RegisterHeads" 
       additionalLogDestination="Console" 
       logAssemblyLoad="false" />
  <!--
    Configuracion de remoting
    Usada para la comunicacion con manager
    Usada por la security
  -->
  <system.runtime.remoting>
    <application name="RegisterHeads.Alarm.View">
      <channels>
        <channel ref="tcp" port="0">
          <clientProviders>
            <provider type="Tenaris.Library.Proxy.Remoting.ClientRemotingInterceptorProvider, Tenaris.Library.Proxy" />
            <formatter ref="binary" typeFilterLevel="Full" />
          </clientProviders>
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full" />
          </serverProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBindingEndpoint">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://TNACAWFM197.tnsautoca.techint.net:6031/RegisterHeadsService"
          binding="netTcpBinding" bindingConfiguration="NetTcpBindingEndpoint"
          contract="RegisterHeadsService.IRegisterHeadsService" name="NetTcpBindingEndpoint" />
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>