<?xml version="1.0"?>
<Connections>

    <Connection id="testMdb"
                class="System.Data.OleDb.OleDbConnection"
                adapter="System.Data.OleDb.OleDbDataAdapter"
                connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=D:\appls\Temp\gridASP\test.mdb;User Id=admin;Password=" 
               />


    <Connection id="Calendar"
                class="System.Data.OleDb.OleDbConnection"
                adapter="System.Data.OleDb.OleDbDataAdapter"
                connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=D:\appls\Temp\gridASP\calendar.mdb;User Id=admin;Password=" 
               />
               

    <Connection id="SampleSqlServer"
                class="System.Data.SqlClient.SqlConnection"
                adapter="System.Data.SqlClient.SqlDataAdapter"
                connectionString="Data source=(local);Initial Catalog=MyDatabase;Integrated Security=SSPI;" 
               />


    <Connection id="premium2"
                class="System.Data.SqlClient.SqlConnection"
                adapter="System.Data.SqlClient.SqlDataAdapter"
                connectionString="Data Source=10.92.8.100;Initial Catalog=DbLPremiumInterruptions;Persist Security Info=True;User ID=sa;Password=Premium2"
               />

    <Connection id="premium2SEAS"
                class="System.Data.SqlClient.SqlConnection"
                adapter="System.Data.SqlClient.SqlDataAdapter"
                connectionString="Data Source=10.92.8.100;Initial Catalog=DBSEA;Persist Security Info=True;User ID=sa;Password=Premium2"
               />


    <Connection id="Dopeless2"
                class="System.Data.SqlClient.SqlConnection"
                adapter="System.Data.SqlClient.SqlDataAdapter"
                connectionString="Data Source=10.92.8.102;Initial Catalog=Level2_Dopeless;Persist Security Info=True;User ID=sa;Password=DopelessPremium2; Application Name=ReportsIJM;"
               />

    <Connection id="Accesorios"
                class="System.Data.SqlClient.SqlConnection"
                adapter="System.Data.SqlClient.SqlDataAdapter"
                connectionString="Data Source=10.92.8.104;Initial Catalog=DBAccessories;Persist Security Info=True;User ID=sa;Password=AccesoriosPremium2"
               />
			   
    <Connection id="premium2relevado"
                class="System.Data.SqlClient.SqlConnection"
                adapter="System.Data.SqlClient.SqlDataAdapter"
                connectionString="Data Source=10.92.8.100;Initial Catalog=SwagingProcessInterruptions;Persist Security Info=True;User ID=sa;Password=Premium2"
               />

    <Connection id="Identification"
                class="System.Data.SqlClient.SqlConnection"
                adapter="System.Data.SqlClient.SqlDataAdapter"
                connectionString="Application Name=TraceabilityManager;Data Source=localhost;Initial Catalog=AusV1;User ID=sa;Password=Lineas123;Persist Security Info=True;Max Pool Size=10;"
               />

	
	<Connection id="premium2Prodrelevado"
                class="System.Data.SqlClient.SqlConnection"
                adapter="System.Data.SqlClient.SqlDataAdapter"
                connectionString="Data Source=10.92.8.100;Initial Catalog=SwagingProcess;Persist Security Info=True;User ID=sa;Password=Premium2"
               />

    <Connection id="PACL7"
                class="System.Data.SqlClient.SqlConnection"
                adapter="System.Data.SqlClient.SqlDataAdapter"
                connectionString="Data Source=10.92.8.100;Initial Catalog=BuckOn;Persist Security Info=True;User ID=sa;Password=Premium2"
               />

    <Connection id="premium1"
                class="System.Data.SqlClient.SqlConnection"
                adapter="System.Data.SqlClient.SqlDataAdapter"
                connectionString="Data Source=10.93.1.214;Initial Catalog=REPLICATEDPREMIUM;Persist Security Info=True;User ID=sa;Password=lineas"
               />


    <Connection id="SampleOracleOle"
                assembly="System.Data"
                class="System.Data.OleDb.OleDbConnection"
                adapter="System.Data.OleDb.OleDbDataAdapter"
                connectionString="Provider=msdaora;Server=MyServer;User Id=MyUserID;Password=MyPassword" 
               />
               

    <Connection id="SampleOracle"
                assembly="System.Data.OracleClient"
                class="System.Data.OracleClient.OracleConnection"
                adapter="System.Data.OracleClient.OracleDataAdapter"
                connectionString="Data Source=OracleDB; User Id=user;Password=pass" 
               />
               
               
    <Connection id="NorthwindSQL"
                class="System.Data.SqlClient.SqlConnection"
                adapter="System.Data.SqlClient.SqlDataAdapter"
                connectionString="Data source=(local);Initial Catalog=Northwind;Integrated Security=SSPI;" 
               />


    <Connection id="TRK"
                class="System.Data.SqlClient.SqlConnection"
                adapter="System.Data.SqlClient.SqlDataAdapter"
                connectionString="Application Name=IdentificacionN2;Data Source=10.92.20.58,50730;Initial Catalog=CippMaster;Persist Security Info=True;User ID=webtrk;Password=webtrk"
               />

  <Connection id="UT33"
            class="System.Data.SqlClient.SqlConnection"
            adapter="System.Data.SqlClient.SqlDataAdapter"
            connectionString="Application Name=IdentificationN2Web;Data Source=10.92.29.104;Failover Partner=10.92.29.105;Initial Catalog=Level2_UT33;User ID=sa;Password=Tamsa3UT33;MultipleActiveResultSets=True;Persist Security Info=True;Max Pool Size=10;Asynchronous Processing=true;"
			
               />

  <Connection id="UT31"
            class="System.Data.SqlClient.SqlConnection"
            adapter="System.Data.SqlClient.SqlDataAdapter"
            connectionString="Data Source=10.92.29.100;Failover Partner=10.92.29.101;Initial Catalog=Level2_UT31_V1;User ID=Level2;Password=level2;Application Name=IdentificacionN2Web;MultipleActiveResultSets=True;"
            
              />

  <Connection id="UT32"
          class="System.Data.SqlClient.SqlConnection"
          adapter="System.Data.SqlClient.SqlDataAdapter"
          connectionString="Data Source=10.92.29.102;Failover Partner=10.92.29.103;Initial Catalog=Level2_UT32_V1;User ID=Level2;Password=level2;Application Name=IdentificacionN2Web;MultipleActiveResultSets=True;"
            
              />


  <Connection id="BME21"
                class="System.Data.SqlClient.SqlConnection"
                adapter="System.Data.SqlClient.SqlDataAdapter"
                connectionString="Application Name=IdentificacionN2;Data Source=10.93.1.87;Initial Catalog=Level2_Linea1;Persist Security Info=True;User ID=drodriguez;Password=drodriguez"
               />

  <Connection id="BME22"
            class="System.Data.SqlClient.SqlConnection"
            adapter="System.Data.SqlClient.SqlDataAdapter"
            connectionString="Application Name=IdentificacionN2;Data Source=10.93.1.85;Initial Catalog=Level2_Linea2;Persist Security Info=True;User ID=drodriguez;Password=drodriguez"
               />


  <Connection id="AM21New"
                class="System.Data.SqlClient.SqlConnection"
                adapter="System.Data.SqlClient.SqlDataAdapter"
                connectionString="Application Name=IdentificacionN2;Data Source=10.92.70.162;Failover Partner=10.92.70.164;Initial Catalog=Level2_Line1;Persist Security Info=True;User ID=drodriguez;Password=123123"
               />

  <Connection id="AM21"
                class="System.Data.SqlClient.SqlConnection"
                adapter="System.Data.SqlClient.SqlDataAdapter"
                connectionString="Application Name=IdentificacionN2;Data Source=10.92.70.124;Failover Partner=10.92.70.130;Initial Catalog=Level2_Line1;Persist Security Info=True;User ID=drodriguez;Password=drodriguez"
               />

  <Connection id="AM22"
                class="System.Data.SqlClient.SqlConnection"
                adapter="System.Data.SqlClient.SqlDataAdapter"
                connectionString="Application Name=IdentificacionN2;Data Source=10.92.70.125;Failover Partner=10.92.70.131;Initial Catalog=Level2_Line2;Persist Security Info=True;User ID=drodriguez;Password=drodriguez"
               />

  <Connection id="TT2"
                class="System.Data.SqlClient.SqlConnection"
                adapter="System.Data.SqlClient.SqlDataAdapter"
                connectionString="Data Source=172.29.124.42;Initial Catalog=Level2_TT2;Persist Security Info=True;User ID=drodriguez;Password=drodriguez"
               />

  <Connection id="TT2Marcaje"
                class="System.Data.SqlClient.SqlConnection"
                adapter="System.Data.SqlClient.SqlDataAdapter"
                connectionString="Data Source=172.29.10.17;Initial Catalog=TTRN2;Persist Security Info=True;User ID=sa;Password=ltr2"
               />

  <Connection id="TT3"
                class="System.Data.SqlClient.SqlConnection"
                adapter="System.Data.SqlClient.SqlDataAdapter"
                connectionString="Data Source=172.29.11.172;Initial Catalog=Level2_TT3;Persist Security Info=True;User ID=drodriguez;Password=drodriguez"
               />

  <Connection id="AM22Legacy"
              class="System.Data.SqlClient.SqlConnection"
              adapter="System.Data.SqlClient.SqlDataAdapter"
              connectionString="Application Name=IdentificacionN2;Data Source=10.93.1.108;Initial Catalog=Level2_Line2;Persist Security Info=True;User ID=sa;Password=Amalog22Nivel2"
               />

  <Connection id="AM21Legacy"
              class="System.Data.SqlClient.SqlConnection"
              adapter="System.Data.SqlClient.SqlDataAdapter"
              connectionString="Application Name=IdentificacionN2;Data Source=10.93.1.84;Initial Catalog=DBLINE1;Persist Security Info=True;User ID=sa;Password=Lineas123"
               />
  
  <!--<Connection id="PHLegacy"
              assembly="System.Data"
              class="System.Data.OleDb.OleDbConnection"
              adapter="System.Data.OleDb.OleDbDataAdapter"
              connectionString="Provider=msdaora;Server=172.29.10.162:1521;User Id=Linea1;Password=lineas"
               />-->

  <!--<Connection id="PHLegacyOther"
            assembly="Oracle.DataAccess.Client"
            class="Oracle.DataAccess.Client.OracleConnection"
            adapter="Oracle.DataAccess.Client.OracleDataAdapter"
            connectionString="Provider=Oracle.DataAccess.Client;Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=172.29.10.162)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=DBLINEA1)));User Id=Linea1;Password=lineas;"
               />-->

  <Connection id="PHLegacyOther"
            assembly="Oracle.DataAccess"
            class="Oracle.DataAccess.Client.OracleConnection"
            adapter="Oracle.DataAccess.Client.OracleDataAdapter"
            connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=172.29.10.162)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=DBLINEA1)));User Id=Linea1;Password=lineas;"
               />
  
  <!--(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=172.29.10.162)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=DBLINEA1)));


  Provider=OraOLEDB.Oracle;
  Data Source=(DESCRIPTION=(CID=GTU_APP)(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=myHost)(PORT=myPort)))(CONNECT_DATA=(SID=MyOracleSID)(SERVER=DEDICATED)));
  User Id=myUsername;Password=myPassword;-->


  

</Connections>