<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log" type="Tenaris.Library.Log.LogConfiguration, Tenaris.Library.Log"/>
  </configSections>
  
  <connectionStrings>
    <add name="dbLevel2" connectionString="Data Source=TNATFT2PRDLSN.tnsautoca.techint.net,5040;Initial Catalog=L2Bz22;Persist Security Info=True;Integrated Security=SSPI;MultipleActiveResultSets=true; Asynchronous Processing=true;" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <appSettings>
    <add key="appTitle" value="Reprocesos"/>
    <add key="showTenarisTitle" value="true"/>
    <add key="database" value="dbLevel2"/>
    <!--Stored procedures-->
    <add key="SP_OrderList" value="[WMS].[Reprocess_GetOrders]"/>
    <add key="SP_HeatList" value="[ProductionFIN].[GetHeatNumbersByOrderNumber]"/>
    <add key="SP_ReprocessCandidate" value="[WMS].[Reprocess_GetReprocessCandidate]"/>
    <add key="SP_UpdateForReprocess" value="[WMS].[Reprocess_UpdForReprocess]"/>
  </appSettings>

  <log maxFileSize="16384" 
       path="\\TNACAWFM198.tnsautoca.techint.net\Appls\Clientes\Cliente 1\Tenaris\Logs\%UserName%\WMSReprocess"
       msgFormat="{Timestamp:HH:mm.ss.fff} ; {Level,-7}; {IdentString} {Message} ; {MethodName}" 
       logLevel="Debug"
       traceAttributeLogEnabled="true" 
       logBaseName="ParentChild.Manager.Host" 
       additionalLogDestination="Console" 
       logAssemblyLoad="true"
	   maxFileCount="20"
	   />

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
