<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="Tenaris.Library.Proxy" type="Tenaris.Library.Proxy.Configuration.ProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>
    <section name="Tenaris.Manager.BusinessRules" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework"/>
    <section name="log" type="Tenaris.Library.Log.LogConfiguration, Tenaris.Library.Log"/>
    <section name="Tenaris.Manager.Alarm"     type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy" />
    <section name="Tenaris.Manager.Tracking"  type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy" />
    <section name="Tenaris.Manager.Handshake" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy" />
    <section name="Tenaris.Manager.Preset"    type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy" />
    <section name="Tenaris.Manager.BusinessRules.GenericPlugins.HandshakeConfiguration"   type="Tenaris.Manager.BusinessRules.GenericPlugins.Handshake.Model.Configuration, Tenaris.Manager.BusinessRules.GenericPlugins"/>
    <section name="AcquisitionConfiguration" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework"/>
    <section name="HsVerifyConditionsPluginConfigurationLeavingPAC22" type="Tenaris.Manager.BusinessRules.GetDatas.PluginConfiguration, Tenaris.Manager.BusinessRules.Plugins.HsVerifyConditionsLeavingMachine"/>

    <!-- <section name="Tenaris.Manager.Vdi" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy" /> -->
  </configSections>

  <connectionStrings>

    <add name="dbLevel2" connectionString="Application Name=BusinessRulesManager;Data Source=TNATFT2PRDLSN.tnsautoca.techint.net,5040;Initial Catalog=L2Trk;Integrated Security=SSPI;Persist Security Info=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />

    <add name="dbValidation" connectionString="Application Name=BusinessRulesManager;Data Source=TNATFT2PRDLSN.tnsautoca.techint.net,5040;Initial Catalog=L1Trk_Validation;Integrated Security=SSPI;Persist Security Info=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
    <add name="dbEfficiency" connectionString="Application Name=BusinessRulesManager;Data Source=TNATFT2PRDLSN.tnsautoca.techint.net,5040;Initial Catalog=L1Trk_Efficiency;Integrated Security=SSPI;Persist Security Info=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />

    <add name="dbAmalog21" connectionString="Application Name=manager_SpecificationService;Data Source=10.93.1.84;Initial Catalog=DBLINE1;User ID=sa;Password=Lineas123;Persist Security Info=True;Max Pool Size=10;" providerName="System.Data.SqlClient"/>
    <add name="dbAmalog22" connectionString="Application Name=manager_SpecificationService;Data Source=10.93.1.108;Initial Catalog=Level2_Line2;User ID=sa;Password=Amalog22Nivel2;Persist Security Info=True;Max Pool Size=10;" providerName="System.Data.SqlClient"/>
    <add name="dbPH21" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=172.29.10.162)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=DBLINEA1)));User Id=linea1;Password=lineas;" providerName="System.Data.OracleClient" />
    <add name="dbPH22" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=172.29.10.164)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=DBLINEA2)));User Id=linea2;Password=lineas;" providerName="System.Data.OracleClient" />
    <add name="dbBme21" connectionString="Application Name=IdentificationManager;Data Source=TNATFT2PRDLSN.tnsautoca.techint.net,5040;Initial Catalog=L1Bm21;Integrated Security=SSPI;Persist Security Info=True;Max Pool Size=10;" providerName="System.Data.SqlClient"/>
    <add name="dbBme22" connectionString="Application Name=IdentificationManager;Data Source=TNATFT2PRDLSN.tnsautoca.techint.net,5040;Initial Catalog=L1Bm22;Integrated Security=SSPI;Persist Security Info=True;Max Pool Size=10;" providerName="System.Data.SqlClient"/>
    <add name="dbVDILine2" connectionString="Application Name=manager_SpecificationService;Data Source=10.93.1.94;Initial Catalog=DBLINE2;User ID=sa;Password=Lineas123;Persist Security Info=True;Max Pool Size=10;" providerName="System.Data.SqlClient"/>

  </connectionStrings>

  <!-- Acquisition Configuration section OPL Scada -->
  <AcquisitionConfiguration factoryType="Tamsa.OplScada.AcquisitionClient.AcquisitionFactory, Tamsa.OplScada.AcquisitionClient">
    <AcquisitionConfiguration Driver="Tamsa.OplScada.AcquisitionClient.AcquisitionProxy, Tamsa.OplScada.AcquisitionClient" IP="localhost" Port="21000"  Timeout="3000" RepeatCount="3" WriteSync="true" />
  </AcquisitionConfiguration>

  <!--<Tenaris.Manager.BusinessRules.HsCutoffDataLinker.Configuration
      IdApplication="23" IdArea="1" HsCode="BSR_GD_LinkFromCT" StringConnection="dbLevel2" idDestinationZone="12" MachineAlarm="L1_PML" CodeAlarm="L1_CT_1">
	</Tenaris.Manager.BusinessRules.HsCutoffDataLinker.Configuration>-->

  <!-- <Tenaris.Manager.Vdi url="tcp://172.29.12.66:50016/Tenaris.Manager.Vdi.VdiManager.soap" instanceType="Tenaris.Manager.Vdi.Shared.IVdiManager, Tenaris.Manager.Vdi.Shared" aliveInterval="5000" singleInstance="true" validateConnection="false" /> -->

  
  <HsVerifyConditionsPluginConfigurationLeavingPAC22
    HandshakeCode="HSPAC_BSR_GD_COP8"
	IdApplication="23"
    TrackingZoneCode="PAC"
	MachineCode="L2_PAC"
    PluginActive="1"
	isTest="False"
	SortOrder="5"
   />
   
   <!--TEST-->
  <!--<eTrackManager address="net.tcp://172.29.10.58:6000/Tenaris.Tamsa.eTrack.eTrackManager/eTrackManager" closeTimeout="100" openTimeout="100" receiveTimeout="100" sendTimeout="100"/>-->
  <!--PRODUCTIVO-->
  <!-- <eTrackManager address="net.tcp://172.29.10.58:8000/Tenaris.Tamsa.eTrack.eTrackManager/eTrackManager" closeTimeout="60" openTimeout="60" receiveTimeout="60" sendTimeout="60"/> -->
  

  <Tenaris.Manager.BusinessRules.GenericPlugins.HandshakeConfiguration
		IdApplication="23" IdArea="1" PluginsPath=".\" >
  </Tenaris.Manager.BusinessRules.GenericPlugins.HandshakeConfiguration>

  <Tenaris.Manager.BusinessRules factoryType="Tenaris.Manager.BusinessRules.ManagerFactory, Tenaris.Manager.BusinessRules" isSingleton="True">
    <BusinessRulesManagerConfiguration MinThreads="100" MaxThreads="6000" PluginsPath=".\">
    </BusinessRulesManagerConfiguration>
  </Tenaris.Manager.BusinessRules>

  <appSettings>
	<add key="ConsoleName" value="BSR PAC22 N2 Pinta Franjas"/>
    <add key="AreaCode" value="LINEA2"/>
    <add key="TagMarkingData" value="POINT_SAMPLES.POINT_01"/>
    <!--  Plugin de  BSR_GD_LinkToAM21 -->
    <add key="Machine_Alarm_AM21" value="L1_AMA21"/>
    <add key="Code_Alarm_AM21_LinkNotWork" value="L1_AM_1"/>
    <add key="BSR_GD_Am21Cr_TrackingZoneIDForCreate" value="9"/>

    <!-- HsTurnOnIdentification -->
    <add key="HsTurnOnIdentification_DB_Amalog21" value="dbAmalog21"/>
    <add key="HsTurnOnIdentification_DB_Bme21" value="dbBme21"/>
    <add key="HsTurnOnIdentification_Count_Bme21" value="0"/>
    <add key="HsTurnOnIdentification_DB_Ph21" value="dbLevel2"/>
    <add key="HsTurnOnIdentification_Count_Ph21" value="0"/>

  </appSettings>

  <Tenaris.Manager.Alarm
	instanceType="Tenaris.Manager.Alarm.Shared.IAlarmManager, Tenaris.Manager.Alarm.Shared"
	aliveInterval="5000"
	singleInstance="true"
	validateConnection="false">
    <Redundancy>
      <Address url="tcp://TNACAWFM197.tnsautoca.techint.net:21010/Tenaris.Manager.Alarm.soap" forumPresent="false" isTargetManager="true"/>
    </Redundancy>
  </Tenaris.Manager.Alarm>

  <Tenaris.Manager.Tracking
	  url="tcp://TNACAWFM197.tnsautoca.techint.net:21005/TrackingManager.soap"
	  instanceType="Tenaris.Manager.Tracking.Shared.ITrackingManager, Tenaris.Manager.Tracking.Shared"
	  aliveInterval="1000"
	  singleInstance="true"
	  validateConnection="true"
	  forumPresent="false"
	  isTargetManager="true">
    <Redundancy>
      <Address url="tcp://TNACAWFM197.tnsautoca.techint.net:21005/TrackingManager.soap" forumPresent="false" isTargetManager="true"/>
    </Redundancy>
  </Tenaris.Manager.Tracking>

  <Tenaris.Manager.Handshake
	  instanceType="Tenaris.Manager.Handshake.Shared.IHandshakeManager, Tenaris.Manager.Handshake.Shared"
	  aliveInterval="5000"
	  singleInstance="true"
	  validateConnection="false">
    <Redundancy>
      <Address url="tcp://TNACAWFM197.tnsautoca.techint.net:21002/HandshakeManager.soap" forumPresent="false" isTargetManager="true"/>
    </Redundancy>
  </Tenaris.Manager.Handshake>


  <Tenaris.Manager.Preset
  url="tcp://TNACAWFM197.tnsautoca.techint.net:21008/Tenaris.Manager.Preset.soap"
  instanceType="Tenaris.Manager.Preset.Shared.IPresetManager, Tenaris.Manager.Preset.Shared"
  aliveInterval="3000"
  singleInstance="true"
  validateConnection="true">
    <Redundancy>
      <Address url="tcp://TNACAWFM197.tnsautoca.techint.net:21008/Tenaris.Manager.Preset.soap" forumPresent="false" isTargetManager="true" />
    </Redundancy>
  </Tenaris.Manager.Preset>


  <Tenaris.Library.Proxy factoryType="Tenaris.Library.Proxy.Factories.PipeProxyFactory, Tenaris.Library.Proxy">
    <Configuration>
      <Components>
        <Component type="Tenaris.Library.Proxy.Components.ConnectionMonitorComponent, Tenaris.Library.Proxy">
          <Interval>1000</Interval>
        </Component>
      </Components>
      <EventListener type="Tenaris.Library.Proxy.EventListener, Tenaris.Library.Proxy, Version=4.1.0.0, Culture=neutral, PublicKeyToken=c4a5016cfc42fcd0"/>
      <Dispatcher type="Tenaris.Library.Proxy.Dispatchers.DirectMessageDispatcher, Tenaris.Library.Proxy, Version=4.1.0.0, Culture=neutral, PublicKeyToken=c4a5016cfc42fcd0"/>
    </Configuration>
  </Tenaris.Library.Proxy>

  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_ILinkerCTService">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_IOrderReplicatorService">
          <security mode="None" />
        </binding>
        <binding name="data_tcp" closeTimeout="00:01:00" openTimeout="00:01:00"
          receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false"
          transferMode="Buffered" transactionProtocol="OleTransactions"
          hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="524288"
          maxBufferSize="65536" maxConnections="10" maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="None">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://172.29.12.184:8011/ETrackHeatProgService"
        binding="netTcpBinding" bindingConfiguration="data_tcp" contract="eTrackProgService.IETrackHeatProgService"
        name="data_tcp" />
      <endpoint address="net.tcp://TNACAWFM192.tnsautoca.techint.net:49222/LinkerCTService"
			  binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ILinkerCTService"
			  contract="LinkerCTService.ILinkerCTService" name="NetTcpBinding_ILinkerCTService">
        <identity>
          <dns value="TNACAWFM192.tnsautoca.techint.net" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://TNACAWFM197.tnsautoca.techint.net:8737/OrderReplicatorService"
			  binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IOrderReplicatorService"
			  contract="OSR.IOrderReplicatorService" name="NetTcpBinding_IOrderReplicatorService" />
    </client>
  </system.serviceModel>

  <system.runtime.remoting>
    <application name="Server">
      <channels>
        <channel ref="tcp" port="21177" >
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full" />
          </serverProviders>
          <clientProviders>
            <provider type="Tenaris.Library.Proxy.Remoting.ClientRemotingInterceptorProvider, Tenaris.Library.Proxy"/>
            <formatter ref="binary" typeFilterLevel="Full" />
          </clientProviders>
        </channel>
      </channels>
    </application>
    <customErrors mode="off" />
  </system.runtime.remoting>


  <log
	maxFileSize="8096"
	maxFileCount="10"
	msgFormat="{TypeChar} {Timestamp:yyyy-MM-dd HH:mm:ss.fff} [{ThreadId,-5:d5}] {MethodName} {IdentString} {Message}"
	logLevel="Debug"
	noQueue="true"
	traceAttributeLogEnabled="true"
	path="..\..\..\Logs\Manager\BusinessRulesPAC22_PF\"
	logBaseName="Tenaris.Manager.BusinessRules"
	additionalLogDestination="Console"
  />

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>