<?xml version="1.0"?>
<configuration>
  <configSections>
    <!--SECURITY: MODE CLIENT-->
    <!--<section name="Tenaris.Service.Security.Shared.ISecurityService" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>-->

    <!--SECURITY: STAND ALONE-->
    <section name="Tenaris.Service.Security.Shared.ISecurityService" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework"/>

    <section name="DalFactory" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework"/>
    <section name="Tenaris.BuckOn.Manager.BuckOnManager" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy, Version=4.1.0.0, Culture=neutral, PublicKeyToken=c4a5016cfc42fcd0"/>
    <section name="Tenaris.Manager.Tda.TdaManager" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy, Version=4.1.0.0, Culture=neutral, PublicKeyToken=c4a5016cfc42fcd0"/>
    <section name="Tenaris.Manager.Production.ProductionManager" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy, Version=4.1.0.0, Culture=neutral, PublicKeyToken=c4a5016cfc42fcd0"/>
    <section name="Tenaris.Manager.Tracking.TrackingManager" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy, Version=4.1.0.0, Culture=neutral, PublicKeyToken=c4a5016cfc42fcd0"/>
    <section name="Tenaris.Manager.Preset.PresetManager" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy, Version=4.1.0.0, Culture=neutral, PublicKeyToken=c4a5016cfc42fcd0"/>
    <section name="BuckOnServicesFactory" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework"/>
    <section name="ViewConfiguration" type="Tenaris.BuckOn.View.Shared.Configuration.BuckOnViewConfigurationSection, Tenaris.BuckOn.View.Shared"/>
    <section name="SpecificationServiceClient" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework"/>
    <section name="log" type="Tenaris.Library.Log.LogConfiguration, Tenaris.Library.Log"/>
  </configSections>

  <connectionStrings>
    <!--<add name="dbConnection" connectionString="Application Name=BuckOnView; Data Source=10.121.114.68\ver1;Initial Catalog=TCTbOCTG;User ID=sa;Password=Tenaris2012;Persist Security Info=True;MultipleActiveResultSets=True; Asynchronous Processing=true; Pooling=true; Max Pool Size=300;"/>-->
    <add name="DBConnection" connectionString="Application Name=BuckOnView; Data Source=10.92.70.125;Initial Catalog=Level2_Line2;User ID=level2;Password=Level2;Persist Security Info=True;MultipleActiveResultSets=True; Asynchronous Processing=true; Pooling=true; Max Pool Size=300;"/>
  </connectionStrings>

  <!--SECURITY: MODE CLIENT-->
  <!--<Tenaris.Service.Security.Shared.ISecurityService
      url="tcp://localhost:21100/Tenaris.Service.Security.soap"
      instanceType="Tenaris.Service.Security.Shared.ISecurityService, Tenaris.Service.Security.Shared"
      aliveInterval="0"
      validateConnection="true"
      singleInstance="true"
      forumPresent="false"
      isTargetManager="false">
    <Redundancy>
    </Redundancy>
  </Tenaris.Service.Security.Shared.ISecurityService>-->

  <!--SECURITY: STAND ALONE-->
  <Tenaris.Service.Security.Shared.ISecurityService factoryType="Tenaris.Service.Security.FactoryLocal, Tenaris.Service.Security" isSingleton="True">
    <SecurityConfiguration ConnectionStringName="DBConnection" AuthenticationType="Database" DefaultZoneCode="ALL"/>
  </Tenaris.Service.Security.Shared.ISecurityService>

  <DalFactory factoryType="Tenaris.Deen.Library.Framework.Data.Dals.DalFactoryImp, Tenaris.Deen.Library.Framework.Data" isSingleton="true">
    <Configuration autoRegister="true" defaultSessionName="DBConnection">
      <Assemblies>
        <Pattern value="*.Data.*"/>
      </Assemblies>
      <!--<DbSessionFactory type="Tenaris.Deen.Library.Framework.Data.DbSessions.AdoDbSessionFactory, Tenaris.Deen.Library.Framework.Data" isSingleton="true" />-->
    </Configuration>
  </DalFactory>

  <!--<SpecificationServiceClient factoryType="Tenaris.Tuca.Service.SpecificationService.Client.SpecificationServiceClientFactory, Tenaris.Tuca.Service.SpecificationService.Client" isSingleton="True">
    <SpecificationServiceClientConfiguration serviceName="SpecificationService" specificationServiceEndPoint="SpecificationService" monitoringInterval="2000" />
  </SpecificationServiceClient>-->
  <!--Specification Service Configuration-->
  <SpecificationServiceClient factoryType="Tenaris.Tamsa.Service.SpecificationService.Client.SpecificationServiceFactory, Tenaris.Tamsa.Service.SpecificationService.Client" isSingleton="True">
    <SpecificationServiceConfiguration  serviceName="SpecificationService" specificationServiceEndPoint="SpecificationService" monitoringInterval="1000" />
  </SpecificationServiceClient>

  <ViewConfiguration machineCode="L2_PAC"
                     culture="es-MX"
                     dbSessionName="dbConnection"
                     showCurvesWithoutTest="false"
                     showHistoricTab="true"
                     showOnlineTab="true"
                     showOnlineHeader="true"
                     showOnlineTopButtons="true"
                     showOnlineCurves="true"
                     showOnlineThumbnails="true"
                     showOnlinePresets="true"
                     showOnlineProduct="true"
                     testThumbnailsCount="6"
                     showNotificationsOnStatusBar="true"
                     showAllTestsOnThumbnails="false"
                     historicMaxItemsPerPage="20"
                     dskMgr="false"
                     zone="ALL"
                     loadLotCommand="LoadLot"
                     unloadLotCommand="UnloadLot"
                     cancelLotCommand="CancelLot"
                     assignmentCommand="Assignment"
                     loadCouplingCommand="LoadCoupling"
                     viewJointsCommand="ViewJoints"
                     editPresetsCommand="EditPresets"
                     acceptCurveCommand="AcceptCurve"
                     rejectCurveCommand="RejectCurve"
                     editShoulderCommand="EditShoulder"
                     editTraceabilityCommand="EditTraceability"
                     >
    <Services>


      <Service name="BuckOnService" type="Tenaris.BuckOn.View.Shared.Service.BuckOnService, Tenaris.BuckOn.View.Shared" isSingleton="true">
        <Configuration isInProc="true"/>
      </Service>

      <!--<Service name="RealTimeCurveServiceMock" type="Tenaris.BuckOn.View.Test.Service.RealTimeCurveServiceMock, Tenaris.BuckOn.View.Test" isSingleton="true">
            <Configuration generateRandomValues="false" curveChunkSamplesCount="10" sampleTimeMilliSeconds="100" curveChunksCount="13" />
          </Service>-->

      <Service name="ProcessDataService" type="Tenaris.BuckOn.View.Shared.Service.ProcessDataService, Tenaris.BuckOn.View.Shared">
        <Configuration specServiceFactoryName="SpecificationServiceClient" />
      </Service>


      <Service name="RealTimeCurveService" type="Tenaris.BuckOn.View.Shared.Service.RealTimeCurveService, Tenaris.BuckOn.View.Shared">
        <Configuration tdaFactoryName="Tenaris.Manager.Tda.TdaManager" />
      </Service>

      <Service name="PresetService" type="Tenaris.BuckOn.View.Shared.Service.PresetService, Tenaris.BuckOn.View.Shared" isSingleton="true">
        <Configuration includeAllMachinePresets="false">
          <Presets>
            <Preset code="BKN_CERTTYPE" isReadOnly="false" isHighlighted="true" />
            <!-- CertificationType-->
            <!-- <Preset code="BKN_TORQUEINIT" isReadOnly="false" /> -->
            <!--InitialMaximumTorque-->
            <!--<Preset code="BKN_TURNSMIN" isReadOnly="false" />-->
            <!--MinimumTurns-->
            <!--<Preset code="BKN_TURNSMAX" isReadOnly="false" />-->
            <!--MaximumTurns-->
            <Preset code="BKN_TORQUEMIN" isReadOnly="false" />
            <!--MinimumTorque-->
            <Preset code="BKN_TORQUEMAX" isReadOnly="false" />
            <!--MaximumTorque-->
            <Preset code="BKN_TORQUEOPT" isReadOnly="false" />
            <!--OptimumTorque-->
            <!--<Preset code="BKN_SHOULDERMIN" isReadOnly="false" />-->
            <!--MinimumShoulder-->
            <!--<Preset code="BKN_SHOULDERMAX" isReadOnly="false" />-->
            <!--MaximumShoulder-->
            <!-- <Preset code="BKN_SPEEDCHANGE" isReadOnly="false" /> -->
            <!--SpeedChange-->
            <Preset code="BKN_GREASETIME" isReadOnly="false" />
            <!--GreaseTime-->
            <Preset code="BKN_COUPLINGTIME" isReadOnly="false" />
            <!--CouplingTime-->

          </Presets>
        </Configuration>
      </Service>

      <Service name="TrackingService" type="Tenaris.BuckOn.View.Shared.Service.TrackingService, Tenaris.BuckOn.View.Shared" isSingleton="true">
        <Configuration>
          <Zones>
            <!-- sort order 1 is the farthest zone to buckon machine, n is the closest -->
            <Zone code="BancalEntPAC" sortOrder="1"/>
            <Zone code="PAC" sortOrder="2"/>
            <!--<Zone code="ServiceChainBox" sortOrder="2" maxPosition="29"/>-->
          </Zones>
        </Configuration>
      </Service>
    </Services>

    <Components>
      <Component name="TestEditionComponent" type="Tenaris.BuckOn.View.Shared.Component.TestEditionComponent, Tenaris.BuckOn.View.Shared" isSingleton="true">
        <Configuration
            statusAccepted="Good"
            statusRejected="Rejected"
                    
            enableAccept="true"
            enableAcceptOffline="true"

            enableReject="true"
            enableRejectOffline="true"

            requireDiscardDestination="false"
                    
            enableTraceabilityEdition="false"
            enableTraceabilityEditionOffline="true"
                    
            enableShoulderEdition="true"
                      >
        </Configuration>
      </Component>
      <Component name="TraceabilityEditionComponent" type="Tenaris.BuckOn.View.Shared.Component.TraceabilityEditionComponent, Tenaris.BuckOn.View.Shared" isSingleton="true">
        <Configuration enableTraceabilityEdition="false" enableTraceabilityEditionOffline="true">
        </Configuration>
      </Component>
      <Component name="AttributesComponent" type="Tenaris.BuckOn.View.Shared.Component.AttributesComponent, Tenaris.BuckOn.View.Shared" isSingleton="true">
        <Configuration>
        </Configuration>
      </Component>
    </Components>

    <Popups>
      <Popup name="DialogPopup"
             viewModel="Tenaris.BuckOn.View.ViewModel.Modal.DialogPopupViewModel, Tenaris.BuckOn.View.ViewModel"
             view="Tenaris.BuckOn.View.View.Modal.DialogPopup, Tenaris.BuckOn.View.View">
        <Configuration>
        </Configuration>
      </Popup>

      <!-- Coupling popups -->
      <Popup name="LoadCouplingBatchPopup"
             viewModel="Tenaris.BuckOn.View.ScheduleCouplingBatch.ViewModel.ScheduleCouplingBatchViewModel, Tenaris.BuckOn.View.ScheduleCouplingBatch"
             view="Tenaris.BuckOn.View.ScheduleCouplingBatch.ScheduleCouplingBatch, Tenaris.BuckOn.View.ScheduleCouplingBatch">
        <Configuration MachineIT="PA22"/>
      </Popup>
      <Popup name="LoadCouplingManualPopup"
               viewModel="Tenaris.BuckOn.View.ScheduleCouplingBatch.ViewModel.ScheduleCouplingManualViewModel, Tenaris.BuckOn.View.ScheduleCouplingBatch"
               view="Tenaris.BuckOn.View.ScheduleCouplingBatch.ScheduleCouplingManual, Tenaris.BuckOn.View.ScheduleCouplingBatch">
      </Popup>
      <!--<Popup name="LoadCouplingBatchPopup"
             viewModel="Tenaris.BuckOn.View.ViewModel.Modal.LoadCouplingBatchPopupViewModel, Tenaris.BuckOn.View.ViewModel"
             view="Tenaris.BuckOn.View.View.Modal.LoadCouplingBatchPopup, Tenaris.BuckOn.View.View">
      </Popup>-->
      <Popup name="UnloadCouplingBatchPopup"
             viewModel="Tenaris.BuckOn.View.ViewModel.Modal.UnloadCouplingBatchPopupViewModel, Tenaris.BuckOn.View.ViewModel"
             view="Tenaris.BuckOn.View.View.Modal.UnloadCouplingBatchPopup, Tenaris.BuckOn.View.View">
      </Popup>
      <Popup name="CancelCouplingBatchPopup"
             viewModel="Tenaris.BuckOn.View.ViewModel.Modal.CancelCouplingBatchPopupViewModel, Tenaris.BuckOn.View.ViewModel"
             view="Tenaris.BuckOn.View.View.Modal.CancelCouplingBatchPopup, Tenaris.BuckOn.View.View">
      </Popup>
      <Popup name="CouplingAssignmentPopup"
             viewModel="Tenaris.BuckOn.View.ViewModel.Modal.CouplingAssignmentPopupViewModel, Tenaris.BuckOn.View.ViewModel"
             view="Tenaris.BuckOn.View.View.Modal.CouplingAssignmentPopup, Tenaris.BuckOn.View.View">
      </Popup>
      <Popup name="LoadCouplingPopup"
             viewModel="Tenaris.BuckOn.View.ViewModel.Modal.LoadCouplingPopupViewModel, Tenaris.BuckOn.View.ViewModel"
             view="Tenaris.BuckOn.View.View.Modal.LoadCouplingPopup, Tenaris.BuckOn.View.View">
      </Popup>


      <Popup name="JointsViewerPopup"
             viewModel="Tenaris.BuckOn.View.ViewModel.Modal.JointsViewerPopupViewModel, Tenaris.BuckOn.View.ViewModel"
             view="Tenaris.BuckOn.View.View.Modal.JointsViewerPopup, Tenaris.BuckOn.View.View">
        <Configuration resultsCount="99"/>
      </Popup>

      <Popup name="PresetsEditionPopup"
             viewModel="Tenaris.BuckOn.View.ViewModel.Modal.PresetsEditionPopupViewModel, Tenaris.BuckOn.View.ViewModel"
             view="Tenaris.BuckOn.View.View.Modal.PresetsEditionPopup, Tenaris.BuckOn.View.View">
      </Popup>
      <Popup name="RejectionPopup"
             viewModel="Tenaris.BuckOn.View.ViewModel.Modal.RejectionPopupViewModel, Tenaris.BuckOn.View.ViewModel"
             view="Tenaris.BuckOn.View.View.Modal.RejectionPopup, Tenaris.BuckOn.View.View">
      </Popup>
      <Popup name="ShoulderEditionPopup"
             viewModel="Tenaris.BuckOn.View.ViewModel.Modal.ShoulderEditionPopupViewModel, Tenaris.BuckOn.View.ViewModel"
             view="Tenaris.BuckOn.View.View.Modal.ShoulderEditionPopup, Tenaris.BuckOn.View.View">
      </Popup>
      <Popup name="TraceabilityEditionPopup"
             viewModel="Tenaris.BuckOn.View.ViewModel.Modal.TraceabilityEditionPopupViewModel, Tenaris.BuckOn.View.ViewModel"
             view="Tenaris.BuckOn.View.View.Modal.TraceabilityEditionPopup, Tenaris.BuckOn.View.View">
      </Popup>
      <Popup name="TestDetailPopup"
             viewModel="Tenaris.BuckOn.View.ViewModel.Modal.TestDetailPopupViewModel, Tenaris.BuckOn.View.ViewModel"
             view="Tenaris.BuckOn.View.View.Modal.TestDetailPopup, Tenaris.BuckOn.View.View">
      </Popup>

    </Popups>

  </ViewConfiguration>

  <!-- ***************** BuckOn Services ***************** -->
  <BuckOnServicesFactory factoryType="Tenaris.BuckOn.Manager.Services.BuckOnServicesFactory, Tenaris.BuckOn.Manager" isSingleton="true">
    <Configuration sessionName="DBConnection" />
  </BuckOnServicesFactory>

  <Tenaris.BuckOn.Manager.BuckOnManager
    url="tcp://TNACAWFM197.tnsautoca.techint.net:21011/Tenaris.BuckOn.Manager.BuckOnManager.soap"
    instanceType="Tenaris.BuckOn.Manager.Shared.IBuckOnManager, Tenaris.BuckOn.Manager.Shared"
    aliveInterval="1000"
    singleInstance="true"
    isSingleton="true"
    isTargetManager="true"
    validateConnection="false">
    <Redundancy>
      <!--<Address url="tcp://10.121.114.68:49555/Tenaris.BuckOn.Manager.BuckOnManager.soap" forumPresent="false" isTargetManager="true"/>-->
    </Redundancy>
  </Tenaris.BuckOn.Manager.BuckOnManager>

  <Tenaris.Manager.Production.ProductionManager
        url="tcp://TNACAWFM197.tnsautoca.techint.net:21006/Tenaris.Manager.Production.ProductionManager.soap"
        instanceType="Tenaris.Manager.Production.Shared.IProductionManager, Tenaris.Manager.Production.Shared, Version=4.2.0.0, Culture=neutral, PublicKeyToken=81746773fd47a555"
        aliveInterval="1000"
        singleInstance="true"
        isSingleton="true"
        validateConnection="false"
        forumPresent="false"
        isTargetManager="true">
    <Redundancy>
      <!--<Address url="tcp://10.121.114.68:49203/Tenaris.Manager.Production.ProductionManager.soap" forumPresent="false" isTargetManager="true"/>-->
    </Redundancy>
  </Tenaris.Manager.Production.ProductionManager>

  <Tenaris.Manager.Preset.PresetManager
     url="tcp://TNACAWFM197.tnsautoca.techint.net:21008/Tenaris.Manager.Preset.soap"
    instanceType="Tenaris.Manager.Preset.Shared.IPresetManager, Tenaris.Manager.Preset.Shared"
    aliveInterval="3000"
    singleInstance="true"
    isSingleton="true"
    validateConnection="false">
    <Redundancy>
      <!--<Address url="tcp://10.121.114.68:49204/Tenaris.Manager.Preset.PresetManager.soap" forumPresent="false" isTargetManager="true" />-->
    </Redundancy>
  </Tenaris.Manager.Preset.PresetManager>

  <Tenaris.Manager.Tda.TdaManager
    url="tcp://TNACAWFM197.tnsautoca.techint.net:21009/Tenaris.Manager.Tda.soap"
    instanceType="Tenaris.Manager.Tda.Shared.ITdaManager, Tenaris.Manager.Tda.Shared"
    aliveInterval="1000"
    singleInstance="true"
    isSingleton="true"
    isTargetManager="true"
    validateConnection="false">
    <Redundancy>
      <!--<Address url="tcp://10.121.114.68:49207/Tenaris.Manager.Tda.TdaManager.soap" forumPresent="false" isTargetManager="true"/>-->
    </Redundancy>
  </Tenaris.Manager.Tda.TdaManager>

  <Tenaris.Manager.Tracking.TrackingManager
      url="tcp://TNACAWFM197.tnsautoca.techint.net:21005/TrackingManager.soap"
      instanceType="Tenaris.Manager.Tracking.Shared.ITrackingManager, Tenaris.Manager.Tracking.Shared, Version=4.1.0.0, Culture=neutral, PublicKeyToken=eef9a6bb3b9b0366"
      aliveInterval="1000"
      singleInstance="true"
      isSingleton="true"
      validateConnection="false"
      forumPresent="false"
      isTargetManager="true">
    <Redundancy>
      <!--<Address url="tcp://10.121.114.68:49202/Tenaris.Manager.Tracking.TrackingManager.soap" forumPresent="false" isTargetManager="true"/>-->
    </Redundancy>
  </Tenaris.Manager.Tracking.TrackingManager>

  <log
		maxFileSize="8096"
		maxFileCount="10"
		msgFormat="{TypeChar} {Timestamp:yyyy-MM-dd HH:mm:ss} [{AppDomainName,-20}:{ThreadId,-5:d5}] [lap={LapFriendlyValue,-10:f2}{LapFriendlyUnit,4}] {AssemblyName,-15}; {MethodName} {IdentString} {Message}"
		logLevel="Debug"
		traceAttributeLogEnabled="true"
		path="Logs\Tenaris.View.BuckOn\"
		logBaseName="BuckOnView"
		additionalLogDestination="Console"
		logAssemblyLoad="true"/>

  <system.runtime.remoting>
    <application name="BuckOnView">
      <channels>
        <channel ref="tcp" port="0">
          <clientProviders>
            <provider type="Tenaris.Library.Proxy.Remoting.ClientRemotingInterceptorProvider, Tenaris.Library.Proxy, Version=4.1.0.0, Culture=neutral, PublicKeyToken=c4a5016cfc42fcd0"/>
            <formatter ref="binary" typeFilterLevel="Full" />
          </clientProviders>
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full" />
          </serverProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>

  <!-- WCF client configuration (required to connect Specification Service) -->
  <system.serviceModel>
    <diagnostics wmiProviderEnabled="false" >
      <messageLogging logMalformedMessages="true" logEntireMessage="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" />
    </diagnostics>
    <client>
      <endpoint address="net.tcp://TNACAWFM197.tnsautoca.techint.net:21004/ServiceSpecification/Specification"
        behaviorConfiguration="ServiceClientEndpointBehavior"
        binding="netTcpBinding"
        bindingConfiguration="netTcpBinding_Config"
        contract="Tenaris.Tamsa.Service.SpecificationService.Shared.Interfaces.ISpecificationServiceWCFContract"
        name="SpecificationService" />
      <endpoint address="net.tcp://TNACAWFM197.tnsautoca.techint.net:21004/ServiceSpecification/EventContract"
        behaviorConfiguration="ServiceClientEndpointBehavior"
        binding="netTcpBinding"
        bindingConfiguration="netTcpBinding_Config"
        contract="Tenaris.Tamsa.Service.SpecificationService.Shared.Interfaces.ISpecificationServiceWCFCallBackContract"
        name="SpecificationServiceCallBack" />
      <endpoint address="net.tcp://TNACAWWS197.tnsautoca.techint.net:33333/ITService" binding="netTcpBinding"
            bindingConfiguration="RoleEndPoint" contract="ITServices.ITService"
            name="RoleEndPoint">
        <identity>
          <dns value="TNACAWWS197.tnsautoca.techint.net" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://TNACAWFM197.tnsautoca.techint.net:8737/OrderReplicatorService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IOrderReplicatorService"
                contract="ORS.IOrderReplicatorService" name="NetTcpBinding_IOrderReplicatorService" />
    </client>

    <bindings>
      <netTcpBinding>
        <binding name="netTcpBinding_Config">
          <security mode="None"></security>
        </binding>
        <binding name="RoleEndPoint" closeTimeout="00:01:00" openTimeout="00:01:00"
            sendTimeout="00:02:00" transactionFlow="false" transferMode="Buffered"
            transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard"
            listenBacklog="10" maxBufferPoolSize="2097152" maxBufferSize="2097152"
            maxConnections="10" maxReceivedMessageSize="2097152">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="524288" maxNameTableCharCount="1024" />
          <reliableSession ordered="true" inactivityTimeout="00:01:00"
              enabled="true" />
          <security mode="None">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IOrderReplicatorService">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>

    <behaviors>
      <endpointBehaviors>
        <behavior name="ServiceClientEndpointBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>

  </system.serviceModel>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
