<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="LoadBundlesConfiguration" type="Tenaris.Service.LoadBundles.Business.Configuration.LoadBundlesConfiguration, Tenaris.Service.LoadBundles.Business"/>
    <section name="log" type="Tenaris.Library.Log.LogConfiguration, Tenaris.Library.Log"/>
  </configSections>
  <connectionStrings>
    <!--Amalog21-->
    <add name="Amalog21" connectionString="Application Name=LoadBundlesAmalog21;Data Source=SVR_BKG_LINE1\SQLEXPRESS;Initial Catalog=DBLINE1_201510291219;User ID=sa;Password=Lineas123;Persist Security Info=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
    
    <!--Amalog22-->
	<!--<add name="Amalog22" connectionString="Application Name=LoadBundlesAmalog22; Data Source=10.93.1.108;Failover Partner=10.93.1.109;Initial Catalog=Level2_Line2;User ID=Level2;Password=123level2123;Persist Security Info=True;MultipleActiveResultSets=True; Asynchronous Processing=true; Pooling=true; Max Pool Size=300;" />-->
	<add name="Amalog22" connectionString="Application Name=LoadBundlesAmalog22; Data Source=Data Source=TNATFT2PRDLSN.tnsautoca.techint.net,5040;Initial Catalog=L2Am22;Integrated Security=SSPI;Persist Security Info=True;MultipleActiveResultSets=True; Asynchronous Processing=true; Pooling=true; Max Pool Size=300;" />
  </connectionStrings>
  
  <appSettings>
    <add key="PathLog" value="..\..\..\Logs\LoadBundles" />
  </appSettings>

  
  <LoadBundlesConfiguration>
    <Machines>
      <add Code="AM21" Plugin="Tenaris.Service.LoadBundles.Plugin.Amalog21,Tenaris.Service.LoadBundles.Plugin.Amalog21.Load" ConnectionStringName="Amalog21"/>
      <add Code="AM22" Plugin="Tenaris.Service.LoadBundles.Plugin.Amalog22,Tenaris.Service.LoadBundles.Plugin.Amalog22.Load" ConnectionStringName="Amalog22"/>
    </Machines>
  </LoadBundlesConfiguration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

  <log
    maxFileSize="8192"
    msgFormat="{Timestamp:HH:mm.ss.fff} ; {Level,-7} ; {Message} ; {MethodName}"
    logLevel="Debug"
    traceAttributeLogEnabled="false"
    logBaseName="LoadBundles"
    additionalLogDestination="Console" path="..\..\..\Logs\LoadBundles\"/>
</configuration>
