<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="ManagerBaseConfiguration" type="Tenaris.Manager.Forum.Shared.Configuration.ManagerBaseConfiguration, Tenaris.Manager.Forum.Shared"/>
    <section name="Tenaris.PCK.Manager.PCKManager" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework"/>
    <section name="Tenaris.Manager.WorkShift.WorkShiftManager" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>
    <section name="Tenaris.Manager.Command.CommandManager" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>
    <section name="Tenaris.Manager.Handshake.HandshakeManager" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>
    <section name="Tenaris.Manager.Tracking.TrackingManager" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>
    <section name="Tenaris.Manager.Production.ProductionManager" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>
    <section name="PrinterFactory" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework"/>
    <section name="log" type="Tenaris.Library.Log.LogConfiguration, Tenaris.Library.Log"/>
    <section name="log0" type="Tenaris.Library.Log.LogConfiguration, Tenaris.Library.Log, Version=3.1.0.0, Culture=neutral, PublicKeyToken=57446fc01bb98900"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="SpecificationServiceClient" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework, Version=4.1.0.0, Culture=neutral, PublicKeyToken=d69ca37b4d4b73b8"/>
  </configSections>

  <connectionStrings>
    <add name="dbLinea2" connectionString="Application Name=manager_PCK;Data Source=TNATFT2PRDLSN.tnsautoca.techint.net,5040;Initial Catalog=L2Bz22;Persist Security Info=True;Integrated Security=SSPI;Max Pool Size=10;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <appSettings>
    <add key="ValidPipesPollingTime" value="10"/>
    <!--En segundos-->
    <add key="WMSProcess" value="BM22" />
    <add key="ClientCredentials" value="tamsa\XUSRLT31|3TLt31N2"/>
    <add key="ITOkProtectorConsumptionCodes" value="762"/>
    <add key="ITOkCancelConsumptionCodes" value="764"/>
    <add key="DeleteTrackingZonesSendPCK" value="false"/>
  </appSettings>

  <ManagerBaseConfiguration areaCode="LINEA2" defaultConnectionStringName="dbLinea2"/>

  <Tenaris.PCK.Manager.PCKManager factoryType="Tenaris.PCK.Manager.PackagingManagerFactory, Tenaris.PCK.Manager" isSingleton="True">
    <Configuration
		databaseSessionNam="dbLinea2"
		applicationCode="PckManager"
		wmsMachineCode="WMS"
		ITMachineCode=""
		printerName=""
		ITProcessCode="TER2"
		wmsProcessCode="BM-22"
		dispatchFolioNumberGeneratorCode="D_FOLIO"
		bundleNumberGeneratorCode="B_NUMBER"
		singleInstance="true"
		printerPollingTime="10"
		PEATonLowerLimit="30000"
		DeleteTrackingToSendIT="false"
		DeleteTrackingToSendITZone="">
      <PackagingValidator maximumTransportWeight="false" maximumTransportBundle="false" maximumBundleSize="true" maximumBundleWeight="true"/>
      <Machines>
        <MachineConfiguration isAuto="true" packagingMachineCode="PCKAUTO" singleInstance="false">
          <PipeInputProvider type="Tenaris.PCK.Manager.PipeSecuences.PoolingDatabasePipeSecuence, Tenaris.PCK.Manager">
            <Configuration interval="3" zones="" manualZones="" finishZones=""/>
          </PipeInputProvider>
          <PackagingValidator maximumTransportWeight="false" maximumTransportBundle="false" maximumBundleSize="true" maximumBundleWeight="true"/>
          <PackagingController type="Tenaris.PCK.Manager.V1.Level2PackagingController, Tenaris.PCK.Manager.V1">
            <Configuration printReadyHandshakeCodes="" pipeReadyHandshakeCode="" closeBundleCommandCode=""/>
          </PackagingController>
        </MachineConfiguration>
        <MachineConfiguration isAuto="false" packagingMachineCode="PCK" singleInstance="false">
          <PipeInputProvider type="Tenaris.PCK.Manager.PipeSecuences.PoolingDatabasePipeSecuence, Tenaris.PCK.Manager">
            <Configuration interval="3" zones="" manualZones="WmsExit,Cadena,Roller,Exit" finishZones=""/>
          </PipeInputProvider>
          <PackagingValidator maximumTransportWeight="false" maximumTransportBundle="false" maximumBundleSize="true" maximumBundleWeight="true"/>
        </MachineConfiguration>

      </Machines>

      <SpecificationComponent type="Tenaris.PCK.Manager.V1.Components.SpecificationComponent, Tenaris.PCK.Manager.V1" isSingleton="true">
        <Configuration productionManagerFactory="Tenaris.Manager.Production.ProductionManager" pollingTime="5000" specificationServiceEndPoint="SpecificationService"/>
      </SpecificationComponent>

      <ProductionComponent type="Tenaris.PCK.Manager.V1.Components.ProductionComponent, Tenaris.PCK.Manager.V1" isSingleton="true">
        <Configuration productionManagerFactory="Tenaris.Manager.Production.ProductionManager"/>
      </ProductionComponent>

      <TrackingComponent type="Tenaris.PCK.Manager.V1.Components.TrackingComponent, Tenaris.PCK.Manager.V1" isSingleton="true">
        <Configuration trackingManagerFactory="Tenaris.Manager.Tracking.TrackingManager" trackingZones="WmsExit,Roller,Pck"/>
      </TrackingComponent>

      <CommandComponent type="Tenaris.PCK.Manager.V1.Components.CommandComponent, Tenaris.PCK.Manager.V1">
        <Configuration commandManagerFactory="Tenaris.Manager.Command.CommandManager"/>
      </CommandComponent>

      <ShiftComponent type="Tenaris.PCK.Manager.V1.Components.ShiftComponent, Tenaris.PCK.Manager.V1">
        <Configuration shiftManagerFactory="Tenaris.Manager.WorkShift.WorkShiftManager"/>
      </ShiftComponent>

      <!--<ITComponent type="Tenaris.PCK.Manager.V0.IT.ExternalIdentification.ITComponent, Tenaris.PCK.Manager.V0.IT.ExternalIdentification">
        <Configuration callerModuleName="WMS Dispatch" defaultLicense="28842" itCredentials="tamsa\XUSRLT31|3TLt31N2"/>
      </ITComponent>-->

      <ITComponent type="Tenaris.PCK.Manager.V0.IT.ITComponent_URC, Tenaris.PCK.Manager.V0.IT">
        <Configuration callerModuleName="WMS Dispatch" defaultLicense="28842" successITCode="688" protectorConsumptionAllowed="false" itCredentials="tamsa\XUSRLT31|3TLt31N2"/>
      </ITComponent>

      <!--<ITComponent type="Tenaris.PCK.Manager.V0.IT.ITComponent_1, Tenaris.PCK.Manager.V0.IT">
        <Configuration callerModuleName="WMS Dispatch" defaultLicense="28842" successITCode="688" protectorConsumptionAllowed="true"/>
      </ITComponent>-->

      <!--  <ITComponent type="Tenaris.PCK.Manager.V0.IT.ITComponent, Tenaris.PCK.Manager.V0.IT">
        <Configuration callerModuleName="WMS Dispatch" defaultLicense="28842" successITCode="688"/>
      </ITComponent>-->

      <HandshakeComponent type="Tenaris.PCK.Manager.V1.Components.HandshakeComponent, Tenaris.PCK.Manager.V1">
        <Configuration handshakeManagerFactory="Tenaris.Manager.Handshake.HandshakeManager"/>
      </HandshakeComponent>

    </Configuration>
  </Tenaris.PCK.Manager.PCKManager>

  <PrinterFactory factoryType="Tenaris.Library.Printers.LabelPrinterFactory, Tenaris.Library.Printers">
    <Configuration address="localhost:9100">
      <Labels>
        <File>.\Configurations\PrinterLabels.xml</File>
      </Labels>
    </Configuration>
  </PrinterFactory>


  <Tenaris.Manager.WorkShift.WorkShiftManager url="tcp://TNACAWFM198.tnsautoca.techint.net:22001/ShiftManager.soap" instanceType="Tenaris.Manager.Shift.Shared.IShiftManager, Tenaris.Manager.Shift.Shared" aliveInterval="5000" singleInstance="true" forumPresent="false" validateConnection="true" isTargetManager="true"/>

  <Tenaris.Manager.Handshake.HandshakeManager url="tcp://TNACAWFM198.tnsautoca.techint.net:22002/HandshakeManager.soap" instanceType="Tenaris.Manager.Handshake.Shared.IHandshakeManager, Tenaris.Manager.Handshake.Shared" aliveInterval="5000" singleInstance="true" forumPresent="false" validateConnection="true" isTargetManager="true"/>

  <Tenaris.Manager.Command.CommandManager url="tcp://TNACAWFM198.tnsautoca.techint.net:22003/Tenaris.Manager.Command.soap" instanceType="Tenaris.Manager.Command.Shared.ICommandManager, Tenaris.Manager.Command.Shared" aliveInterval="5000" singleInstance="true" forumPresent="false" validateConnection="true" isTargetManager="true"/>

  <Tenaris.Manager.Production.ProductionManager url="tcp://TNACAWFM198.tnsautoca.techint.net:22006/Tenaris.Manager.Production.ProductionManager.soap" instanceType="Tenaris.Manager.Production.Shared.IProductionManager, Tenaris.Manager.Production.Shared" aliveInterval="5000" singleInstance="true" forumPresent="false" validateConnection="true" isTargetManager="true"/>

  <Tenaris.Manager.Tracking.TrackingManager url="tcp://TNACAWFM198.tnsautoca.techint.net:22005/TrackingManager.soap" instanceType="Tenaris.Manager.Tracking.Shared.ITrackingManager, Tenaris.Manager.Tracking.Shared" aliveInterval="5000" singleInstance="true" forumPresent="false" validateConnection="true" isTargetManager="true"/>

  <!-- CONFIGURACION WCF IT -->

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>

        <binding name="ListsSoap" closeTimeout="00:01:00"
                      openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                      allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                      maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                      messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                      useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Ntlm" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
		<!--
        <binding name="BasicHttpBinding_ITwoWayAsync" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
		-->
		
		<!--Este binding es para ir directamente al servicio de IT usando el compomente de Identificación Externa-->		
		<binding name="BasicHttpBinding_ITwoWayAsync">
		  <security mode="TransportCredentialOnly">
			<transport clientCredentialType="Ntlm" />
		  </security>
		</binding>
		
      </basicHttpBinding>

      <netTcpBinding>
        <!--<binding name="RoleEndPoint" closeTimeout="00:01:00" openTimeout="00:01:00" sendTimeout="00:02:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="2097152" maxBufferSize="2097152" maxConnections="10" maxReceivedMessageSize="2097152">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="524288" maxNameTableCharCount="1024"/>
          <reliableSession ordered="true" inactivityTimeout="00:01:00" enabled="true"/>
          <security mode="None">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign"/>
            <message clientCredentialType="Windows"/>
          </security>
        </binding>-->

        <binding name="RoleEndPoint" sendTimeout="00:10:00">
          <reliableSession inactivityTimeout="00:03:00" enabled="true" />
          <security mode="None" />
        </binding>

        <binding name="netTcpBinding_Config">
          <security mode="None"></security>
        </binding>
      </netTcpBinding>
      <wsDualHttpBinding>
        <binding name="wsDualHttpBinding_Config">
          <security mode="None" />
        </binding>
      </wsDualHttpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://TNACAWFM198.tnsautoca.techint.net:33333/ITService" binding="netTcpBinding" bindingConfiguration="RoleEndPoint" contract="ITService" name="RoleEndPoint">
        <!--<endpoint address="net.tcp://10.93.1.40:33333/ITService" binding="netTcpBinding" bindingConfiguration="RoleEndPoint" contract="ITServiceProxy.ITService" name="RoleEndPoint">-->
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>
      <!--SpecificationService-BEGIN-->
      <endpoint address="net.tcp://TNACAWFM198.tnsautoca.techint.net:22004/ServiceSpecification/Specification"
        behaviorConfiguration="ServiceClientEndpointBehavior"
        binding="netTcpBinding"
        bindingConfiguration="netTcpBinding_Config"
        contract="Tenaris.Tamsa.Service.SpecificationService.Shared.Interfaces.ISpecificationServiceWCFContract"
        name="SpecificationService" />
      <endpoint address="net.tcp://TNACAWFM198.tnsautoca.techint.net:22004/ServiceSpecification/EventContract"
        behaviorConfiguration="ServiceClientEndpointBehavior"
        binding="netTcpBinding"
        bindingConfiguration="netTcpBinding_Config"
        contract="Tenaris.Tamsa.Service.SpecificationService.Shared.Interfaces.ISpecificationServiceWCFCallBackContract"
        name="SpecificationServiceCallBack" />
      <!--SpecificationService-END-->
      <endpoint address="http://bztbalancer.tamsa.techint.net:8262/TAC601/ManageStockWipProtector.svc"
       binding="basicHttpBinding" bindingConfiguration="ListsSoap"
       contract="ManageStockWipProtector" name="WipProtector" behaviorConfiguration="debug"/>

      <!--<endpoint address="http://tamcawai108.tamsa.techint.net:8303/TPL604/ManageProductionOrder_V1.svc"-->
	  <endpoint address="http://bztbalancer.tamsa.techint.net:8303/TPL604/ManageProductionOrder_V1.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITwoWayAsync"
                contract="ITServiceURC.ManageProductionOrder_V1" name="BasicHttpBinding_ITwoWayAsync" />
    </client>

    <behaviors>
      <endpointBehaviors>
        <behavior name="ServiceClientEndpointBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
        <behavior name="debug">
          <callbackDebug includeExceptionDetailInFaults="true"/>
        </behavior>

      </endpointBehaviors>
    </behaviors>

  </system.serviceModel>

  <!--Specification Service Configuration-->
  <SpecificationServiceClient factoryType="Tenaris.Tamsa.Service.SpecificationService.Client.SpecificationServiceFactory, Tenaris.Tamsa.Service.SpecificationService.Client" isSingleton="True">
    <SpecificationServiceConfiguration  serviceName="SpecificationService" specificationServiceEndPoint="SpecificationService" monitoringInterval="2000" />
  </SpecificationServiceClient>

  <log maxFileSize="32768"
       msgFormat="{Timestamp:yyyy-MM-dd HH:mm:ss.fff} [{ThreadId,-5:d5}] - {IdentString} {Message}"
       logLevel="Debug"
       traceAttributeLogEnabled="true"
       path="..\..\..\Logs\Manager\PCKManager\"
	   logBaseName="PCKManager"
       additionalLogDestination="Console"
       logAssemblyLoad="true"/>

  <log0 maxFileSize="32768"
      msgFormat="{Timestamp:yyyy-MM-dd HH:mm:ss.fff} [{ThreadId,-5:d5}] - {IdentString} {Message}"
      logLevel="Debug"
      traceAttributeLogEnabled="true"
      path="..\..\..\Logs\PCKManager\PrinterLog0\"
      additionalLogDestination="Console"
      logAssemblyLoad="true"/>

  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
      </layout>
    </appender>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender" >
      <!--Example of appender ONE IS MANDATORY-->
      <filter type="log4net.Filter.LevelRangeFilter">
        <!--Example of Filter for logger level OPTIONAL-->
        <param name="LevelMin" value="ALL" />
        <!--Min Level of Filter-->
        <param name="LevelMax" value="OFF" />
        <!--Max Level of Filter-->
      </filter>
      <param name="DatePattern" value="'.'yyyyMMdd'.log' " />
      <!--Example of DatePattern for concat in filename, this example logger in one file for each day OPTIONAL-->
      <param name="File" value="..\..\..\Logs\Manager\PCKManager\PrinterLog4Net" />
      <!--Log File name and save location MANDATORY-->
      <param name="AppendToFile" value="false" />
      <!--TRUE, append to exist file. FALSE, create and log in a new file. OPTIONAL-->
      <param name="rollingStyle" value="Date" />
      <!--Rolling style for de logfile-->
      <!--<param name="maxSizeRollBackups" value="10" />-->
      <!--The maximum number of backup files that are kept before the oldest is erased. OPTIONAL -->
      <param name="maximumFileSize" value="40MB" />
      <!--Set the macimun File Size OPTIONAL-->
      <param name="staticLogFileName" value="false" />
      <!--TRUE, the logfile name is static. FALSE, allow change logfile OPTIONAL-->
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[BEGIN_LOG %date{yyyy-MM-dd HH:mm} =========================] %newline" type="log4net.Util.PatternString"/>
        <!--Configure the header of de logfile OPTIONAL-->
        <param name="Footer" value="[END_LOG %date{yyyy-MM-dd HH:mm} =========================]" type="log4net.Util.PatternString"/>
        <!--Configure the footer of the logfile OPTIONAL-->
      </layout>
    </appender>
    <!--<appender name="IT" type="log4net.Appender.RollingFileAppender" >
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="ALL" />
        <param name="LevelMax" value="OFF" />
      </filter>
      <param name="DatePattern" value="'.'yyyyMMdd'.log' " />
      <param name="File" value="d:\data\logs\PCKManager\IT\PCKManagerIT" />
      <param name="AppendToFile" value="true" />
      <param name="rollingStyle" value="Date" />
      <param name="maxSizeRollBackups" value="10" />
      <param name="maximumFileSize" value="4MB" />
      <param name="staticLogFileName" value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[BEGIN_LOG %date{yyyy-MM-dd HH:mm} ===] %newline" type="log4net.Util.PatternString"/>
        <param name="Footer" value="[END_LOG %date{yyyy-MM-dd HH:mm} =====]" type="log4net.Util.PatternString"/>
      </layout>
    </appender>-->

    <logger name="Tenaris.Library.Log">
      <appender-ref ref="LogFileAppender" />
      <appender-ref ref="ConsoleAppender" />
    </logger>

    <!--<logger name="Tenaris.Library.ITServices">
      <appender-ref ref="ConsoleAppender" />
      <appender-ref ref="IT" />
    </logger>-->

  </log4net>

  <system.runtime.remoting>
    <application name="Server">
      <channels>
        <channel ref="tcp" port="49501" >
          <clientProviders>
            <provider type="Tenaris.Library.Proxy.Remoting.ClientRemotingInterceptorProvider, Tenaris.Library.Proxy"/>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </clientProviders>
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full"/>
            <!--<provider type="Tenaris.Library.Proxy.Remoting.ServerRemotingInterceptorProvider, Tenaris.Library.Proxy" />-->
          </serverProviders>
        </channel>
      </channels>
    </application>
    <customErrors mode="off"/>
  </system.runtime.remoting>

  <!--<startup><supportedRuntime version="v2.0.50727"/></startup>-->

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
