<?xml version="1.0"?>
<configuration>

  <!-- esta seccion debe ser la primera antes de todo -->
  <configSections>
    <section name="IdentificationManager" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework" />
    <section name="Tenaris.Manager.TraceabilityIdentification" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework"/>
	<section name="TrackingManager_BME21" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy, Version=4.1.0.0, Culture=neutral, PublicKeyToken=c4a5016cfc42fcd0" />
    
    <section name="Tenaris.Library.Proxy" type="Tenaris.Library.Proxy.Configuration.ProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>
    <section name="ManagerBaseConfiguration" type="Tenaris.Manager.Forum.Shared.Configuration.ManagerBaseConfiguration, Tenaris.Manager.Forum.Shared" />
    <section name="ManagerConfiguration" type="Tamsa.Manager.Identification.Config.IdentificationManagerConfig, Tamsa.Manager.Identification"/>
    <section name="HandshakeManager" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>
    <section name="TrackingManager" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy, Version=4.1.0.0, Culture=neutral, PublicKeyToken=c4a5016cfc42fcd0" />
	<section name="AlarmManager" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy" />
    <section name="BusinessRulesManager" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>
    <section name="CommandManager" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>
    <section name="log" type="Tenaris.Library.Log.LogConfiguration, Tenaris.Library.Log"/>

    
    <section name="Tamsa.Manager.Identification.ValidationPlugin.Configuration_BME21"
         type="Tamsa.Manager.Identification.ValidationPlugin_BME21.Model.ConfigurationValidationPlugin, Tamsa.Manager.Identification.ValidationPlugin_BME21"/>

    <!--<section name="Tamsa.Manager.Identification.ValidationPlugin.Configuration_BME21" 
         type="Tamsa.Manager.Identification.ValidationPlugin_BME21.Model.ConfigurationValidationPlugin, Tamsa.Manager.Identification.ValidationPlugin_BME21"/>-->


    <section name="Tenaris.Manager.Alarm" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy" />
	
	
	
    <!-- <section name="TrackingManager_BME22" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy, Version=4.1.0.0, Culture=neutral, PublicKeyToken=c4a5016cfc42fcd0" /> -->
    
    <!-- <section name="Tamsa.Manager.Identification.ValidationPlugin.Configuration_L2" type="Tamsa.Manager.Identification.ValidationPlugin_BME21.Model.ConfigurationValidationPlugin, Tamsa.Manager.Identification.ValidationPlugin_L2"/> -->

  </configSections>

  <!--   <connectionStrings>
    <add name="Level2" connectionString="Application Name=IdentificationManager;Data Source=172.29.108.211;Initial Catalog=MLD_LEVEL2_LINEA1;User ID=DRodriguez;Password=drodriguez;Persist Security Info=True;Max Pool Size=10;" providerName="System.Data.SqlClient"/>
    <add name="Level2_AMA22" connectionString="Application Name=IdentificationManagerPluginAM22;Data Source=172.29.12.61;Initial Catalog=Level2_Line2_AM22_20150410;User ID=sa;Password=Tamsa01;Persist Security Info=True;Max Pool Size=10;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
 -->
  <connectionStrings>
    <add name="Level2_BME21" connectionString="Application Name=IdentificationManager;Data Source=TNATFT2PRDLSN.tnsautoca.techint.net,5040;Initial Catalog=L2Bz22;Persist Security Info=True;Integrated Security=SSPI;Max Pool Size=10;" providerName="System.Data.SqlClient"/>
  </connectionStrings>


  <!-- Configuration used by factory to create the manager -->
  <IdentificationManager
    factoryType="Tamsa.Manager.Identification.IdentificationManagerFactory, Tamsa.Manager.Identification"
    isSingleton="True"
    sectionName="ManagerBaseConfiguration"	
    />

  <Tamsa.Manager.Identification.ValidationPlugin.Configuration_BME21
		ValidateETrack="1">
  </Tamsa.Manager.Identification.ValidationPlugin.Configuration_BME21>

  <!--<Tamsa.Manager.Identification.ValidationPlugin.Configuration_L2
		ValidateETrack="1">
  </Tamsa.Manager.Identification.ValidationPlugin.Configuration_L2>-->

  <appSettings>
	<add key="UseeTrackValidationService" value="true" />
    <add key="AlarmCodeWMS" value="L1_BME" />
    <!--Key = Codigo de máquina de visión
        Value = Zona de tracking, Maquina de alarma, código de alarma
    -->
    <add key="L1_PML" value="InspeccionRX21,MachineAlarm,CodeAlarm" />
    <add key="WMS" value="Wms,MachineAlarm,CodeAlarm,1,NIVELII,ter2,TER2" />

	<!-- Configuraciones para resolver los datamatrix locales. -->
	<add key="ResolveWithLocalDm" value="true" />
	<add key="TpnFolioServiceEndPoint" value="TPNFolioManager" />
	<add key="LocalIdLinesToResolveInCsv" value="969" />			

</appSettings>


  <ManagerBaseConfiguration
    areaCode="LINEA2"
    defaultConnectionStringName="Level2_BME21"	
    />

  <ManagerConfiguration
    appName="Identification"
	IdentificationIdUsage="2">
    <TraceabilityMachineList>
      <TraceabilityMachine stationCode="WMS"
                           informationByHs="false"
                           hsType="notification"
                           forceGetLastCapturesWhenHsRetry="true"
                           processTimeOutEventsAsNormalEvents="false"
                           tryGetLastCapturesOnVisionTimeout="true"
                           maxWaitingTimeForIdentificationCaptureEvent="21000"
						   maxToleranceMsForRetrieveVisionDataOnTimeout="3000"
						   retrieveOldVisionDataBeforeStartingTheTimer="true"
                           cleanProcessedOkInformation="false"
                           alwaysSendAssistanceData="true"
                           sendAssistanceDataOnEarlyEvents="false"
                           hsIdentification="HS_TRAC_IDEN_001"
                           cmdUnlock="CMD_TRC_IDEN_01"
                           endPointTraceabilityIdentification="ServiceClientWMS"
          HsResponsePluginType="Tamsa.Manager.Identification.HsResponsePlugin_BME.HsResponsePlugin_BME, Tamsa.Manager.Identification.HsResponsePlugin_BME"
          ValidationPluginType="Tamsa.Manager.Identification.ValidationPlugin_BME21.ValidationPlugin_BME21, Tamsa.Manager.Identification.ValidationPlugin_BME21"
          TrackingActionsPluginType="Tamsa.Manager.Identification.TrackingActionsPlugin_BME21.TrackingActionsPlugin_BME21, Tamsa.Manager.Identification.TrackingActionsPlugin_BME21"
                           saveHistoryPictures="true"
						   unlockOnErrors="false"
						   ConfirmEarlyEvents="false"
						   HsFilterSeconds="0"
						   OnVisionChangedCommand="CMD_TRC_IDEN_02"
						   forceAllAssitanceCasesToFalse="false"
                           />
    </TraceabilityMachineList>
  </ManagerConfiguration>



  <Tenaris.Manager.TraceabilityIdentification factoryType="Tenaris.Manager.TraceabilityIdentification.Client.ClientFactory, Tenaris.Manager.TraceabilityIdentification.Client" isSingleton="True">
    <ClientConfiguration serviceEndPoint="ServiceClient"/>
  </Tenaris.Manager.TraceabilityIdentification>

  <system.serviceModel>
    <bindings>

      <basicHttpBinding>
        <binding name="BasicHttpBinding_IOrderReplicatorService" />
		<binding name="ServiceSoap" />
      </basicHttpBinding>
	  
	  <netTcpBinding>
        <binding name="netTcpSecBinding" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" receiveTimeout="00:00:03" sendTimeout="00:00:03" transferMode="Buffered">
          <readerQuotas maxArrayLength="2147483647" maxBytesPerRead="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None" protectionLevel="None">
              <extendedProtectionPolicy policyEnforcement="Never" />
            </transport>
            <message clientCredentialType="None" />
          </security>
          <reliableSession />
        </binding>

		
		<binding
            name="NetTcpBinding_IOrderReplicatorService">
          <security
              mode="None">
            <transport
                clientCredentialType="Windows" />
            <message
                clientCredentialType="Windows" />
          </security>
        </binding>
		
		
        <binding name="ServiceClient" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="01:00:00" sendTimeout="01:00:00"
                 transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard"
                 listenBacklog="10" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxConnections="28" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:59:59" enabled="false" />
          <security mode="None">
            <transport clientCredentialType="None" protectionLevel="None" />
            <message clientCredentialType="None" />
          </security>
        </binding>

        <!--binding name="data_tcp">
          <security mode="None" />
        </binding-->
        
		
		<binding name="data_tcp" closeTimeout="00:00:03" openTimeout="00:00:03" receiveTimeout="00:00:03" sendTimeout="00:00:03"
                 transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard"
                 listenBacklog="10" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxConnections="28" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:59:59" enabled="false" />
          <security mode="None">
            <transport clientCredentialType="None" protectionLevel="None" />
            <message clientCredentialType="None" />
          </security>
        </binding>	  		

		<binding name="data_tcp1">
		  <security mode="None" />
		</binding>
      </netTcpBinding>
      <customBinding>
        <binding name="ServiceSoapCustom">
          <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
              messageVersion="Soap12" writeEncoding="utf-8">
            <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          </textMessageEncoding>
          <httpTransport manualAddressing="false" maxBufferPoolSize="524288"
              maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous"
              bypassProxyOnLocal="false" decompressionEnabled="true" hostNameComparisonMode="StrongWildcard"
              keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous"
              realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false"
              useDefaultWebProxy="true" />
        </binding>
      </customBinding>
    </bindings>

    <client>

      <!--<endpoint address="net.tcp://10.93.1.224:8737/OrderReplicatorService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IOrderReplicatorService"
                contract="ORS.IOrderReplicatorService" name="NetTcpBinding_IOrderReplicatorService" />-->



      <!--endpoint address="net.tcp://10.93.1.40:4462/TraceabilityIdentification" binding="netTcpBinding" bindingConfiguration="ServiceClient"
               contract="Tenaris.Manager.TraceabilityIdentification.Service.Shared.ITraceabilityIdentificationService" name="ServiceClientWMS">
        <identity>
          <dns value="172.29.249.254" />
        </identity>
      </endpoint-->


	<!--endpoint address="http://etrack.tamsa.ot/EtrackPipeValidationService/Service.asmx"
                binding="basicHttpBinding" bindingConfiguration="ServiceSoap"
                contract="ServiceSoap" name="ServiceSoap" />

      <endpoint address="http://172.29.10.58/EtrackPipeValidationService/Service.asmx"
                     binding="customBinding" bindingConfiguration="ServiceSoapCustom"
                     contract="PipeStatusValidationServiceSoap" name="ServiceSoapCustom" /-->

	<endpoint address="http://172.29.10.58/EtrackPipeValidationService/Service.asmx"
                binding="basicHttpBinding" bindingConfiguration="ServiceSoap"
                contract="ServiceSoap" name="ServiceSoap" />

      <endpoint address="http://172.29.10.58/EtrackPipeValidationService/Service.asmx"
                     binding="customBinding" bindingConfiguration="ServiceSoapCustom"
                     contract="PipeStatusValidationServiceSoap" name="ServiceSoapCustom" />					 
					 
      <endpoint address="net.tcp://TNACAWFM197.tnsautoca.techint.net:8737/OrderReplicatorService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IOrderReplicatorService"
                contract="ORS.IOrderReplicatorService" name="NetTcpBinding_IOrderReplicatorService" />

				
      <endpoint address="net.tcp://172.29.12.184:8011/ETrackHeatProgService"
                    binding="netTcpBinding" bindingConfiguration="data_tcp" contract="IETrackHeatProgService"
                    name="data_tcp" />
					
	  <endpoint address="http://TNACAWFM197.tnsautoca.techint.net:8732/Design_Time_Addresses/OrderReplicator.Service/Service1/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOrderReplicatorService"
                contract="OrderReplicatorService.IOrderReplicatorService"
                name="BasicHttpBinding_IOrderReplicatorService" />			

      <endpoint address="net.tcp://10.92.71.179:4462/TraceabilityIdentification" binding="netTcpBinding" bindingConfiguration="ServiceClient"
               contract="Tenaris.Manager.TraceabilityIdentification.Service.Shared.ITraceabilityIdentificationService" name="ServiceClientWMS">
        <identity>
          <dns value="10.92.71.179" />
        </identity>
      </endpoint>
				
      <!--<endpoint address="net.tcp://172.29.11.78:8731/ZeroService" binding="netTcpBinding"
                    bindingConfiguration="NetTcpBinding_IZeroService" contract="ServiceLinkerAMA22.IZeroService"
                    name="NetTcpBinding_IZeroService">
        <identity>
          <dns value="172.29.11.78" />
        </identity>
      </endpoint>-->
		<endpoint address="net.tcp://172.29.10.58:8098/TPNFolioManager"
				binding="netTcpBinding" bindingConfiguration="data_tcp1" contract="TpnFolioService.ITPNFolioManager"
				name="TPNFolioManager" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="false" />
          <serviceDebug httpHelpPageEnabled="false" httpsHelpPageEnabled="false"
                        includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>


  <BusinessRulesManager
             url="tcp://TNACAWFM198.tnsautoca.techint.net:22007/Tenaris.Manager.BusinessRules.soap"
             instanceType="Tenaris.Manager.BusinessRules.Shared.IBusinessRulesManager, Tenaris.Manager.BusinessRules.Shared"
             aliveInterval="2000"
             singleInstance="false"
             forumPresent="false"/>

  <Tenaris.Manager.Alarm
            instanceType="Tenaris.Manager.Alarm.Shared.IAlarmManager, Tenaris.Manager.Alarm.Shared"
            aliveInterval="5000"
            singleInstance="true"
            validateConnection="false">
    <Redundancy>
      <Address url="tcp://TNACAWFM198.tnsautoca.techint.net:22008/Tenaris.Manager.Alarm.soap" forumPresent="false" isTargetManager="true"/>
    </Redundancy>
  </Tenaris.Manager.Alarm>


  <AlarmManager
            instanceType="Tenaris.Manager.Alarm.Shared.IAlarmManager, Tenaris.Manager.Alarm.Shared"
            aliveInterval="5000"
            singleInstance="true"
            validateConnection="false">
    <Redundancy>
      <Address url="tcp://TNACAWFM198.tnsautoca.techint.net:22008/Tenaris.Manager.Alarm.soap" forumPresent="false" isTargetManager="true"/>
    </Redundancy>
  </AlarmManager>
  

  <HandshakeManager
    url="tcp://TNACAWFM198.tnsautoca.techint.net:22002/Tenaris.Manager.Handshake.HandshakeManager.soap"
    instanceType="Tenaris.Manager.Handshake.Shared.IHandshakeManager, Tenaris.Manager.Handshake.Shared"
    aliveInterval="1000"
    singleInstance="false"
    forumPresent="false"
    validateConnection="true"
    isTargetManager="true"/>

  <!--<HandshakeManager
   instanceType="Tenaris.Manager.Handshake.Shared.IHandshakeManager, Tenaris.Manager.Handshake.Shared"
   aliveInterval="5000"
   singleInstance="true"
   validateConnection="false">
    <Redundancy>
      <Address url="tcp://172.29.108.124:21002/HandshakeManager.soap"
               forumPresent="false"
               isTargetManager="true"/>
    </Redundancy>
  </HandshakeManager>-->  
  
  <CommandManager
    url="tcp://TNACAWFM198.tnsautoca.techint.net:22003/Tenaris.Manager.Command.soap"
    instanceType="Tenaris.Manager.Command.Shared.ICommandManager, Tenaris.Manager.Command.Shared"
    aliveInterval="1000"
    singleInstance="false"
    forumPresent="false"
    validateConnection="true"
    isTargetManager="true"/>



  <!--<HandshakeManager
   instanceType="Tenaris.Manager.Handshake.Shared.IHandshakeManager, Tenaris.Manager.Handshake.Shared"
   aliveInterval="5000"
   singleInstance="true"
   validateConnection="false">
    <Redundancy>
      <Address url="tcp://172.29.108.124:21002/HandshakeManager.soap"
               forumPresent="false"
               isTargetManager="true"/>
    </Redundancy>
  </HandshakeManager>

  <CommandManager
   instanceType="Tenaris.Manager.Command.Shared.ICommandManager, Tenaris.Manager.Command.Shared"
   aliveInterval="5000"
   singleInstance="true"
   validateConnection="true">
    <Redundancy>
      <Address url="tcp://172.29.108.124:21003/Tenaris.Manager.Command.soap"
               forumPresent="false"
               isTargetManager="true"/>
    </Redundancy>
  </CommandManager>-->


  <TrackingManager_BME21
        url="tcp://TNACAWFM198.tnsautoca.techint.net:22005/TrackingManager.soap"
        instanceType="Tenaris.Manager.Tracking.Shared.ITrackingManager, Tenaris.Manager.Tracking.Shared"
        aliveInterval="1000"
        singleInstance="false"
        forumPresent="false"
        validateConnection="true"
        isTargetManager="true">
  </TrackingManager_BME21>

  <TrackingManager
        url="tcp://TNACAWFM198.tnsautoca.techint.net:22005/TrackingManager.soap"
        instanceType="Tenaris.Manager.Tracking.Shared.ITrackingManager, Tenaris.Manager.Tracking.Shared"
        aliveInterval="1000"
        singleInstance="false"
        forumPresent="false"
        validateConnection="true"
        isTargetManager="true">
  </TrackingManager>

  <!--<TrackingManager_BME21
        url="tcp://172.29.108.124:21005/TrackingManager.soap"
        instanceType="Tenaris.Manager.Tracking.Shared.ITrackingManager, Tenaris.Manager.Tracking.Shared, Version=4.1.0.0, Culture=neutral, PublicKeyToken=eef9a6bb3b9b0366"
        aliveInterval="1000"
        singleInstance="false"
        validateConnection="true"
        forumPresent="false"
      isTargetManager="true">
  </TrackingManager_BME21>-->

  <!--        <TrackingManager_BME22
               url="tcp://10.93.1.224:21005/TrackingManager.soap"
               instanceType="Tenaris.Manager.Tracking.Shared.ITrackingManager, Tenaris.Manager.Tracking.Shared, Version=4.1.0.0, Culture=neutral, PublicKeyToken=eef9a6bb3b9b0366"
               aliveInterval="1000"
               singleInstance="true"
               validateConnection="true"
               forumPresent="false"
             isTargetManager="true">
       </TrackingManager_BME22>
 -->


  <!-- <TrackingManager
		  url="tcp://10.93.1.224:21005/TrackingManager.soap"
		  instanceType="Tenaris.Manager.Tracking.Shared.ITrackingManager, Tenaris.Manager.Tracking.Shared, Version=4.1.0.0, Culture=neutral, PublicKeyToken=eef9a6bb3b9b0366"
		  aliveInterval="1000"
		  singleInstance="true"
		  validateConnection="true"
		  forumPresent="false"
		isTargetManager="true">
	</TrackingManager>
 -->

  <Tenaris.Library.Proxy factoryType="Tenaris.Library.Proxy.Factories.PipeProxyFactory, Tenaris.Library.Proxy">
    <Configuration>
      <Components>
        <Component type="Tenaris.Library.Proxy.Components.ConnectionMonitorComponent, Tenaris.Library.Proxy">
          <Interval>1000</Interval>
        </Component>
      </Components>
      <EventListener type="Tenaris.Library.Proxy.EventListener, Tenaris.Library.Proxy, Version=4.1.0.0, Culture=neutral, PublicKeyToken=c4a5016cfc42fcd0"/>
      <Dispatcher type="Tenaris.Library.Proxy.Dispatchers.DirectMessageDispatcher, Tenaris.Library.Proxy, Version=4.1.0.0, Culture=neutral, PublicKeyToken=c4a5016cfc42fcd0"/>
    </Configuration>
  </Tenaris.Library.Proxy>


  <!--Remoting configuration. This can be placed in a separate file named remoting.config-->
  <system.runtime.remoting>
    <customErrors mode="off" />
    <application name="Server">
      <channels>
        <channel ref="tcp" port="51020" >
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full" />
          </serverProviders>
          <clientProviders>
            <provider type="Tenaris.Library.Proxy.Remoting.ClientRemotingInterceptorProvider, Tenaris.Library.Proxy, Version=4.1.0.0, Culture=neutral, PublicKeyToken=c4a5016cfc42fcd0"/>
            <formatter ref="binary" typeFilterLevel="Full" />
          </clientProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>

  <!--  msgFormat="{Timestamp:HH:mm.ss.fff} ; {Level,-7} ; {Message} ; {MethodName}"-->

  <log
    maxFileSize="8192"
    msgFormat="{TypeChar} {Timestamp:yyyy-MM-dd HH:mm:ss.fff} [{ThreadId,-5:d5}] [lap={LapFriendlyValue,-10:f2}{LapFriendlyUnit,4}] {AssemblyName,-15} {IdentString} {Message}"
    logLevel="Debug"
    traceAttributeLogEnabled="true"
	path="..\..\..\Logs\Manager\IdentificationParentChild\"
    logBaseName="IdentificationManager"
    additionalLogDestination="Console"
	logAssemblyLoad="true"
  />

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="bin;"/>
    </assemblyBinding>
  </runtime>

</configuration>
