<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="ManagerBaseConfiguration" type="Tenaris.Manager.Forum.Shared.Configuration.ManagerBaseConfiguration, Tenaris.Manager.Forum.Shared"/>
    <section name="AcquisitionConfiguration" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework"/>
		<section name="Tenaris.Manager.Alarm" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework"/>
		<section name="Tenaris.Manager.Alarm.Configuration" type="Tenaris.Manager.Alarm.Configuration.AlarmConfiguration, Tenaris.Manager.Alarm" />
		<section name="log" type="Tenaris.Library.Log.LogConfiguration, Tenaris.Library.Log"/>
	</configSections>

	<!-- Db conection configuration-->
	<connectionStrings>
		<!--<add name="EquipmentAlarmConnString" connectionString="Application Name=AlarmManager;Password=L2Appl;User ID=L2Appl;Initial Catalog=ScSiz200;Data Source=10.80.130.59;Persist Security Info=True;MultipleActiveResultSets=True; Asynchronous Processing=true;"/>-->
		<add name="EquipmentAlarmConnString" connectionString="Application Name=manager_Alarm;Password=123level2123;User ID=Level2;Initial Catalog=Level2_Linea2;Data Source=10.93.1.85;Persist Security Info=True;MultipleActiveResultSets=True; Asynchronous Processing=true;"/>
    <!--<add name="EquipmentAlarmConnString" connectionString="Application Name=AlarmManager;Password=Tamsa01;User ID=sa;Initial Catalog=Level2_Linea2;Data Source=10.93.1.85;Persist Security Info=True;MultipleActiveResultSets=True; Asynchronous Processing=true;"/>-->
	</connectionStrings>

	<!-- Configuracion de base manager -->
	<ManagerBaseConfiguration areaCode="LINEA2" defaultConnectionStringName="EquipmentAlarmConnString"/>

	<!-- Configuración del manager de alarmas -->
	<Tenaris.Manager.Alarm.Configuration
		Uri="Tenaris.Manager.Alarm.soap"
		pollingEnabled="False"
		pollingTime="100"
		TestMode="false"
		ReloadAlarmsIntervalMinutes="10" />

  <!-- Acquisition Configuration section 172.29.12.42 -->
	<!--<AcquisitionConfiguration factoryType="Tenaris.Library.IVisionClient.IVisionClientFactory, Tenaris.Library.IVisionClient, Version=4.1.0.0, Culture=neutral, PublicKeyToken=76aaee927e074b49">
		<IVisionClientConfiguration ConnectionStringName="" IVisionMode="IVisionRT" AliveCheckInterval="5000" SOAPReadInterval="2000"
									  RetryCount="2" Timeout="5000" >
			<Servers>
				--><!--<Server ServerName="10.80.130.50" />--><!--
				<Server ServerName="autmsvrtest" />
			</Servers>
		</IVisionClientConfiguration>
	</AcquisitionConfiguration>-->

  <AcquisitionConfiguration factoryType="Tamsa.OplScada.AcquisitionClient.AcquisitionFactory, Tamsa.OplScada.AcquisitionClient">
    <AcquisitionConfiguration Driver="Tamsa.OplScada.AcquisitionClient.AcquisitionProxy, Tamsa.OplScada.AcquisitionClient"
		IP="localhost" Port="22000"  Timeout="3000" RepeatCount="3" WriteSync="true" />
  </AcquisitionConfiguration>

	<!-- Configuration factory equipment alarm -->
	<Tenaris.Manager.Alarm factoryType="Tenaris.Manager.Alarm.AlarmManagerFactory, Tenaris.Manager.Alarm" isSingleton="True">
		<AlarmConfiguration UsingKeyManager="false"/>
	</Tenaris.Manager.Alarm>

	<!-- Log configuration -->
	<!--<log
	  maxFileSize="8096"
		  msgFormat="{Timestamp:HH:mm:ss.fff} ; {Level,-7} ; {ClassName} ; {Message} ; {MethodName}"
		  logLevel="Message"
		  traceAttributeLogEnabled="false"
		  logBaseName="d:\Data\logs\AlarmManager\Tenaris.Manager.Alarm.Host"
		  additionalLogDestination="Console"/>-->
		  
	 <log maxFileSize="200000" 
	path="D:\Data\Logs\AlarmManager\" 
    msgFormat="{Timestamp:HH:mm.ss.fff} ; {Level,-7}; {Message} ; {MethodName}" logLevel="Debug" 
    traceAttributeLogEnabled="false" 
	logBaseName="Alarm.Manager.Host" 
	additionalLogDestination="Console" logAssemblyLoad="false"/>

	<!-- Remoting configuration -->
	<system.runtime.remoting>
		<application name="Server">
			<channels>
				<channel ref="tcp" port="22008" bindTo="10.93.1.75">
					<serverProviders>
						<formatter ref="binary" typeFilterLevel="Full"/>
					</serverProviders>
					<clientProviders>
						<provider type="Tenaris.Library.Proxy.Remoting.ClientRemotingInterceptorProvider, Tenaris.Library.Proxy, Version=4.1.0.0, Culture=neutral, PublicKeyToken=c4a5016cfc42fcd0"/>
						<formatter ref="binary" typeFilterLevel="Full"/>
					</clientProviders>
				</channel>
			</channels>
			<service>
			</service>
		</application>
		<customErrors mode="off" />
	</system.runtime.remoting>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>