<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log" type="Tenaris.Library.Log.LogConfiguration, Tenaris.Library.Log" />
    <section name="AcquisitionConfig" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework" />
    <!-- configuracion de la vista -->
    <section name="ConfigurationView" type="Tamsa.View.Wms.UnLockPaintStripes.Configuration.ConfigurationView, Tamsa.View.Wms.UnLockPaintStripes" />
    <!--Configuracion para tracking-->
    <section name="Tenaris.Manager.Command.CommandManager"       type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>
  </configSections>
  <connectionStrings>
    <add name="dbLevel2" connectionString="Application Name=UnLockPaintStripes;Data Source=10.92.70.125;Initial Catalog=Level2_Line2;User ID=Level2;Password=Level2;Persist Security Info=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <ConfigurationView
    AppTitle="Bloqueo de tubo por Cambio de Orden"
    DBConnection="dbLevel2"
    CommandSectionName="Tenaris.Manager.Command.CommandManager"
    CommandName="CMD_LCK_COP"
	MenssageAlert="Revise que los colores de las franjas solicitadas correspondan con los indicadas en el PLP  y que el tipo de grasa sea el correcto. Confirma que la grasa a aplicar es la correcta y se tienen OK los colores a aplicar en las franjas"
	TitleAlert="Bloqueo de Cambio de Orden para la estación de Pintafranjas"
	LabelBlockButton="Desbloquear"
	LabelUnlockButton="Sin Bloqueo"
    >
  </ConfigurationView>
  <!--Command manager configuration-->
  <Tenaris.Manager.Command.CommandManager
	  instanceType="Tenaris.Manager.Command.Shared.ICommandManager, Tenaris.Manager.Command.Shared"
	  aliveInterval="1000"
	  singleInstance="true"
	  validateConnection="true">
    <Redundancy>
      <Address url="tcp://TNACAWFM197.tnsautoca.techint.net:21003/Tenaris.Manager.Command.soap" forumPresent="false" isTargetManager="true"/>
    </Redundancy>
  </Tenaris.Manager.Command.CommandManager>


  <appSettings>
    <add key="TagNameRead" value="CMDBYPASSRB_N2.VALUE" />
    <add key="TagNameWrite" value="CMDBYPASSRB_N2.VALUE" />
    <add key="TimeRefresh" value="5" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <AcquisitionConfig factoryType="Tamsa.OplScada.AcquisitionClient.AcquisitionFactory, Tamsa.OplScada.AcquisitionClient">
    <AcquisitionConfiguration Driver="Tamsa.OplScada.AcquisitionClient.AcquisitionProxy, Tamsa.OplScada.AcquisitionClient" IP="10.93.1.40" Port="21000" Timeout="3000" RepeatCount="3" WriteSync="true" />
  </AcquisitionConfig>
  <log maxFileSize="8096" maxFileCount="10" msgFormat="{TypeChar} {Timestamp:yyyy-MM-dd HH:mm:ss.fff} [{ThreadId,-5:d5}] [lap={LapFriendlyValue,-10:f2}{LapFriendlyUnit,4}] {AssemblyName,-15} {IdentString} {Message}" logLevel="Debug" traceAttributeLogEnabled="true" path="Logs\" logBaseName="LockByPipeBypass" additionalLogDestination="Console" logAssemblyLoad="false" />


  <!--
    Configuracion de remoting
    Usada para la comunicacion con manager
    Usada por la security
  -->
  <system.runtime.remoting>
    <application name="Client">
      <channels>
        <channel ref="tcp" port="0">
          <clientProviders>
            <provider type="Tenaris.Library.Proxy.Remoting.ClientRemotingInterceptorProvider, Tenaris.Library.Proxy"/>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </clientProviders>
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </serverProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>