<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<configSections>
		<section name="StoredProcedures" type="System.Configuration.NameValueSectionHandler" />
		<section name="FinalMetricWeightBridgeConfigurationHRM" type="SystemFramework.FinalMetricWeightBridgeConfiguration, SystemFramework" />
		<sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
			<sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
				<!-- <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" /> -->
				<sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
					<!--<section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere" /> -->
					<!-- <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" /> -->
					<!-- <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" /> -->
					<!-- <section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" /> -->
				</sectionGroup>
			</sectionGroup>
		</sectionGroup>
		<section name="log" type="Tenaris.Library.Log.LogConfiguration, Tenaris.Library.Log" />
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	<connectionStrings>
		<!--<add name="ConnectionStringHTR" connectionString="Data Source=10.92.25.100;Initial Catalog=Level2_HTR_Sample;User ID=xxxx;Password=xxxx;MultipleActiveResultSets=true;"/>-->
		<!--<add name="ConnectionStringHTR" connectionString="Data Source=10.92.25.100;Initial Catalog=Level2_HTR;User ID=xxxx;Password=xxxx;MultipleActiveResultSets=true;"/>
		<add name="ConnectionStringHRM" connectionString="Data Source=10.92.21.16\HRM,50731;Initial Catalog=Level2;User ID=xxx;Password=xxxx;MultipleActiveResultSets=true;"/>
		<add name="ConnectionStringREC" connectionString="Data Source=10.92.28.100; Initial Catalog=Level2_Upsetting;User ID=xxx;Password=xxx;MultipleActiveResultSets=true;"/>-->
		<!--<add name="ConnectionStringHRM" connectionString="Data Source=10.92.21.16\HRM,50731;Initial Catalog=Level2Temp;User ID=grodriguez;Password=gabriel;MultipleActiveResultSets=true;"/>-->
		<!--<add name="ConnectionStringHRM" connectionString="Data Source=localhost;Initial Catalog=Level2;User ID=sa;Password=tt3;MultipleActiveResultSets=true;"/>-->
		<!--<add name="ConnectionStringHRM" connectionString="Data Source=10.92.21.50;Initial Catalog=Level2;User ID=Manager;Password=Manager;MultipleActiveResultSets=true;"/>-->
	    <!-- <add name="ConnectionStringFIN" connectionString="Data Source=10.93.1.108;Initial Catalog=L2Am22;Integrated Security=SSPI;Persist Security Info=True;MultipleActiveResultSets=True; Asynchronous Processing=true; Application Name=Manufacturing; Pooling=true; Max Pool Size=300;"/> -->
		<add name="ConnectionStringFIN" connectionString="Data Source=TNATFT2PRDLSN.tnsautoca.techint.net,5040;Initial Catalog=L2Am22;Integrated Security=SSPI;Persist Security Info=True;MultipleActiveResultSets=True; Asynchronous Processing=true; Application Name=Manufacturing; Pooling=true; Max Pool Size=300" />
		<add name="OracleCortadoras" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.93.1.92)(PORT=1522)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=DBLINEA2)));User Id=linea2;Password=lineas;" providerName="System.Data.OracleClient" />
	</connectionStrings>
	<appSettings>
		<!--Cortadoras-->
		<add key="itProcessID" value="COR2" />
		<add key="NotifyOnEspecificationChanged" value="true" />
		<!-- System Settings-->
		<add key="strSchema" value="Manufacturing." />
		<add key="Line" value="FIN" />
		<!--<add key="Line" value="HTR"/>-->
		<add key="UseTimerRefreshGrid" value="false" />
		<!--Use refresh "Testing Functionality"-->
		<add key="TimerRefreshGrid" value="40000" />
		<!--TimerRefreshGrid value in miliseconds-->
		<add key="DefaultMachineCode" value="BP" />
		<!--Default insert program Machine Code-->
		<add key="ShowGantt" value="false" />
		<add key="GanttStartTopDrawing" value="64" />
		<add key="InsertEnableFields" value="txtDiameter,txtThickness" />
		<add key="EditEnableFields" value="txtDiameter,txtThickness" />
		<!--txtHardeningCycleTime,txtHardeningTemperature, txtHardeningSpaces,txtTemperingCycleTime,txtTemperingTemperature,txtTemperingSpaces-->
		<!-- Visible Buttons-->
		<add key="btnSwitch" value="true" />
		<add key="btnUpOrder" value="true" />
		<add key="btnDownOrder" value="true" />
		<add key="btnDown" value="true" />
		<add key="btnBlock" value="true" />
		<add key="btnInsert" value="true" />
		<add key="btnEdit" value="true" />
		<add key="btnDelete" value="true" />
		<add key="btnSupplyChain" value="true" />
		<add key="btnOptimize" value="true" />
		<add key="btnCloseOrder" value="true" />
		<add key="btnSpecification" value="true" />
		<add key="btnSwitchHTML" value="true" />
		<add key="btnUpOrderHTML" value="true" />
		<add key="btnDownOrderHTML" value="true" />
		<add key="btnDownHTML" value="true" />
		<add key="btnBlockHTML" value="true" />
		<add key="btnInsertHTML" value="true" />
		<add key="btnEditHTML" value="true" />
		<add key="btnDeleteHTML" value="true" />
		<add key="btnCloseOrderHTML" value="false" />
		<add key="btnSupplyChainHTML" value="false" />
		<add key="btnOptimizeHTML" value="false" />
		<add key="btnSpecificationHTML" value="true" />
		<add key="tabGantt" value="true" />
		<add key="GuidHTR" value="eed9af2d-a6a2-4ac2-98e0-8d4609c3eb28" />
		<add key="GuidHRM" value="AFE14749-26EF-4fed-BBE0-959C687A2910" />
		<add key="GuidFIN" value="afe14749-26ef-4fed-bbe0-959c687a2910" />
		<add key="codeCenter" value="FAT2_Line2" />
		<add key="generateBatchWithOrder" value="false" />
		<!--Inserts the Batch when the order program inserts-->
		<add key="debugMode" value="true" />
		<!--option debug Mode-->
		<add key="ITLine" value="LTR2" />
		<!-- IT Line -->
		<!--Custom-->
		<!--HRMTAGS-->
		<add key="PQFType" value="CartaPQF" />
		<add key="UseLabelReader" value="true" />
		<!--<add key="PQFType" value="RedePQF"/>-->
		<add key="ShowHTMLButtons" value="true" />
		<add key="UseBilletWeightsRecalc" value="true" />
		<!--Limitantes de Maquinas-->
		<!--<add key="RANG_BP_LENGTH_MIN"   value ="0"   />-->
		<!--mts-->
		<!--<add key="RANG_BP_LENGTH_MAX"   value ="400" />-->
		<!--mts-->
		<!--<add key="RANG_BP_WEIGTH_MIN"   value ="310" /> -->
		<!--mm-->
		<!--<add key="RANG_BP_WEIGTH_MAX"   value ="1305"/> -->
		<!--mm-->
		<!--<add key="RANG_CTP_LENGTH_MIN"  value ="0"   /> -->
		<!--mts-->
		<!--<add key="RANG_CTP_LENGTH_MAX"  value ="400" /> -->
		<!--mts-->
		<!--<add key="RANG_EM_LENGTH_MIN"   value ="0"   /> -->
		<!--mts-->
		<!--<add key="RANG_EM_LENGTH_MAX"   value ="400" /> -->
		<!--mts-->
		<!--<add key="RANG_SRM_LENGTH_MIN"  value ="0"   /> -->
		<!--mts-->
		<!--<add key="RANG_SRM_LENGTH_MAX"  value ="400" /> -->
		<!--mts-->
		<add key="RANG_BP_LENGTH_MIN" value="1.1" />
		<add key="RANG_BP_LENGTH_MAX" value="4.5" />
		<add key="RANG_BP_WEIGTH_MIN" value="310" />
		<add key="RANG_BP_WEIGTH_MAX" value="1305" />
		<add key="RANG_CTP_LENGTH_MIN" value="4.0" />
		<add key="RANG_CTP_LENGTH_MAX" value="10.5" />
		<add key="RANG_EM_LENGTH_MIN" value="9.3" />
		<add key="RANG_EM_LENGTH_MAX" value="32.3" />
		<add key="RANG_SRM_LENGTH_MIN" value="11.0" />
		<add key="RANG_SRM_LENGTH_MAX" value="103" />
		<!--¿?-->
		<add key="editableFields" value="" />
		<add key="WmsInitialProgressive" value="70000" />
		<!--Aqui tienen que figurar la máquinas que no se van a utilizar para que se ocultan y no se requieren los parámetros-->
		<!-- Al configurar la máquina estar seguro de que estén los parámetros en el procedure que inserta la orden.
      ya que si está mostrando la máquina agreara los parámetros en la llamada del proc. -->
		<add key="MachinesToDisable" value="WMS,DRIFTER,HYDRO,THREADERPIN,THREADERBOX,BUCKON,PDATA" />
		<!--add key="MachinesToDisable" value="WMS,DRIFTER,HYDRO,THREADER,PDATA"/-->
		<add key="SubLine" value="TUBING" />
		<add key="DelGlobalProgram" value="Manufacturing.DelGlobalProgram" />
		<add key="DelHeatProgram" value="Manufacturing.DelHeatProgram" />
		<add key="DelOrderProgram" value="Manufacturing.DelOrderProgram" />
		<add key="GetDateLastGlobalProgram" value="Manufacturing.GetDateLastGlobalProgram" />
		<add key="GetEntranceMachine" value="Manufacturing.GetEntranceMachine" />
		<add key="GetExistOrderProgramJustification" value="Manufacturing.GetExistOrderProgramJustification" />
		<add key="GetGanttGlobalProgram" value="Manufacturing.GetGanttGlobalProgram" />
		<add key="GetGanttProducedInTimes" value="Manufacturing.GetGanttProducedInTimes" />
		<add key="GetGanttProgrammedTimes" value="Manufacturing.GetGanttProgrammedTimes" />
		<add key="GetGlobalProgram" value="Manufacturing.GetGlobalProgram" />
		<add key="GetGlobalProgramsToInsert" value="Manufacturing.GetGlobalProgramsToInsert" />
		<add key="GetGlobalProgramWithoutData" value="Manufacturing.GetGlobalProgramWithoutData" />
		<add key="GetConfigurationDataByName" value="Configuration.GetConfigurationDataByName" />
		<add key="GetHeatProgramData" value="Manufacturing.GetHeatProgramData" />
		<add key="GetHeatsPresets" value="Manufacturing.GetHeatsPresets" />
		<add key="GetHeatsProgram" value="Manufacturing.GetHeatsProgram" />
		<add key="GetIsNewHeatVersion" value="Manufacturing.GetIsNewHeatVersion" />
		<add key="GetIsNewOrderVersion" value="Manufacturing.GetIsNewOrderVersion" />
		<add key="GetJustificationCodesDescriptions" value="Manufacturing.GetJustificationCodesDescriptions" />
		<add key="GetOrderData" value="Manufacturing.GetOrderData" />
		<add key="GetOrderDataByOrderNumber" value="Manufacturing.GetOrderDataByOrderNumber" />
		<add key="GetOrderHeatInfo" value="Manufacturing.GetOrderHeatInfo" />
		<add key="GetOrderProgramJustifications" value="Manufacturing.GetOrderProgramJustifications" />
		<add key="GetOrdersProgram" value="Manufacturing.GetOrdersProgram" />
		<add key="GetOrdersProgramToDelete" value="Manufacturing.GetOrdersProgramToDelete" />
		<add key="GetOrdersProgramUnblock" value="Manufacturing.GetOrdersProgramUnblock" />
		<add key="GetProgrammedTimes" value="Manufacturing.GetProgrammedTimes" />
		<add key="InsAustenizedSpecification" value="Manufacturing.InsAustenizedSpecification" />
		<add key="InsBatch" value="Production.InsBatch" />
		<add key="InsDummyOrderHistory" value="Manufacturing.InsDummyOrderHistory" />
		<add key="InsGlobalProgram" value="Manufacturing.InsGlobalProgram" />
		<add key="InsHeatHistory" value="Manufacturing.InsHeatHistory" />
		<add key="InsHeatHistoryExtentions" value="Manufacturing.InsHeatHistoryExtentions" />
		<add key="InsHeatHistoryVersion" value="Manufacturing.InsHeatHistoryVersion" />
		<add key="InsHeatProgram" value="Manufacturing.InsHeatProgram" />
		<add key="InsNewFolio" value="Manufacturing.InsNewFolio" />
		<add key="InsOrderExtentions" value="Manufacturing.InsOrderExtentions" />
		<add key="InsOrderHistory" value="Manufacturing.InsOrderHistory" />
		<add key="InsOrderHistoryFromGlobalProgram" value="Manufacturing.InsOrderHistoryFromGlobalProgram" />
		<add key="InsOrderProgram" value="Manufacturing.InsOrderProgram" />
		<add key="InsOrderProgramJustification" value="Manufacturing.InsOrderProgramJustification" />
		<add key="InsOrderVersion" value="Manufacturing.InsOrderVersion" />
		<add key="InsOrderVersionExtention" value="Manufacturing.InsOrderVersionExtention" />
		<add key="GetLengthRangeData" value="Manufacturing.GetLengthRangeData" />
		<add key="InsQuenchingHeadSpecification" value="Manufacturing.InsQuenchingHeadSpecification" />
		<add key="InsSaveStopTimes" value="Manufacturing.InsSaveStopTimes" />
		<add key="InsTemperingSpecification" value="Manufacturing.InsTemperingSpecification" />
		<add key="UpdBlockOrderProgram" value="Manufacturing.UpdBlockOrderProgram" />
		<add key="UpdHeatProgram" value="Manufacturing.UpdHeatProgram" />
		<add key="UpdOrderProgram" value="Manufacturing.UpdOrderProgram" />
		<add key="UpdOrderProgramJustification" value="Manufacturing.UpdOrderProgramJustification" />
		<add key="UpdSequence" value="Manufacturing.UpdSequence" />
		<add key="UpdSequenceDraft" value="Manufacturing.UpdSequenceDraft" />
		<add key="UpdSequenceProgram" value="Manufacturing.UpdSequenceProgram" />
		<add key="UpdGlobalProgramStatus" value="Manufacturing.UpdGlobalProgramStatus" />
		<!--Agregar para funcionalidades de Juanchor-->
		<add key="GetBatchModelResults" value="Production.GetBatchModelResults" />
		<add key="UpdOrderHistory" value="Manufacturing.UpdOrderHistory" />
		<add key="FSGetMachineCode" value="Common.FSGetMachineCode" />
		<add key="FSGetIdMachine" value="Common.FSGetIdMachine" />
		<add key="GetGlobalProgram" value="Manufacturing.GetGlobalProgram" />
		<!--PROCEDURES HRM-->
		<add key="GetPQFTypeId" value="ModelHRM.GetPQFTypeId" />
		<add key="InsGlobalProgramHRM" value="ManufacturingHRM.InsGlobalProgramSpecification" />
		<add key="UpdOrderProgramJustificationHRM" value="ManufacturingHRM.UpdOrderProgramJustification" />
		<add key="GetHeatsChemicalElemnts" value="ProductionHRM.GetHeatsChemicalElemnts" />
		<!--PROCEDURES HTR-->
		<add key="InsSample" value="Manufacturing.InsSample" />
		<!--PROCEDURES FINSHING-->
		<add key="GetNotcheData" value="Manufacturing.GetNotcheData" />
		<add key="GetVdiData" value="Manufacturing.GetVdiData" />
		<add key="InsNotche" value="Manufacturing.InsNotche" />
		<add key="InsNotcheVariable" value="Manufacturing.InsNotcheVariable" />
		<add key="InsNotcheVariableEquipmentMeasure" value="Manufacturing.InsNotcheVariableEquipmentMeasure" />
		<add key="InsNotcheSpecification" value="Manufacturing.InsNotcheVariableEquipmentMeasure" />
		<add key="UpdNotche" value="Manufacturing.UpdNotche" />
		<add key="DelNotche" value="Manufacturing.DelNotche" />
		<add key="InsVDIVariableSpecification" value="Manufacturing.InsVDIVariableSpecification" />
		<add key="InsLengthRange" value="Manufacturing.InsLengthRange" />
		<add key="InsMarkingSpecification" value="Manufacturing.InsMarkingSpecification" />
		<add key="GetMarkingDataValues" value="Manufacturing.GetMarkingDataValues" />
		<add key="GetDispatchSpecification" value="Manufacturing.GetDispatchSpecification" />
		<add key="InsDispatchSpec" value="Manufacturing.InsDispatchSpecification" />
		<add key="InsBandSpecification" value="Manufacturing.InsBandSpecification" />
		<add key="GetBandSpecification" value="Manufacturing.GetBandSpecification" />
		<add key="InsLabelSpecification" value="Manufacturing.InsLabelSpecification" />
		<add key="GetLabelSpecification" value="Manufacturing.GetLabelSpecification" />
		<add key="GetLabelTypes" value="Manufacturing.GetLabelTypes" />
		<add key="CloseOrder" value="Manufacturing.CloseOrder" />
		<add key="ReScheduleOrder" value="Manufacturing.ReScheduleOrder" />
		<add key="GetTransport" value="WMS.GetTransport" />
		<add key="GetPackageConfiguration" value="WMS.GetPackageConfiguration " />
		<add key="GetLabelByType" value="Manufacturing.GetLabelByType" />
	</appSettings>
	<FinalMetricWeightBridgeConfigurationHRM>
		<MetricWeight>
			<add Code="MetricWeight1" PMMin="3" PMMax="9.1" LVarPosEq="2.3" LVarNegEq="1.5" LVarPosGr="3" LVarNegGr="0.7" />
			<add Code="MetricWeight2" PMMin="9.1" PMMax="13.1" LVarPosEq="1.5" LVarNegEq="1.1" LVarPosGr="2" LVarNegGr="0.6" />
			<add Code="MetricWeight3" PMMin="13.1" PMMax="18.1" LVarPosEq="1.1" LVarNegEq="0.8" LVarPosGr="1.5" LVarNegGr="0.4" />
			<add Code="MetricWeight4" PMMin="18.1" PMMax="25.1" LVarPosEq="0.9" LVarNegEq="0.7" LVarPosGr="1.2" LVarNegGr="0.4" />
			<add Code="MetricWeight5" PMMin="25.1" PMMax="35.1" LVarPosEq="0.7" LVarNegEq="0.5" LVarPosGr="1" LVarNegGr="0.3" />
			<add Code="MetricWeight6" PMMin="35.1" PMMax="55.1" LVarPosEq="0.5" LVarNegEq="0.4" LVarPosGr="0.7" LVarNegGr="0.2" />
			<add Code="MetricWeight7" PMMin="55.1" PMMax="100.0" LVarPosEq="0.3" LVarNegEq="0.3" LVarPosGr="0.5" LVarNegGr="0.2" />
		</MetricWeight>
	</FinalMetricWeightBridgeConfigurationHRM>
	<log4net>
		<appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
			<!--Example of appender ONE IS MANDATORY-->
			<filter type="log4net.Filter.LevelRangeFilter">
				<!--Example of Filter for logger level OPTIONAL-->
				<param name="LevelMin" value="ALL" />
				<!--Min Level of Filter-->
				<param name="LevelMax" value="OFF" />
				<!--Max Level of Filter-->
			</filter>
			<param name="DatePattern" value="'.'yyyyMMdd'.log' " />
			<!--Example of DatePattern for concat in filename, this example logger in one file for each day OPTIONAL-->
			<param name="File" value="..\..\..\Logs\Web\Manufacturing\Manufacturing" />
			<!--Log File name and save location MANDATORY. Tipically it's the assemblie name-->
			<param name="AppendToFile" value="true" />
			<!--TRUE, append to exist file. FALSE, create and log in a new file. OPTIONAL-->
			<param name="rollingStyle" value="Date" />
			<!--Rolling style for de logfile-->
			<param name="maxSizeRollBackups" value="10" />
			<!--The maximum number of backup files that are kept before the oldest is erased. OPTIONAL -->
			<param name="maximumFileSize" value="4MB" />
			<!--Set the macimun File Size OPTIONAL-->
			<param name="staticLogFileName" value="false" />
			<!--TRUE, the logfile name is static. FALSE, allow change logfile OPTIONAL-->
			<layout type="log4net.Layout.PatternLayout">
				<param name="Header" value="[BEGIN_LOG %date{yyyy-MM-dd HH:mm:ss} =========================] %newline" type="log4net.Util.PatternString" />
				<!--Configure the header of de logfile OPTIONAL-->
				<param name="Footer" value="[END_LOG %date{yyyy-MM-dd HH:mm:ss} =========================]" type="log4net.Util.PatternString" />
				<!--Configure the footer of the logfile OPTIONAL-->
			</layout>
		</appender>
		<root>
			<appender-ref ref="LogFileAppender" />
			<!--Set the appender-->
		</root>
	</log4net>
	<log maxQueueSize="10000" dumpStack="true" msgFormat="{TypeChar} {Timestamp:yyyy-MM-dd HH:mm:ss} [lap={LapFriendlyValue,-10:f2}{LapFriendlyUnit,4}] {AssemblyName,-15} {IdentString} {Message}">
	</log>
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<httpRuntime executionTimeout="300" />
		<compilation debug="true" defaultLanguage="c#">
			<assemblies>
				<!--<add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>-->
				<add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Extensions.Design, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<!--<add assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>-->
				<add assembly="System.Web.Extensions.Design, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" /></assemblies>
			<!--<buildProviders>
        <add extension="*" type="System.Web.Compilation.PageBuildProvider"/>
        <add extension=".asax" type="System.Web.Compilation.WebServiceBuildProvider"/>
      </buildProviders>-->
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows" />
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm"/>
            <error statusCode="404" redirect="FileNotFound.htm"/>
        </customErrors>
        -->
		<pages validateRequest="false">
			<controls>
				<!--<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>-->
			</controls>
		</pages>
		<httpHandlers>
			<remove verb="*" path="*.asmx" />
			<add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			<add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			<add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false" />
		</httpHandlers>
		<httpModules>
			<add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
		</httpModules>
		<!--<globalization uiCulture="en" culture="en-US"/>-->
		<globalization culture="es-MX" fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" uiCulture="es-MX" />
		<!--<globalization uiCulture="it" culture="it-IT"/>-->
		<!--<globalization uiCulture="auto" culture="auto"/>-->
	</system.web>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
				<providerOption name="CompilerVersion" value="v3.5" />
				<providerOption name="WarnAsError" value="false" />
			</compiler>
			<!--<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" warningLevel="4" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
				<providerOption name="CompilerVersion" value="v3.5"/>
				<providerOption name="OptionInfer" value="true"/>
				<providerOption name="WarnAsError" value="false"/>
			</compiler>-->
		</compilers>
	</system.codedom>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<modules>
			<remove name="ScriptModule" />
			<add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
		</modules>
		<handlers>
			<remove name="WebServiceHandlerFactory-Integrated" />
			<remove name="ScriptHandlerFactory" />
			<remove name="ScriptHandlerFactoryAppServices" />
			<remove name="ScriptResource" />
			<add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			<add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			<add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
		</handlers>
		<defaultDocument>
			<files>
				<add value="Main.aspx" />
			</files>
		</defaultDocument>
	</system.webServer>
	<runtime>
		<assemblyBinding appliesTo="v2.0.50727" xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.serviceModel>
		<bindings>
			<netTcpBinding>
				<binding name="RoleEndPoint" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:02:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="1048576" maxBufferSize="1048576" maxConnections="10" maxReceivedMessageSize="1048576">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="true" />
					<security mode="None">
						<transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
						<message clientCredentialType="Windows" />
					</security>
				</binding>
			</netTcpBinding>
		</bindings>
		<client>
			<endpoint address="net.tcp://TNACAWWS193.tnsautoca.techint.net:33333/ITService" binding="netTcpBinding" bindingConfiguration="RoleEndPoint" contract="ITCommunication.ITService" name="Manufacturing Schedule">
				<identity>
					<dns value="TNACAWWS193.tnsautoca.techint.net" />
				</identity>
			</endpoint>
		</client>
	</system.serviceModel>
</configuration>
