<?xml version="1.0"?>
<configuration>

  <!-- esta seccion debe ser la primera antes de todo -->
  <configSections>

    <section name="IdentificationManager"
             type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework" />

    <section name="ManagerBaseConfiguration"
             type="Tenaris.Manager.Forum.Shared.Configuration.ManagerBaseConfiguration, Tenaris.Manager.Forum.Shared" />

    <section name="ManagerConfiguration"
             type="Tamsa.Manager.Identification.Config.IdentificationManagerConfig, Tamsa.Manager.Identification"/>

    <section name="Tenaris.Manager.TraceabilityIdentification"
             type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework"/>

    <section name="HandshakeManager"
             type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>

    <section name="CommandManager"
             type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>

    <section name="Tenaris.Manager.Alarm" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy" />

    <section name="TrackingManager"
             type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>

    <section name="HsResponsePluginAM22_Configuration"   type="Tamsa.Manager.Identification.HsResponsePlugin.Shared.Configuration.HsResponsePluginConfiguration, HsResponsePlugin.Shared"/>


    <section name="log" type="Tenaris.Library.Log.LogConfiguration, Tenaris.Library.Log"/>


  </configSections>

  <connectionStrings>
    <add name="Level2" connectionString="Application Name=IdentificationManagerAM22;Data Source=TNATFT2PRDLSN.tnsautoca.techint.net,5040;Initial Catalog=L2Trk;Integrated Security=SSPI;Persist Security Info=True;MultipleActiveResultSets=True; Asynchronous Processing=true;" providerName="System.Data.SqlClient"/>
	<add name="Level2_AM22" connectionString="Data Source=TNATFT2PRDLSN.tnsautoca.techint.net,5040;Initial Catalog=L2Am22;Integrated Security=SSPI;Persist Security Info=True;MultipleActiveResultSets=True; Asynchronous Processing=false; Min Pool Size=1;Max Pool Size=5;Application Name=IdentificationManagerAM22" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <HsResponsePluginAM22_Configuration>
    <Properties>
      <add PropertyName="AM22ConnectionStringName" Value="Level2_AM22" />
      <add PropertyName="AM22SlowCasesEnabled" Value="true" />
    </Properties>
  </HsResponsePluginAM22_Configuration>  
  <appSettings>
    <add key="UseeTrackValidationService" value="true" />
    <add key="AlarmCodeWMS" value="L1_BME" />
    <!--Key = Codigo de máquina de visión
        Value = Zona de tracking, Maquina de alarma, código de alarma
    -->
    <add key="L1_PML" value="InspeccionRX21,MachineAlarm,CodeAlarm" />
    <add key="WMS" value="Wms,MachineAlarm,CodeAlarm,1" />
	<add key="L2_AMA" value="L2_AMA,MachineAlarm,CodeAlarm,1" />
  </appSettings>
  
  <!-- Configuration used by factory to create the manager -->
  <IdentificationManager
    factoryType="Tamsa.Manager.Identification.IdentificationManagerFactory, Tamsa.Manager.Identification"
    isSingleton="True"
    sectionName="ManagerBaseConfiguration"
    />

  <ManagerBaseConfiguration
    areaCode="LINEA2"
    defaultConnectionStringName="Level2"
    />

  <ManagerConfiguration
    appName="Identification"
    IdentificationIdUsage="2">
    <TraceabilityMachineList>
      <TraceabilityMachine stationCode="L2_AMA"
                           informationByHs="false" 
                           hsType="notification"
                           forceGetLastCapturesWhenHsRetry="true" 
                           processTimeOutEventsAsNormalEvents="false" 
                           tryGetLastCapturesOnVisionTimeout="true" 
                           maxWaitingTimeForIdentificationCaptureEvent="30000"
						   retrieveOldVisionDataBeforeStartingTheTimer="false"
                           cleanProcessedOkInformation="false"
                           alwaysSendAssistanceData="true"
                           sendAssistanceDataOnEarlyEvents="false"
                           hsIdentification="TRACE_IDEN_LamSUT" 
                           cmdUnlock="CMSUT_TRC_LCK_RLam" 
                           endPointTraceabilityIdentification="ServiceClient1" 
						   HsResponsePluginType="Tamsa.Manager.Identification.HsResponsePluginAM22.HsResponsePluginAM22, Tamsa.Manager.Identification.HsResponsePluginAM22"
						   ValidationPluginType="Tamsa.Manager.Identification.ValidationPlugin_AM22.ValidationPlugin_AM22, Tamsa.Manager.Identification.ValidationPlugin_AM22"
						   TrackingActionsPluginType="Tamsa.Manager.Identification.TrackingActionsPlugin_AM22.TrackingActionsPlugin_AM22, Tamsa.Manager.Identification.TrackingActionsPlugin_AM22"
                           saveHistoryPictures="true"						   
						   ConfirmEarlyEvents="false"
						   HsFilterSeconds="0"
						   unlockOnErrors="false"
						   forceAllAssitanceCasesToFalse="false"
						   SlowCasesEnabled="true"
          				   maxWaitingTimeForIdentificationCaptureEventForSlowCases="31000"
						/>
    </TraceabilityMachineList>
  </ManagerConfiguration>



  <Tenaris.Manager.TraceabilityIdentification
      factoryType="Tenaris.Manager.TraceabilityVision.Client.ClientFactory, Tenaris.Manager.TraceabilityVision.Client"
      isSingleton="True">
    <ClientConfiguration
        serviceEndPoint="ServiceClient" />
  </Tenaris.Manager.TraceabilityIdentification>

  <system.serviceModel>
    <bindings>

      <customBinding>
        <binding name="ServiceSoapCustom">
          <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
              messageVersion="Soap12" writeEncoding="utf-8">
            <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          </textMessageEncoding>
          <httpTransport manualAddressing="false" maxBufferPoolSize="524288"
              maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous"
              bypassProxyOnLocal="false" decompressionEnabled="true" hostNameComparisonMode="StrongWildcard"
              keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous"
              realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false"
              useDefaultWebProxy="true" />
        </binding>
      </customBinding>

      <basicHttpBinding>
        <binding name="BasicHttpBinding_IOrderReplicatorService" />
		<binding name="ServiceSoap" />
        <binding name="ServiceSoap1" />
      </basicHttpBinding>

      <netTcpBinding>
        <binding name="netTcpSecBinding" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" receiveTimeout="01:00:00" sendTimeout="01:00:00" transferMode="Buffered">
          <readerQuotas maxArrayLength="2147483647" maxBytesPerRead="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None" protectionLevel="None">
              <extendedProtectionPolicy policyEnforcement="Never" />
            </transport>
            <message clientCredentialType="None" />
          </security>
          <reliableSession />
        </binding>
        
        <binding name="NetTcpBinding_IOrderReplicatorService">
          <security mode="None" />
        </binding>
        
        <binding name="data_tcp">
          <security mode="None" />
        </binding>

        <binding name="ServiceClient" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="01:00:00" sendTimeout="01:00:00"
                 transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard"
                 listenBacklog="10" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxConnections="28" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:59:59" enabled="false" />
          <security mode="None">
            <transport clientCredentialType="None" protectionLevel="None" />
            <message clientCredentialType="None" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>

    <client>

      <!--endpoint address="http://172.29.10.58/EtrackPipeValidationService/Service.asmx"
                     binding="customBinding" bindingConfiguration="ServiceSoapCustom"
                     contract="PipeStatusValidationServiceSoap" name="ServiceSoapCustom" /-->

      <endpoint address="http://172.29.10.58/EtrackPipeValidationService/Service.asmx"
                     binding="customBinding" bindingConfiguration="ServiceSoapCustom"
                     contract="PipeStatusValidationServiceSoap" name="ServiceSoapCustom" />

	  
	  <endpoint address="net.tcp://TNACAWFM197.tnsautoca.techint.net:8737/OrderReplicatorService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IOrderReplicatorService"
                contract="ORS.IOrderReplicatorService" name="NetTcpBinding_IOrderReplicatorService" />


      <endpoint address="net.tcp://172.29.12.184:8011/ETrackHeatProgService"
                    binding="netTcpBinding" bindingConfiguration="data_tcp" contract="IETrackHeatProgService"
                    name="data_tcp" />

      <endpoint address="http://TNACAWFM197.tnsautoca.techint.net:8732/Design_Time_Addresses/OrderReplicator.Service/Service1/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOrderReplicatorService"
                contract="OrderReplicatorService.IOrderReplicatorService"
                name="BasicHttpBinding_IOrderReplicatorService" />
      <endpoint address="net.tcp://10.92.71.174:4462/TraceabilityVision" binding="netTcpBinding" bindingConfiguration="ServiceClient"
               contract="Tenaris.Manager.Vision.Service.Shared.ITraceabilityVisionService" name="ServiceClient1">
        <identity>
          <dns value="10.92.71.174" />
        </identity>
      </endpoint>	

	   <!--endpoint address="http://etrack.tamsa.ot/EtrackPipeValidationService_UT/Service.asmx"
        binding="basicHttpBinding" bindingConfiguration="ServiceSoap"
        contract="EtrackPipeValidationServiceUT.ServiceSoap" name="ServiceSoap" />
      <endpoint address="http://etrack.tamsa.ot/EtrackPipeValidationService/Service.asmx"
        binding="basicHttpBinding" bindingConfiguration="ServiceSoap1"
        contract="ServiceSoap" name="ServiceSoap1" /-->

	   <endpoint address="http://172.29.10.58/EtrackPipeValidationService_UT/Service.asmx"
        binding="basicHttpBinding" bindingConfiguration="ServiceSoap"
        contract="EtrackPipeValidationServiceUT.ServiceSoap" name="ServiceSoap" />
      <endpoint address="http://172.29.10.58/EtrackPipeValidationService/Service.asmx"
        binding="basicHttpBinding" bindingConfiguration="ServiceSoap1"
        contract="ServiceSoap" name="ServiceSoap1" />		
	  
    </client>

    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="false" />
          <serviceDebug httpHelpPageEnabled="false" httpsHelpPageEnabled="false"
                        includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

  <Tenaris.Manager.Alarm
            instanceType="Tenaris.Manager.Alarm.Shared.IAlarmManager, Tenaris.Manager.Alarm.Shared"
            aliveInterval="5000"
            singleInstance="true"
            validateConnection="false">
    <Redundancy>
      <Address url="tcp://TNACAWFM197.tnsautoca.techint.net:21010/Tenaris.Manager.Alarm.Alarm.soap" forumPresent="false" isTargetManager="true"/>
    </Redundancy>
  </Tenaris.Manager.Alarm>


  <HandshakeManager
   instanceType="Tenaris.Manager.Handshake.Shared.IHandshakeManager, Tenaris.Manager.Handshake.Shared"
   aliveInterval="5000"
   singleInstance="true"
   validateConnection="false">
    <Redundancy>
      <Address url="tcp://TNACAWFM197.tnsautoca.techint.net:21002/HandshakeManager.soap"
               forumPresent="false"
               isTargetManager="true"/>
    </Redundancy>
  </HandshakeManager>

  <CommandManager
   instanceType="Tenaris.Manager.Command.Shared.ICommandManager, Tenaris.Manager.Command.Shared"
   aliveInterval="5000"
   singleInstance="true"
   validateConnection="true">
    <Redundancy>
      <Address url="tcp://TNACAWFM197.tnsautoca.techint.net:21003/Tenaris.Manager.Command.soap"
               forumPresent="false"
               isTargetManager="true"/>
    </Redundancy>
  </CommandManager>

  <TrackingManager
		instanceType="Tenaris.Manager.Tracking.Shared.ITrackingManager, Tenaris.Manager.Tracking.Shared"
		aliveInterval="5000"
		singleInstance="true"
		validateConnection="true">
    <Redundancy>
      <Address url="tcp://TNACAWFM197.tnsautoca.techint.net:21005/TrackingManager.soap"
               forumPresent="false"
               isTargetManager="true"/>
    </Redundancy>
  </TrackingManager>



  <!--Remoting configuration. This can be placed in a separate file named remoting.config-->
  <system.runtime.remoting>
	<customErrors mode="off" />
    <application name="Server">
      <channels>
        <channel ref="tcp" port="40020">
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full" />
          </serverProviders>
          <clientProviders>
            <formatter ref="binary" typeFilterLevel="Full" />
          </clientProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>

  <!--  msgFormat="{Timestamp:HH:mm.ss.fff} ; {Level,-7} ; {Message} ; {MethodName}"-->

  <log
    maxFileSize="8192"
	maxFileCount="150"
    msgFormat="{TypeChar} {Timestamp:yyyy-MM-dd HH:mm:ss.fff} [{ThreadId,-5:d5}] [lap={LapFriendlyValue,-10:f2}{LapFriendlyUnit,4}] {AssemblyName,-15} {IdentString} {Message}"
    logLevel="Debug"
    traceAttributeLogEnabled="true"
	path="..\..\..\Logs\Manager\IdentificationManagerAM22\"
    logBaseName="IdentificationManagerAM22"
    additionalLogDestination="Console"
	logAssemblyLoad="true"
  />

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

<!--   <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="bin;"/>
    </assemblyBinding>
  </runtime>
 -->
</configuration>
