<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="modules" type="Tenaris.View.Tracking.Model.ModuleConfigSection, Tenaris.View.Tracking.Model"/>
		<section name="TrackingManager"   type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy, Version=4.1.0.0, Culture=neutral, PublicKeyToken=c4a5016cfc42fcd0" />
		<section name="ProductionManager" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy, Version=4.1.0.0, Culture=neutral, PublicKeyToken=c4a5016cfc42fcd0" />
		<section name="log" 			  type="Tenaris.Library.Log.LogConfiguration, Tenaris.Library.Log, Version=4.1.0.0, Culture=neutral, PublicKeyToken=bbb03b5ff4bbb68b"/>
		<section name="Tenaris.View.Tracking.Configuration" type="Tenaris.View.Tracking.Model.TrackingConfigurationSection, Tenaris.View.Tracking.Model"/>

		<!-- Configuracion de Plugin de Insercion y Edicionn de Mike -->
		<section name="Tenaris.View.Tracking.Operations.Configuration" type="Tenaris.View.Tracking.Operations.Model.Configuration, Tenaris.View.Tracking.Operations"/>
		
		<!--SECURITY: MODE CLIENT-->
		<section name="Tenaris.Library.Security" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy, Version=4.1.0.0, Culture=neutral, PublicKeyToken=c4a5016cfc42fcd0"/>

		<!--SECURITY: STAND ALONE-->
		<!--<section name="Tenaris.Library.Security" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework, Version=4.1.0.0, Culture=neutral, PublicKeyToken=d69ca37b4d4b73b8"/>-->
		<section name="Profiling" type="Tenaris.Service.Profiling.ProfilingServiceConfiguration, Tenaris.Service.Profiling"/>
	</configSections>

	<connectionStrings>
		<!--<add name="DbConnection" connectionString="Application Name=TrackingView;Data Source=172.29.109.14;Initial Catalog=QRR_TT32AusDB;User ID=Rquintal;Password=123;Persist Security Info=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />-->
		<add name="DbConnection" connectionString="Data Source=TNATFT2PRDLSN.tnsautoca.techint.net,5040;Initial Catalog=L2Cort;Integrated Security=SSPI;Persist Security Info=True;MultipleActiveResultSets=True;Application Name=TrackingView; Pooling=true; Max Pool Size=10;" providerName="System.Data.SqlClient"/>
		<add name="LDAPConnection" connectionString="LDAP://172.29.8.181"/>
	</connectionStrings>

<Profiling dbSessionName="DbConnection"/>

<runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Tenaris.Service.Security.Client" publicKeyToken="040aa135a0ffbd08" culture="neutral" />
        <bindingRedirect oldVersion="4.2.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Tenaris.Service.Security.Shared" publicKeyToken="465086d7dfe9d4be" culture="neutral" />
        <bindingRedirect oldVersion="4.2.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Tenaris.Service.Security.LanguageResource" publicKeyToken="81181649928408e9" culture="neutral" />
        <bindingRedirect oldVersion="4.2.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
</runtime>


	<!--SECURITY: MODE CLIENT (DESKTOP)-->
	<Tenaris.Library.Security
		 url="tcp://localhost:49209/Tenaris.Service.Security.soap"
		 instanceType="Tenaris.Service.Security.Shared.ISecurityService, Tenaris.Service.Security.Shared"
		 aliveInterval="0"
		 validateConnection="true"
		 singleInstance="true"
		 forumPresent="false"
		 isTargetManager="false">
		<Redundancy>
		</Redundancy>
	</Tenaris.Library.Security>

	<!--SECURITY: STAND ALONE-->
	<!--<Tenaris.Library.Security factoryType="Tenaris.Service.Security.FactoryLocal, Tenaris.Service.Security, Version=4.1.0.0, Culture=neutral, PublicKeyToken=d230816fc71079dc" isSingleton="True">
		<SecurityConfiguration ConnectionStringName="DbConnection" AuthenticationType="ActiveDirectory" DefaultZoneCode="All"/>
	</Tenaris.Library.Security>-->

	<Tenaris.View.Tracking.Configuration ZoneCode="All" Culture="es-MX"
										 ApplicationCode="TrackingView"  Navigation="TabItems"
										 ConfigStatusCode="ZonesStatus" ConfigSourceCode="GridResources"
										 ConfigLayoutCode="LayoutCTLin2" ConfigCraneCode="Cranes" ConfigInsertPipeCode="OutOfLine"
										 ConfigEventImageCode="Actions" ConfigRefreshDisableInterval="1"
										 DskMgr="true" AutoForeground="false"
										 CommandMove ="TRKMOVEITEM" CommandMark="TRKEDITATTR"
										 CommandDel="TRKDELITEM" CommandInsert="TRKINSERTITEM"
										 CommandEdit="TRKEDIT"
										TrackingSection="TrackingManager" ProductionSection="">
	</Tenaris.View.Tracking.Configuration>
	
	<!-- Configuracion de Plugin de Insercion y Edicion de Mike -->
	<!-- <Tenaris.View.Tracking.Operations.Configuration
        StoredProcedureGetProgrammedPipes="[TrackingTamsa].[GetProgramedPipes]"
        StoredProcedureGetPipeInformation="[TrackingTamsa].[GetPipeInformation]"
        StoredProcedureSetPipeInformation="[TrackingTamsa].[SetPipeInformation]"
        OrderNumberAttribute="OrderNumber"
        HeatNumberAttribute="HeatNumber"
        >
	</Tenaris.View.Tracking.Operations.Configuration> -->
	<Tenaris.View.Tracking.Operations.Configuration
	
	 StoredProcedureGetProgrammedPipes="[TrackingTamsa].[GetProgramedPipes_CT]"
        StoredProcedureGetProgrammedPipesForInsert="[TrackingTamsa].[GetProgramedPipes]"
        StoredProcedureGetPipeInformation="[TrackingTamsa].[GetPipeInformation_CT]"
        StoredProcedureSetPipeInformation="[TrackingTamsa].[SetPipeInformation]"
        OrderNumberAttribute="OrderNumber"
        HeatNumberAttribute="HeatNumber"
	>
	</Tenaris.View.Tracking.Operations.Configuration>
  
	<TrackingManager
			url="tcp://TNACAWFM194.tnsautoca.techint.net:49203/TrackingManager.soap"
			instanceType="Tenaris.Manager.Tracking.Shared.ITrackingManager, Tenaris.Manager.Tracking.Shared, Version=4.1.0.0, Culture=neutral, PublicKeyToken=eef9a6bb3b9b0366"
			aliveInterval="1000"
			singleInstance="true"
			validateConnection="true"
			forumPresent="false"
			isTargetManager="true">
		<Redundancy>
			<!--<Address url="tcp://10.41.186.46:9501/Tenaris.Manager.Tracking.TrackingManager.soap" forumPresent="false" isTargetManager="true"/>-->
		</Redundancy>
	</TrackingManager>

	<ProductionManager
		url="tcp://TNACAWFM194.tnsautoca.techint.net:49204/Tenaris.Manager.Production.ProductionManager.soap"
		instanceType="Tenaris.Manager.Production.Shared.IProductionManager, Tenaris.Manager.Production.Shared, Version=4.2.0.0, Culture=neutral, PublicKeyToken=81746773fd47a555"
		aliveInterval="1000"
		singleInstance="true"
		validateConnection="false"
		forumPresent="false"
			isTargetManager="false">

		<Redundancy>
			<!-- <Address url="tcp://10.41.186.46:8040/Tenaris.Manager.Production.ProductionManager.soap" forumPresent="false" isTargetManager="true"/> -->
		</Redundancy>

	</ProductionManager>

	<system.runtime.remoting>
		<application name="Client">
			<channels>
				<channel ref="tcp" port="0">
					<clientProviders>
						<provider type="Tenaris.Library.Proxy.Remoting.ClientRemotingInterceptorProvider, Tenaris.Library.Proxy, Version=4.1.0.0, Culture=neutral, PublicKeyToken=c4a5016cfc42fcd0"/>
						<formatter ref="binary" typeFilterLevel="Full" />
					</clientProviders>
					<serverProviders>
						<formatter ref="binary" typeFilterLevel="Full" />
					</serverProviders>
				</channel>
			</channels>
		</application>
	</system.runtime.remoting>

	<log
	 maxFileSize="8096"
	 maxFileCount="10"
	 msgFormat="{Timestamp:HH:mm.ss.fff} ; {Level,-7} ; {Message} ; {MethodName}"
	 logLevel="Debug"
	 traceAttributeLogEnabled="false"
	 logBaseName="Tenaris.View.Tracking"
	 path="\\TNACAWFM194.tnsautoca.techint.net\Appls\Clientes\INVI Sur\Tenaris\Logs\%UserName%\Tenaris.View.Tracking\"
	 additionalLogDestination="Console"
	 logAssemblyLoad="false"
	/>



	<modules>
		<!--<add assemblyFile="Tenaris.View.Tracking.MarkPipe, Version=4.1.0.0, Culture=neutral, PublicKeyToken=0be86f954471f6e6" moduleType="Tenaris.View.Tracking.MarkPipe.MarkPipeModule" name="ModuleMarkPipe" />
		<add assemblyFile="Tenaris.View.Tracking.InsertOutLinePipe, Version=4.1.0.0, Culture=neutral, PublicKeyToken=d626ec5dbc9a5aad" moduleType="Tenaris.View.Tracking.InsertOutLinePipe.InsertOutLineModule" name="ModuleInsertPipe" />-->
		<add assemblyFile="Tenaris.View.Tracking.Operations" moduleType="Tenaris.View.Tracking.Operations.Insert" name="ModuleInsertPipe" />
		<add assemblyFile="Tenaris.View.Tracking.Operations" moduleType="Tenaris.View.Tracking.Operations.Edit" name="ModuleEditPipe" />
		<add assemblyFile="Tenaris.View.Tracking.MarkPipe" moduleType="Tenaris.View.Tracking.MarkPipe.MarkPipeModule" name="ModuleMarkPipe" />
	</modules>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>

</configuration>
