<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>

    <sectionGroup name="tenaris.security" >
      <section name="autorized" type="Tenaris.Manager.Security.AutorizedSection,Tenaris.Manager.Security.SecurityManager"/>
      <section name="authentication" type="Tenaris.Manager.Security.AuthenticationSection,Tenaris.Manager.Security.SecurityManager" />
      <section name="manager" type="Tenaris.Manager.Security.ManagerSection, Tenaris.Manager.Security.SecurityManagerFactory"/>
      <section name="Server" type="Tenaris.Manager.Security.ManagerSection, Tenaris.Manager.Security.SecurityManagerFactory"/>
      <section name="WCF" type="Tenaris.Manager.Security.ManagerSection, Tenaris.Manager.Security.SecurityManagerFactory"/>
    </sectionGroup>
    <section name="Tenaris.Manager.Security.SecurityManager" type="Tenaris.Library.System.Factory.FactoryConfiguration, Tenaris.Library.System" />
    <section name="log" type="Tenaris.Library.Log.LogConfiguration, Tenaris.Library.Log"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
    <!--<section name="CommonConfiguration" type="Tenaris.Library.Common.Configuration.CommonConfiguration, Tenaris.Library.Common"/>-->
  </configSections>

  <appSettings>
    <add key="isWCF" value="false"/>
  </appSettings>

  <connectionStrings>
    <add name="SQLUser" connectionString="Data Source=TNATFT2PRDLSN.tnsautoca.techint.net,5040;Initial Catalog=L2Am22;Persist Security Info=True;Integrated Security=SSPI;MultipleActiveResultSets=True;Asynchronous Processing=true;Pooling=true; Max Pool Size=10;"/>
    <add name="LDAPConnection" connectionString="LDAP://172.29.8.181" />
  </connectionStrings>

  <tenaris.security>
    <manager>
      <providers>
        <clear/>
        <add name="Manager"
					 type="Tenaris.Manager.Security.SecurityManager.dll,Tenaris.Manager.Security.SecurityManager"
					 serverurl=""
					 remotingservices=""
					 typeservice=""
			 />
      </providers>
    </manager>
    <Server>
      <providers>
        <clear/>
        <add name="Server"
					 type="Tenaris.Manager.Security.SecurityManager.dll,Tenaris.Manager.Security.SecurityManager"
					 serverurl="Tenaris.Manager.Security.SecurityManager.soap"
					 remotingservices="Tenaris.Manager.Security.SecurityManager"
					 typeservice="server"
             />
      </providers>
    </Server>
    <WCF>
      <providers>
        <clear/>
        <add name="WCF"
					 type="Tenaris.Manager.Security.SecurityManager.dll,Tenaris.Manager.Security.SecurityManager"
					 serverurl="http://localhost:4001/UserManagerEndPoint"
					 remotingservices="Tenaris.Manager.Security.SecurityManager"
					 typeservice="server"/>
      </providers>
    </WCF>

    <autorized>
      <providers>
        <clear/>
        <add name="SQLAutorized"
					 type="Tenaris.Manager.Security.SQLAutorized.dll,Tenaris.Manager.Security.SQLAutorized"
					 connectionString="SQLUser"
					 validateworkstation="True" />
      </providers>
    </autorized>

    <authentication defaultProvider="ADAuthentication" >
      <providers >
        <clear/>
        <add name="ADAuthentication" type="Tenaris.Manager.Security.ADAuthenticationProvider.dll,Tenaris.Manager.Security.ADAuthenticationProvider"
						  connectionLDAPName="LDAPConnection" />
      </providers>
    </authentication>
  </tenaris.security>

  <Tenaris.Manager.Security.SecurityManager factoryType="Tenaris.Manager.Security.SecurityFactory, Tenaris.Manager.Security.SecurityManager" isSingleton="True">
    <SecurityConfiguration DefaultMessage="Test" />
  </Tenaris.Manager.Security.SecurityManager>

  <system.runtime.remoting>
    <application name="SecurityManager">
      <channels>
        <channel ref="tcp" port="49208">
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full" />
          </serverProviders>
          <clientProviders>
            <provider type="Tenaris.Library.Proxy.Remoting.ClientRemotingInterceptorProvider, Tenaris.Library.Proxy"/>
            <formatter ref="binary" typeFilterLevel="Full" />
          </clientProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>

  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <mapping>
        <level value="Error" />
        <foreColor value="Red, HighIntensity" />
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message%newline" />
      </layout>
    </appender>

    <appender name="Security" type="log4net.Appender.RollingFileAppender" >
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="ALL" />
        <param name="LevelMax" value="OFF" />
      </filter>
      <param name="DatePattern" value="'.'yyyyMMdd'.log' " />
      <param name="File" value="SecurityManager" />
      <param name="AppendToFile" value="true" />
      <param name="rollingStyle" value="Date" />
      <param name="maxSizeRollBackups" value="10" />
      <param name="maximumFileSize" value="4MB" />
      <param name="staticLogFileName" value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[BEGIN_LOG %date{yyyy-MM-dd HH:mm} ===] %newline" type="log4net.Util.PatternString"/>
        <param name="Footer" value="[END_LOG %date{yyyy-MM-dd HH:mm} =====] %newline" type="log4net.Util.PatternString"/>
      </layout>
    </appender>

    <logger name="Tenaris.Library.Log">
      <appender-ref ref="ConsoleAppender" />
      <appender-ref ref="Security" />
    </logger>


  </log4net>

  <log
  maxQueueSize="10000"
  dumpStack="true"
  msgFormat="{TypeChar} {Timestamp:yyyy-MM-dd HH:mm:ss} [{ThreadId}] {IdentString} {Message}"
path="\\TNACAWFM193.tnsautoca.techint.net\Appls\Clientes\Laminillos\Tenaris\Logs\%UserName%\Security"
logBaseName="Security"
  />
  
</configuration>