<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="CommonConfiguration" type="Tenaris.Library.Shared.Configuration.CommonConfiguration, Tenaris.Library.Shared"/>
	<section name="PrinterRFID" type="Tenaris.Tamsa.ZebraPrint.Shared.ZebraPrintConfigurationHost, Tenaris.Tamsa.ZebraPrint.Shared" />

    <section name="PackagingServices.Proxy" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>
    <section name="PackagingManager.Proxy" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>

    <section name="PackagingViewConfigurationSection" type="Tenaris.PCK.Library.UI.PackagingViewConfigurationSection, Tenaris.PCK.Library.UI"/>
    <section name="PackagingHistoricConfigurationSection" type="Tenaris.PCK.Library.UI.Historic.PackagingHistoricConfigurationSection, Tenaris.PCK.Library.UI.Historic"/>

    <section name="SecurityClient" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>
    <section name="SecurityConfigurator" type="Tenaris.Library.SecurityConfigurator.SecurityConfigurationSection, Tenaris.Library.SecurityConfigurator"/>

    <section name="log" type="Tenaris.Library.Log.LogConfiguration, Tenaris.Library.Log"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=1b44e1d426115821"/>
  </configSections>

  <appSettings>
    <add key="LengthDecimals" value="2"/>    <!--Numero de decimales a mostrar para longitudes-->
    <add key="WeightDecimals" value="1"/>    <!--Numero de decimales a mostrar para pesos-->
	
	<!--Configuraciones para la impresion RFID-->
    <add key="PrintMarksActive" value="true"/>
    <add key="ShowInfo" value="true"/>
    <add key="NoBalanza" value="2"/>
  </appSettings>

  <connectionStrings>
    <add name="LINEA2" connectionString="Data Source=TNATFT2PRDLSN.tnsautoca.techint.net,5040;Initial Catalog=L2Bz22;Persist Security Info=True;Integrated Security=SSPI;MultipleActiveResultSets=True; Asynchronous Processing=true;Application Name=PCK_View; Pooling=true; Max Pool Size=300;"/>
  </connectionStrings>

  <CommonConfiguration areaCode="LINEA2" zoneCode="ALL" defaultConnectionStringName="LINEA2"/>

  <SecurityClient url="tcp://localhost:49990/Tenaris.Manager.Security.SecurityManager.soap" instanceType="Tenaris.Manager.Security.ISecurity, Tenaris.Manager.Security.ISecurity" aliveInterval="1000" isTargetManager="true" forumPresent="false">
  </SecurityClient>

  <SecurityConfigurator securityEnabled="false">
  </SecurityConfigurator>

  <!-- Configuración de la aplicacion -->
  <!--
    activatePackagingService="true": indica si activa o no al PackagingService   
    activatePackagingManager="true": indica si activa o no al PackagingManager   
    headerPath=".\Views\Config\": path donde se encuentran los archivos de configuración de los Headers
    packagingServiceName="PackagingServices": Nombre de la configuración de PackagingService que debe utilizar la aplicación
    packagingManagerName="PackagingMaanger": Nombre de la configuración de PackagingManager que debe utilizar la aplicación
    culture="es-MX": Cultura a utilizar
    automaticMachineCode: Codigo de base de datos de la maquina de flejado 
    manualMachineCode: Codigo de base de datos correspondiente a la maquina para bancal granel
    
  -->
  <PackagingViewConfigurationSection
    headerPath=".\Views\Config\"
    culture="es-MX"
    packagingServiceName="PackagingServices.Proxy"
    activatePackagingService="false"
    onErrorOpenErrorView="true"
    configureRemoting="true"
    closeBundleEnabled="true"
    packagingManagerName="PackagingManager.Proxy"
    activatePackagingManager="false"
    automaticMachineCode="PCKAUTO"
    manualMachineCode="PCK"
	dataBase="LINEA2"
	showTenarisTitle="true"
	showAutomaticControlSwitch="true"
	showStatusBar="true"
	protectorConsumptionAllowed="false"
	userLicenseMachine ="WMS"
    />
	
	<PrinterRFID
   address="net.tcp://TNACAWFM198.tnsautoca.techint.net:9101/Tenaris.Tamsa.ZebraPrinter/ZebraPrinter"
   closeTimeout="60"
   openTimeout="60"
   receiveTimeout="60"
   sendTimeout="60" />

  <PackagingHistoricConfigurationSection historicDataBase="LINEA2" protectorConsumptionAllowed="true" userLicenseMachine ="WMS"/>

  <PackagingServices.Proxy url="tcp://TNACAWFM198.tnsautoca.techint.net:49501/Tenaris.PCK.Manager.PCKManager.soap" instanceType="Tenaris.PCK.Manager.Shared.Services.IPackagingService, Tenaris.PCK.Manager.Shared" aliveInterval="1000" singleInstance="false" forumPresent="false" validateConnection="true" isTargetManager="true"/>
  <PackagingManager.Proxy  url="tcp://TNACAWFM198.tnsautoca.techint.net:49501/Tenaris.PCK.Manager.PCKManager.soap" instanceType="Tenaris.PCK.Manager.Shared.Manager.IPackagingManager, Tenaris.PCK.Manager.Shared" aliveInterval="1000" singleInstance="false" forumPresent="false" validateConnection="true" isTargetManager="true"/>

  <!-- CONFIGURACION GENERAL -->

  <!--<log maxQueueSize="10000" 
       dumpStack="true" 
       msgFormat="{TypeChar} {Timestamp:yyyy-MM-dd HH:mm} [{AppDomainName,-20}:{ThreadId,-5:d5}] [lap={LapFriendlyValue,-10:f2}{LapFriendlyUnit,4}] {AssemblyName,-15} {IdentString} {Message}"
  />-->

  <log maxQueueSize="10000" maxFileSize="16384"
       msgFormat="{TypeChar} {Timestamp:yyyy-MM-dd HH:mm} [{AppDomainName,-20}:{ThreadId,-5:d5}] [lap={LapFriendlyValue,-10:f2}{LapFriendlyUnit,4}] {AssemblyName,-15} {IdentString} {Message}"
       logLevel="Debug" traceAttributeLogEnabled="true"
       path="\\TNACAWFM198.tnsautoca.techint.net\Appls\Clientes\Cliente 1\Tenaris\Logs\%UserName%\WMSDispatch"
       logBaseName="WmsDispatch"
	   maxFileCount="30"
       logAssemblyLoad="true"/>

  <system.runtime.remoting>
    <application name="PackagingView">

      <channels>
        <channel ref="tcp" port="0">

          <clientProviders>
            <provider type="Tenaris.Library.Proxy.Remoting.ClientRemotingInterceptorProvider, Tenaris.Library.Proxy"/>
            <!-- para encapsular los eventos de objetos remotos devueltos por el manager -->
            <formatter ref="binary" typeFilterLevel="Full"/>
          </clientProviders>

          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full"/>
            <!--<provider type="Tenaris.Library.Proxy.Remoting.ServerRemotingInterceptorProvider, Tenaris.Library.Proxy"/>-->
          </serverProviders>

        </channel>
      </channels>

    </application>
  </system.runtime.remoting>


  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
