<?xml version="1.0"?>
<configuration>
  <configSections>
    <!--<section name="DAL" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework"/>-->
    <section name="log" type="Tenaris.Library.Log.LogConfiguration, Tenaris.Library.Log" />
    <!--<section name="log0" type="Tenaris.Library.Log.LogConfiguration, Tenaris.Library.Log, Version=3.1.0.0, Culture=neutral, PublicKeyToken=57446fc01bb98900" />-->
    <section name="ReportITManagerConfiguration" type="Tenaris.Tamsa.Library.ExternalIdentification.ReportIT.Shared.ReportITManagerConfiguration, Tenaris.Tamsa.Library.ExternalIdentification.ReportIT.Shared"/>
    <section name="DAL" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework" />
  </configSections>

  <connectionStrings>
    <add name="dbLinea2" connectionString="Data Source=TNATFT2PRDLSN.tnsautoca.techint.net,5040;Initial Catalog=L2Bz22;Persist Security Info=True;Integrated Security=SSPI;Max Pool Size=10;MultipleActiveResultSets=True;Application Name=ExtIdenReportIT;" providerName="System.Data.SqlClient"/>
  </connectionStrings>


  <DAL factoryType="Tenaris.Tamsa.FIN.Library.ExtenalIdentification.Dal.DalFactory, Tenaris.Tamsa.FIN.Library.ExtenalIdentification.Dal">
    <Configuration connectionStringName="dbLinea2">
    </Configuration>
  </DAL>

  <!--XUSRLIN1-->
  <!-- Usuario Linea 1-->
  <!--SVCPR2L7-->
  <!-- Usuario Linea 7 Prem 2-->
  <ReportITManagerConfiguration
    ConnectionName="dbLinea2"
    SendByBundle="true"
    AutoSend="true"
    SendLoopTimeMin="5"
    Username="XUSRLIN1"
    MaxCountAutoSend="100"
    SendDataSetZero="true"
    VersionDataSet="008"
    ExitMachine="5"
    GenerateDS="true"
    >
    <StoredProcedure>
      <!--SP Balanzas-->
      <add code="GetBundlesToSend" name="[ExternalIdentification].[GetBundlesToSend]" />
      <add code="GetPipes" name="[ExternalIdentification].[GetBundlePipes]" />
      <add code="GetPipesToSendByOrderNumber" name="[ExternalIdentification].[GetBundlesToSendByOrderNumber]" />
      <add code="InsResponseSend" name="[ExternalIdentification].[SetBundleSendState]" />
      <add code="GetProductInformation" name="[ExternalIdentification].[GetProductInformation]"/>
      <add code="SavePipeSent" name="[ExternalIdentification].[SavePipeSent]"/>
      <!--SP Premium-->
      <!--<add code="GetBundlesToSend" name="" />
      <add code="GetPipes" name="[ProductionFIN].[GetPipesToReport]" />
      <add code="GetPipesToSendByOrderNumber" name="" />
      <add code="InsResponseSend" name="[ProductionFIN].[InsReportHistory]" />-->
      <!--SP Dopeless-->
      <!--<add code="GetBundlesToSend" name="[ExternalIdentification].[GetBundlesToSend]" />
      <add code="GetPipes" name="[ExternalIdentification].[GetBundlePipes]" />
      <add code="GetPipesToSendByOrderNumber" name="[ExternalIdentification].[GetBundlesToSendByOrderNumber]" />
      <add code="InsResponseSend" name="[ExternalIdentification].[SetBundleSendState]" />-->
    </StoredProcedure>
    <AttributeSend>
      <add AttributeName="UniqueRefCode" AttributeDB="UniqueReferenceCode" IsRequired="True" OptionalValue="false"/>
      <add AttributeName="DataSetInfo" AttributeDB="DataSet" IsRequired="True" OptionalValue="False"/>
      <add AttributeName="DataSetVersion" AttributeDB="DatasetVersion" IsRequired="True" OptionalValue="false"/>
      <add AttributeName="MACHINEID" AttributeDB="MACHINEID" IsRequired="True" OptionalValue="false"/>
      <add AttributeName="PinTagId" AttributeDB="PinTagId" IsRequired="True" OptionalValue="True"/>
      <add AttributeName="BoxTagId" AttributeDB="BoxTagId" IsRequired="True" OptionalValue="True"/>
      <add AttributeName="Req2DBoxTag" AttributeDB="Req2DBoxTag" IsRequired="True" OptionalValue="false"/>
      <add AttributeName="2DBoxTag" AttributeDB="PrintBoxStatus" IsRequired="True" OptionalValue="false"/>
      <add AttributeName="ReqRFIDBoxTag" AttributeDB="ReqRFIDBoxTag" IsRequired="True" OptionalValue="false"/>
      <add AttributeName="RFIDBoxTag" AttributeDB="RfidBoxStatus" IsRequired="True" OptionalValue="false"/>
      <add AttributeName="ReqRFIDPinTag" AttributeDB="ReqRFIDPinTag" IsRequired="True" OptionalValue="false"/>
      <add AttributeName="RFIDPinTag" AttributeDB="RfidPinStatus" IsRequired="True" OptionalValue="false"/>
      <add AttributeName="ReqBundleTag" AttributeDB="ReqBundleTag" IsRequired="True" OptionalValue="false"/>
      <add AttributeName="BundleTag" AttributeDB="BundleTag" IsRequired="True" OptionalValue="false"/>
      <add AttributeName="ReqPipeBodyTag" AttributeDB="ReqPipeBodyTag" IsRequired="True" OptionalValue="false"/>
      <add AttributeName="PipeBodyTag" AttributeDB="PipeBodyStatus" IsRequired="True" OptionalValue="false"/>
    </AttributeSend>
  </ReportITManagerConfiguration>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ITwoWayAsync" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <!-- Productivo -->
      <endpoint address="http://bztbalancer.tamsa.techint.net:8309/TPI608/ManageWipStockVarsTechnicalSheet.svc"
                binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ITwoWayAsync"
                contract="ITService.ManageWipStockVarsTechnicalSheet"
                name="BasicHttpBinding_ITwoWayAsync"/>

      <!--Desarrollo -->
      <!--<endpoint address="http://tamcawai108.tamsa.techint.net:8309/TPI608/ManageWipStockVarsTechnicalSheet.svc"
                binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ITwoWayAsync"
                contract="ITService.ManageWipStockVarsTechnicalSheet"
                name="BasicHttpBinding_ITwoWayAsync"/>-->
    </client>
  </system.serviceModel>

  <!--<log0 maxQueueSize="10000" dumpStack="true" msgFormat="{Timestamp:yyyy-MM-dd HH:mm:ss:fffff} {IdentString} {Message}"/>-->

  <log
    maxFileSize="8096"
    maxFileCount="100"
    msgFormat="{Timestamp:yyyy-MM-dd HH:mm:ss.fff} {IdentString} {Message}"
    logLevel="Debug"
    traceAttributeLogEnabled="true"
    path="..\..\..\Logs\Manager\ReportITManager"
    logBaseName="ExternalTrackingManager"
    additionalLogDestination="Console"
    logAssemblyLoad="true"
    />

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
