<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log" type="Tenaris.Library.Log.LogConfiguration, Tenaris.Library.Log"/>
    <section name="ZebraPrinterConfiguration" type="Tenaris.Tamsa.ZebraPrint.Shared.ZebraPrinterAppConfiguration, Tenaris.Tamsa.ZebraPrint.Shared"/>
    <section name="PrintersConfiguration" type="Tenaris.Tamsa.ZebraPrint.Shared.PrintersConfiguration, Tenaris.Tamsa.ZebraPrint.Shared"/>
  </configSections>

  <connectionStrings>
    <add name="DBBME21" connectionString="Data Source=TNATFT2PRDLSN.tnsautoca.techint.net,5040;Initial Catalog=L1Bz21;Persist Security Info=True;Integrated Security=SSPI;MultipleActiveResultSets=true; Asynchronous Processing=true; Application Name=ZebraPrintService2; Pooling=true; Max Pool Size=300;"/>
    <add name="DBBME22" connectionString="Data Source=TNATFT2PRDLSN.tnsautoca.techint.net,5040;Initial Catalog=L2Bz22;Persist Security Info=True;Integrated Security=SSPI;MultipleActiveResultSets=true; Asynchronous Processing=true; Application Name=ZebraPrintService2; Pooling=true; Max Pool Size=300;"/>
  </connectionStrings>

  <ZebraPrinterConfiguration DBConnection1="DBBME21" DBConnection2="DBBME22"
                             PrintersConfigurationSection="PrintersConfiguration"/>

  <PrintersConfiguration>
    <Printers>
      <PrinterConfiguration
         Name="Impresora Principal"
         IP="10.93.1.16:9100"
         Port="9101"
         TemplateConfigFile="PrinterFiles\printerTemplate-001-pipeData.txt"
         LogoPath="PrinterFiles\logo.bmp"
         />
    </Printers>
  </PrintersConfiguration>
  
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="ZebraPrinterManagerBinding" closeTimeout="01:00:00" openTimeout="01:00:00" receiveTimeout="01:00:00" sendTimeout="01:00:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxConnections="10" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="16384"/>
          <security mode="None"/>
          <reliableSession enabled="False" ordered="True"/>
        </binding>
      </netTcpBinding>

      <basicHttpBinding>
        <binding name="BasicHttpBinding_ITwoWayAsync" />
      </basicHttpBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="ZebraPrinter.Service.ServiceBehavior">
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="ZebraPrinter.Service.ServiceBehavior"
        name="Tenaris.Tamsa.ZebraPrint.Service.ZebraPrinterService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="ZebraPrinterManagerBinding"
          contract="Tenaris.Tamsa.ZebraPrint.Shared.IPrinter">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:9101/Tenaris.Tamsa.ZebraPrinter/ZebraPrinter" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>

  <log maxFileSize="8096"
   maxFileCount="180"
   msgFormat="{Timestamp:HH:mm.ss.fff} ; {Level,-7} ; {Message} ; {MethodName}"
   logLevel="Debug"
   noQueue="true"
   traceAttributeLogEnabled="true"
   path="..\..\..\Logs\Service\ZebraPrintService\"
   logBaseName="LoadPipeLog"
   additionalLogDestination="Console"/>

  <system.runtime.remoting>
    <application name="Client">
      <channels>
        <channel ref="tcp" port="0">
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full" />
          </serverProviders>
          <clientProviders>
            <formatter ref="binary" typeFilterLevel="Full" />
          </clientProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>


  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>