<?xml version="1.0"?>
<configuration>
  <configSections>

    <section name="ManagerBaseConfiguration" type="Tenaris.Manager.Forum.Shared.Configuration.ManagerBaseConfiguration, Tenaris.Manager.Forum.Shared, Version=4.1.0.0, Culture=neutral, PublicKeyToken=8a748c80852b8187" />
    <section name="Tenaris.Manager.Interruption" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework, Version=4.1.0.0, Culture=neutral, PublicKeyToken=d69ca37b4d4b73b8" />
    <section name="log" type="Tenaris.Library.Log.LogConfiguration, Tenaris.Library.Log, Version=4.1.0.0, Culture=neutral, PublicKeyToken=bbb03b5ff4bbb68b" />
    <section name="Tenaris.Manager.Production" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>
    <section name="Plugin.FAT2.L2_PH22" type="Tenaris.Manager.Interruption.Plugin.FAT2.Model.InterruptionFAT2Configuration, Tenaris.Manager.Interruption.Plugin.FAT2" />
    <section name="Plugin.FAT2.L2_AMA" type="Tenaris.Manager.Interruption.Plugin.FAT2.Model.InterruptionFAT2Configuration, Tenaris.Manager.Interruption.Plugin.FAT2" />
    <section name="Plugin.FAT2.L2_PAC" type="Tenaris.Manager.Interruption.Plugin.FAT2.Model.InterruptionFAT2Configuration, Tenaris.Manager.Interruption.Plugin.FAT2" />
    <section name="Plugin.FAT2.L2_RO24" type="Tenaris.Manager.Interruption.Plugin.FAT2.Model.InterruptionFAT2Configuration, Tenaris.Manager.Interruption.Plugin.FAT2" />
    <section name="Plugin.FAT2.L2_SEA23" type="Tenaris.Manager.Interruption.Plugin.FAT2.Model.InterruptionFAT2Configuration, Tenaris.Manager.Interruption.Plugin.FAT2" />
    <section name="Plugin.FAT2.L2_PML22" type="Tenaris.Manager.Interruption.Plugin.FAT2.Model.InterruptionFAT2Configuration, Tenaris.Manager.Interruption.Plugin.FAT2" />
    <section name="Plugin.FAT2.L2_RO23" type="Tenaris.Manager.Interruption.Plugin.FAT2.Model.InterruptionFAT2Configuration, Tenaris.Manager.Interruption.Plugin.FAT2" />
    <section name="Plugin.FAT2.L2_SEA24" type="Tenaris.Manager.Interruption.Plugin.FAT2.Model.InterruptionFAT2Configuration, Tenaris.Manager.Interruption.Plugin.FAT2" />
    <section name="Plugin.FAT2.L2_VDI24" type="Tenaris.Manager.Interruption.Plugin.FAT2.Model.InterruptionFAT2Configuration, Tenaris.Manager.Interruption.Plugin.FAT2" />
    <section name="Plugin.FAT2.L2_VDI23" type="Tenaris.Manager.Interruption.Plugin.FAT2.Model.InterruptionFAT2Configuration, Tenaris.Manager.Interruption.Plugin.FAT2" />
  </configSections>

  <connectionStrings>
    <add name="Level2" connectionString="Data Source=TNATFT2PRDLSN.tnsautoca.techint.net,5040;Initial Catalog=L2Trk;Integrated Security=SSPI;Persist Security Info=True;MultipleActiveResultSets=True; Asynchronous Processing=false; pooling=false;  Application Name=InterruptionManager" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <!-- Common configuration section -->
  <ManagerBaseConfiguration areaCode="LINEA2" defaultConnectionStringName="Level2" />
  <Tenaris.Manager.Interruption factoryType="Tenaris.Manager.Interruption.InterruptionManagerFactory, Tenaris.Manager.Interruption" isSingleton="True">
    <InterruptionManagerConfiguration keyManagerSectionName="Tenaris.Manager.Production" >
      <ActivePlugins>
        <Plugin machineCode="L2_PH22" sectionName="Plugin.FAT2.L2_PH22" type="Tenaris.Manager.Interruption.Plugin.FAT2.InterruptionFAT2Plugin, Tenaris.Manager.Interruption.Plugin.FAT2" />
        <Plugin machineCode="L2_AMA" sectionName="Plugin.FAT2.L2_AMA" type="Tenaris.Manager.Interruption.Plugin.FAT2.InterruptionFAT2Plugin, Tenaris.Manager.Interruption.Plugin.FAT2" />
        <Plugin machineCode="L2_PAC" sectionName="Plugin.FAT2.L2_PAC" type="Tenaris.Manager.Interruption.Plugin.FAT2.InterruptionFAT2Plugin, Tenaris.Manager.Interruption.Plugin.FAT2" />
        <Plugin machineCode="L2_RO24" sectionName="Plugin.FAT2.L2_RO24" type="Tenaris.Manager.Interruption.Plugin.FAT2.InterruptionFAT2Plugin, Tenaris.Manager.Interruption.Plugin.FAT2" />
        <Plugin machineCode="L2_SEA23" sectionName="Plugin.FAT2.L2_SEA23" type="Tenaris.Manager.Interruption.Plugin.FAT2.InterruptionFAT2Plugin, Tenaris.Manager.Interruption.Plugin.FAT2" />
        <Plugin machineCode="L2_PML22" sectionName="Plugin.FAT2.L2_PML22" type="Tenaris.Manager.Interruption.Plugin.FAT2.InterruptionFAT2Plugin, Tenaris.Manager.Interruption.Plugin.FAT2" />
        <Plugin machineCode="L2_RO23" sectionName="Plugin.FAT2.L2_RO23" type="Tenaris.Manager.Interruption.Plugin.FAT2.InterruptionFAT2Plugin, Tenaris.Manager.Interruption.Plugin.FAT2" />
        <Plugin machineCode="L2_SEA24" sectionName="Plugin.FAT2.L2_SEA24" type="Tenaris.Manager.Interruption.Plugin.FAT2.InterruptionFAT2Plugin, Tenaris.Manager.Interruption.Plugin.FAT2" />
        <Plugin machineCode="L2_VDI24" sectionName="Plugin.FAT2.L2_VDI24" type="Tenaris.Manager.Interruption.Plugin.FAT2.InterruptionFAT2Plugin, Tenaris.Manager.Interruption.Plugin.FAT2" />
        <Plugin machineCode="L2_VDI23" sectionName="Plugin.FAT2.L2_VDI23" type="Tenaris.Manager.Interruption.Plugin.FAT2.InterruptionFAT2Plugin, Tenaris.Manager.Interruption.Plugin.FAT2" />

      </ActivePlugins>
    </InterruptionManagerConfiguration>
  </Tenaris.Manager.Interruption>


  <Plugin.FAT2.L2_PH22     ProductionManagerSectionName="Tenaris.Manager.Production"
                          ConnectionStringName="Level2"
                          DelayCode="Delay"
                          InterruptionCode="Interruption"
                          DelaySending="3600"/>

  <Plugin.FAT2.L2_AMA   ProductionManagerSectionName="Tenaris.Manager.Production"
                          ConnectionStringName="Level2"
                          DelayCode="Delay"
                          InterruptionCode="Interruption"
                          DelaySending="3600"/>

  <Plugin.FAT2.L2_PAC    ProductionManagerSectionName="Tenaris.Manager.Production"
                          ConnectionStringName="Level2"
                          DelayCode="Delay"
                          InterruptionCode="Interruption"
                          DelaySending="3600"/>

  <Plugin.FAT2.L2_RO24    ProductionManagerSectionName="Tenaris.Manager.Production"
                          ConnectionStringName="Level2"
                          DelayCode="Delay"
                          InterruptionCode="Interruption"
                          DelaySending="3600"/>

  <Plugin.FAT2.L2_SEA23   ProductionManagerSectionName="Tenaris.Manager.Production"
                          ConnectionStringName="Level2"
                          DelayCode="Delay"
                          InterruptionCode="Interruption"
                          DelaySending="3600"/>

  <Plugin.FAT2.L2_PML22     ProductionManagerSectionName="Tenaris.Manager.Production"
                          ConnectionStringName="Level2"
                          DelayCode="Delay"
                          InterruptionCode="Interruption"
                          DelaySending="3600"/>

  <Plugin.FAT2.L2_RO23    ProductionManagerSectionName="Tenaris.Manager.Production"
                          ConnectionStringName="Level2"
                          DelayCode="Delay"
                          InterruptionCode="Interruption"
                          DelaySending="3600"/>


  <Plugin.FAT2.L2_SEA24   ProductionManagerSectionName="Tenaris.Manager.Production"
                          ConnectionStringName="Level2"
                          DelayCode="Delay"
                          InterruptionCode="Interruption"
                          DelaySending="3600"/>



  <Plugin.FAT2.L2_VDI24   ProductionManagerSectionName="Tenaris.Manager.Production"
                          ConnectionStringName="Level2"
                          DelayCode="Delay"
                          InterruptionCode="Interruption"
                          DelaySending="3600"/>

  <Plugin.FAT2.L2_VDI23   ProductionManagerSectionName="Tenaris.Manager.Production"
                          ConnectionStringName="Level2"
                          DelayCode="Delay"
                          InterruptionCode="Interruption"
                          DelaySending="3600"/>

  <log
    maxFileSize="14096"
	maxFileCount="40"
    logLevel="Debug"
    msgFormat="{TypeChar} {Timestamp:yyyy-MM-dd HH:mm:ss} [{ThreadId,-5:d5}] {MethodName} {IdentString} {Message}"
    noQueue="true"
    path="..\..\..\Logs\Manager\InterruptionManager"
    traceAttributeLogEnabled="true"
    logBaseName="Tenaris.Manager.Interruption.Host"
    additionalLogDestination="Console"
    logAssemblyLoad="false"
  />


  <system.runtime.remoting>
    <application name="InterruptionManager">
      <channels>
        <channel ref="tcp" port="7009" >
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full" />
          </serverProviders>
          <clientProviders>
            <provider type="Tenaris.Library.Proxy.Remoting.ClientRemotingInterceptorProvider, Tenaris.Library.Proxy, Version=4.1.0.0, Culture=neutral, PublicKeyToken=c4a5016cfc42fcd0" />
            <formatter ref="binary" typeFilterLevel="Full" />
          </clientProviders>
        </channel>
      </channels>
      <service>
      </service>
    </application>
  </system.runtime.remoting>


  <!--Production manager configuration-->

  <Tenaris.Manager.Production
        url="tcp://TNACAWFM197.tnsautoca.techint.net:21006/Tenaris.Manager.Production.ProductionManager.soap"
        instanceType="Tenaris.Manager.Production.Shared.IProductionManager, Tenaris.Manager.Production.Shared"
        aliveInterval="1000"
        singleInstance="true"
        validateConnection="true"
        forumPresent="false"
      isTargetManager="true">
  </Tenaris.Manager.Production>


  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>

  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="RoleEndPoint">
          <reliableSession inactivityTimeout="00:01:00" enabled="true" />
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://TNACAWWS197.tnsautoca.techint.net:33333/ITService" binding="netTcpBinding"
          bindingConfiguration="RoleEndPoint" contract="SyncITComs.ITService"
          name="RoleEndPoint">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>