<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
     <!--<section name="CommonConfiguration" type="Tenaris.Library.Common.Configuration.CommonConfiguration, Tenaris.Library.Common" />-->
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Tenaris.Applications.Managers.DskMgr.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="tenaris.security" >
      <section name="autorized" type="Tenaris.Manager.Security.AutorizedSection,Tenaris.Manager.Security.SecurityManager"/>
      <section name="authentication" type="Tenaris.Manager.Security.AuthenticationSection,Tenaris.Manager.Security.SecurityManager" />
      <section name="manager" type="Tenaris.Manager.Security.ManagerSection, Tenaris.Manager.Security.SecurityManagerFactory"/>
      <section name="Server" type="Tenaris.Manager.Security.ManagerSection, Tenaris.Manager.Security.SecurityManagerFactory"/>
      <section name="WCF" type="Tenaris.Manager.Security.ManagerSection, Tenaris.Manager.Security.SecurityManagerFactory"/>
    </sectionGroup>
    <section name="AlarmManagers" type="Tenaris.Applications.Managers.DskMgr.Configuration.ManagersConfiguration, Tenaris.Applications.Managers.DskMgr.Configuration" />
    <section name="AlarmManagerBP" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>
    <section name="AlarmManagerLACO" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>
    <section name="Tenaris.Manager.WorkShift.WorkShiftManager" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>
    <section name="Tenaris.Manager.EquipmentAlarm.AlarmManager" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy" />

	<!--<section name="SecurityClient" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>-->
    <section name="Tenaris.Manager.Security.SecurityManager" type="Tenaris.Library.System.Factory.FactoryConfiguration, Tenaris.Library.System" />
    <section name="log" type="Tenaris.Library.Log.LogConfiguration, Tenaris.Library.Log"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <connectionStrings>
	  <add name="Level2" connectionString="Data Source=TNATFT2PRDLSN.tnsautoca.techint.net,5040;Initial Catalog=L2Am22;Persist Security Info=True;Integrated Security=SSPI;MultipleActiveResultSets=True; Asynchronous Processing=true; Application Name=DesktopManager; Pooling=true; Max Pool Size=300;" providerName="System.Data.SqlClient" />
	  <add name="SQLUser" connectionString="Data Source=TNATFT2PRDLSN.tnsautoca.techint.net,5040;Initial Catalog=L2Am22;Persist Security Info=True;Integrated Security=SSPI;MultipleActiveResultSets=True; Asynchronous Processing=true; Application Name=DesktopManager; Pooling=true; Max Pool Size=300;" providerName="System.Data.SqlClient" />

  </connectionStrings>
  <appSettings>
    <add key="isWCF" value="false"/>
    <add key="URLChangePassword" value="https://changepassword.tenaris.ot/ChangePassword.aspx"/>
    <add key="RemainingDays" value="7"/>
  </appSettings>
  <applicationSettings>
    <Tenaris.Applications.Managers.DskMgr.Properties.Settings>
      <setting name="TitleMenu" serializeAs="String">
        <value>General Menu</value>
      </setting>
      <setting name="InProcSecurityManager" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UserManager" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ClickStart" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Msgexe" serializeAs="String">
        <value>MsgVwGeneral.exe</value>
      </setting>
      <setting name="Debug" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LogLevel" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="AppWatchDog" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="MenuStyle" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ImgPath" serializeAs="String">
        <value>img\</value>
      </setting>
      <setting name="AlwaysOnTop" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShrinkProcess" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Led1Tooltip" serializeAs="String">
        <value>Led1</value>
      </setting>
      <setting name="Led2Tooltip" serializeAs="String">
        <value>Led2</value>
      </setting>
      <setting name="Led3Tooltip" serializeAs="String">
        <value>Led3</value>
      </setting>
      <setting name="Led4Tooltip" serializeAs="String">
        <value>Led4</value>
      </setting>
      <setting name="Led5Tooltip" serializeAs="String">
        <value>Led5</value>
      </setting>
      <setting name="Led6Tooltip" serializeAs="String">
        <value>Led6</value>
      </setting>
      <setting name="TecAlmExe" serializeAs="String">
        <value>TecAlm.exe</value>
      </setting>
      <setting name="AlmMsgManage" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="ExePath" serializeAs="String">
        <value></value>
      </setting>
      <setting name="Led1Plugin" serializeAs="String">
        <value />
      </setting>
      <setting name="Led2Plugin" serializeAs="String">
        <value />
      </setting>
      <setting name="Led3Plugin" serializeAs="String">
        <value />
      </setting>
      <setting name="Led4Plugin" serializeAs="String">
        <value />
      </setting>
      <setting name="Led5Plugin" serializeAs="String">
        <value />
      </setting>
      <setting name="Led6Plugin" serializeAs="String">
        <value />
      </setting>
      <setting name="AlmExe" serializeAs="String">
        <value>WindowsServicesApp\WPF.WindowsServicesApp.exe</value>
      </setting>
      <setting name="ZoneCode" serializeAs="String">
        <value>ZONE1</value>
      </setting>
      <setting name="TimerKillIfNotResponding" serializeAs="String">
        <value>120000</value>
      </setting>
      <setting name="ConfigXMLPath" serializeAs="String">
        <value>D:\APPLS\Tenaris\Applications\View\Desktop\config.xml</value>
      </setting>
      <setting name="ConfigDBCode" serializeAs="String">
        <value>MenuApps3TCyberPQF</value>
      </setting>
      <setting name="ConfigXMLPath" serializeAs="String">
        <value>D:\APPLS\Tenaris\Applications\View\Desktop\config.xml</value>
      </setting>
      <setting name="ConfigSource" serializeAs="String">
        <value>FileSystem</value>
      </setting>
      <!--<setting name="ConfigSource" serializeAs="String">
        <value>DataBase</value>
      </setting>-->
      <setting name="WorkShiftEndAction" serializeAs="String">
        <value>Nothing</value>
      </setting>
      <setting name="WorkShiftEndRetryCount" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="WorkShiftEndRetryInterval" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="InactivityTimeout" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="Language" serializeAs="String">
        <value>en-US</value>
      </setting>
      <setting name="InactivityTimeoutAction" serializeAs="String">
        <value>Nothing</value>
      </setting>
      <setting name="WorkShiftEndMargin" serializeAs="String">
        <value>0</value>
      </setting>
    </Tenaris.Applications.Managers.DskMgr.Properties.Settings>
  </applicationSettings>

  <!--<SecurityClient url="tcp://localhost:49000/SecurityManager.soap"
   instanceType="Tenaris.Manager.Security.ISecurity, Tenaris.Manager.Security.ISecurity"
    aliveInterval="1000" forumPresent="false">
 </SecurityClient>-->
  
	
	
  <!--<CommonConfiguration areaCode="TMTbFn5" zoneCode="TMTbFn5" defaultConnectionStringName="SQLUser" />-->

   <Tenaris.Manager.Security.SecurityManager factoryType="Tenaris.Manager.Security.SecurityFactory, Tenaris.Manager.Security.SecurityManager" isSingleton="True">
     <SecurityConfiguration DefaultMessage="Test" />
  </Tenaris.Manager.Security.SecurityManager>
  <tenaris.security>
    <manager>
      <providers>
        <clear/>
        <add name="Manager"
					 type="Tenaris.Manager.Security.SecurityManager.dll,Tenaris.Manager.Security.SecurityManager"
					 serverurl=""
					 remotingservices=""
					 typeservice=""
			 />
      </providers>
    </manager>
    <Server>
      <providers>
        <clear/>
        
     		  <add name="Server"
			   type="Tenaris.Manager.Security.SecurityManager.dll,Tenaris.Manager.Security.SecurityManager"
			   serverurl="SecurityManager.soap"
			   remotingservices="Tenaris.Manager.Security.SecurityManager"
			   typeservice="server"
             />
      </providers>
    </Server>
    <WCF>
      <providers>
        <clear/>
        <add name="WCF"
					 type="Tenaris.Manager.Security.SecurityManager.dll,Tenaris.Manager.Security.SecurityManager"
					 serverurl="http://localhost:4001/UserManagerEndPoint"
					 remotingservices="Tenaris.Manager.Security.SecurityManager"
					 typeservice="server"/>
      </providers>
    </WCF>

    <autorized>
      <providers>
        <clear/>
        <add name="SQLAutorized"
					 type="Tenaris.Manager.Security.SQLAutorized.dll,Tenaris.Manager.Security.SQLAutorized"
					 connectionString="SQLUser"
					 validateworkstation="Level2" />
      </providers>
    </autorized>

    <authentication defaultProvider="SQLAuthentication" >
      <providers >
        <clear/>
        <add name="SQLAuthentication" type="Tenaris.Manager.Security.SQLAuthentication.dll,Tenaris.Manager.Security.SQLAuthentication" connectionLDAPName="Level2" />
      </providers>
    </authentication>
  </tenaris.security>

  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
      </layout>
    </appender>

    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender" >
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="ALL" />
        <param name="LevelMax" value="OFF" />
      </filter>
      <param name="DatePattern" value="'.'yyyyMMdd'.log'" />
      <param name="File" value="\\TNACAWFM193.tnsautoca.techint.net\Appls\Clientes\Laminillos\Tenaris\Logs\%UserName%\Desktop\Desktop" />
      <param name="AppendToFile" value="false" />
      <param name="rollingStyle" value="Date" />
      <param name="maxSizeRollBackups" value="10" />
      <param name="maximumFileSize" value="4MB" />
      <param name="staticLogFileName" value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[BEGIN_LOG %date{yyyy-MM-dd HH:mm:ss} ===] %newline" type="log4net.Util.PatternString"/>
        <param name="Footer" value="[END_LOG %date{yyyy-MM-dd HH:mm:ss} =====]" type="log4net.Util.PatternString"/>
      </layout>
    </appender>
    <root>
      <appender-ref ref="LogFileAppender" />
      <appender-ref ref="ConsoleAppender" />
    </root>
  </log4net>

  <log
  maxQueueSize="10000"
  dumpStack="true"
  msgFormat="{TypeChar} {Timestamp:yyyy-MM-dd HH:mm:ss} [{AppDomainName,-20}:{ThreadId,-5:d5}] {IdentString} {Message}"
  >
  </log>

  <!-- Configuration specific for use a different configuration provider -->
  <configProtectedData>
    <providers>
      <add name="factoryProvider" type="Tenaris.Library.Configuration.DbConfigurationProvider, Tenaris.Library.Configuration" connectionStringName="Level2"/>
    </providers>
  </configProtectedData>

  <AlarmManagers configProtectionProvider="factoryProvider">
    <EncryptedData>
      <sectionInfo name="AlarmsClientBpLaco"/>
    </EncryptedData>
  </AlarmManagers>

  <AlarmManagerBP configProtectionProvider="factoryProvider">
    <EncryptedData>
      <sectionInfo name="AlarmClientBP"/>
    </EncryptedData>
  </AlarmManagerBP>

  <AlarmManagerLACO configProtectionProvider="factoryProvider">
    <EncryptedData>
      <sectionInfo name="AlarmClientLACO"/>
    </EncryptedData>
  </AlarmManagerLACO>

  <Tenaris.Manager.WorkShift.WorkShiftManager instanceType="Tenaris.Manager.WorkShift.Common.IWorkShiftManager, Tenaris.Manager.WorkShift.Common" aliveInterval="5000" singleInstance="true" validateConnection="false">
    <Redundancy>
      <Address url="tcp://TNACAWFM193.tnsautoca.techint.net:49201/Tenaris.Manager.WorkShift.WorkShiftManager.soap" forumPresent="false" isTargetManager="true" />
    </Redundancy>
  </Tenaris.Manager.WorkShift.WorkShiftManager>

  <Tenaris.Manager.EquipmentAlarm.AlarmManager instanceType="Tenaris.Manager.EquipmentAlarm.Common.IAlarmManager, Tenaris.Manager.EquipmentAlarm.Common" aliveInterval="5000" singleInstance="true" validateConnection="false">
    <Redundancy>
     <Address url="tcp://TNACAWFM193.tnsautoca.techint.net:49208/Tenaris.Manager.EquipmentAlarm.EquipmentAlarmManager.soap" forumPresent="false" isTargetManager="true" />
     <Address url="tcp://TNACAWFM193.tnsautoca.techint.net:49208/Tenaris.Manager.EquipmentAlarm.EquipmentAlarmManager.soap" forumPresent="false" isTargetManager="true" />
    </Redundancy>
  </Tenaris.Manager.EquipmentAlarm.AlarmManager>

  <system.runtime.remoting>
    <!--<application name="Client">
      <channels>
        <channel ref="tcp" port="0">
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full" />
          </serverProviders>
          <clientProviders>
            <provider type="Tenaris.Library.Proxy.Remoting.ClientRemotingInterceptorProvider, Tenaris.Library.Proxy"/>
            <formatter ref="binary" typeFilterLevel="Full" />
          </clientProviders>
        </channel>
      </channels>
    </application>-->
       <application name="SecurityManager">
      <channels>
        <channel ref="tcp" port="49000" >
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full" />
          </serverProviders>
          <clientProviders>
            <provider type="Tenaris.Library.Proxy.Remoting.ClientRemotingInterceptorProvider, Tenaris.Library.Proxy"/>
            <formatter ref="binary" typeFilterLevel="Full" />
          </clientProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>
  
</configuration>
