<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="Tenaris.Library.Security" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>
    <section name="log" type="Tenaris.Library.Log.LogConfiguration, Tenaris.Library.Log"/>
  </configSections>

  <connectionStrings>        
	<add name="SwagingDB" connectionString="Data Source=TNATFT2PRDLSN.tnsautoca.techint.net,5040;Initial Catalog=L2Trk;Integrated Security=SSPI;Persist Security Info=True;MultipleActiveResultSets=true; Application Name=WebContainerPAC22;"/>
  </connectionStrings>

  <appSettings>
    
    <!--Manufacturing Productivo-->
    <!--<add key="Url" value="http://172.29.108.173/Manufacturing/Main.aspx"/>-->

    <!--Manufacturing Test-->
    <!--<add key="Url" value="http://localhost:59884/Main.aspx"/>-->

    <!-- MPPC Productivo-->
    <!--<add key="Url" value="http://172.29.108.110:81/Start.aspx"/>-->
	<!-- <add key="Url" value="http://10.93.1.224:81/Start.aspx"/> -->
	<add key="Url" value="http://TNACAWWS197.tnsautoca.techint.net/MPPC/Start.aspx"/>
	
	
    <!--MPPC Test-->
    <!--<add key="Url" value="http://localhost:5658/Start.aspx"/>-->
	  
	<!--ProductionShipments Test-->
	<!--<add key="Url" value="http://localhost:57693/Default.aspx"/>-->
    
    <!--Parameters Value = Request Variable received into Application Web-->
    <add key="UserIdentification" value="User"/>
    <add key="UserId" value="UserId"/>
    <add key="UserFirstName" value="UserFirstName"/>
    <add key="UserLastName" value="UserLastName"/>
    <add key="UserGroups" value="UserPermissions"/>
    <add key="UserApplicationCommands" value="CommandsForUser"/>
    <add key="ShowHeaderParameter" value="ShowHeader"/>
    
    <!--Validation if the page show the header (value = true / false)-->
    <add key="ShowHeaderValue" value="false"/>
    
    <!--Value = Name of the Application in the table Common.Application, used to obtain ApplicationCommands-->
    <add key="ApplicationName" value="PresetCatalog"/>
    
  </appSettings>
  
  <!--Security Service Configuration-->
  <Tenaris.Library.Security
     url="tcp://localhost:21100/Tenaris.Service.Security.soap"
     instanceType="Tenaris.Service.Security.Shared.ISecurityService, Tenaris.Service.Security.Shared"
     aliveInterval="0"
     validateConnection="true"
     singleInstance="true"
     forumPresent="false"
     isTargetManager="false">
    <Redundancy>
    </Redundancy>
  </Tenaris.Library.Security>

  <!-- Remoting configuration. This can be placed in a separate file named remoting.config -->
  <system.runtime.remoting>
    <application name="ClientWebContainer">
      <channels>
        <channel ref="tcp" port="0" useIpAddress="false">
          <clientProviders>
            <provider type="Tenaris.Library.Proxy.Remoting.ClientRemotingInterceptorProvider, Tenaris.Library.Proxy"/>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </clientProviders>
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </serverProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>

  <log
   maxFileSize="8096"
   msgFormat="{Timestamp:HH:mm.ss.fff} ; {Level,-7} ; {Message} ; {MethodName}"
   logLevel="Debug"
   traceAttributeLogEnabled="false"
   path="\\TNACAWFM197.tnsautoca.techint.net\Appls\Clientes\PAC 22\Tenaris\Logs\%UserName%\Tenaris.Tamsa.View.WebContainer.MPPC\"
   logBaseName="Tenaris.Tamsa.View.WebContainer"
   additionalLogDestination="Console" />

  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
