<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="ForumManagerFactoryConfiguration" type="Tenaris.Manager.Forum.Common.Configuration.ForumConfigurationSection, Tenaris.Manager.Forum.Common"/>
    <section name="ForumControllerFactoryConfiguration" type="Tenaris.Manager.Forum.Common.Configuration.ForumControllerConfigurationSection, Tenaris.Manager.Forum.Common"/>
    <section name="log" type="Tenaris.Library.Log.LogConfiguration, Tenaris.Library.Log"/>
  </configSections>

  <ForumControllerFactoryConfiguration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                                       isSingleton="false" address="ForumManager/Controller.soap"
                                       forumConfigurationName="ForumManagerFactoryConfiguration"
                                       activateAllManagers="true"/>


 
  <ForumManagerFactoryConfiguration xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <Launcher initializationTries="5" activationTries="5" activationMode="GraphManual">
     <Hosts>
			
		 
	   	<ProcessHost name="ITCommHost" enabled="true" initializationTimeout="5000"
          activationTimeout="5000" deactivationTimeout="5000" deinitializationTimeout="5000"
          startingTimeout="5000" autoRestartDependencies="false" postInitializationSleep="0"
          watchInterval="5000">
          <DependOf></DependOf>
          <RemoteInstance type="Tenaris.Manager.ProcessExecutor.Shared.Contract.IProcessExecutorManagerA, Tenaris.Manager.ProcessExecutor.Shared"
          url="tcp://TNACAWWS197.tnsautoca.techint.net:5020/ITCommHost.soap"
          tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="..\..\Service\ITCommsHost\Tenaris.Manager.Host.exe"
          arguments="mgr:ITCommHost/false"
          workingDirectory="..\..\Service\ITCommsHost" />
        </ProcessHost>
	 		<ProcessHost name="AutoHabilitarCamaras" enabled="true" initializationTimeout="5000"
          activationTimeout="5000" deactivationTimeout="5000" deinitializationTimeout="5000"
          startingTimeout="5000" autoRestartDependencies="false" postInitializationSleep="0"
          watchInterval="5000">
          <DependOf></DependOf>
          <RemoteInstance type="Tenaris.Manager.BusinessRules.Shared.IBusinessRulesManager, Tenaris.Manager.BusinessRules.Shared"
          url="tcp://TNACAWWS197.tnsautoca.techint.net:14313/Tenaris.Manager.BusinessRules.soap"
          tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="..\..\Service\BSR_L2\Tenaris.Manager.Host.exe"
          arguments="mgr:Tenaris.Manager.BusinessRules/false"
          workingDirectory="..\..\Service\BSR_L2" />
        </ProcessHost>
			<ProcessHost name="ManufacturingHost" enabled="true" initializationTimeout="5000"
          activationTimeout="5000" deactivationTimeout="5000" deinitializationTimeout="5000"
          startingTimeout="5000" autoRestartDependencies="false" postInitializationSleep="0"
          watchInterval="5000">
          <DependOf></DependOf>
          <RemoteInstance type="Tenaris.Manager.ProcessExecutor.Shared.Contract.IProcessExecutorManagerB, Tenaris.Manager.ProcessExecutor.Shared"
          url="tcp://TNACAWWS197.tnsautoca.techint.net:5021/ManufacturingHost.soap"
          tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="..\..\Service\ManufacturingWcf\Tenaris.Manager.Host.exe"
          arguments="mgr:ManufacturingHost/false"
          workingDirectory="..\..\Service\ManufacturingWcf" />
        </ProcessHost>
				<ProcessHost name="MailManager" enabled="true" initializationTimeout="5000"
          activationTimeout="5000" deactivationTimeout="5000" deinitializationTimeout="5000"
          startingTimeout="5000" autoRestartDependencies="false" postInitializationSleep="0"
          watchInterval="5000">
          <DependOf></DependOf>
          <RemoteInstance type="Tenaris.Manager.Mail.Shared.IMailManager, Tenaris.Manager.Mail.Shared"
          url="tcp://TNACAWWS197.tnsautoca.techint.net:50053/Tenaris.Manager.Mail.soap"
          tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="..\..\Service\Tenaris.Manager.Mail\Tenaris.Manager.Host.exe"
          arguments="mgr:Tenaris.Manager.Mail/false"
          workingDirectory="..\..\Service\Tenaris.Manager.Mail" />
		      </ProcessHost>
			   <ProcessHost name="PML_MailReport" enabled="true" initializationTimeout="5000"
          activationTimeout="5000" deactivationTimeout="5000" deinitializationTimeout="5000"
          startingTimeout="5000" autoRestartDependencies="false" postInitializationSleep="0"
          watchInterval="5000">
          <DependOf></DependOf>
          <RemoteInstance type="Tenaris.Manager.Mail.Mail1.Shared.IMailManager1, Tenaris.Manager.Mail.Mail1.Shared"
          url="tcp://TNACAWWS197.tnsautoca.techint.net:5022/Tenaris.Manager.Mail.soap"
          tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="..\..\Service\PML_Mail_Report\Tenaris.Manager.Host.exe"
          arguments="mgr:Tenaris.Manager.Mail/false"
          workingDirectory="..\..\Service\PML_Mail_Report" />
        </ProcessHost>
					<!-- <ProcessHost name="MailSenderManager" enabled="true" initializationTimeout="5000" -->
          <!-- activationTimeout="5000" deactivationTimeout="5000" deinitializationTimeout="5000" -->
          <!-- startingTimeout="5000" autoRestartDependencies="false" postInitializationSleep="0" -->
          <!-- watchInterval="5000"> -->
          <!-- <DependOf></DependOf> -->
          <!-- <RemoteInstance type="Tenaris.Manager.ProcessExecutor.Shared.Contract.IProcessExecutorManagerC, Tenaris.Manager.ProcessExecutor.Shared" -->
          <!-- url="tcp://TNACAWWS197.tnsautoca.techint.net:5023/MailSender.soap" -->
          <!-- tries="10" wait="100"> -->
            <!-- <Interfaces /> -->
          <!-- </RemoteInstance> -->
          <!-- <Process startWait="5000" stoptWait="5000" createNoWindow="false" -->
          <!-- useShellExecute="false" filename="..\..\Service\SetupMailSenderService\Tenaris.Manager.Host.exe" -->
          <!-- arguments="mgr:MailSender/false" -->
          <!-- workingDirectory="..\..\Service\SetupMailSenderService" /> -->
        <!-- </ProcessHost> -->
		<ProcessHost name="AutoHabilitarPresets" enabled="true" initializationTimeout="5000"
          activationTimeout="5000" deactivationTimeout="5000" deinitializationTimeout="5000"
          startingTimeout="5000" autoRestartDependencies="false" postInitializationSleep="0"
          watchInterval="5000">
          <DependOf></DependOf>
          <RemoteInstance type="Tenaris.Manager.BusinessRules.EnablePresets.Shared.IBussinesRulesPresets, Tenaris.Manager.BusinessRules.EnablePresets.Shared"
          url="tcp://TNACAWWS197.tnsautoca.techint.net:50019/Tenaris.Manager.BusinessRules.soap"
          tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="..\..\Service\Tenaris.Manager.BsrAutoEnablePresets\Tenaris.Manager.Host.exe"
          arguments="mgr:Tenaris.Manager.BusinessRules/false"
          workingDirectory="..\..\Service\Tenaris.Manager.BsrAutoEnablePresets" />
        </ProcessHost>
			<ProcessHost name="ReportITManager" enabled="true" initializationTimeout="5000"
          activationTimeout="5000" deactivationTimeout="5000" deinitializationTimeout="5000"
          startingTimeout="5000" autoRestartDependencies="false" postInitializationSleep="0"
          watchInterval="5000">
          <DependOf></DependOf>
          <RemoteInstance type="Tenaris.Manager.ReportIT.Shared.IReportITManager, Tenaris.Manager.ReportIT.Shared"
          url="tcp://TNACAWWS197.tnsautoca.techint.net:50070/Tenaris.Manager.ReportIT.soap"
          tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="..\..\Service\Tenaris.Manager.ReportIT\Tenaris.Manager.Host.exe"
          arguments="mgr:Tenaris.Manager.ReportIT/false"
          workingDirectory="..\..\Service\Tenaris.Manager.ReportIT" />
        </ProcessHost>
					</Hosts>
      <Availability mode="StartAlways" tries="0" interval="2000" />
    </Launcher>
    <Redundancy mode="None" onDeactivateMode="Stop" onConnectMode="None"
		  activationTimeout="600" />
    <Mailing enabled="false" enableSsl="false" port="0" timeout="0" />
  </ForumManagerFactoryConfiguration>

  <system.runtime.remoting>
    <application name="Forum">
      <channels>
        <channel ref="tcp" port="49299" >
          <clientProviders>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </clientProviders>
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </serverProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>

  <log
      msgFormat="{TypeChar} {Timestamp:yyyy-MM-dd HH:mm:ss.fff} [{AppDomainName,30:s-30}:{ThreadName,15:s15}] [lap={LapFriendlyValue,-7:f2}{LapFriendlyUnit,3}] {AssemblyName,30:s-30} {IdentString} {Message}"
      dumpStack="true" maxLogDepth="0" traceAttributeLogLevel="Message" 
      noQueue="false" maxQueueSize="10000" includeAssembliesRegEx="" excludeAssembliesRegEx="" includeFullClasNameRegEx="" 
      excludeFullClasNameRegEx="" excludePropertyGetterAndSetter="true" flushInterval="1000" logAssemblyLoad="true" colorConsoleLog="true"
      
      maxFileSize="8192" maxFileCount="20" traceAttributeLogEnabled="true" 
      
      logBaseName="ForumService" path="D:..\..\..\APPLS\Tenaris\Logs\View\Forum" additionalLogDestination="None" logLevel="Debug"/>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Binaries;Forum;"/>
    </assemblyBinding>
  </runtime>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
