<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Tenaris.Applications.Managers.DskMgr.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>

    <section name="AlarmManagers" type="Tenaris.Applications.Managers.DskMgr.Configuration.ManagersConfiguration, Tenaris.Applications.Managers.DskMgr.Configuration" />
    <section name="AlarmManagerBP" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>
    <section name="AlarmManagerLACO" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>
    <section name="WorkShiftManager" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>
	<section name="SecurityClient" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>
  </configSections>

  <connectionStrings>
    <!--<add name="Level2" connectionString="Password=123level2123;Persist Security Info=True;User ID=Level2;Initial Catalog=Level2_Ajuste;Data Source=10.92.23.100;Failover Partner=10.92.23.101;MultipleActiveResultSets=True;Asynchronous Processing=true;Pooling=true;Max Pool Size=10;"/>-->
	<!--<add name="Level2" connectionString="Password=123level2123;Persist Security Info=True;User ID=Level2;Initial Catalog=Level2_Line2;Data Source=10.93.1.108;MultipleActiveResultSets=True;Asynchronous Processing=true;Pooling=true;Max Pool Size=10;"/>-->
    <add name="Level2" connectionString="Data Source=TNATFT2PRDLSN.tnsautoca.techint.net,5040;Initial Catalog=L2Am22;Persist Security Info=True;Integrated Security=SSPI;MultipleActiveResultSets=True;Asynchronous Processing=true;Pooling=true;Max Pool Size=10;"/>
	</connectionStrings>

  <applicationSettings>
    <Tenaris.Applications.Managers.DskMgr.Properties.Settings>
      <setting name="TitleMenu" serializeAs="String">
        <value>General Menu</value>
      </setting>
      <setting name="UserManager" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ClickStart" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Msgexe" serializeAs="String">
        <value>MsgVwGeneral.exe</value>
      </setting>
      <setting name="Debug" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LogLevel" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="AppWatchDog" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="MenuStyle" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ImgPath" serializeAs="String">
        <value>img\</value>
      </setting>
      <setting name="AlwaysOnTop" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShrinkProcess" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Led1Tooltip" serializeAs="String">
        <value>Led1</value>
      </setting>
      <setting name="Led2Tooltip" serializeAs="String">
        <value>Led2</value>
      </setting>
      <setting name="Led3Tooltip" serializeAs="String">
        <value>Led3</value>
      </setting>
      <setting name="Led4Tooltip" serializeAs="String">
        <value>Led4</value>
      </setting>
      <setting name="Led5Tooltip" serializeAs="String">
        <value>Led5</value>
      </setting>
      <setting name="Led6Tooltip" serializeAs="String">
        <value>Led6</value>
      </setting>
      <setting name="TecAlmExe" serializeAs="String">
        <value>TecAlm.exe</value>
      </setting>
      <setting name="AlmMsgManage" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="ExePath" serializeAs="String">
        <value></value>
      </setting>
      <setting name="Led1Service" serializeAs="String">
        <value>IISADMIN</value>
      </setting>
      <setting name="Led2Service" serializeAs="String">
        <value>stisvc</value>
      </setting>
      <setting name="Led3Service" serializeAs="String">
        <value>Spooler</value>
      </setting>
      <setting name="Led4Service" serializeAs="String">
        <value>Fax</value>
      </setting>
      <setting name="Led5Service" serializeAs="String">
        <value />
      </setting>
      <setting name="Led6Service" serializeAs="String">
        <value />
      </setting>
      <setting name="AlmExe" serializeAs="String">
        <value>WindowsServicesApp\WPF.WindowsServicesApp.exe</value>
      </setting>
      <setting name="ZoneCode" serializeAs="String">
        <value>ZONE1</value>
      </setting>
      <setting name="TimerKillIfNotResponding" serializeAs="String">
        <value>120000</value>
      </setting>
      <setting name="ConfigXMLPath" serializeAs="String">
        <value>D:\Appls\Tenaris\Applications\View\Desktop\config.xml</value>
      </setting>
      <setting name="ConfigDBCode" serializeAs="String">
        <value>MenuApps3T</value>
      </setting>
      <setting name="ConfigSource" serializeAs="String">
        <value>FileSystem</value>
      </setting>
      <setting name="WorkShiftEndAction" serializeAs="String">
        <value>Alarm</value>
      </setting>
      <setting name="InactivityTimeoutAction" serializeAs="String">
        <value>Nothing</value>
      </setting>
      <setting name="WorkShiftEndMargin" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="WorkShiftEndRetryCount" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="WorkShiftEndRetryInterval" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="InactivityTimeout" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Language" serializeAs="String">
        <value>en-US</value>
      </setting>
    </Tenaris.Applications.Managers.DskMgr.Properties.Settings>
  </applicationSettings>

	<SecurityClient url="tcp://TNACAWFM193.tnsautoca.techint.net:49802/Tenaris.Manager.Security.SecurityManager.soap"
     instanceType="Tenaris.Manager.Security.ISecurity, Tenaris.Manager.Security.ISecurity"
     aliveInterval="1000" forumPresent="false">
	</SecurityClient>

  <!-- Configuration specific for use a different configuration provider -->
  <configProtectedData>
    <providers>
      <add name="factoryProvider" type="Tenaris.Library.Configuration.DbConfigurationProvider, Tenaris.Library.Configuration" connectionStringName="Level2"/>
    </providers>
  </configProtectedData>  

  <AlarmManagers configProtectionProvider="factoryProvider">
    <EncryptedData>
      <sectionInfo name="AlarmsClientBpLaco"/>
    </EncryptedData>
  </AlarmManagers>

  <AlarmManagerBP configProtectionProvider="factoryProvider">
    <EncryptedData>
      <sectionInfo name="AlarmClientBP"/>
    </EncryptedData>
  </AlarmManagerBP>

  <AlarmManagerLACO configProtectionProvider="factoryProvider">
    <EncryptedData>
      <sectionInfo name="AlarmClientLACO"/>
    </EncryptedData>
  </AlarmManagerLACO>

  <WorkShiftManager url="tcp://TNACAWFM193.tnsautoca.techint.net:49206/Tenaris.Manager.WorkShift.WorkShiftManager.soap" instanceType="Tenaris.Manager.WorkShift.Common.IWorkShiftManager, Tenaris.Manager.WorkShift.Common" aliveInterval="500" forumPresent="false" />

  <!--<WorkShiftManager configProtectionProvider="factoryProvider">
    <EncryptedData>
      <sectionInfo name="WorkShiftClientBP"/>
    </EncryptedData>
  </WorkShiftManager>-->






	<system.runtime.remoting>
		<application name="Client">
			<channels>
				<channel ref="tcp" port="0">
					<serverProviders>
						<formatter ref="binary" typeFilterLevel="Full" />
					</serverProviders>
					<clientProviders>
						<provider type="Tenaris.Library.Proxy.Remoting.ClientRemotingInterceptorProvider, Tenaris.Library.Proxy"/>
						<formatter ref="binary" typeFilterLevel="Full" />
					</clientProviders>
				</channel>
			</channels>
		</application>
	</system.runtime.remoting>

</configuration>
