<?xml version="1.0"?>
<configuration>
  <!-- esta seccion debe ser la primera antes de todo -->
  <configSections>
    <section name="Tenaris.Library.Proxy" type="Tenaris.Library.Proxy.Configuration.ProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>
    <section name="RegisterHeadsManager" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework" />
    <section name="ManagerBaseConfiguration" type="Tenaris.Manager.Forum.Shared.Configuration.ManagerBaseConfiguration, Tenaris.Manager.Forum.Shared" />
    <section name="ManagerConfiguration" type="Tenaris.Tamsa.Manager.RegisterHeads.Config.RegisterHeadsManagerConfig, Tenaris.Tamsa.Manager.RegisterHeads"/>
    <section name="Tenaris.Manager.Handshake.HandshakeManager" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy, Version=4.1.0.0, Culture=neutral, PublicKeyToken=c4a5016cfc42fcd0"/>
    <section name="AcquisitionConfiguration" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework"/>
    <section name="log" type="Tenaris.Library.Log.LogConfiguration, Tenaris.Library.Log"/>
  </configSections>
  <connectionStrings>
    <!--<add name="Level2" connectionString="Application Name=Manager.RegisterHeads;Data Source=10.93.1.94;Initial Catalog=DBLINE2;User ID=sa;Password=Lineas123;Persist Security Info=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />-->
    <!--<add name="Level2" connectionString="Data Source=172.29.108.207;Initial Catalog=RMD_Level2_Line1;User ID=drodriguez;Password=drodriguez;Persist Security Info=true;MultipleActiveResultSets=true; Asynchronous Processing=true; Application Name=ManometerVerificationView; Pooling=true; Max Pool Size=300;"/>-->
    <!--<add name="Level2" connectionString="Data Source=10.92.70.124;Initial Catalog=Level2_Line1;User ID=Level2;Password=Level2;Persist Security Info=true;MultipleActiveResultSets=true; Asynchronous Processing=true; Application Name=ManometerVerificationView; Pooling=true; Max Pool Size=300;"/>-->
	<add name="Level2" connectionString="Data Source=10.92.70.125;Initial Catalog=Level2_Line2;User ID=Level2;Password=Level2;Persist Security Info=true;MultipleActiveResultSets=true; Asynchronous Processing=true; Application Name=ManometerVerificationView; Pooling=true; Max Pool Size=300;"/>
  </connectionStrings>
  <appSettings>
    <add key="MachineCode" value="L2_PH22" />
    <add key="HandshakeToListen" value="HPT_END" />
    <!--IP and Port to Read Scada-->
    <!--<add key="ScadaIP" value="10.93.1.37" />
    <add key="ScadaPort" value="9010" />-->
    <!--Tags a utilizar en el Scada-->
    <!--<add key="TagTest" value="CM_PH_01_N1.MANO_BLOCK"/>-->
    
    <!--<add key="TagLowOrder" value="PH22TAGS1.TAG_1"/>
    <add key="TagHighOrder" value="PH22TAGS1.TAG_2"/>
    <add key="TagLowProduct" value="PH22TAGS1.TAG_3"/>
    <add key="TagHighProduct" value="PH22TAGS1.TAG_4"/>
    <add key="TagPressure" value="PH22TAGS1.TAG_5"/>
    <add key="TagTimeOfTest" value="PH22TAGS1.TAG_6"/>
    <add key="TagIdTube" value="PH22TAGS1.ID_TUBO_ACTUAL_N1"/>
    <add key="TagTestInProcess" value="PH22TAGS1.PRUEBA_EN_PROCESO"/>-->
    <add key="ScheduleAlarm" value="06:15:00,10:00:00,14:15:00,17:40:00,18:00:00,22:15:00,02:00:00"/>
  </appSettings>
  <!-- Configuration used by factory to create the manager -->
  <RegisterHeadsManager factoryType="Tenaris.Tamsa.Manager.RegisterHeads.RegisterHeadsManagerFactory, Tenaris.Tamsa.Manager.RegisterHeads" isSingleton="True">
    <Configuration>
      <Plugins>
      </Plugins>
    </Configuration>
  </RegisterHeadsManager>

  <ManagerBaseConfiguration
    areaCode="LINEA2"
    defaultConnectionStringName="Level2"
    />

  <ManagerConfiguration appName="RegisterHeadsManager" idApplication="1"/>

  <Tenaris.Manager.Handshake.HandshakeManager
    instanceType="Tenaris.Manager.Handshake.Shared.IHandshakeManager, Tenaris.Manager.Handshake.Shared, Version=4.1.0.0, Culture=neutral, PublicKeyToken=29c584614971a615"
    aliveInterval="5000"
    singleInstance="true"
    validateConnection="false">
    <Redundancy>
      <Address url="tcp://TNACAWFM197.tnsautoca.techint.net:21002/HandshakeManager.soap" forumPresent="false" isTargetManager="true"/>
    </Redundancy>
  </Tenaris.Manager.Handshake.HandshakeManager>

  <!--<AcquisitionConfiguration factoryType="Tamsa.OplScada.AcquisitionClient.AcquisitionFactory, Tamsa.OplScada.AcquisitionClient">
    <AcquisitionConfiguration Driver="Tamsa.OplScada.AcquisitionClient.AcquisitionProxy, Tamsa.OplScada.AcquisitionClient" IP="10.93.1.37" Port="9010" Timeout="3000" RepeatCount="3" WriteSync="false"/>
  </AcquisitionConfiguration>-->

  <AcquisitionConfiguration factoryType="Tamsa.OplScada.AcquisitionClient.AcquisitionFactory, Tamsa.OplScada.AcquisitionClient">
    <AcquisitionConfiguration Driver="Tamsa.OplScada.AcquisitionClient.AcquisitionProxy, Tamsa.OplScada.AcquisitionClient" IP="localhost" Port="21000" Timeout="3000" RepeatCount="3" WriteSync="false"/>
  </AcquisitionConfiguration>


  <Tenaris.Library.Proxy factoryType="Tenaris.Library.Proxy.Factories.PipeProxyFactory, Tenaris.Library.Proxy">
    <Configuration>
      <Components>
        <Component type="Tenaris.Library.Proxy.Components.ConnectionMonitorComponent, Tenaris.Library.Proxy">
          <Interval>1000</Interval>
        </Component>
      </Components>
      <EventListener type="Tenaris.Library.Proxy.EventListener, Tenaris.Library.Proxy"/>
      <Dispatcher type="Tenaris.Library.Proxy.Dispatchers.DirectMessageDispatcher, Tenaris.Library.Proxy"/>
    </Configuration>
  </Tenaris.Library.Proxy>

  <!--Remoting configuration. This can be placed in a separate file named remoting.config-->
  <system.runtime.remoting>
    <application name="Server">
      <channels>
        <channel ref="tcp" port="30500">
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full" />
          </serverProviders>
          <clientProviders>
            <provider type="Tenaris.Library.Proxy.Remoting.ClientRemotingInterceptorProvider, Tenaris.Library.Proxy"/>
            <formatter ref="binary" typeFilterLevel="Full" />
          </clientProviders>
        </channel>
      </channels>
    </application>
    <customErrors mode="off" />
  </system.runtime.remoting>

  <!--Configuración para la capa WCF-->
  <system.serviceModel>
    <services>
      <service name="RegisterHeads.Service.RegisterHeadsService" behaviorConfiguration="HeadServiceBehavior">
        <endpoint address="net.tcp://TNACAWFM197.tnsautoca.techint.net:6031/RegisterHeadsService" 
                  name="NetTcpBindingEndpoint" 
                  binding="netTcpBinding" 
                  bindingConfiguration="RegisterHeadsServiceBinding" 
                  contract="RegisterHeads.Service.Contract.IRegisterHeadsService"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="HeadServiceBehavior">
          <serviceMetadata httpGetEnabled="True" httpGetUrl="http://TNACAWFM197.tnsautoca.techint.net:6044/RegisterHeadsService/Mex"/>
          <serviceThrottling maxConcurrentCalls="5" maxConcurrentInstances="100" maxConcurrentSessions="100"/>
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name="RegisterHeadsServiceBinding" closeTimeout="00:02:00" receiveTimeout="infinite" sendTimeout="00:02:00">
          <security mode="None"/>
        </binding>
        <binding name="RoleEndPoint">
          <!--<reliableSession inactivityTimeout="00:01:00" enabled="true"/>-->
          <security mode="None"/>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
  
  <log
    maxFileSize="8192"
    maxFileCount="20"
    msgFormat="{TypeChar} {Timestamp:yyyy-MM-dd HH:mm:ss} [{ThreadId,-5:d5}] {MethodName} {IdentString} {Message}"
    logLevel="Debug"
    traceAttributeLogEnabled="true"
    path="..\..\..\Logs\Manager\Tenaris.Tamsa.Manager.RegisterHeads"
    logBaseName="RegisterHeads"
    additionalLogDestination="Console"
  />
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
