<?xml version="1.0"?>
<!-- app.Linea2.config -->
<configuration>
	<configSections>
		<section name="log" type="Tenaris.Library.Log.LogConfiguration, Tenaris.Library.Log, Version=4.1.0.0, Culture=neutral, PublicKeyToken=bbb03b5ff4bbb68b"/>
	</configSections>
  
  <log maxFileSize="8096" maxFileCount="100" msgFormat="{Timestamp:HH:mm:ss.fff} ; {Level,-7} ; {ClassName} ; {Message} ; {MethodName}" 
  logLevel="Debug" traceAttributeLogEnabled="True" additionalLogDestination="Console" path="..\..\..\Logs\Manager\OrderReplicatorManager\"/>

  <connectionStrings>
    
    <add name="DBSourceBC" connectionString="Application Name=OrderReplicatorL2;Data Source=TNATFT2PRDLSN.tnsautoca.techint.net,5040;Initial Catalog=L2Am22;Integrated Security=SSPI;Persist Security Info=True;MultipleActiveResultSets=True; Asynchronous Processing=true; Pooling=true; Max Pool Size=300;"/>	  
    <add name="DBSource" connectionString="Application Name=OrderReplicatorL2;Data Source=TNATFT2PRDLSN.tnsautoca.techint.net,5040;Initial Catalog=L2Am22;Integrated Security=SSPI;Persist Security Info=True;MultipleActiveResultSets=True; Asynchronous Processing=true; Pooling=true; Max Pool Size=300;"/>	  
    <add name="DBTarget" connectionString="Application Name=OrderReplicatorL2;Data Source=TNATFT2PRDLSN.tnsautoca.techint.net,5040;Initial Catalog=L2Trk;Integrated Security=SSPI;Persist Security Info=True;MultipleActiveResultSets=True; Asynchronous Processing=true;"/>
    <add name="DBTargetScale" connectionString="Data Source=TNATFT2PRDLSN.tnsautoca.techint.net,5040;Initial Catalog=L2Bz22;Integrated Security=SSPI;Persist Security Info=True;MultipleActiveResultSets=true; Application Name=OrderReplicatorL2;"/>
  </connectionStrings>

	<appSettings>
		<add key="Line" value="2"/>

    <!--MailSender-->
    <add key="MailSender.From" value="line2orderreplicator@tamsa.com.mx"/>
    <add key="MailSender.To" value="cbenuccim@proveedores.tamsa.com.mx,JSABALLO@tenaris.com,DMENDEZL@tenaris.com,DRODRIGUEZM@tenaris.com,pjesuss@proveedores.tamsa.com.mx,mgarciat@proveedores.tamsa.com.mx,edretontali@proveedores.tamsa.com.mx,agalvanl@proveedores.tamsa.com.mx"/>

    <!--Line: 1 o 2-->
    <add key="BatchCreator.Enabled" value="True"/>
		<add key="BatchCreator.Interval" value="10"/><!--minutes-->

    <!--SpecificationCreator-->
    <add key="SpecificationCreator.Enabled" value="True"/>
    <add key="SpecificationCreator.Interval" value="15"/><!--minutes-->
    <add key="SpecificationCreator.ITLine" value=""/>
    <add key="SpecificationCreator.Guid" value="AFE14749-26EF-4fed-BBE0-959C687A2910"/>
    
    <!--Line 2-->
    <add key="SpecificationCreator.Source.SP.GetNewOrders" value="BusinessRules.GetNewOrders"/>
    <add key="SpecificationCreator.Source.SP.GetHeats" value="BusinessRules.GetHeats"/>    
    <add key="SpecificationCreator.Target.DefaultIdMachine" value="3"/>
    <add key="SpecificationCreator.Target.DefaultIdUser" value="1"/>
    <add key="SpecificationCreator.Target.SP.GetOrderData" value="Manufacturing.GetOrderDataByOrderNumber"/>
    <add key="SpecificationCreator.Target.SP.GetLastOrders" value="BusinessRules.GetLastOrders"/>
    <add key="SpecificationCreator.Target.SP.GetLastKeyCreators" value="BusinessRules.GetLastKeyCreators"/>
    <add key="SpecificationCreator.Target.SP.UpdLastKeyCreators" value="BusinessRules.UpdLastKeyCreators"/>

    <!--ScaleBatchCreator-->
    <add key="ScaleBatchCreator.Enabled" value="True"/>
    <add key="ScaleBatchCreator.Interval" value="10"/><!--minutes-->

    
    <!--ScaleSpecificationCreator-->
    <add key="ScaleSpecificationCreator.Enabled" value="True"/>
    <add key="ScaleSpecificationCreator.Interval" value="15"/><!--minutes-->
    <add key="ScaleSpecificationCreator.ITLine" value=""/>
    <add key="ScaleSpecificationCreator.Guid" value="AFE14749-26EF-4fed-BBE0-959C687A2910"/>
    <add key="ScaleSpecificationCreator.Target.DefaultIdMachine" value="9"/>
    <add key="ScaleSpecificationCreator.Target.DefaultIdUser" value="1"/>
    
    <!--DataAccessTargetScale-->
    <add key="DataAccessTargetScale.SP.GetOrderData" value="Manufacturing.GetOrderDataByOrderNumber"/>
    <add key="DataAccessTargetScale.SP.GetLastOrders" value="BusinessRules.GetLastOrders"/>
    <add key="DataAccessTargetScale.SP.GetLastKeyCreators" value="BusinessRules.GetLastKeyCreators"/>
    <add key="DataAccessTargetScale.SP.UpdLastKeyCreators" value="BusinessRules.UpdLastKeyCreators"/>
    
    <!--DataAccessBatchCreatorScale-->
    <add key="DataAccessBatchCreatorScale.Target.SP.CheckBatch" value="BusinessRules.CheckBatch"/>
    <add key="DataAccessBatchCreatorScale.Target.SP.GetLastBatchs" value="BusinessRules.GetLastBatchs"/>
    <add key="DataAccessBatchCreatorScale.Target.SP.GetLastKeyCreators" value="BusinessRules.GetLastKeyCreators"/>
    <add key="DataAccessBatchCreatorScale.Target.SP.UpdLastKeyCreators" value="BusinessRules.UpdLastKeyCreators"/>

    <!--WCF OrderReplicator.Service -->
    <add key="OrderReplicator.Service.Enabled" value="True"/>
	</appSettings>

	<system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="behaviorConfigurationService">
          <serviceMetadata httpGetEnabled="true"
                           httpGetUrl="http://TNACAWFM197.tnsautoca.techint.net:8736/OrderReplicatorService/Mex"/>
          <serviceThrottling maxConcurrentCalls="3"
                   maxConcurrentInstances="100"
                    maxConcurrentSessions="100"/>
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="ServiceClientEndpointBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>      
      <service name="OrderReplicator.Service.OrderReplicatorService" behaviorConfiguration="behaviorConfigurationService">
        <endpoint address="net.tcp://TNACAWFM197.tnsautoca.techint.net:8737/OrderReplicatorService"
                  binding="netTcpBinding"
                  contract="OrderReplicator.Service.IOrderReplicatorService"
                  bindingConfiguration="WindowsClientOverTcp"/>

        <endpoint address="http://TNACAWFM197.tnsautoca.techint.net:8736/OrderReplicatorService/Mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange"/>
      </service>
    </services>
		<bindings>
			<netTcpBinding>
				<binding name="NetTcpBinding_IManufacturingWcf" transferMode="Streamed">
					<security mode="None"/>
				</binding>
        <binding name="NetTcpBinding_IManufacturingWcf_Scale" transferMode="Streamed"
                 closeTimeout="00:10:00"
				         openTimeout="00:10:00"
				         receiveTimeout="00:10:00"
				         sendTimeout="00:10:00"
				         maxBufferSize="2147483647"
				         maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647"
						            maxStringContentLength="2147483647"
						            maxArrayLength="2147483647"
						            maxBytesPerRead="2147483647"
						            maxNameTableCharCount="2147483647" />
          <security mode="None"></security>
          <reliableSession  inactivityTimeout="23:59:59"/>
        </binding>
        <binding name="NetTcpBinding_IMailSender"  
                 closeTimeout="00:10:00"
				         openTimeout="00:10:00"
				         receiveTimeout="00:10:00"
				         sendTimeout="00:10:00"
				         maxBufferSize="2147483647"
				         maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647"
						            maxStringContentLength="2147483647"
						            maxArrayLength="2147483647"
						            maxBytesPerRead="2147483647"
						            maxNameTableCharCount="2147483647" />
          <security mode="None"></security>
          <reliableSession  inactivityTimeout="23:59:59"/>
        </binding>
        <binding name="WindowsClientOverTcp"  
				         closeTimeout="00:10:00" 
				         openTimeout="00:10:00" 
				         receiveTimeout="00:10:00" 
				         sendTimeout="00:10:00" 
				         maxBufferSize="2147483647" 
				         maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" 
						            maxStringContentLength="2147483647" 
						            maxArrayLength="2147483647" 
						            maxBytesPerRead="2147483647" 
						            maxNameTableCharCount="2147483647" />
          <security mode="None"></security>
          <reliableSession  inactivityTimeout="23:59:59"/>
        </binding>
			</netTcpBinding>
		</bindings>
		<client>
      <!-- L2: 10.92.70.155   L1: 10.93.1.224-->
			<endpoint address="net.tcp://TNACAWWS197.tnsautoca.techint.net:8732/ManufacturingService/ManufacturingService/" 
                binding="netTcpBinding" 
                behaviorConfiguration="ServiceClientEndpointBehavior"
                bindingConfiguration="NetTcpBinding_IManufacturingWcf" 
                contract="ManufacturingService.IManufacturingWcf" 
                name="NetTcpBinding_IManufacturingWcf">
				<identity>
					<dns value="TNACAWfm191.tnsautoca.techint.net"/>
				</identity>
			</endpoint>
      
      <!-- L2: xxx.xxx.xxx.xxxx   L1: yyy.yyy.yyy.yyy L1_TEST: 172.29.108.124 L2_TEST: xxx.xxx.xxx.xxxx-->
	  
      <endpoint address="net.tcp://TNACAWFM198.tnsautoca.techint.net:8732/ManufacturingService/ManufacturingService"
                binding="netTcpBinding" 
                bindingConfiguration="NetTcpBinding_IManufacturingWcf_Scale"
                behaviorConfiguration="ServiceClientEndpointBehavior"
                contract="ScaleManufacturingService.IManufacturingWcf" 
                name="NetTcpBinding_IManufacturingWcf_Scale">
        <identity>
          <dns value="TNACAWfm191.tnsautoca.techint.net" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://172.29.10.172:8731/Service1" 
                binding="netTcpBinding" 
                behaviorConfiguration="ServiceClientEndpointBehavior"
                bindingConfiguration="NetTcpBinding_IMailSender" 
                contract="MailSenderService.IMailSender" 
                name="NetTcpBinding_IMailSender">
				<identity>
					<dns value="172.29.10.172"/>
				</identity>
			</endpoint>
		</client>
	</system.serviceModel>


	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>

<!-- 	<system.diagnostics>
		<trace autoflush="true"/>
		<sources>
			<source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
				<listeners>
					<add name="sdt" type="System.Diagnostics.XmlWriterTraceListener" initializeData="SdrConfigExample.e2e"/>
				</listeners>
			</source>
		</sources>
	</system.diagnostics> -->
	
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="PostSharp" publicKeyToken="B13FD38B8F9C99D7" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
