<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="Tenaris.Library.Proxy" type="Tenaris.Library.Proxy.Configuration.ProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>
    <section name="Tenaris.Manager.BusinessRules" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework"/>    
    <section name="log" type="Tenaris.Library.Log.LogConfiguration, Tenaris.Library.Log"/>
    <section name="Tenaris.Manager.Alarm"     type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy" />
    <section name="Tenaris.Manager.Tracking"  type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy" />
    <section name="Tenaris.Manager.Handshake" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy" />
    <!-- <section name="Tenaris.Manager.Preset"    type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy" /> -->
    <section name="Tenaris.Manager.BusinessRules.GenericPlugins.HandshakeConfiguration"   type="Tenaris.Manager.BusinessRules.GenericPlugins.Handshake.Model.Configuration, Tenaris.Manager.BusinessRules.GenericPlugins"/>
	<section name="Tenaris.Manager.BusinessRules.GenericPlugins.Linea2"   type="ProyectoX.Model.Configuration, ProyectoX"/>
	<section name="Tenaris.Manager.BusinessRules.HsCutoffDataLinker.Configuration"   type="Tenaris.Manager.BusinessRules.HsCutoffDataLinker.Model.Configuration, Tenaris.Manager.BusinessRules.HsCutoffDataLinker"/>
	<section name="AcquisitionConfiguration" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework"/>
	
    <!-- <section name="Tenaris.Manager.BusinessRules.Swaging.PresetsConfiguration"            type="Tenaris.Manager.BusinessRules.Swaging.Presets.Model.Configuration, Tenaris.Manager.BusinessRules.Swaging"/> -->

  </configSections>

  <connectionStrings>
	<add name="dbLevel2" connectionString="Application Name=BusinessRulesManager;Data Source=TNATFT2PRDLSN.tnsautoca.techint.net,5040;Initial Catalog=L2Trk;Integrated Security=SSPI;Persist Security Info=True;MultipleActiveResultSets=True; Asynchronous Processing=true;" providerName="System.Data.SqlClient"/>
	<add name="dbValidation" connectionString="Application Name=BusinessRulesManager;Data Source=TNATFT2PRDLSN.tnsautoca.techint.net,5040;Initial Catalog=L2Trk_Validation;Integrated Security=SSPI;Persist Security Info=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <!-- Acquisition Configuration section OPL Scada -->
  <AcquisitionConfiguration factoryType="Tamsa.OplScada.AcquisitionClient.AcquisitionFactory, Tamsa.OplScada.AcquisitionClient">
	<AcquisitionConfiguration Driver="Tamsa.OplScada.AcquisitionClient.AcquisitionProxy, Tamsa.OplScada.AcquisitionClient" IP="localhost" Port="21000"  Timeout="3000" RepeatCount="3" WriteSync="true" />
  </AcquisitionConfiguration>

  
  <Tenaris.Manager.BusinessRules.HsCutoffDataLinker.Configuration
      IdApplication="23" IdArea="1" HsCode="BSR_GD_LinkFromCT" StringConnection="dbLevel2" idDestinationZone="36" MachineAlarm="L2_PH22" CodeAlarm="L2_CT_1">
	</Tenaris.Manager.BusinessRules.HsCutoffDataLinker.Configuration>


  <Tenaris.Manager.BusinessRules.GenericPlugins.HandshakeConfiguration
      IdApplication="23" IdArea="1" PluginsPath=".\" >
  </Tenaris.Manager.BusinessRules.GenericPlugins.HandshakeConfiguration>

    <Tenaris.Manager.BusinessRules.GenericPlugins.Linea2
      IdApplication="23" IdArea="1" PluginsPath=".\" >
  </Tenaris.Manager.BusinessRules.GenericPlugins.Linea2>
  
  
  <!-- <Tenaris.Manager.BusinessRules.Swaging.PresetsConfiguration
    IdApplication="23" Enabled="false" HoursRange="24" >
  </Tenaris.Manager.BusinessRules.Swaging.PresetsConfiguration> -->

  <appSettings>
	<!--  Plugin de  BSR_GD_LinkToAM21 -->
	<add key="AreaCode" value="LINEA2"/>
    <add key="TagMarkingData" value="POINT_SAMPLES.POINT_01"/>
  </appSettings>


  <Tenaris.Manager.BusinessRules factoryType="Tenaris.Manager.BusinessRules.ManagerFactory, Tenaris.Manager.BusinessRules" isSingleton="True">
    <BusinessRulesManagerConfiguration MinThreads="100" MaxThreads="6000" PluginsPath=".\">
    </BusinessRulesManagerConfiguration>
  </Tenaris.Manager.BusinessRules>

  <Tenaris.Manager.Alarm
  instanceType="Tenaris.Manager.Alarm.Shared.IAlarmManager, Tenaris.Manager.Alarm.Shared"
  aliveInterval="5000"
  singleInstance="true"
  validateConnection="false">
    <Redundancy>
      <Address url="tcp://TNACAWFM197.tnsautoca.techint.net:21010/Tenaris.Manager.Alarm.soap" forumPresent="false" isTargetManager="true"/>
    </Redundancy>
  </Tenaris.Manager.Alarm>

  <Tenaris.Manager.Tracking
    url="tcp://TNACAWFM197.tnsautoca.techint.net:21005/TrackingManager.soap"
    instanceType="Tenaris.Manager.Tracking.Shared.ITrackingManager, Tenaris.Manager.Tracking.Shared"
    aliveInterval="1000"
    singleInstance="true"
    validateConnection="true"
    forumPresent="false"
    isTargetManager="true">
    <Redundancy>
      <Address url="tcp://TNACAWFM197.tnsautoca.techint.net:21005/TrackingManager.soap" forumPresent="false" isTargetManager="true"/> 
    </Redundancy>
  </Tenaris.Manager.Tracking>

  <Tenaris.Manager.Handshake
    instanceType="Tenaris.Manager.Handshake.Shared.IHandshakeManager, Tenaris.Manager.Handshake.Shared"
    aliveInterval="5000"
    singleInstance="true"
    validateConnection="false">
    <Redundancy>
	  <Address url="tcp://TNACAWFM197.tnsautoca.techint.net:21002/HandshakeManager.soap" forumPresent="false" isTargetManager="true"/>
    </Redundancy>
  </Tenaris.Manager.Handshake>

  <!-- <Tenaris.Manager.Preset
  url="tcp://172.29.108.173:14309/Tenaris.Manager.Preset.soap"
  instanceType="Tenaris.Manager.Preset.Shared.IPresetManager, Tenaris.Manager.Preset.Shared"
  aliveInterval="3000"
  singleInstance="true"
  validateConnection="true">
    <Redundancy>
      <Address url="tcp://172.29.108.173:14309/Tenaris.Manager.Preset.soap" forumPresent="false" isTargetManager="true" />
    </Redundancy>
  </Tenaris.Manager.Preset> -->

  <Tenaris.Library.Proxy factoryType="Tenaris.Library.Proxy.Factories.PipeProxyFactory, Tenaris.Library.Proxy">
    <Configuration>
      <Components>
        <Component type="Tenaris.Library.Proxy.Components.ConnectionMonitorComponent, Tenaris.Library.Proxy">
          <Interval>1000</Interval>
        </Component>
      </Components>
      <EventListener type="Tenaris.Library.Proxy.EventListener, Tenaris.Library.Proxy, Version=4.1.0.0, Culture=neutral, PublicKeyToken=c4a5016cfc42fcd0"/>
      <Dispatcher type="Tenaris.Library.Proxy.Dispatchers.DirectMessageDispatcher, Tenaris.Library.Proxy, Version=4.1.0.0, Culture=neutral, PublicKeyToken=c4a5016cfc42fcd0"/>
    </Configuration>
  </Tenaris.Library.Proxy>
  
  
  <system.serviceModel>
		<bindings>
			<netTcpBinding>
				<binding name="NetTcpBinding_ILinkerCTService">
					<security mode="None" />
				</binding>
				<binding name="NetTcpBinding_IOrderReplicatorService">
					<security mode="None" />
				</binding>
			</netTcpBinding>
		</bindings>
		<client>
			<endpoint address="net.tcp://TNACAWFM194.tnsautoca.techint.net:49222/LinkerCTService"
			  binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ILinkerCTService"
			  contract="LinkerCTService.ILinkerCTService" name="NetTcpBinding_ILinkerCTService">
				<identity>
					<dns value="TNACAWFM194.tnsautoca.techint.net" />
				</identity>
			</endpoint>
			  <endpoint address="net.tcp://TNACAWFM197.tnsautoca.techint.net:8737/OrderReplicatorService"
				binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IOrderReplicatorService"
				contract="OSR.IOrderReplicatorService" name="NetTcpBinding_IOrderReplicatorService" />
		</client>
	</system.serviceModel>
  
  <system.runtime.remoting>
    <application name="Server">
      <channels>
        <channel ref="tcp" port="14312" >
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full" />
          </serverProviders>
          <clientProviders>
            <provider type="Tenaris.Library.Proxy.Remoting.ClientRemotingInterceptorProvider, Tenaris.Library.Proxy"/>
            <formatter ref="binary" typeFilterLevel="Full" />
          </clientProviders>
        </channel>
      </channels>
    </application>
    <customErrors mode="off" />
  </system.runtime.remoting>

  <log
  maxFileSize="8096"
  maxFileCount="30"
  msgFormat="{TypeChar} {Timestamp:yyyy-MM-dd HH:mm:ss} [{ThreadId,-5:d5}] {MethodName} {IdentString} {Message}"
  logLevel="Debug"
  noQueue="true"
  traceAttributeLogEnabled="true"
  path="..\..\..\Logs\Manager\BusinessRules\"
  logBaseName="Tenaris.Manager.BusinessRules"
  additionalLogDestination="Console"
  logAssemblyLoad="false"
  />

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
