<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="HandshakeMonitorConfiguration"  type="HandshakeMonitor.Model.HandshakeMonitorConfiguration, HandshakeMonitor.Model"/>
    <section name="log" type="Tenaris.Library.Log.LogConfiguration, Tenaris.Library.Log"/>
  </configSections>

  <connectionStrings>
    <add name="dbLevel2" connectionString="Application Name=HandshakeMonitor;Data Source=TNATFT2PRDLSN.tnsautoca.techint.net,5040;Initial Catalog=L2Trk;Integrated Security=SSPI;Persist Security Info=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <HandshakeMonitorConfiguration
    IdArea="1">
  </HandshakeMonitorConfiguration>

  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  
  <log
    maxFileSize="8096"
    maxFileCount="10"
    msgFormat="{TypeChar} {Timestamp:yyyy-MM-dd HH:mm:ss} [{ThreadId,-5:d5}] {MethodName} {IdentString} {Message}"
    logLevel="Debug"
    noQueue="true"
    traceAttributeLogEnabled="true"
    path=".\Logs"
    logBaseName="HandshakeMonitor"
    additionalLogDestination="Console"
  />


</configuration>
