<?xml version="1.0"?>
<configuration>


  <configSections>

    <section name="AlarmViewConfiguration" type="Tenaris.View.Alarm.Model.Configuration.AlarmViewConfiguration, Tenaris.View.Alarm.Model"/>
    <section name="GridViewConfiguration" type="Tenaris.View.Alarm.ViewModel.Configuration.GridViewConfiguration, Tenaris.View.Alarm.ViewModel"/>
    <section name="log" type="Tenaris.Library.Log.LogConfiguration, Tenaris.Library.Log"/>
    <section name="AlarmManager" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>

  </configSections>


  <connectionStrings>
    <add name="DBMaster" connectionString="Application Name=EquipmentAlarm_View;Password=passwd;User ID=user;Initial Catalog=AusV1Devel;Data Source= 10.92.21.16;Persist Security Info=True;MultipleActiveResultSets=True; Asynchronous Processing=true;"/>
  </connectionStrings>

  <AlarmViewConfiguration DBConnection="DBMaster"
                          AreaCode="HRM3T"
                          ZoneCode=""
                          IsEnableAck="True"
                          Language="es-MX"
                          Rating5MinWarning="10"
                          Rating5MinCritical="40"
                          RatingShiftWarning="50"
                          RatingShiftCritical="200"
                          >

    <Mail server="mailserver" port="25" from="alarmview@tenaris.com.mx" user="" password="" domain=""/>  
  </AlarmViewConfiguration>

  <GridViewConfiguration>
    <State IsVisible="True" MinWidth="40" MaxWidth="40" />
    <Occurrence IsVisible="True" MinWidth="40" MaxWidth="40" />
    <Code IsVisible="True" MinWidth="120" MaxWidth="180" />
    <Equipment IsVisible="True" MinWidth="90" MaxWidth="150" />
    <Description IsVisible="True" MinWidth="400" MaxWidth="750" />
    <TimeOn IsVisible="True" MinWidth="200" MaxWidth="250" />
    <TimeOff IsVisible="True" MinWidth="200" MaxWidth="250" />
    <TimeAck IsVisible="True" MinWidth="200" MaxWidth="250" />
    <Machine IsVisible="True" MinWidth="190" MaxWidth="300" />
    <Plc IsVisible="True" MinWidth="190" MaxWidth="300" />
    <Group IsVisible="True" MinWidth="60" MaxWidth="150" />
    <WorkingRef IsVisible="True" MinWidth="200" MaxWidth="650" />
    <Priority IsVisible="True" MinWidth="90" MaxWidth="90" />
  </GridViewConfiguration>
   
  <AlarmManager
    url="tcp://localhost:20010/Tenaris.Manager.Alarm.soap"
    instanceType="Tenaris.Manager.Alarm.Shared.IAlarmManager, Tenaris.Manager.Alarm.Shared"
    aliveInterval="5000"
    singleInstance="true"
    validateConnection="true">
    <Redundancy>
    </Redundancy>
  </AlarmManager>




  <system.runtime.remoting>
    <application name="Client">
      <channels>
        <channel ref="tcp" port="0">
          <clientProviders>
            <provider type="Tenaris.Library.Proxy.Remoting.ClientRemotingInterceptorProvider, Tenaris.Library.Proxy"/>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </clientProviders>
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </serverProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>

  <!-- Log configuration -->
  <log maxFileSize="8096"
       msgFormat="{Timestamp:HH:mm.ss.fff} ; {Level,-7} ; {Message} ; {MethodName}"
       logLevel="Debug"
       traceAttributeLogEnabled="false"
       logBaseName=".\Logs\Tenaris.View.Alarm"/>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
