<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="Tenaris.Tamsa.Service.SpecificationService.DAL" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework"/>
    <section name="log" type="Tenaris.Library.Log.LogConfiguration, Tenaris.Library.Log" />
  </configSections>

  <connectionStrings>
    <add name="dbLinea2" connectionString="Application Name=manager_SpecificationService;Data Source=TNATFT2PRDLSN.tnsautoca.techint.net,5040;Initial Catalog=L2Trk;Integrated Security=SSPI;Persist Security Info=True;MultipleActiveResultSets=True; Asynchronous Processing=true;" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <Tenaris.Tamsa.Service.SpecificationService.DAL>
    <DalConfiguration connectionStringName="dbLinea2" timeout="9000"/>
  </Tenaris.Tamsa.Service.SpecificationService.DAL>

  <log
    maxFileSize="8096"
	maxFileCount="150"
    msgFormat="{Timestamp:HH:mm:ss.fff} ; {Level,-7} ; {ClassName} ; {Message} ; {MethodName}"
    logLevel="Debug"
    traceAttributeLogEnabled="true"
		logBaseName="SpecificationService"
    path="..\..\..\Logs\Manager\SpecificationService\"
    additionalLogDestination="Console"
	logAssemblyLoad="true"
    />

  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="Tenaris.Tamsa.Service.SpecificationService.SpecificationService">
        <host>
          <baseAddresses>
            <add baseAddress ="net.tcp://TNACAWFM197.tnsautoca.techint.net:21004/ServiceSpecification/"/>
            <!--<add baseAddress="http://172.29.109.7:21004/ServiceSpecification/"/>-->
          </baseAddresses>
        </host>
        <endpoint address="Specification"
                  binding="netTcpBinding"
                  bindingConfiguration="netTcpBindingConfig"
                  contract="Tenaris.Tamsa.Service.SpecificationService.Shared.Interfaces.ISpecificationServiceWCFContract"/>
        <endpoint address="EventContract"
                  binding="netTcpBinding"
                  bindingConfiguration="netTcpBindingConfig"
                  contract="Tenaris.Tamsa.Service.SpecificationService.Shared.Interfaces.ISpecificationServiceWCFCallBackContract"/>
        <!--<endpoint address="Specification"
                  binding="wsDualHttpBinding"
                  contract="Tenaris.Tamsa.Service.SpecificationService.Shared.Interfaces.ISpecificationServiceWCFContract"/>
        <endpoint address="EventContract"
                  binding="wsDualHttpBinding"
                  contract="Tenaris.Tamsa.Service.SpecificationService.Shared.Interfaces.ISpecificationServiceWCFCallBackContract"/>-->
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata />
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name="netTcpBindingConfig">
          <security mode="None"></security>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
</configuration>
