<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="HsTurnOffIdentificationConfiguration"   type="Tenaris.Manager.BusinessRules.Plugins.HsTurnOffIdentification.Configuration.HsTurnOffIdentificationConfiguration, Tenaris.Manager.BusinessRules.Plugins.HsTurnOffIdentification"/>
    <section name="Tenaris.Library.Proxy" type="Tenaris.Library.Proxy.Configuration.ProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>
    <section name="Tenaris.Manager.BusinessRules" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework"/>
    <section name="log" type="Tenaris.Library.Log.LogConfiguration, Tenaris.Library.Log"/>
    <section name="Tenaris.Manager.Alarm"     type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy" />
    <section name="Tenaris.Manager.Tracking"  type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy" />
    <section name="Tenaris.Manager.Handshake" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy" />
    <!--<section name="Tenaris.Manager.Preset"    type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy" />-->
    <section name="Tenaris.Manager.BusinessRules.GenericPlugins.HandshakeConfiguration"   type="Tenaris.Manager.BusinessRules.GenericPlugins.Handshake.Model.Configuration, Tenaris.Manager.BusinessRules.GenericPlugins"/>
    <section name="AcquisitionConfiguration" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework"/>
	<!-- <section name="ConfigurationPlugin_HsIdentProductionValuesLin1Lin2"   type="Tenaris.Manager.BusinessRules.HsIdentProductionValuesLin1.GetDatas.Model.Configuration, Tenaris.Manager.BusinessRules.HsIdentProductionValuesLin1"/> -->
    <!-- <section name="BSR_MONIT_VISION_Configuration" type="Tenaris.Manager.BusinessRules.GetDatas.PluginConfiguration, Tenaris.Manager.BusinessRules.Plugins.BSR_MONIT_VISION"/> -->

    <!--<section name="Tenaris.Manager.BusinessRules.HsCutoffDataLinker.Configuration"   type="Tenaris.Manager.BusinessRules.HsCutoffDataLinker.Model.Configuration, Tenaris.Manager.BusinessRules.HsCutoffDataLinker"/>-->
    <!--<section name="OperationModePluginConfiguration" type="Tenaris.Manager.BusinessRules.Linea1.OperationModePluginConfiguration.RegisterProcessMonitoredConfig, Tenaris.Manager.BusinessRules.Linea1.Plugins.OperationModeReader"/>-->

    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Tenaris.Manager.BusinessRules.Linea1.Plugins.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>

  </configSections>

  <connectionStrings>

    <add name="dbLevel2" connectionString="Application Name=BusinessRulesManager;Data Source=TNATFT2PRDLSN.tnsautoca.techint.net,5040;Initial Catalog=L2Trk;Integrated Security=SSPI;Persist Security Info=True;MultipleActiveResultSets=True; Asynchronous Processing=true;" providerName="System.Data.SqlClient"/>
    <add name="dbValidation" connectionString="Application Name=BusinessRulesManager;Data Source=TNATFT2PRDLSN.tnsautoca.techint.net,5040;Initial Catalog=L2Trk_Validation;Integrated Security=SSPI;Persist Security Info=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
    <add name="dbBme21" connectionString="Application Name=IdentificationManager;Data Source=TNATFT2PRDLSN.tnsautoca.techint.net,5040;Initial Catalog=L1Bz21;Integrated Security=SSPI;Persist Security Info=True;Max Pool Size=10;" providerName="System.Data.SqlClient"/>
    <add name="dbBme22" connectionString="Application Name=IdentificationManager;Data Source=TNATFT2PRDLSN.tnsautoca.techint.net,5040;Initial Catalog=L1Bz22;Integrated Security=SSPI;Persist Security Info=True;Max Pool Size=10;" providerName="System.Data.SqlClient"/>

    <!-- <add name="dbEfficiency" connectionString="Application Name=BusinessRulesManager;Data Source=10.92.70.125;Failover Partner=10.92.70.131;Initial Catalog=Level2_Efficiency;User ID=jsaballo;Password=jsaballo;Persist Security Info=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" /> -->
    <!-- <add name="dbAmalog21" connectionString="Application Name=manager_IdentificationBypassOff;Data Source=10.93.1.94;Initial Catalog=DBLINE2;User ID=sa;Password=Lineas123;Persist Security Info=True;Max Pool Size=10;" providerName="System.Data.SqlClient"/> -->
    <!-- <add name="dbPh22" connectionString="Application Name=manager_IdentificationBypassOff;Data Source=10.93.1.94;Initial Catalog=DBLINE2;User ID=sa;Password=Lineas123;Persist Security Info=True;Max Pool Size=10;" providerName="System.Data.SqlClient"/> -->
    <!-- <add name="dbAmalog22" connectionString="Application Name=manager_IdentificationBypassOff;Data Source=10.93.1.108;Initial Catalog=Level2_Line2;User ID=sa;Password=Amalog22Nivel2;Persist Security Info=True;Max Pool Size=10;" providerName="System.Data.SqlClient"/> -->
    <!-- <add name="dbPH21" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=172.29.10.162)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=DBLINEA1)));User Id=linea1;Password=lineas;" providerName="System.Data.OracleClient" /> -->
	<!-- <add name="dbPH22Oracle" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=172.29.10.164)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=DBLINEA2)));User Id=linea2;Password=lineas;" providerName="System.Data.OracleClient" /> -->
    <!-- <add name="dbVDILine2" connectionString="Application Name=manager_IdentificationBypassOff;Data Source=10.93.1.94;Initial Catalog=DBLINE2;User ID=sa;Password=Lineas123;Persist Security Info=True;Max Pool Size=10;" providerName="System.Data.SqlClient"/> -->

  </connectionStrings>

  <HsTurnOffIdentificationConfiguration>
    <Properties>
      <add PropertyName="BypassMailTo" Value="" />
    </Properties>
  </HsTurnOffIdentificationConfiguration>

  <!-- EVE_RXS.IDENT_BYPASS -->
  <!-- FLAGS_PH_01_N2.IDENT_BYPASS -->
<!--   <BSR_MONIT_VISION_Configuration
    BSR_MONIT_VISION_RX21=""
    BSR_MONIT_VISION_LAV21=""
    BSR_MONIT_VISION_RX22=""
    BSR_MONIT_VISION_PH22=""
    BSR_MONIT_VISION_RX24=""
    BSR_MONIT_VISION_RX23="EVE_RXS.IDENT_BYPASS">
  </BSR_MONIT_VISION_Configuration> -->

  <!-- EVE_RXS.IDENT_BYPASS -->


  <!--<Tenaris.Manager.BusinessRules.HsCutoffDataLinker.Configuration
      IdApplication="23" IdArea="1" HsCode="BSR_GD_LinkFromCT" StringConnection="dbLevel2" idDestinationZone="12" MachineAlarm="L1_PML" CodeAlarm="L1_CT_1">
	</Tenaris.Manager.BusinessRules.HsCutoffDataLinker.Configuration>-->


  <!-- Configuring plctag Code for each identification station -->
  <!-- Ej: L1_RX21_TAG="TAG SCADA" L1_RX21_ID="IdMachine" L1_RX21_BIT="Auto,Manual" -->
  <!--<OperationModePluginConfiguration>
    <OperationModePlugins>
      <add TAG="EVE_PH_01.EVE_AUTO_MANUAL" MACHINE_ID="3" BITS="1,0" />
      <add TAG="EVE_PH_01.EVE_AUTO_MANUAL" MACHINE_ID="4" BITS="12,11" />
      <add TAG="EVE_RXS.EVE_AUTO_MANUAL" MACHINE_ID="11" BITS="1,0" />
      <add TAG="EVE_RXS.EVE_AUTO_MANUAL" MACHINE_ID="12" BITS="4,3" />
      <add TAG="EVE_SEAS.EVE_AUTO_MANUAL" MACHINE_ID="7" BITS="1,0" />
      <add TAG="EVE_SEAS.EVE_AUTO_MANUAL" MACHINE_ID="8" BITS="7,6" />
      <add TAG="EVE_PAC_01.EVE_AUTO_MANUAL" MACHINE_ID="9" BITS="1,0" />
      <add TAG="EVE_AMA22_01.EVE_AUTO_MANUAL" MACHINE_ID="13" BITS="1,0" />
      <add TAG="EVE_BME22.EVE_AUTO_MANUAL" MACHINE_ID="14" BITS="1,0" />
    </OperationModePlugins>
  </OperationModePluginConfiguration>-->
  <!--  LINEA 1
  <OperationModePluginConfiguration>
    <OperationModePlugins>
      <add TAG="EVE_R21_01.EVE_AUTO_MANUAL" MACHINE_ID="14" BITS="1,0" />
      <add TAG="EVE_PH_01.EVE_AUTO_MANUAL" MACHINE_ID="5" BITS="1,0" />
      <add TAG="EVE_PAC_01.EVE_AUTO_MANUAL" MACHINE_ID="4" BITS="1,0" />
      <add TAG="EV_SEA21_01.EVE_AUTO_MANUAL" MACHINE_ID="3" BITS="1,0" />
      <add TAG="EVE_R22_01.EVE_AUTO_MANUAL" MACHINE_ID="15" BITS="1,0" />
      <add TAG="EVE_SEA22_01.EVE_AUTO_MANUAL" MACHINE_ID="7" BITS="1,0" />
      <add TAG="EVE_AMA21_01.EVE_AUTO_MANUAL" MACHINE_ID="13" BITS="1,0" />
      <add TAG="EVE_SUT_01.EVE_AUTO_MANUAL" MACHINE_ID="16" BITS="1,0" />
      <add TAG="EVE_BME21.EVE_AUTO_MANUAL" MACHINE_ID="17" BITS="1,0" />
    </OperationModePlugins>
  </OperationModePluginConfiguration>
  -->



  <!-- Acquisition Configuration section OPL Scada -->
  <AcquisitionConfiguration factoryType="Tamsa.OplScada.AcquisitionClient.AcquisitionFactory, Tamsa.OplScada.AcquisitionClient">
    <AcquisitionConfiguration Driver="Tamsa.OplScada.AcquisitionClient.AcquisitionProxy, Tamsa.OplScada.AcquisitionClient" IP="TNACAWFM197.tnsautoca.techint.net" Port="21000"  Timeout="3000" RepeatCount="3" WriteSync="true" />
  </AcquisitionConfiguration>

  <Tenaris.Manager.BusinessRules.GenericPlugins.HandshakeConfiguration
		IdApplication="23" IdArea="1" PluginsPath=".\" >
  </Tenaris.Manager.BusinessRules.GenericPlugins.HandshakeConfiguration>

  <Tenaris.Manager.BusinessRules factoryType="Tenaris.Manager.BusinessRules.ManagerFactory, Tenaris.Manager.BusinessRules" isSingleton="True">
    <BusinessRulesManagerConfiguration MinThreads="100" MaxThreads="6000" PluginsPath=".\">
    </BusinessRulesManagerConfiguration>
  </Tenaris.Manager.BusinessRules>

  <appSettings>

    <!--  Ordenes separadas por comas sobre las que no trabajara la autohabilitación 284049,284578,286375,286490,272906,275241,285566,286444,287809,284791,284336,287109,286446,287108,288638,288563,285742,277304,289247,286598,289094,287347-->
    <add key="OrdersToIgnore" value=""/>

	<!--  AHORA HACER BYPASS POR OP Y ESTACIÓN!!!! Ordenes separadas por comas sobre las que no trabajara la autohabilitación 272907,289259,308173,307598,307946, -->
	<!-- <add key="OrdersToIgnore_PH21" value="328638,308173,307598,307946"/> -->
	<add key="OrdersToIgnore_Rx2423" value="391086,360388,338776,335172,315887,316711,309728,310880,311364,307621,310128,308608,306539,310894,307758,308644,307574,307769,308086,304845,303929,305937,304239,303776,305483,305938,306697,299642,303781,304112,305088,304299,302026,302277,302037,297643,302094,302027,302278,299536,303331,299642,310619,311662,311931,311663,307276,310138,310789,308671,305319,311021,311200,307126,308034,307275,315883"/>
	<add key="OrdersToIgnore_Bme22" value="385039,367305,361890,356183,357066,349963,349279,346948,339091,330208,339633,327071,334977,328683,331975,329650,323781,327285,325510,324015,325037,323460,321994,308590,324309,322442,321644,322495,321181,323421,322133,319940,311326,314899,320951,321160,321420,320013,320706,319022,315338,316508,312925,315340,303929,304845,307504,303116,298204,297643,302027,302113,301835,304239,310306,316203,316724,319756,321804,338343,336455,342232,341751"/>
	<add key="OrdersToIgnore_Ph22" value="330208,339633,345299"/>
	
    <!--  Plugin de  BSR_GD_LinkToAM21 -->
    <add key="AreaCode" value="LINEA2"/>
    <add key="TagMarkingData" value="POINT_SAMPLES.POINT_01"/>


    <!-- HsTurnOnIdentification -->
    <add key="HsTurnOnIdentification_DB_Amalog21" value="dbAmalog21"/>
    <add key="HsTurnOnIdentification_DB_Amalog22" value="dbAmalog22"/>

    <!--<add key="HsTurnOnIdentification_DB_Bme21" value="dbBme21"/>
    <add key="HsTurnOnIdentification_Count_Bme21" value="0"/>
    <add key="HsTurnOnIdentification_OcrReaded_Bme21" value="4"/>
    <add key="HsTurnOnIdentification_Enabled_Bme21" value="1"/>
    <add key="BypassPasswordReference_Bme21" value=""/>-->

    <add key="HsTurnOnIdentification_DB_Bme22" value="dbBme22"/>
    <add key="HsTurnOnIdentification_Count_Bme22" value="0"/>
    <add key="HsTurnOnIdentification_OcrReaded_Bme22" value="4"/>
    <add key="HsTurnOnIdentification_Enabled_Bme22" value="1"/>
	<!-- <add key="BypassPasswordReference_Bme22" value=""/> -->
    <!-- <add key="BypassPasswordReference_Bme22" value="EVE_BME22.BLOCK_BYPASS"/> -->

    <!--<add key="HsTurnOnIdentification_DB_Ph21" value="dbLevel2"/>
    <add key="HsTurnOnIdentification_Count_Ph21" value="0"/>
    <add key="HsTurnOnIdentification_OcrReaded_Ph21" value="5"/>
    <add key="HsTurnOnIdentification_Enabled_Ph21" value="1"/>
    <add key="BypassPasswordReference_Ph21" value="FLAGS_PH_01_N2.BLOCK_BYPASS"/>-->

    <add key="HsTurnOnIdentification_DB_Ph22" value="dbLevel2"/>
    <add key="HsTurnOnIdentification_Count_Ph22" value="0"/>
    <add key="HsTurnOnIdentification_OcrReaded_Ph22" value="5"/>
    <add key="HsTurnOnIdentification_Enabled_Ph22" value="1"/>

    <add key="HsTurnOnIdentification_DB_Pac22" value="dbLevel2"/>
    <add key="HsTurnOnIdentification_Count_Pac22" value="0"/>
    <add key="HsTurnOnIdentification_OcrReaded_Pac22" value="10"/>
    <add key="HsTurnOnIdentification_Enabled_Pac22" value="0"/>

    <!-- <add key="BypassPasswordReference_Ph22" value=""/> -->
	<!-- <add key="BypassPasswordReference_Ph22" value="FLAGS_PH_01_N2.BLOCK_BYPASS"/> -->
    <!--  FLAGS_PH_01_N2.BLOCK_BYPASS -->


    <add key="HsTurnOnIdentification_Count_Rx2423" value="0"/>
    <add key="HsTurnOnIdentification_OcrReaded_Rx2423" value="5"/>
    <add key="HsTurnOnIdentification_Enabled_Rx2423" value="1"/>
	<add key="HsTurnOnIdentification_VdiStation_Rx2423" value="RX24"/>
	
    <!-- <add key="BypassPasswordReference_Rx2423" value="EVE_RXS.BLOCK_BYPASS"/> -->

  </appSettings>

  <Tenaris.Manager.Alarm
	instanceType="Tenaris.Manager.Alarm.Shared.IAlarmManager, Tenaris.Manager.Alarm.Shared"
	aliveInterval="5000"
	singleInstance="true"
	validateConnection="false">
    <Redundancy>
      <Address url="tcp://TNACAWFM197.tnsautoca.techint.net:21010/Tenaris.Manager.Alarm.soap" forumPresent="false" isTargetManager="true"/>
    </Redundancy>
  </Tenaris.Manager.Alarm>

  <Tenaris.Manager.Tracking
	  url="tcp://TNACAWFM197.tnsautoca.techint.net:21005/TrackingManager.soap"
	  instanceType="Tenaris.Manager.Tracking.Shared.ITrackingManager, Tenaris.Manager.Tracking.Shared"
	  aliveInterval="1000"
	  singleInstance="true"
	  validateConnection="true"
	  forumPresent="false"
	  isTargetManager="true">
    <Redundancy>
      <Address url="tcp://TNACAWFM197.tnsautoca.techint.net:21005/TrackingManager.soap" forumPresent="false" isTargetManager="true"/>
    </Redundancy>
  </Tenaris.Manager.Tracking>

  <Tenaris.Manager.Handshake
	  instanceType="Tenaris.Manager.Handshake.Shared.IHandshakeManager, Tenaris.Manager.Handshake.Shared"
	  aliveInterval="5000"
	  singleInstance="true"
	  validateConnection="false">
    <Redundancy>
      <Address url="tcp://TNACAWFM197.tnsautoca.techint.net:21002/HandshakeManager.soap" forumPresent="false" isTargetManager="true"/>
    </Redundancy>
  </Tenaris.Manager.Handshake>


  <!--<Tenaris.Manager.Preset
  url="tcp://TNACAWFM197.tnsautoca.techint.net:14309/Tenaris.Manager.Preset.soap"
  instanceType="Tenaris.Manager.Preset.Shared.IPresetManager, Tenaris.Manager.Preset.Shared"
  aliveInterval="3000"
  singleInstance="true"
  validateConnection="true">
    <Redundancy>
      <Address url="tcp://TNACAWFM197.tnsautoca.techint.net:14309/Tenaris.Manager.Preset.soap" forumPresent="false" isTargetManager="true" />
    </Redundancy>
  </Tenaris.Manager.Preset>-->

  <Tenaris.Library.Proxy factoryType="Tenaris.Library.Proxy.Factories.PipeProxyFactory, Tenaris.Library.Proxy">
    <Configuration>
      <Components>
        <Component type="Tenaris.Library.Proxy.Components.ConnectionMonitorComponent, Tenaris.Library.Proxy">
          <Interval>1000</Interval>
        </Component>
      </Components>
      <EventListener type="Tenaris.Library.Proxy.EventListener, Tenaris.Library.Proxy, Version=4.1.0.0, Culture=neutral, PublicKeyToken=c4a5016cfc42fcd0"/>
      <Dispatcher type="Tenaris.Library.Proxy.Dispatchers.DirectMessageDispatcher, Tenaris.Library.Proxy, Version=4.1.0.0, Culture=neutral, PublicKeyToken=c4a5016cfc42fcd0"/>
    </Configuration>
  </Tenaris.Library.Proxy>

  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_ILinkerCTService">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_IOrderReplicatorService">
          <security mode="None" />
        </binding>
        <binding name="data_tcp" closeTimeout="00:01:00" openTimeout="00:01:00"
          receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false"
          transferMode="Buffered" transactionProtocol="OleTransactions"
          hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="524288"
          maxBufferSize="65536" maxConnections="10" maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="None">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://172.29.12.184:8011/ETrackHeatProgService"
        binding="netTcpBinding" bindingConfiguration="data_tcp" contract="eTrackProgService.IETrackHeatProgService"
        name="data_tcp" />
      <endpoint address="net.tcp://TNACAWFM192.tnsautoca.techint.net:49222/LinkerCTService"
			  binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ILinkerCTService"
			  contract="LinkerCTService.ILinkerCTService" name="NetTcpBinding_ILinkerCTService">
        <identity>
          <dns value="TNACAWFM192.tnsautoca.techint.net" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://TNACAWFM197.tnsautoca.techint.net:8737/OrderReplicatorService"
			  binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IOrderReplicatorService"
			  contract="OSR.IOrderReplicatorService" name="NetTcpBinding_IOrderReplicatorService" />
    </client>
  </system.serviceModel>

  <applicationSettings>
    <Tenaris.Manager.BusinessRules.Linea1.Plugins.Properties.Settings>
      <setting name="Tenaris_Manager_BusinessRules_Linea1_Plugins_UpdaterFlagService_UpdaterFlagService"
        serializeAs="String">
        <value>http://TNACAWWS195.tnsautoca.techint.net/TrackingAUSSettings/UpdaterFlagService.asmx</value>
      </setting>
      <setting name="Tenaris_Manager_BusinessRules_Linea1_Plugins_BSR_MONIT_VISION_UpdaterFlagService_L2_UpdaterFlagService"
        serializeAs="String">
        <value>http://TNACAWWS195.tnsautoca.techint.net/TrackingAUSSettings_L2/UpdaterFlagService.asmx</value>
      </setting>
    </Tenaris.Manager.BusinessRules.Linea1.Plugins.Properties.Settings>
  </applicationSettings>

  <system.runtime.remoting>
    <application name="Server">
      <channels>
        <channel ref="tcp" port="14313" >
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full" />
          </serverProviders>
          <clientProviders>
            <provider type="Tenaris.Library.Proxy.Remoting.ClientRemotingInterceptorProvider, Tenaris.Library.Proxy"/>
            <formatter ref="binary" typeFilterLevel="Full" />
          </clientProviders>
        </channel>
      </channels>
    </application>
    <customErrors mode="off" />
  </system.runtime.remoting>


  <log
	maxFileSize="24288"
	maxFileCount="20"
	msgFormat="{TypeChar} {Timestamp:yyyy-MM-dd HH:mm:ss} [{ThreadId,-5:d5}] {MethodName} {IdentString} {Message}"
	logLevel="Debug"
	noQueue="true"
	traceAttributeLogEnabled="true"
	path="..\..\..\Logs\Service\BSR_L2\"
	logBaseName="Tenaris.Manager.BusinessRules"
	additionalLogDestination="Console"
  />

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>