<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="log" type="Tenaris.Library.Log.LogConfiguration, Tenaris.Library.Log"/>
    <section name="ViewConfiguration" type="Tamsa.ExternalIdentification.OperativeInterfaceView.Shared.ViewConfiguration,Tamsa.ExternalIdentification.OperativeInterfaceView.Shared"/>
    <section name="IdentManager" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy" />
    <!--<section name="Tamsa.Coples.Manager.LoadReport" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>-->
  </configSections>

  <appSettings>
    <!--<add key="wcfOperativeInterface" value="net.tcp://10.92.9.230:10999/ExternalIdentification/OperativeInterface"/>-->
    <!--<add key="wcfOperativeInterface" value="net.tcp://TNACAWFM198.tnsautoca.techint.net:10999/ExternalIdentification/OperativeInterface"/>-->
    <add key="wcfOperativeInterface" value="net.tcp://TNACAWFM198.tnsautoca.techint.net:10999/ExternalIdentification/OperativeInterface"/>
    <add key="dbConnection" value="Level2_Linea2"/>
    <add key="title" value="Pantalla Operativa Identificacion Externa BME21"/>
  </appSettings>

  <connectionStrings>
    <!-- <add name="dbTest" -->
         <!-- connectionString="Data Source=10.92.9.169;Initial Catalog=Level2_Linea1;User ID=MLeos;Password=auto;Persist Security Info=true;MultipleActiveResultSets=true; Asynchronous Processing=true; Application Name=operativeReportView_ExternalIdentification; Pooling=true; Max Pool Size=300;" -->
         <!-- providerName="System.Data.SqlClient"/> -->
    <add name="Level2_Linea1"
         connectionString="Data Source=TNATFT2PRDLSN.tnsautoca.techint.net,5040;Initial Catalog=L1Bz21;Persist Security Info=True;Integrated Security=SSPI;MultipleActiveResultSets=true; Asynchronous Processing=true; Application Name=operativeReportView_ExternalIdentification; Pooling=true; Max Pool Size=300;"
         providerName="System.Data.SqlClient"/>
    <add name="Level2_Linea2"
         connectionString="Data Source=TNATFT2PRDLSN.tnsautoca.techint.net,5040;Initial Catalog=L2Bz22;Persist Security Info=True;Integrated Security=SSPI;MultipleActiveResultSets=true; Asynchronous Processing=true; Application Name=operativeReportView_ExternalIdentification; Pooling=true; Max Pool Size=300;"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <ViewConfiguration
    ShowTenarisTitle="true"
    AppTitle="Pantalla Operativa Identificacion Externa BME 21"
    HostConection="net.tcp://TNACAWFM198.tnsautoca.techint.net:10999/ExternalIdentification/OperativeInterface"
    DBLevel2="dbTest"
    >
  </ViewConfiguration>


  <IdentManager
    url="tcp://TNACAWFM198.tnsautoca.techint.net:55555/OperativeInterfaceManager.soap"
    instanceType="Tenaris.Tamsa.ExternalIdentification.OperativeInterface.Interface.IOperativeInterfaceManager, Tenaris.Tamsa.ExternalIdentification.OperativeInterface"
    aliveInterval="5000"
    forumPresent="false"
    isTargetManager="true">
  </IdentManager>

  <!--<Tamsa.Coples.Manager.LoadReport instanceType="Tamsa.Coples.Manager.LoadReport.Shared.ILoadReportManager, Tamsa.Coples.Manager.LoadReport.Shared" aliveInterval="5000" singleInstance="true" validateConnection="false">
    <Redundancy>
      <Address url="tcp://localhost:5015/LoadReportManager.soap" forumPresent="false" isTargetManager="true"/>
    </Redundancy>
  </Tamsa.Coples.Manager.LoadReport>-->

  <log
     maxFileSize="8096"
     maxFileCount="10"
     msgFormat="{Timestamp:yyyy-MM-dd HH:mm:ss.fff} {ThreadId,-5:d5} {IdentString} {Message}"
     logLevel="Debug"
     traceAttributeLogEnabled="true"
     path="\\TNACAWFM198.tnsautoca.techint.net\Appls\Clientes\Cliente 2\Tenaris\Logs\%UserName%\ExternalIndetificationOperativeView"
     logBaseName="OperativeInterfaceViewL1"
     logAssemblyLoad="false"
	/>

  <!--Remoting configuration. This can be placed in a separate file named remoting.config-->
  <system.runtime.remoting>
    <application name="Client">
      <channels>
        <channel ref="tcp" port="0">
          <clientProviders>
            <provider type="Tenaris.Library.Proxy.Remoting.ClientRemotingInterceptorProvider, Tenaris.Library.Proxy"/>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </clientProviders>
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </serverProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
