<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="DalFactory" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework, Version=4.1.0.0, Culture=neutral, PublicKeyToken=d69ca37b4d4b73b8"/>
		<section name="ManagerBaseConfiguration" type="Tenaris.Manager.Forum.Shared.Configuration.ManagerBaseConfiguration, Tenaris.Manager.Forum.Shared, Version=4.1.0.0, Culture=neutral, PublicKeyToken=8a748c80852b8187"/>
		<section name="Tenaris.BuckOn.Manager.BuckOnManager" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework, Version=4.1.0.0, Culture=neutral, PublicKeyToken=d69ca37b4d4b73b8"/>
		<section name="Tenaris.Manager.Preset.PresetManager" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy, Version=4.1.0.0, Culture=neutral, PublicKeyToken=c4a5016cfc42fcd0"/>
		<section name="Tenaris.Manager.Production.ProductionManager" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy, Version=4.1.0.0, Culture=neutral, PublicKeyToken=c4a5016cfc42fcd0"/>
		<section name="Tenaris.Manager.Tda.TdaManager" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy, Version=4.1.0.0, Culture=neutral, PublicKeyToken=c4a5016cfc42fcd0"/>
		<section name="Tenaris.Manager.Handshake.HandshakeManager" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy, Version=4.1.0.0, Culture=neutral, PublicKeyToken=c4a5016cfc42fcd0"/>
		<section name="Tenaris.Manager.Command.CommandManager" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy, Version=4.1.0.0, Culture=neutral, PublicKeyToken=c4a5016cfc42fcd0"/>
		<section name="log" type="Tenaris.Library.Log.LogConfiguration, Tenaris.Library.Log, Version=4.1.0.0, Culture=neutral, PublicKeyToken=bbb03b5ff4bbb68b"/>
	</configSections>

	<connectionStrings>
		<add name="DBConnection" connectionString="Application Name=BuckonManager; Data Source=TNATFT2PRDLSN.tnsautoca.techint.net,5040;Initial Catalog=L2Trk;Integrated Security=SSPI;Persist Security Info=True;MultipleActiveResultSets=True; Asynchronous Processing=true; Pooling=true; Max Pool Size=300;"/>
	</connectionStrings>

	<ManagerBaseConfiguration areaCode="LINEA2" defaultConnectionStringName="DBConnection"/>

	<DalFactory factoryType="Tenaris.Deen.Library.Framework.Data.Dals.DalFactoryImp, Tenaris.Deen.Library.Framework.Data, Version=4.2.0.0, Culture=neutral, PublicKeyToken=02ad1b8891a318c9" isSingleton="true">
		<Configuration autoRegister="true" defaultSessionName="DBConnection">
			<Assemblies>
				<Pattern value="*.Data.*"/>
			</Assemblies>
			<!--<DbSessionFactory type="Tenaris.Deen.Library.Framework.Data.DbSessions.AdoDbSessionFactory, Tenaris.Deen.Library.Framework.Data" isSingleton="true" />-->
		</Configuration>
	</DalFactory>

  
    <!--<Configuration valueType="Accepted" />-->
	<Tenaris.BuckOn.Manager.BuckOnManager factoryType="Tenaris.BuckOn.Manager.BuckOnManagerFactory, Tenaris.BuckOn.Manager" isSingleton="true">
		<Configuration applicationCode="BuckonManager"
									 sessionName="DBConnection"
									 presetManagerName="Tenaris.Manager.Preset.PresetManager"
									 tdaManagerName="Tenaris.Manager.Tda.TdaManager"
									 commandManagerName="Tenaris.Manager.Command.CommandManager"
									 handshakeManagerName="Tenaris.Manager.Handshake.HandshakeManager"
									 certificationProcessTimeout="01:05:00"
									 curvesListenerTimeout="01:05:00"
									 >
			<Machines>
				<Machine machineCode="L2_PAC"
								 controllerName="DefaultMachineController"
								 profileProviderName="PresetProfileProvider"
								 pipeStatusChangerName="DefaultPipeStatusChanger"
								 curvesListenerName="DefaultCurvesListener"
								 curvesCertifierProviderName="DefaultCurvesCertifierProvider"
								 curvesCertifierParameterProviderName="DefaultCurvesCertifierParameterProvider"
								 />
			</Machines>

			<Components>
				<Component name="DefaultMachineController" type="Tenaris.BuckOn.Manager.Components.Controllers.HandshakeBuckOnMachineController, Tenaris.BuckOn.Manager"/>
				<Component name="DefaultPipeStatusChanger" type="Tenaris.BuckOn.Manager.Components.PipeStatusChangers.ProductionStatusChanger, Tenaris.BuckOn.Manager"/>
				<Component name="PresetProfileProvider" type="Tenaris.BuckOn.Manager.Components.ProfileProviders.PresetProfileProvider, Tenaris.BuckOn.Manager">
					<Configuration presetCode="BKN_CERTTYPE" valueType="Accepted"> <!--CertificationType-->
						<PresetValues>
							<Value profileCode="API" presetValue="1" />
							<Value profileCode="PREMIUM" presetValue="2" />
						</PresetValues>

					</Configuration>
				</Component>
			</Components>

			<CurveListeners>
				<!--<Listener name="DefaultCurvesListener" type="Tenaris.Library.Certification.CurveListeners.Tda.TdaCurveListener, Tenaris.Library.Certification" isSingleton="false" />-->
        		<Listener name="DefaultCurvesListener" type="Tenaris.BuckOn.Library.CurveCertifiers.CurveListeners.TdaCurveListener, Tenaris.BuckOn.Library.CurveCertifiers" isSingleton="false" />
			</CurveListeners>
  
			<CurveCertifierProviders>
				<Provider name="DefaultCurvesCertifierProvider" type="Tenaris.Library.Certification.CurveCertifierProviders.PresetCurvesCertifierProvider, Tenaris.Library.Certification" isSingleton="false">
          <Configuration valueType="Accepted" />
				</Provider>
			</CurveCertifierProviders>

			<CurveCertifierParameterProviders>
				<Provider name="DefaultCurvesCertifierParameterProvider" type="Tenaris.Library.Certification.CurvesCertifierParameterProviders.PresetCurvesCertifierParameterProvider, Tenaris.Library.Certification" isSingleton="false" >
          <Configuration valueType="Accepted" />
				</Provider>
			</CurveCertifierParameterProviders>

			<CurvesCertifiers>
				<Certifier code="TorqueOnly" type="Tenaris.BuckOn.Library.CurveCertifiers.Api.TorqueCertifier, Tenaris.BuckOn.Library.CurveCertifiers" >
					<Configuration torqueCurveCode="BKN_TORQUE"
												 torqueXResultParameterCode="BKN_XTORQUE"
												 torqueYResultParameterCode="BKN_YTORQUE"
												 minimumTurnsParameterCode="BKN_TURNSMIN"
												 maximumTurnsParameterCode="BKN_TURNSMAX"
												 minimumTorqueParameterCode="BKN_TORQUEMIN"
												 maximumTorqueParameterCode="BKN_TORQUEMAX"
												 conditionTurnsBelowMinimum="TURNSBELOWMIN"
												 conditionTurnsExceedMaximum="TURNSEXCEEDMAX"
												 conditionTorqueBelowMinimum="TORQUEBELOWMIN"
												 conditionTorqueExceedMaximum="TORQUEEXCEEDMAX"/>
				</Certifier>

				<Certifier code="TorqueShoulder" type="Tenaris.BuckOn.Library.CurveCertifiers.Premium.PremiumCurvesCertifier, Tenaris.BuckOn.Library.CurveCertifiers">
					<Configuration torqueCurveCode="BKN_TORQUE"
												 rpmCurveCode="BKN_RPM"
												 shoulderResultParameterCode="BKN_SHOULDER"
												 torqueXResultParameterCode="BKN_XTORQUE"
												 torqueYResultParameterCode="BKN_YTORQUE"
												 initialMaximumTorqueParameterCode="BKN_TORQUEINIT"
												 minimumTorqueParameterCode="BKN_TORQUEMIN"
												 maximumTorqueParameterCode="BKN_TORQUEMAX"
												 minimumShoulderParameterCode="BKN_SHOULDERMIN"
												 maximumShoulderParameterCode="BKN_SHOULDERMAX"
												 conditionInitialTorqueExceedMaximum="INITTORQUEEXCEEDMAX"
												 conditionTorqueBelowMinimum="TORQUEBELOWMIN"
												 conditionTorqueExceedMaximum="TORQUEEXCEEDMAX"
												 conditionShoulderBelowMinimum="SHOULDERBELOWMIN"
												 conditionShoulderExceedMaximum="SHOULDEREXCEEDMAX"
												 />
				</Certifier>

			</CurvesCertifiers>
		</Configuration>
	</Tenaris.BuckOn.Manager.BuckOnManager>

	<!--<Tenaris.Manager.Preset.PresetManager
		instanceType="Tenaris.Manager.Preset.Shared.IPresetManager, Tenaris.Manager.Preset.Shared, Version=4.2.0.0, Culture=neutral, PublicKeyToken=4825386b469ae82a"
		aliveInterval="1000"
		singleInstance="true"
		isTargetManager="true"
		validateConnection="true">
		<Redundancy>
			<Address url="tcp://TNACAWFM197.tnsautoca.techint.net:21008/Tenaris.Manager.Preset.soap" forumPresent="false" isTargetManager="true"/>
		</Redundancy>
	</Tenaris.Manager.Preset.PresetManager>-->
  
  
  <Tenaris.Manager.Preset.PresetManager
			url="tcp://TNACAWFM197.tnsautoca.techint.net:21008/Tenaris.Manager.Preset.soap"
			instanceType="Tenaris.Manager.Preset.Shared.IPresetManager, Tenaris.Manager.Preset.Shared"
			aliveInterval="3000"
			singleInstance="true"
			validateConnection="true">
        <Redundancy>
            <Address url="tcp://TNACAWFM197.tnsautoca.techint.net:21008/Tenaris.Manager.Preset.soap" forumPresent="false" isTargetManager="true" />
        </Redundancy>
    </Tenaris.Manager.Preset.PresetManager>  
  

	<Tenaris.Manager.Tda.TdaManager
		instanceType="Tenaris.Manager.Tda.Shared.ITdaManager, Tenaris.Manager.Tda.Shared, Version=4.1.0.0, Culture=neutral, PublicKeyToken=8456c4f994cf1de1"
		aliveInterval="1000"
		singleInstance="true"
		isTargetManager="true"
		validateConnection="true">
		<Redundancy>
			<Address url="tcp://TNACAWFM197.tnsautoca.techint.net:21009/Tenaris.Manager.Tda.soap" forumPresent="false" isTargetManager="true"/>
		</Redundancy>
	</Tenaris.Manager.Tda.TdaManager>

	<Tenaris.Manager.Handshake.HandshakeManager
		instanceType="Tenaris.Manager.Handshake.Shared.IHandshakeManager, Tenaris.Manager.Handshake.Shared, Version=4.1.0.0, Culture=neutral, PublicKeyToken=29c584614971a615"
		aliveInterval="1000"
		singleInstance="true"
		isTargetManager="true"
		validateConnection="true">
		<Redundancy>
			<Address url="tcp://TNACAWFM197.tnsautoca.techint.net:21002/HandshakeManager.soap" isTargetManager="true" validateConnection="true"/>
		</Redundancy>
	</Tenaris.Manager.Handshake.HandshakeManager>

	<Tenaris.Manager.Command.CommandManager
		instanceType="Tenaris.Manager.Command.Shared.ICommandManager, Tenaris.Manager.Command.Shared, Version=4.1.0.0, Culture=neutral, PublicKeyToken=85d881d6f906ae36"
		aliveInterval="1000"
		singleInstance="true"
		isTargetManager="true"
		validateConnection="true">
		<Redundancy>
			<Address url="tcp://TNACAWFM197.tnsautoca.techint.net:21003/Tenaris.Manager.Command.soap" isTargetManager="true" validateConnection="true"/>
		</Redundancy>
	</Tenaris.Manager.Command.CommandManager>

	<Tenaris.Manager.Production.ProductionManager
		instanceType="Tenaris.Manager.Production.Shared.IProductionManager, Tenaris.Manager.Production.Shared, Version=4.2.0.0, Culture=neutral, PublicKeyToken=81746773fd47a555"
		aliveInterval="1000"
		singleInstance="true"
		isTargetManager="true"
		validateConnection="true">
		<Redundancy>
			<Address url="tcp://TNACAWFM197.tnsautoca.techint.net:21006/Tenaris.Manager.Production.ProductionManager.soap" isTargetManager="true" validateConnection="true"/>
		</Redundancy>
	</Tenaris.Manager.Production.ProductionManager>

	<log
		maxFileSize="8096"
		maxFileCount="30"
		noQueue="true"
		msgFormat="{TypeChar} {Timestamp:yyyy-MM-dd HH:mm:ss.fff} [{AppDomainName,-20}:{ThreadId,-5:d5}] [lap={LapFriendlyValue,-10:f2}{LapFriendlyUnit,4}] {AssemblyName,-15}; {MethodName} {IdentString} {Message}"
		logLevel="Debug"
		traceAttributeLogEnabled="true"
		path="..\..\..\Logs\Manager\BuckOn\"
		logBaseName="BuckOnManager"
		additionalLogDestination="Console"
	/>

	<!--Remoting configuration. This can be placed in a separate file named remoting.config-->
	<system.runtime.remoting>
		<customErrors mode="off"/>
		<application name="Server">
			<channels>
				<channel ref="tcp" port="21011" >
					<serverProviders>
						<formatter ref="binary" typeFilterLevel="Full"/>
					</serverProviders>
					<clientProviders>
						<provider type="Tenaris.Library.Proxy.Remoting.ClientRemotingInterceptorProvider, Tenaris.Library.Proxy, Version=4.1.0.0, Culture=neutral, PublicKeyToken=c4a5016cfc42fcd0"/>
						<formatter ref="binary" typeFilterLevel="Full"/>
					</clientProviders>
				</channel>
			</channels>
		</application>
	</system.runtime.remoting>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>

</configuration>