<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="ForumManagerFactoryConfiguration" type="Tenaris.Manager.Forum.Common.Configuration.ForumConfigurationSection, Tenaris.Manager.Forum.Common"/>
    <section name="ForumControllerFactoryConfiguration" type="Tenaris.Manager.Forum.Common.Configuration.ForumControllerConfigurationSection, Tenaris.Manager.Forum.Common"/>
    <section name="log" type="Tenaris.Library.Log.LogConfiguration, Tenaris.Library.Log"/>
  </configSections>

  <ForumControllerFactoryConfiguration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                                       isSingleton="false" address="ForumManager/Controller.soap"
                                       forumConfigurationName="ForumManagerFactoryConfiguration"
                                       activateAllManagers="true"/>


 
  <ForumManagerFactoryConfiguration xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <Launcher initializationTries="5" activationTries="5" activationMode="GraphManual">
     <Hosts>
					
				<ProcessHost name="ShiftManager" enabled="true" initializationTimeout="5000"
				  activationTimeout="5000" deactivationTimeout="5000" deinitializationTimeout="5000"
				  startingTimeout="5000" autoRestartDependencies="false" postInitializationSleep="0"
				  watchInterval="5000">
					<DependOf></DependOf>
					<RemoteInstance type="Tenaris.Manager.Shift.Shared.IShiftManager, Tenaris.Manager.Shift.Shared"
					url="tcp://TNACAWFM197.tnsautoca.techint.net:21001/ShiftManager.soap"
					tries="10" wait="100">
						<Interfaces />
					</RemoteInstance>
					<Process startWait="5000" stoptWait="5000" createNoWindow="false"
					useShellExecute="false" filename="..\..\Manager\Shift\Tenaris.Manager.Host.exe"
					arguments="mgr:ShiftManager/false"
					workingDirectory="..\..\Manager\Shift\" />
				</ProcessHost>
				<ProcessHost name="CommandManager" enabled="true" initializationTimeout="5000"
				  activationTimeout="5000" deactivationTimeout="5000" deinitializationTimeout="5000"
				  startingTimeout="5000" autoRestartDependencies="false" postInitializationSleep="0"
				  watchInterval="5000">
					<DependOf></DependOf>
					<RemoteInstance type="Tenaris.Manager.Command.Shared.ICommandManager, Tenaris.Manager.Command.Shared"
					url="tcp://TNACAWFM197.tnsautoca.techint.net:21003/Tenaris.Manager.Command.soap"
					tries="10" wait="100">
						<Interfaces />
					</RemoteInstance>
					<Process startWait="5000" stoptWait="5000" createNoWindow="false"
					useShellExecute="false" filename="..\..\Manager\Command\Tenaris.Manager.Host.exe"
					arguments="mgr:Tenaris.Manager.Command/false"
					workingDirectory="..\..\Manager\Command\" />
				</ProcessHost>
				<ProcessHost name="HandshakeManager" enabled="true" initializationTimeout="5000"
				  activationTimeout="5000" deactivationTimeout="5000" deinitializationTimeout="5000"
				  startingTimeout="5000" autoRestartDependencies="false" postInitializationSleep="0"
				  watchInterval="5000">
					<DependOf></DependOf>
					<RemoteInstance type="Tenaris.Manager.Handshake.Shared.IHandshakeManager, Tenaris.Manager.Handshake.Shared"
					url="tcp://TNACAWFM197.tnsautoca.techint.net:21002/HandshakeManager.soap"
					tries="10" wait="100">
						<Interfaces />
					</RemoteInstance>
					<Process startWait="5000" stoptWait="5000" createNoWindow="false"
					useShellExecute="false" filename="..\..\Manager\Handshake\Tenaris.Manager.Host.exe"
					arguments="mgr:HandshakeManager/false"
					workingDirectory="..\..\Manager\Handshake\" />
				</ProcessHost>
				<ProcessHost name="TrackingManager" enabled="true" initializationTimeout="5000"
				  activationTimeout="5000" deactivationTimeout="5000" deinitializationTimeout="5000"
				  startingTimeout="5000" autoRestartDependencies="false" postInitializationSleep="0"
				  watchInterval="5000">
					<DependOf>HandshakeManager ; CommandManager</DependOf>
					<RemoteInstance type="Tenaris.Manager.Tracking.Shared.ITrackingManager, Tenaris.Manager.Tracking.Shared"
					url="tcp://TNACAWFM197.tnsautoca.techint.net:21005/TrackingManager.soap"
					tries="10" wait="100">
						<Interfaces />
					</RemoteInstance>
					<Process startWait="5000" stoptWait="5000" createNoWindow="false"
					useShellExecute="false" filename="..\..\Manager\Tracking\Tenaris.Manager.Host.exe"
					arguments="mgr:TrackingManager/false"
					workingDirectory="..\..\Manager\Tracking\" />
				</ProcessHost>
				<ProcessHost name="SpecificationService" enabled="true" initializationTimeout="5000"
				  activationTimeout="5000" deactivationTimeout="5000" deinitializationTimeout="5000"
				  startingTimeout="5000" autoRestartDependencies="false" postInitializationSleep="0"
				  watchInterval="5000">
					<DependOf></DependOf>
					<RemoteInstance type="Tenaris.Manager.ProcessExecutor.Shared.Contract.IProcessExecutorManagerA, Tenaris.Manager.ProcessExecutor.Shared"
					url="tcp://TNACAWFM197.tnsautoca.techint.net:5015/SpecificationService.soap"
					tries="10" wait="100">
						<Interfaces />
					</RemoteInstance>
					<Process startWait="5000" stoptWait="5000" createNoWindow="false"
					useShellExecute="false" filename="..\..\Service\SpecificationService\Tenaris.Manager.Host.exe"
					arguments="mgr:SpecificationService/false"
					workingDirectory="..\..\Service\SpecificationService\" />
				</ProcessHost>
				<ProcessHost name="AlarmManager" enabled="true" initializationTimeout="5000"
				  activationTimeout="5000" deactivationTimeout="5000" deinitializationTimeout="5000"
				  startingTimeout="5000" autoRestartDependencies="false" postInitializationSleep="0"
				  watchInterval="5000">
					<DependOf></DependOf>
					<RemoteInstance type="Tenaris.Manager.Alarm.Shared.IAlarmManager, Tenaris.Manager.Alarm.Shared"
				   url="tcp://TNACAWFM197.tnsautoca.techint.net:21010/Tenaris.Manager.Alarm.soap"
				   tries="10" wait="100">
						<Interfaces />
					</RemoteInstance>
					<Process startWait="5000" stoptWait="5000" createNoWindow="false"
					useShellExecute="false" filename="..\..\Manager\Alarm\Tenaris.Manager.Host.exe"
					arguments="mgr:Tenaris.Manager.Alarm/false"
					workingDirectory="..\..\Manager\Alarm\" />
				</ProcessHost>
				<ProcessHost name="ProductionManager" enabled="true" initializationTimeout="5000"
			  activationTimeout="5000" deactivationTimeout="5000" deinitializationTimeout="5000"
			  startingTimeout="5000" autoRestartDependencies="false" postInitializationSleep="0"
			  watchInterval="5000">
					<DependOf>ShiftManager; HandshakeManager; CommandManager; TrackingManager</DependOf>
					<RemoteInstance type="Tenaris.Library.IKeyManager.Shared.IKeyManager, Tenaris.Library.IKeyManager.Shared"
				   url="tcp://TNACAWFM197.tnsautoca.techint.net:21006/Tenaris.Manager.Production.ProductionManager.soap"
				   tries="10" wait="100">
						<Interfaces />
					</RemoteInstance>
					<Process startWait="5000" stoptWait="5000" createNoWindow="false"
					useShellExecute="false" filename="..\..\Manager\Production\Tenaris.Manager.Host.exe"
					arguments="mgr:Tenaris.Manager.Production.ProductionManager/false"
					workingDirectory="..\..\Manager\Production\" />
				</ProcessHost>
				<ProcessHost name="BusinessRulesManager" enabled="true" initializationTimeout="5000"
			   activationTimeout="5000" deactivationTimeout="5000" deinitializationTimeout="5000"
			   startingTimeout="5000" autoRestartDependencies="false" postInitializationSleep="0"
			   watchInterval="5000">
					<DependOf>AlarmManager;TrackingManager;HandshakeManager</DependOf>
					<RemoteInstance type="Tenaris.Manager.BusinessRules.Shared.IBusinessRulesManager, Tenaris.Manager.BusinessRules.Shared"
					url="tcp://TNACAWFM197.tnsautoca.techint.net:14312/Tenaris.Manager.BusinessRules.soap"
					tries="10" wait="100">
						<Interfaces />
					</RemoteInstance>
					<Process startWait="5000" stoptWait="5000" createNoWindow="false"
					useShellExecute="false" filename="../../Manager/BusinessRules/Tenaris.Manager.Host.exe"
					arguments="mgr:Tenaris.Manager.BusinessRules/false"
					workingDirectory="../../Manager/BusinessRules" />
				</ProcessHost>
				<ProcessHost name="OrderReplicator" enabled="true"
			initializationTimeout="50000" activationTimeout="50000" deactivationTimeout="5000"
			  deinitializationTimeout="5000" startingTimeout="50000" autoRestartDependencies="false"
			  postInitializationSleep="0" watchInterval="5000">
					<DependOf></DependOf>
					<RemoteInstance type="Tenaris.Manager.ProcessExecutor.Shared.Contract.IProcessExecutorManagerB, Tenaris.Manager.ProcessExecutor.Shared"
					url="tcp://TNACAWFM197.tnsautoca.techint.net:5016/OrderReplicatorManager.soap"
					tries="10" wait="100">
						<Interfaces />
					</RemoteInstance>
					<Process startWait="5000" stoptWait="5000" createNoWindow="false"
					useShellExecute="false" filename="../../Manager/OrderReplicator/Tenaris.Manager.Host.exe"
					arguments="mgr:OrderReplicatorManager/false"
					workingDirectory="../../Manager/OrderReplicator"/>
				</ProcessHost>
				<ProcessHost name="PresetManager" enabled="true"
		initializationTimeout="50000" activationTimeout="50000" deactivationTimeout="5000"
          deinitializationTimeout="5000" startingTimeout="50000" autoRestartDependencies="false"
          postInitializationSleep="0" watchInterval="5000">
					<DependOf>CommandManager;ProductionManager</DependOf>
					<RemoteInstance type="Tenaris.Manager.Preset.Shared.IPresetManager, Tenaris.Manager.Preset.Shared"
					url="tcp://TNACAWFM197.tnsautoca.techint.net:21008/Tenaris.Manager.Preset.soap"
					tries="10" wait="100">
						<Interfaces />
					</RemoteInstance>
					<Process startWait="5000" stoptWait="5000" createNoWindow="false"
					useShellExecute="false" filename="../../Manager/Preset/Tenaris.Manager.Host.exe"
					arguments="mgr:Tenaris.Manager.Preset/false"
					workingDirectory="../../Manager/Preset"/>
				</ProcessHost>

				<ProcessHost name="TdaManager" enabled="true"
			initializationTimeout="50000" activationTimeout="50000" deactivationTimeout="5000"
			  deinitializationTimeout="5000" startingTimeout="50000" autoRestartDependencies="false"
			  postInitializationSleep="0" watchInterval="5000">
					<DependOf>ProductionManager</DependOf>
					<RemoteInstance type="Tenaris.Manager.Tda.Shared.ITdaManager, Tenaris.Manager.Tda.Shared"
					url="tcp://TNACAWFM197.tnsautoca.techint.net:21009/Tenaris.Manager.Tda.soap"
					tries="10" wait="100">
						<Interfaces />
					</RemoteInstance>
					<Process startWait="5000" stoptWait="5000" createNoWindow="false"
					useShellExecute="false" filename="../../Manager/Tda/Tenaris.Manager.Host.exe"
					arguments="mgr:Tenaris.Manager.Tda/false"
					workingDirectory="../../Manager/Tda"/>
				</ProcessHost>

				<ProcessHost name="IdentificationAm22" enabled="true"
				initializationTimeout="50000" activationTimeout="50000" deactivationTimeout="5000"
				  deinitializationTimeout="5000" startingTimeout="50000" autoRestartDependencies="false"
				  postInitializationSleep="0" watchInterval="5000">
					<DependOf>AlarmManager;HandshakeManager;CommandManager;TrackingManager;OrderReplicator</DependOf>
					<RemoteInstance type="Tamsa.Manager.Identification.Shared.Contract.IIdentificationManager, Tamsa.Manager.Identification.Shared"
					 url="tcp://TNACAWFM197.tnsautoca.techint.net:40020/IdentificationManager.soap"
					 tries="10" wait="100">
						<Interfaces />
					</RemoteInstance>
					<Process startWait="5000" stoptWait="5000" createNoWindow="false"
					useShellExecute="false" filename="../../Manager/IdentificationAM22_GenericVisionInterace/Tenaris.Manager.Host.exe"
					arguments="mgr:IdentificationManager/false"
					workingDirectory="../../Manager/IdentificationAM22_GenericVisionInterace"/>
				</ProcessHost>

				<ProcessHost name="IdentificationPAC22" enabled="true"
				initializationTimeout="50000" activationTimeout="50000" deactivationTimeout="5000"
				deinitializationTimeout="5000" startingTimeout="50000" autoRestartDependencies="false"
				postInitializationSleep="0" watchInterval="5000">
				<DependOf>AlarmManager;HandshakeManager;CommandManager;TrackingManager;OrderReplicator</DependOf>
				<RemoteInstance type="Tenaris.Manager.Identification.IdentificationPAC22.Shared.IIdentificationManager1,Tenaris.Manager.Identification.IdentificationPAC22.Shared"
				url="tcp://TNACAWFM197.tnsautoca.techint.net:40021/IdentificationManager.soap" 
				tries="10" wait="100">
				<Interfaces />
				</RemoteInstance>
				<Process startWait="5000" stoptWait="5000" createNoWindow="false"
				useShellExecute="false" filename="../../Manager/IdentificationPAC22/Tenaris.Manager.Host.exe"
				arguments="mgr:IdentificationManager/false"
				workingDirectory="../../Manager/IdentificationPAC22"/>
				</ProcessHost>
				<ProcessHost name="IdentificationPH22" enabled="true"
		initializationTimeout="50000" activationTimeout="50000" deactivationTimeout="5000"
          deinitializationTimeout="5000" startingTimeout="50000" autoRestartDependencies="false"
          postInitializationSleep="0" watchInterval="5000">
					<DependOf>AlarmManager;HandshakeManager;CommandManager;TrackingManager;OrderReplicator</DependOf>
					<RemoteInstance type="Tenaris.Manager.Identification.IdentificationPH22.Shared.IIdentificationManager2,Tenaris.Manager.Identification.IdentificationPH22.Shared"
					 url="tcp://TNACAWFM197.tnsautoca.techint.net:40023/IdentificationManager.soap"
					 tries="10" wait="100">
						<Interfaces />
					</RemoteInstance>
					<Process startWait="5000" stoptWait="5000" createNoWindow="false"
					useShellExecute="false" filename="../../Manager/IdentificationPH22_NuevaInterface/Tenaris.Manager.Host.exe"
					arguments="mgr:IdentificationManager/false"
					workingDirectory="../../Manager/IdentificationPH22_NuevaInterface"/>
				</ProcessHost>
				<ProcessHost name="IdentificationVDI24" enabled="true"
	initializationTimeout="50000" activationTimeout="50000" deactivationTimeout="5000"
	  deinitializationTimeout="5000" startingTimeout="50000" autoRestartDependencies="false"
	  postInitializationSleep="0" watchInterval="5000">
					<DependOf>AlarmManager;HandshakeManager;CommandManager;TrackingManager;OrderReplicator</DependOf>
					<RemoteInstance type="Tenaris.Manager.Identification.IdentificationVDI24.Shared.IIdentificationManager3,Tenaris.Manager.Identification.IdentificationVDI24.Shared"
					 url="tcp://TNACAWFM197.tnsautoca.techint.net:40022/IdentificationManager.soap"
					 tries="10" wait="100">
						<Interfaces />
					</RemoteInstance>
					<Process startWait="5000" stoptWait="5000" createNoWindow="false"
					useShellExecute="false" filename="../../Manager/IdentificationVDI24/Tenaris.Manager.Host.exe"
					arguments="mgr:IdentificationManager/false"
					workingDirectory="../../Manager/IdentificationVDI24"/>
				</ProcessHost>
				<ProcessHost name="buckOnManager" enabled="true"
	initializationTimeout="50000" activationTimeout="50000" deactivationTimeout="5000"
	  deinitializationTimeout="5000" startingTimeout="50000" autoRestartDependencies="false"
	  postInitializationSleep="0" watchInterval="5000">
					<DependOf>PresetManager; ProductionManager; TdaManager; HandshakeManager; CommandManager</DependOf>
					<RemoteInstance type="Tenaris.BuckOn.Manager.Shared.IBuckOnManager, Tenaris.BuckOn.Manager.Shared"
					url="tcp://TNACAWFM197.tnsautoca.techint.net:21011/Tenaris.BuckOn.Manager.BuckOnManager.soap"
					tries="10" wait="100">
						<Interfaces />
					</RemoteInstance>
					<Process startWait="5000" stoptWait="5000" createNoWindow="false"
					useShellExecute="false" filename="../../Manager/BuckOn/Tenaris.Manager.Host.exe"
					arguments="mgr:Tenaris.BuckOn.Manager.BuckOnManager/false"
					workingDirectory="../../Manager/BuckOn" />
				</ProcessHost>
				<ProcessHost name="EntranceManager" enabled="true"
				initializationTimeout="50000" activationTimeout="50000" deactivationTimeout="5000"
				  deinitializationTimeout="5000" startingTimeout="50000" autoRestartDependencies="false"
				  postInitializationSleep="0" watchInterval="5000">
					<DependOf>ProductionManager;CommandManager</DependOf>
					<RemoteInstance type="Tenaris.Manager.Entrance.Shared.IEntranceManager, Tenaris.Manager.Entrance.Shared"
					url="tcp://TNACAWFM197.tnsautoca.techint.net:21007/Tenaris.Manager.Entrance.EntranceManager.soap"
					tries="10" wait="100">
						<Interfaces />
					</RemoteInstance>
					<Process startWait="5000" stoptWait="5000" createNoWindow="false"
					useShellExecute="false" filename="../../Manager/Entrance/Tenaris.Manager.Host.exe"
					arguments="mgr:Tenaris.Manager.Entrance.EntranceManager/false"
					workingDirectory="../../Manager/Entrance"/>
				</ProcessHost>
				<ProcessHost name="LinkerManager" enabled="true"
				initializationTimeout="50000" activationTimeout="50000" deactivationTimeout="5000"
				deinitializationTimeout="5000" startingTimeout="50000" autoRestartDependencies="false"
				postInitializationSleep="0" watchInterval="5000">
				<DependOf>ProductionManager;CommandManager</DependOf>
				<RemoteInstance type="Tenaris.Tamsa.Manager.LinkerTrkLevel2.Shared.Contract.ILinkerTrkLevel2Manager, Tenaris.Tamsa.Manager.LinkerTrkLevel2.Shared"
				url="tcp://TNACAWFM197.tnsautoca.techint.net:12701/LinkerTrkLevel2Manager.soap"
				tries="10" wait="100">
				<Interfaces />
				</RemoteInstance>
				<Process startWait="5000" stoptWait="5000" createNoWindow="false"
				useShellExecute="false" filename="../../Manager/LinkerManager/Tenaris.Manager.Host.exe"
				arguments="mgr:LinkerTrkLevel2Manager/false"
				workingDirectory="../../Manager/LinkerManager"/>
				</ProcessHost>
				<ProcessHost name="TraceabilityValidationREA20" enabled="true"
				initializationTimeout="50000" activationTimeout="50000" deactivationTimeout="5000"
				deinitializationTimeout="5000" startingTimeout="50000" autoRestartDependencies="false"
				postInitializationSleep="0" watchInterval="5000">
				<DependOf>ShiftManager;CommandManager;HandshakeManager;AlarmManager</DependOf>
				<RemoteInstance type="Tamsa.Common.Manager.TraceabilityValidation.Shared.ITraceabilityValidationManager, Tamsa.Common.Manager.TraceabilityValidation.Shared"
				url="tcp://TNACAWFM197.tnsautoca.techint.net:25001/Tamsa.Common.Manager.TraceabilityValidation.Manager.soap" 
				tries="10" wait="100">
				<Interfaces />
				</RemoteInstance>
				<Process startWait="5000" stoptWait="5000" createNoWindow="false"
				useShellExecute="false" filename="../../Manager/TraceabilityValidation_REA20/Tenaris.Manager.Host.exe"
				arguments="mgr:Tamsa.Common.Manager.TraceabilityValidation.Manager/false"
				workingDirectory="../../Manager/TraceabilityValidation_REA20"/>
				</ProcessHost>
				<ProcessHost name="InterruptionManager" enabled="true"
			   initializationTimeout="5000" activationTimeout="5000" deactivationTimeout="5000"
			   deinitializationTimeout="5000" startingTimeout="5000" autoRestartDependencies="false"
			   postInitializationSleep="0" watchInterval="5000">
					<DependOf>ProductionManager</DependOf>
					<RemoteInstance type="Tenaris.Manager.Interruption.Shared.IInterruptionManager, Tenaris.Manager.Interruption.Shared"
					url="tcp://TNACAWFM197.tnsautoca.techint.net:7009/Tenaris.Manager.Interruption.soap"
					tries="10" wait="100">
						<Interfaces />
					</RemoteInstance>
					<Process startWait="5000" stoptWait="5000" createNoWindow="false"
					useShellExecute="false" filename="../../Manager/Interruption/Tenaris.Manager.Host.exe"
					arguments="mgr:Tenaris.Manager.Interruption/false"
					workingDirectory="../../Manager/Interruption"/>
				</ProcessHost>
				<ProcessHost name="CycleTimeManager" enabled="true"
		initializationTimeout="50000" activationTimeout="50000" deactivationTimeout="5000"
          deinitializationTimeout="5000" startingTimeout="50000" autoRestartDependencies="false"
          postInitializationSleep="0" watchInterval="5000">
					<DependOf></DependOf>
					<RemoteInstance type="Tenaris.Manager.CycleTime.Shared.ICycleTimeManager, Tenaris.Manager.CycleTime.Shared"
					url="tcp://TNACAWFM197.tnsautoca.techint.net:50015/CycleTimeManager.soap"
					tries="10" wait="100">
						<Interfaces />
					</RemoteInstance>
					<Process startWait="5000" stoptWait="5000" createNoWindow="false"
					useShellExecute="false" filename="../../Manager/CycleTime/Tenaris.Manager.Host.exe"
					arguments="mgr:CycleTimeManager/false"
					workingDirectory="../../Manager/CycleTime"/>
				</ProcessHost>
				<ProcessHost name="MailManager" enabled="true" initializationTimeout="5000"
			  activationTimeout="5000" deactivationTimeout="5000" deinitializationTimeout="5000"
			  startingTimeout="5000" autoRestartDependencies="false" postInitializationSleep="0"
			  watchInterval="5000">
					<DependOf></DependOf>
					<RemoteInstance type="Tenaris.Manager.Mail.Shared.IMailManager, Tenaris.Manager.Mail.Shared"
				   url="tcp://TNACAWFM197.tnsautoca.techint.net:50053/Tenaris.Manager.Mail.soap"
				   tries="10" wait="100">
						<Interfaces />
					</RemoteInstance>
					<Process startWait="5000" stoptWait="5000" createNoWindow="false"
					useShellExecute="false" filename="..\..\Manager\Tenaris.Manager.Mail\Tenaris.Manager.Host.exe"
					arguments="mgr:Tenaris.Manager.Mail/false"
					workingDirectory="..\..\Manager\Tenaris.Manager.Mail\" />
				</ProcessHost>
				<ProcessHost name="BusinessRulesHPT" enabled="true" initializationTimeout="5000"
				  activationTimeout="5000" deactivationTimeout="5000" deinitializationTimeout="5000"
				  startingTimeout="5000" autoRestartDependencies="false" postInitializationSleep="0"
				  watchInterval="5000">
					<DependOf>AlarmManager;TrackingManager;HandshakeManager;PresetManager</DependOf>
					<RemoteInstance type="Tenaris.Manager.BusinessRules.Hpt.Shared.IBusinessRulesManager2, Tenaris.Manager.BusinessRules.Hpt.Shared"
					url="tcp://TNACAWFM197.tnsautoca.techint.net:14314/Tenaris.Manager.BusinessRules.soap"
					tries="10" wait="100">
						<Interfaces />
					</RemoteInstance>
					<Process startWait="5000" stoptWait="5000" createNoWindow="false"
					useShellExecute="false" filename="../../Manager/BusinessRulesHpt/Tenaris.Manager.Host.exe"
					arguments="mgr:Tenaris.Manager.BusinessRules/false"
					workingDirectory="../../Manager/BusinessRulesHpt" />
				</ProcessHost>
				<ProcessHost name="BusinessRulesSEA23" enabled="true" initializationTimeout="5000"
			  activationTimeout="5000" deactivationTimeout="5000" deinitializationTimeout="5000"
			  startingTimeout="5000" autoRestartDependencies="false" postInitializationSleep="0"
			  watchInterval="5000">
					<DependOf>AlarmManager;TrackingManager;HandshakeManager;PresetManager</DependOf>
					<RemoteInstance type="Tenaris.Manager.BusinessRules.SEA23.Shared.IBusinessRulesManager3, Tenaris.Manager.BusinessRules.SEA23.Shared"
					url="tcp://TNACAWFM197.tnsautoca.techint.net:14315/Tenaris.Manager.BusinessRules.soap"
					tries="10" wait="100">
						<Interfaces />
					</RemoteInstance>
					<Process startWait="5000" stoptWait="5000" createNoWindow="false"
					useShellExecute="false" filename="../../Manager/BusinessRulesSEA23/Tenaris.Manager.Host.exe"
					arguments="mgr:Tenaris.Manager.BusinessRules/false"
					workingDirectory="../../Manager/BusinessRulesSEA23" />
				</ProcessHost>
				<ProcessHost name="BusinessRulesSEA24" enabled="true" initializationTimeout="5000"
				  activationTimeout="5000" deactivationTimeout="5000" deinitializationTimeout="5000"
				  startingTimeout="5000" autoRestartDependencies="false" postInitializationSleep="0"
				  watchInterval="5000">
					<DependOf>AlarmManager;TrackingManager;HandshakeManager;PresetManager</DependOf>
					<RemoteInstance type="Tenaris.Manager.BusinessRules.SEA24.Shared.IBusinessRulesManager4, Tenaris.Manager.BusinessRules.SEA24.Shared"
					url="tcp://TNACAWFM197.tnsautoca.techint.net:14317/Tenaris.Manager.BusinessRules.soap"
					tries="10" wait="100">
						<Interfaces />
					</RemoteInstance>
					<Process startWait="5000" stoptWait="5000" createNoWindow="false"
					useShellExecute="false" filename="../../Manager/BusinessRulesSEA24/Tenaris.Manager.Host.exe"
					arguments="mgr:Tenaris.Manager.BusinessRules/false"
					workingDirectory="../../Manager/BusinessRulesSEA24" />
				</ProcessHost>
				<ProcessHost name="BusinessRulesVDI23" enabled="true" initializationTimeout="5000"
			  activationTimeout="5000" deactivationTimeout="5000" deinitializationTimeout="5000"
			  startingTimeout="5000" autoRestartDependencies="false" postInitializationSleep="0"
			  watchInterval="5000">
					<DependOf>AlarmManager;TrackingManager;HandshakeManager;PresetManager</DependOf>
					<RemoteInstance type="Tenaris.Manager.BusinessRules.VDI23.Shared.IBusinessRulesManager5, Tenaris.Manager.BusinessRules.VDI23.Shared"
					url="tcp://TNACAWFM197.tnsautoca.techint.net:14316/Tenaris.Manager.BusinessRules.soap"
					tries="10" wait="100">
						<Interfaces />
					</RemoteInstance>
					<Process startWait="5000" stoptWait="5000" createNoWindow="false"
					useShellExecute="false" filename="../../Manager/BusinessRulesVDI23/Tenaris.Manager.Host.exe"
					arguments="mgr:Tenaris.Manager.BusinessRules/false"
					workingDirectory="../../Manager/BusinessRulesVDI23" />
				</ProcessHost>
				<ProcessHost name="BusinessRulesVDI24" enabled="true" initializationTimeout="5000"
			  activationTimeout="5000" deactivationTimeout="5000" deinitializationTimeout="5000"
			  startingTimeout="5000" autoRestartDependencies="false" postInitializationSleep="0"
			  watchInterval="5000">
					<DependOf>AlarmManager;TrackingManager;HandshakeManager;PresetManager</DependOf>
					<RemoteInstance type="Tenaris.Manager.BusinessRules.VDI24.Shared.IBusinessRulesManager6, Tenaris.Manager.BusinessRules.VDI24.Shared"
					url="tcp://TNACAWFM197.tnsautoca.techint.net:14318/Tenaris.Manager.BusinessRules.soap"
					tries="10" wait="100">
						<Interfaces />
					</RemoteInstance>
					<Process startWait="5000" stoptWait="5000" createNoWindow="false"
					useShellExecute="false" filename="../../Manager/BusinessRulesVDI24/Tenaris.Manager.Host.exe"
					arguments="mgr:Tenaris.Manager.BusinessRules/false"
					workingDirectory="../../Manager/BusinessRulesVDI24" />
				</ProcessHost>
				<ProcessHost name="HydroTesterManager" enabled="true"
		initializationTimeout="50000" activationTimeout="50000" deactivationTimeout="5000"
          deinitializationTimeout="5000" startingTimeout="50000" autoRestartDependencies="false"
          postInitializationSleep="0" watchInterval="5000">
		  <DependOf>HandshakeManager;CommandManager;ProductionManager;PresetManager;TdaManager</DependOf>
		  <RemoteInstance type="Tenaris.Hydrotest.Manager.Shared.IHydrotestManager, Tenaris.Hydrotest.Manager.Shared"
		  url="tcp://TNACAWFM197.tnsautoca.techint.net:49600/Tenaris.Hydrotest.Manager.HydrotestManager.soap" 
		  tries="10" wait="100">
		  <Interfaces />
		  </RemoteInstance>
		  <Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Manager/HydroTester/Tenaris.Manager.Host.exe"
		  arguments="mgr:Tenaris.Hydrotest.Manager.HydrotestManager/false"
		  workingDirectory="../../Manager/HydroTester"/>
		</ProcessHost>
        <ProcessHost name="ToolsetService" enabled="true"
		initializationTimeout="50000" activationTimeout="50000" deactivationTimeout="5000"
          deinitializationTimeout="5000" startingTimeout="50000" autoRestartDependencies="false"
          postInitializationSleep="0" watchInterval="5000">
		  <DependOf>ShiftManager;ProductionManager;CommandManager;PresetManager</DependOf>
		  <RemoteInstance type="Tenaris.Service.Toolset.Shared.IToolService, Tenaris.Service.Toolset.Shared"
		  url="tcp://TNACAWFM197.tnsautoca.techint.net:50032/Tenaris.Service.Toolset.ToolsetManager.soap"
		  tries="10" wait="100">
		  <Interfaces />
		  </RemoteInstance>
		  <Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Service/Toolset/Tenaris.Manager.Host.exe"
		  arguments="mgr:Tenaris.Service.Toolset.ToolsetManager/false"
		  workingDirectory="../../Service/Toolset"/>
		</ProcessHost>
			<ProcessHost name="RegisterHeadsManager" enabled="true"
		initializationTimeout="50000" activationTimeout="50000" deactivationTimeout="5000"
          deinitializationTimeout="5000" startingTimeout="50000" autoRestartDependencies="false"
          postInitializationSleep="0" watchInterval="5000">
		  <DependOf>HandshakeManager</DependOf>
		  <RemoteInstance type="Tenaris.Tamsa.Manager.RegisterHeads.Shared.Contract.IRegisterHeadsManager, Tenaris.Tamsa.Manager.RegisterHeads.Shared"
		  url="tcp://TNACAWFM197.tnsautoca.techint.net:30500/RegisterHeadsManager.soap" 
		  tries="10" wait="100">
		  <Interfaces />
		  </RemoteInstance>
		  <Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Manager/RegisterHeadsManager/Tenaris.Manager.Host.exe"
		  arguments="mgr:RegisterHeadsManager/false"
		  workingDirectory="../../Manager/RegisterHeadsManager"/>
		</ProcessHost>
		<ProcessHost name="VdiManager" enabled="true"
		initializationTimeout="50000" activationTimeout="50000" deactivationTimeout="5000"
          deinitializationTimeout="5000" startingTimeout="50000" autoRestartDependencies="false"
          postInitializationSleep="0" watchInterval="5000">
		  <DependOf>CommandManager;HandshakeManager;ShiftManager;ProductionManager;TrackingManager</DependOf>
		  <RemoteInstance type="Tenaris.Manager.Vdi.Shared.IVdiManager, Tenaris.Manager.Vdi.Shared"
		  url="tcp://TNACAWFM197.tnsautoca.techint.net:21012/Tenaris.Manager.Vdi.VdiManager.soap" 
		  tries="10" wait="100">
		  <Interfaces />
		  </RemoteInstance>
		  <Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Manager/Tenaris.Manager.Vdi/Tenaris.Manager.Host.exe"
		  arguments="mgr:Tenaris.Manager.Vdi.VdiManager/false"
		  workingDirectory="../../Manager/Tenaris.Manager.Vdi"/>
		</ProcessHost>
			<ProcessHost name="BusinessRulesHandshakeAlarms" enabled="true"
		initializationTimeout="50000" activationTimeout="50000" deactivationTimeout="5000"
          deinitializationTimeout="5000" startingTimeout="50000" autoRestartDependencies="false"
          postInitializationSleep="0" watchInterval="5000">
		  <DependOf>AlarmManager;TrackingManager;HandshakeManager</DependOf>
		  <RemoteInstance type="Tenaris.Manager.BusinessRules.HandshakeAlarms.Shared.IBusinessRulesHandshakeAlarms, Tenaris.Manager.BusinessRules.HandshakeAlarms.Shared"
		  url="tcp://TNACAWFM197.tnsautoca.techint.net:14320/Tenaris.Manager.BusinessRules.soap" 
		  tries="10" wait="100">
		  <Interfaces />
		  </RemoteInstance>
		  <Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Manager/BusinessRulesHandshakeAlarms/Tenaris.Manager.Host.exe"
		  arguments="mgr:Tenaris.Manager.BusinessRules/false"
		  workingDirectory="../../Manager/BusinessRulesHandshakeAlarms"/>
		</ProcessHost>
		<ProcessHost name="BusinessRulesPacListBme" enabled="true"
		initializationTimeout="50000" activationTimeout="50000" deactivationTimeout="5000"
          deinitializationTimeout="5000" startingTimeout="50000" autoRestartDependencies="false"
          postInitializationSleep="0" watchInterval="5000">
		  <DependOf>AlarmManager;TrackingManager;HandshakeManager</DependOf>
		  <RemoteInstance type="Tenaris.Manager.BusinessRules.PacBmeList.Shared.IBusinessRules7, Tenaris.Manager.BusinessRules.PacBmeList.Shared"
		  url="tcp://TNACAWFM197.tnsautoca.techint.net:50079/Tenaris.Manager.BusinessRules.soap" 
		  tries="10" wait="100">
		  <Interfaces />
		  </RemoteInstance>
		  <Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Manager/BusinessRulesPAC/Tenaris.Manager.Host.exe"
		  arguments="mgr:Tenaris.Manager.BusinessRules/false"
		  workingDirectory="../../Manager/BusinessRulesPAC"/>
		</ProcessHost>
		<ProcessHost name="OrderMonitoredManager" enabled="true"
		initializationTimeout="50000" activationTimeout="50000" deactivationTimeout="5000"
          deinitializationTimeout="5000" startingTimeout="50000" autoRestartDependencies="false"
          postInitializationSleep="0" watchInterval="5000">
		  <DependOf>ShiftManager</DependOf>
		  <RemoteInstance type="Tenaris.Tamsa.Manager.OrderMonitored.Shared.IOrderMonitoredManager, Tenaris.Tamsa.Manager.OrderMonitored.Shared"
		  url="tcp://TNACAWFM197.tnsautoca.techint.net:21080/OrderMonitoredManager.soap" 
		  tries="10" wait="100">
		  <Interfaces />
		  </RemoteInstance>
		  <Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Manager/Tenaris.Tamsa.Manager.OrderMonitored/Tenaris.Manager.Host.exe"
		  arguments="mgr:OrderMonitoredManager/false"
		  workingDirectory="../../Manager/Tenaris.Tamsa.Manager.OrderMonitored"/>
		</ProcessHost>
		<ProcessHost name="CorreosIdentificacionManager" enabled="true"
		initializationTimeout="50000" activationTimeout="50000" deactivationTimeout="5000"
          deinitializationTimeout="5000" startingTimeout="50000" autoRestartDependencies="false"
          postInitializationSleep="0" watchInterval="5000">
		  <DependOf></DependOf>
<RemoteInstance type="Tenaris.Manager.ProcessExecutor.Shared.Contract.IProcessExecutorManagerC, Tenaris.Manager.ProcessExecutor.Shared"
		  url="tcp://TNACAWFM197.tnsautoca.techint.net:5017/CorreosIdentificacionManager.soap" 
		  tries="10" wait="100">
		  <Interfaces />
		  </RemoteInstance>
		  <Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Manager/Correos Identificacion/Tenaris.Manager.Host.exe"
		  arguments="mgr:CorreosIdentificacionManager/false"
		  workingDirectory="../../Manager/Correos Identificacion"/>
		</ProcessHost>
		<ProcessHost name="LACOPipesNotifierManager" enabled="true"
		initializationTimeout="50000" activationTimeout="50000" deactivationTimeout="5000"
          deinitializationTimeout="5000" startingTimeout="50000" autoRestartDependencies="false"
          postInitializationSleep="0" watchInterval="5000">
		  <DependOf></DependOf>
<RemoteInstance type="Tenaris.Manager.ProcessExecutor.Shared.Contract.IProcessExecutorManagerD, Tenaris.Manager.ProcessExecutor.Shared"
		  url="tcp://TNACAWFM197.tnsautoca.techint.net:5018/LACOPipesNotifierManager.soap" 
		  tries="10" wait="100">
		  <Interfaces />
		  </RemoteInstance>
		  <Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Manager/Tamsa.Utility.LACOPipesNotifier/Tenaris.Manager.Host.exe"
		  arguments="mgr:LACOPipesNotifierManager/false"
		  workingDirectory="../../Manager/Tamsa.Utility.LACOPipesNotifier"/>
		</ProcessHost>
			<ProcessHost name="SynchronyFAT2Manager" enabled="true"
		initializationTimeout="50000" activationTimeout="50000" deactivationTimeout="5000"
          deinitializationTimeout="5000" startingTimeout="50000" autoRestartDependencies="false"
          postInitializationSleep="0" watchInterval="5000">
		  <DependOf>OrderReplicator</DependOf>
		  <RemoteInstance type="Tenaris.Manager.SynchronyFAT2.Shared.Interface.IReportControl, Tenaris.Manager.SynchronyFAT2.Shared"
		  url="tcp://TNACAWFM197.tnsautoca.techint.net:50100/SynchronyFAT2Manager.soap" 
		  tries="10" wait="100">
		  <Interfaces />
		  </RemoteInstance>
		  <Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Service/SynchronyFAT2/Tenaris.Manager.Host.exe"
		  arguments="mgr:SynchronyFAT2Manager/false"
		  workingDirectory="../../Service/SynchronyFAT2"/>
		</ProcessHost>
		<ProcessHost name="BusinessRulesPF_PAC22Manager" enabled="true" initializationTimeout="5000"
				  activationTimeout="5000" deactivationTimeout="5000" deinitializationTimeout="5000"
				  startingTimeout="5000" autoRestartDependencies="false" postInitializationSleep="0"
				  watchInterval="5000">
					<DependOf>AlarmManager;TrackingManager;HandshakeManager;PresetManager</DependOf>
					<RemoteInstance type="Tenaris.Manager.BusinesRules.PFPac22.Shared.IBusinessRules8, Tenaris.Manager.BusinesRules.PFPac22.Shared"
					url="tcp://TNACAWFM197.tnsautoca.techint.net:21177/Tenaris.Manager.BusinessRules.soap"
					tries="10" wait="100">
						<Interfaces />
					</RemoteInstance>
					<Process startWait="5000" stoptWait="5000" createNoWindow="false"
					useShellExecute="false" filename="../../Manager/BusinessRules_PF_PAC22/Tenaris.Manager.Host.exe"
					arguments="mgr:Tenaris.Manager.BusinessRules/false"
					workingDirectory="../../Manager/BusinessRules_PF_PAC22" />
				</ProcessHost>
		 <ProcessHost name="ToolsetSEAL2Service" enabled="true" initializationTimeout="50000" 
		  activationTimeout="50000" deactivationTimeout="5000" deinitializationTimeout="5000"
		  startingTimeout="50000" autoRestartDependencies="false"
          postInitializationSleep="0" watchInterval="5000">
		  <DependOf>ShiftManager;ProductionManager;CommandManager;PresetManager</DependOf>
		  <RemoteInstance type="Tenaris.Service.Toolset.ToolsetSEAL2.Shared.IToolsetSeaL2,Tenaris.Service.Toolset.ToolsetSEAL2.Shared"
		  url="tcp://TNACAWFM197.tnsautoca.techint.net:50034/Tenaris.Service.Toolset.ToolsetManager.soap"
		  tries="10" wait="100">
		  <Interfaces />
		  </RemoteInstance>
		  <Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Service/Toolset SEAS_L2/Tenaris.Manager.Host.exe"
		  arguments="mgr:Tenaris.Service.Toolset.ToolsetManager/false"
		  workingDirectory="../../Service/Toolset SEAS_L2"/>
		</ProcessHost>
					</Hosts>
      <Availability mode="StartAlways" tries="0" interval="2000" />
    </Launcher>
    <Redundancy mode="None" onDeactivateMode="Stop" onConnectMode="None"
		  activationTimeout="600" />
    <Mailing enabled="false" enableSsl="false" port="0" timeout="0" />
  </ForumManagerFactoryConfiguration>

  <system.runtime.remoting>
    <application name="Forum">
      <channels>
        <channel ref="tcp" port="49299" >
          <clientProviders>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </clientProviders>
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </serverProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>

  <log
      msgFormat="{TypeChar} {Timestamp:yyyy-MM-dd HH:mm:ss.fff} [{AppDomainName,30:s-30}:{ThreadName,15:s15}] [lap={LapFriendlyValue,-7:f2}{LapFriendlyUnit,3}] {AssemblyName,30:s-30} {IdentString} {Message}"
      dumpStack="true" maxLogDepth="0" traceAttributeLogLevel="Message" 
      noQueue="false" maxQueueSize="10000" includeAssembliesRegEx="" excludeAssembliesRegEx="" includeFullClasNameRegEx="" 
      excludeFullClasNameRegEx="" excludePropertyGetterAndSetter="true" flushInterval="1000" logAssemblyLoad="true" colorConsoleLog="true"
      
      maxFileSize="8192" maxFileCount="20" traceAttributeLogEnabled="true" 
      
      logBaseName="ForumController" path="D:\APPLS\Tenaris\Logs\View\Forum" additionalLogDestination="None" logLevel="Debug"/>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Binaries;Forum;"/>
    </assemblyBinding>
  </runtime>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
