<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="Tamsa.View.LockManagement.Configuration"   type="Tamsa.View.LockManagement.Model.ViewConfigurationSection, Tamsa.View.LockManagement.Model"/>
    <section name="Tenaris.Manager.Tracking"                                      type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy" />
    <section name="Tenaris.Manager.Preset"                                        type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy" />

    <section name="log"                                                           type="Tenaris.Library.Log.LogConfiguration, Tenaris.Library.Log"/>
    <section name="Tenaris.Library.Proxy"                                         type="Tenaris.Library.Proxy.Configuration.ProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>

    <section name="Tenaris.Library.Security"                                      type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>
    <!-- configuracion mail manager -->
    <section name="Tenaris.Manager.Mail"                                          type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>
  </configSections>

  <connectionStrings>
       <add name="dbLevel2" connectionString="Application Name=LockPresetView;MultipleActiveResultSets=True;Asynchronous Processing=true;DefaultCommandTimeout=30;Data Source=TNATFT2PRDLSN.tnsautoca.techint.net,5040;Initial Catalog=L2Trk;Integrated Security=SSPI;Persist Security Info=True"/>
  </connectionStrings>

  <Tamsa.View.LockManagement.Configuration
  Culture="es-MX"
  ConnectionStringName="dbLevel2"
  TrackingManagerSectionName="Tenaris.Manager.Tracking"
  PresetManagerSectionName="Tenaris.Manager.Preset"
  MailManagerSectionName="Tenaris.Manager.Mail"
  ActiveSendMail="true"
  MailSubject="Tracking Lock Management"
  MailFrom="Fat2Alerts@tamsa.com.mx"
  MailRecipients="agalvanl@proveedores.tamsa.com.mx"
  Area="LINEA2"
  UserGroups="SUPERVISOR">
    <Components>     
      <Component code="L2_PH2"       description="PH Linea 2"      GetExcuse="[TrackingTamsa].[GetPresetExcuse]" presetEnableValue="1" presetDisableValue="0"/>      
    </Components>
  </Tamsa.View.LockManagement.Configuration>

  <Tenaris.Manager.Tracking
     url="tcp://TNACAWFM197.tnsautoca.techint.net:21005/TrackingManager.soap"
     instanceType="Tenaris.Manager.Tracking.Shared.ITrackingManager, Tenaris.Manager.Tracking.Shared"
     aliveInterval="1000"
     singleInstance="true"
     validateConnection="true"
     forumPresent="false"
     isTargetManager="true" />


  <Tenaris.Manager.Preset
  url="tcp://TNACAWFM197.tnsautoca.techint.net:21008/Tenaris.Manager.Preset.soap"
  instanceType="Tenaris.Manager.Preset.Shared.IPresetManager, Tenaris.Manager.Preset.Shared"
  aliveInterval="3000"
  singleInstance="true"
  validateConnection="true" />  

  <!--mail manager proxy configuration-->
  <Tenaris.Manager.Mail
    instanceType="Tenaris.Manager.Mail.Shared.IMailManager, Tenaris.Manager.Mail.Shared"
    url="tcp://TNACAWWS97.tnsautoca.techint.net:50053/Tenaris.Manager.Mail.soap"
    forumPresent="false"
    isTargetManager="true"
    aliveInterval="5000"
    singleInstance="true"
    validateConnection="true"/>
  

  <!--<Tenaris.Library.Security factoryType="Tenaris.Service.Security.FactoryLocal, Tenaris.Service.Security" isSingleton="True">
    <SecurityConfiguration ConnectionStringName="dbLevel2" AuthenticationType="Database" DefaultZoneCode="All"/>
  </Tenaris.Library.Security>-->

  <!--172.29.108.135,10.92.31.36, 172.29.108.135-->
    <Tenaris.Library.Security 
        url="tcp://localhost:21100/Tenaris.Service.Security.soap"
        instanceType="Tenaris.Service.Security.Shared.ISecurityService, Tenaris.Service.Security.Shared"
        aliveInterval="0"
        validateConnection="false"
        singleInstance="true"
        forumPresent="false"
        isTargetManager="false">
      <Redundancy>
      </Redundancy>
    </Tenaris.Library.Security>



  <Tenaris.Library.Proxy factoryType="Tenaris.Library.Proxy.Factories.PipeProxyFactory, Tenaris.Library.Proxy, Version=4.1.0.0, Culture=neutral, PublicKeyToken=c4a5016cfc42fcd0">
    <Configuration>
      <Components>
        <Component type="Tenaris.Library.Proxy.Components.ConnectionMonitorComponent, Tenaris.Library.Proxy, Version=4.1.0.0, Culture=neutral, PublicKeyToken=c4a5016cfc42fcd0">
          <Interval>1000</Interval>
        </Component>
      </Components>
      <EventListener type="Tenaris.Library.Proxy.EventListener, Tenaris.Library.Proxy, Version=4.1.0.0, Culture=neutral, PublicKeyToken=c4a5016cfc42fcd0"/>
      <Dispatcher type="Tenaris.Library.Proxy.Dispatchers.DirectMessageDispatcher, Tenaris.Library.Proxy, Version=4.1.0.0, Culture=neutral, PublicKeyToken=c4a5016cfc42fcd0"/>
    </Configuration>
  </Tenaris.Library.Proxy>

  <system.runtime.remoting>
    <application name="ExternalTraceability.ManageStationView">
      <channels>
        <channel ref="tcp" port="0" >
          <clientProviders>
            <provider type="Tenaris.Library.Proxy.Remoting.ClientRemotingInterceptorProvider, Tenaris.Library.Proxy"/>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </clientProviders>
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </serverProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>

  <log
  maxFileSize="8096"
  maxFileCount="10"
  msgFormat="{TypeChar} {Timestamp:yyyy-MM-dd HH:mm:ss} [{ThreadId,-5:d5}] {MethodName} {IdentString} {Message}"
  logLevel="Debug"
  noQueue="true"
  traceAttributeLogEnabled="true"
  path="\\TNACAWFM197.tnsautoca.techint.net\Appls\Clientes\PH 22\Tenaris\Logs\%UserName%\LockManagement"
  logBaseName="Tamsa.View.LockPreset"
  additionalLogDestination="Console"
  />




  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>


</configuration>
